<app-header></app-header>
<section class="container-fluid breadcrumsec" style="padding-top:60px">
  <div class="row">
    <div class="container viewMyBreakIn">
      <div class="row">
        <div class="col-md-6 col-sm-8 col-8">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" (click)="goToMyBreakIn()" style="cursor: pointer;">
              <a> Back to My BreakIn</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-fluid mainsec">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="tabpane">
        <div class="tab-content">
          <div id="breakin" class="tab-pane fade active show">
            <div class="innerdiv">
              <h3>View BreakIn IDs </h3>
              <div class="fieldsdiv">
                <div class="col-md-4 col-lg-4 col-6 form-group">
                  <label>Search by Break-In ID</label>
                  <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term"
                    placeholder="Break-IN ID" tabindex="2">
                </div>
                <div class="row" style="left: 20px;" *ngIf="!BreakINDetails">
                  <label class="norecord">No Records Found</label>
                </div>
                <div class="row no-margin" *ngIf="BreakINDetails">
                  <div class="col-sm-12 no-padding">
                    <div class="tablediv mb-2">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>BreakIn ID</th>
                              <th>Date</th>
                              <th>Customer Name</th>
                              <th>Vehicle Reg. Number</th>
                              <th>MO Name</th>
                              <th>Break IN Type</th>
                              <th>Vertical</th>
                              <th>Location</th>
                              <th>Status</th>
                              <th>View Details</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="dealDetailsfromIM">
                            <tr
                              *ngFor="let data of BreakINDetails | filter:term  | paginate: { id:'breakINPage', itemsPerPage: 10, currentPage: page }; let i = index;  ">
                              <td>{{data.breakInID}}</td>
                              <td>{{data.breakinCreatedON | date:'dd/MM/yyyy'}}</td>
                              <td>{{BreakInRequest[i].customerName}}</td>
                              <td>{{BreakInRequest[i].registrationNo}}</td>
                              <td>{{dealDetailsfromIM.primaryMOName}}</td>
                              <td>{{BreakInRequest[i].breakInType}}</td>
                              <td>{{dealDetailsfromIM.primaryVerticalName}}</td>
                              <td>{{BreakInRequest[i].city}}</td>
                              <td>{{data.breakInStatus}}</td>
                              <td><button type="button" class="cstmbtn" style="min-width: 100px !important;"
                                  data-toggle="modal" data-target="#exampleModalCenter"
                                  (click)="showDetails(i, dealDetailsfromIM)">View</button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="mt-4">
                      <pagination-controls id='breakINPage' (pageChange)="page = $event"></pagination-controls>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal breakin-modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="BreakINDetails">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header no-border">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mainsec">
        <div class="fieldsdiv">
          <div class="row no-margin">
            <div class="col-sm-12 no-padding">
              <div class="tablediv mb-2">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>BreakIn ID </th>
                        <th>Break IN Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{BreakINDetails[index].breakInID}} </td>
                        <td>{{request.breakInType}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Customer Name</th>
                        <th>Vehicle Reg. Number</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{request.customerName}} </td>
                        <td>{{request.registrationNo}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>MO Name</th>
                        <th>Vertical</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{dealDetailsfromIM.primaryMOName}} </td>
                        <td>{{dealDetailsfromIM.primaryVerticalName}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Location</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>{{request.city}} </td>
                        <td>{{BreakINDetails[index].breakInStatus}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="cstmbtn" data-dismiss="modal">OK</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
