<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>

      </div>
    </div>
  </div>
</header>

<section class="container-fluid mainsec" *ngIf="dontShowPage == false">
  <div class="row">
    <div class="container">
      <div class="innerdiv equal">
        <div class="tablediv">
          <h4>Your Payment Link has been expired</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container-fluid mainsec" *ngIf="successpayment == true">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="proposalContainer mt-4">
        <div class="innerdiv congratsdiv">
          <table>
            <!-- Congratulations Message -->
            <tr>
              <th colspan="3">
                <h5>Congratulations !!! Your payment is successful.</h5>
                <h3>Your proposal number is: {{propRes.generalInformation.proposalNumber}} & your transaction id is:
                  {{transactionID}}</h3>
              </th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Nysa payment page-->
<section class="container-fluid mainsec" *ngIf="dontShowPage == true && successpayment == false">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="proposalContainer mt-4">
        <div class="innerdiv equal">
          <div class="tablediv">
            <h4>Vehicle Details</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <th>Registration Number</th>
                  <td>{{quoteReq.RegistrationNumber}}</td>
                  <th>RTO Location</th>
                  <td>{{quoteRes.generalInformation.rtoLocation}}</td>
                </tr>
                <tr>
                  <th>Registration Date</th>
                  <td>{{quoteRes.generalInformation.registrationDate}}</td>
                  <th>Proposal Date</th>
                  <td>{{quoteRes.generalInformation.proposalDate}}</td>
                </tr>
                <tr>
                  <th>Customer Name</th>
                  <td>{{custLinkDetails.customerName}}</td>
                  <th>Customer Mobile</th>
                  <td>{{propReq.CustomerDetails.MobileNumber}}</td>
                </tr>
                <tr>
                  <th>Engine Number</th>
                  <td>{{custLinkDetails.engineNo}}</td>
                  <th>Chassis Number</th>
                  <td>{{custLinkDetails.chassisNo}}</td>
                </tr>
                <tr>
                  <th>Customer Address</th>
                  <td colspan="3">{{custLinkDetails.address}}</td>
                </tr>
                <tr>
                  <th>Click link for additional details:</th>
                  <td>
                    <a style="cursor: pointer;color: #18548a; font-weight: bolder; font-size: 12px;"
                      (click)="getPaymentBreakUP()">View Full Breakup</a>
                  </td>
                  <th></th>
                  <td></td>
                </tr>
              </table>
            </div>
          </div><br>
          <!-- Proposal / Final Premium -->
          <div class="ttlpremdiv">
            <table>
              <tbody>
                <tr>
                  <td class="text-center"
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <label>Proposal Number</label>
                    <strong>{{custLinkDetails.proposalNo}}</strong>
                  </td>
                  <td
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <div class="text-center">Total Premium Payable</div>
                    <span class="mt-2 text-center"
                      style="background: none;color: #104d84;font-size: 20px;padding: 0px;">₹ {{finalamount}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Payment Modes -->
          <div class="paymentmode mt-4" *ngIf="showPaymentOpyions == true">
            <h5 class="text-center">Payment Modes</h5>
            <!-- <ul *ngIf="isPlutus == false && IsPOSTransaction_flag == false">
              <li>
                <a (click)="customerData('wallet')" title="Wallet">
                  <div>
                    <img src="assets/images/images/wallet.png" alt="Wallet">
                  </div>
                  <span>Wallet</span>
                </a>
              </li>
              <li>
                <a (click)="customerData('card')" title="Credit Card">
                  <div>
                    <img src="assets/images/images/credit-card.png" alt="Credit Card">
                  </div>
                  <span>Credit Card</span>
                </a>
              </li>
              <li>
                <a (click)="customerData('card')" title="Debit Card">
                  <div>
                    <img src="assets/images/images/debit-card.png" alt="Debit Card">
                  </div>
                  <span>Debit Card</span>
                </a>
              </li>
              <li>
                <a (click)="customerData('netbanking')" title="Net Banking">
                  <div>
                    <img src="assets/images/images/net-banking.png" alt="Net Banking">
                  </div>
                  <span>Net Banking</span>
                </a>
              </li>
              <li>
                <a (click)="customerData('upi')" title="UPI">
                  <div>
                    <img src="assets/images/images/bhim.png" alt="UPI">
                  </div>
                  <span>UPI</span>
                </a>
              </li>

            </ul> -->

            <ul>
              <li style="cursor: pointer;">
                <a (click)="redirectToPlutusPayment()" title="payNow">
                <!-- <a (click)="PlutusPaymentPaymsToken()" title="payNow"> -->
                  <div>
                    <img src="assets/images/payNow.png" alt="payNow">
                  </div>
                  <span>Pay Now</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<!--NCB Payment page-->
<!-- <section class="container-fluid mainsec" *ngIf="showncb == true">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="proposalContainer mt-4">
        <div class="innerdiv equal">
          <div class="tablediv">
            <h4>NCB Recovery Payment</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <th>Registration Number</th>
                  <td>MH12KJ3724</td>
                  <th>IL Policy Number</th>
                  <td>3001/205522059/00/000</td>
                </tr>
                <tr>
                  <th>Policy Start Date</th>
                  <td>11/04/2022</td>
                  <th>Policy End Date</th>
                  <td>11/04/2023</td>
                </tr>
                <tr>
                  <th>Customer Name</th>
                  <td>WISE VOYAGE PVT LTD</td>
                  <th>Customer Mobile</th>
                  <td>9843434343</td>
                </tr>
                <tr>
                  <th>Premium Paid</th>
                  <td>₹ 4000</td>
                  <th>Actual Premium Paid</th>
                  <td>₹ 5000</td>
                </tr>
                <tr>
                  <th>NCB %</th>
                  <td>20 %</td>
                  <th>NCB to be Recovered</th>
                  <td>₹ 1000</td>
                </tr>
              </table>
            </div>
          </div><br> -->
          <!-- Proposal / Final Premium  -->
          <!-- <div class="ttlpremdiv">
            <table>
              <tbody>
                <tr>
                  <td class="text-center"
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <label>Proposal Number</label>
                    <strong>2134567890</strong>
                  </td>
                  <td
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <div class="text-center">Total Premium Payable</div>
                    <span class="mt-2 text-center"
                      style="background: none;color: #104d84;font-size: 20px;padding: 0px;">₹ 1000</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> -->
          <!-- Payment Modes -->
          <!-- <div class="paymentmode mt-4" *ngIf="showPaymentOpyions == true">
            <h5 class="text-center">Payment Modes</h5>
            <ul>
              <li style="cursor: pointer;">
                <a (click)="redirectToPlutusPayment()" title="payNow">
                  <div>
                    <img src="assets/images/payNow.png" alt="payNow">
                  </div>
                  <span>Pay Now</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  -->