.deviation {
    color: #cb4c29;
    font: 600 15px "Muli", sans-serif;
    font-weight: bold;
  }
  .form-control.text-center{
    height: 38px;
  padding-left: 0;
  border: 0;
  border-bottom: 1px solid #b6b4b4;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #282828;
  font: 600 17px "Muli", sans-serif;
  }