@-webkit-keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@keyframes wave {
  0% {
    margin-left: 0;
  }

  100% {
    margin-left: -1600px;
  }
}

@-webkit-keyframes swell {

  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

@keyframes swell {

  0%,
  100% {
    -webkit-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
  }

  50% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
}

::-webkit-input-placeholder {
  color: #e5e5e5 !important;
}

::-moz-placeholder {
  color: #e5e5e5 !important;
}

:-ms-input-placeholder {
  color: #e5e5e5 !important;
}

:-moz-placeholder {
  color: #e5e5e5 !important;
}

html {
  background-color: #00305b;
}

body {
  padding-top: 56px;
  background-color: #00305b;
  font-family: "Muli", sans-serif !important;
  overflow: hidden;
}


.cstmbtn {
  min-width: 140px;
  padding: 10px 25px;
  border: 0;
  margin-bottom: 2px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: inline-block;
  background: #357ab7;
  background: -webkit-gradient(linear, left top, right top, from(#357ab7), to(#003b6f));
  background: linear-gradient(to right, #357ab7 0%, #003b6f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#357ab7', endColorstr='#003b6f', GradientType=1);
  color: #fff;
  font: 600 16px "Muli", sans-serif;
  outline: 0 !important;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.cstmbtn:hover {
  background: #003b6f;
  background: -webkit-gradient(linear, left top, right top, from(#003b6f), to(#357ab7));
  background: linear-gradient(to right, #003b6f 0%, #357ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003b6f', endColorstr='#357ab7', GradientType=1);
  color: #fff;
  text-decoration: none;
}


.mainsec {
  padding-top: 120px;
  position: relative;
  z-index: 1;
}

.mainsec h2 {
  margin: 50px 0 35px;
  width: 430px;
  color: #fff;
  font: 700 30px "Muli", sans-serif;
}





@media (max-width: 991px) {
  .mainsec {
    padding-top: 30px;
  }
}

@media (max-width: 575px) {
  header {
    text-align: center;
  }

  header h1 a {
    width: 140px;
  }

  .cstmbtn {
    min-width: 130px;
    padding: 11px 20px;
    font-size: 13px;
  }

  .mainsec h2 {
    width: 100%;
    margin: 0 0 25px;
    font-size: 22px;
  }

  .formsec {
    padding: 35px 15px 30px;
  }

  .formsec .formdiv {
    width: 100%;
    padding: 20px;
  }

  .formsec .formdiv h2 {
    font-size: 24px;
  }

  .formsec .formdiv .input-field label {
    font-size: 15px;
  }

  .formsec .formdiv .input-field.focused label {
    font-size: 14px;
  }
}
