<app-header></app-header>
<section class="container-fluid mainsec">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 offset-lg-1 mb-5 mb-lg-0">
          <h2>Hassle-free claims processing at your fingertips</h2>
          <a [routerLink]="['/claim-intimation']" class="cstmbtn mr-3">Raise Claim</a>
          <a [routerLink]="['/claim-status']" class="cstmbtn">Claim Status</a>
        </div>
        <div class="col-lg-6 text-center">
          <img src="assets/images/claimbg.png" alt="Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
<div class="ocean">
  <div class="wave"></div>
  <div class="wave"></div>
</div>
