::-webkit-input-placeholder {
  color: #bdbbbb !important;
}

::-moz-placeholder {
  color: #e5e5e5 !important;
}

:-ms-input-placeholder {
  color: #e5e5e5 !important;
}

:-moz-placeholder {
  color: #e5e5e5 !important;
}

* {
  outline: 0 !important;
}

body {
  padding-top: 30px;
  font-family: "Muli", sans-serif !important;
}

/*Header Starts*/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f58220), to(#b02a30));
  background-image: linear-gradient(to bottom, #f58220, #b02a30);
}

header h1 {
  margin: 0;
  display: inline-block;
}

header h1 a {
  width: 174px;
  height: 36px;
  padding: 0;
  margin: 10px 0;
  display: inline-block;
  background: url(../images/logo.png) no-repeat center center/contain;
  text-indent: -9999px;
  vertical-align: top;
}

header span {
  padding-left: 17px;
  margin: 19px 0;
  display: inline-block;
  background: url(../images/social.png) no-repeat left center/12px;
  color: #fff;
  font: 400 14px "Muli", sans-serif;
  vertical-align: top;
}

/*Header Ends*/
.cstmbtn {
  min-width: 140px;
  padding: 10px 20px;
  border: 0;
  margin-bottom: 2px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: inline-block;
  background: #18548a;
  color: #fff;
  font: 700 16px "Muli", sans-serif;
  letter-spacing: 1px;
  outline: 0 !important;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  vertical-align: top;
}

.cstmbtn:hover {
  background: #003b6f;
  text-decoration: none;
}

.breadcrumsec {
  padding: 5px 15px;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;
}

.breadcrumsec .breadcrumb {
  padding: 6px 0;
  margin: 0;
  background: none;
}

.breadcrumsec .breadcrumb li {
  font: 600 14px "Muli", sans-serif;
}

.breadcrumsec .breadcrumb li a {
  color: #707070;
  font: 600 14px "Muli", sans-serif;
  text-decoration: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.breadcrumsec .breadcrumb li a:hover {
  color: #1c5c95;
}

.breadcrumsec .breadcrumb li.active {
  color: #1c5c95;
}

.breadcrumsec .breadcrumb li + li::before {
  content: url(../images/next.png);
}

.breadcrumsec span {
  margin-right: 10px;
  color: #707070;
  font: 400 14px "Muli", sans-serif;
}

.breadcrumsec select {
  width: 100px;
  height: 30px;
  border: solid 1px #d0d0d0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  color: #707070;
  font: 400 13px "Muli", sans-serif;
}

.breadcrumsec select:focus {
  border: solid 1px #d0d0d0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.mainsec {
  padding: 0 15px 50px;
}

.mainsec .tabpane ul.nav {
  border: solid 1px #eaeaea;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
}

.mainsec .tabpane ul.nav li {
  display: inline-block;
}

.mainsec .tabpane ul.nav li a {
  min-width: 240px;
  padding: 10px 5px 20px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: #1c5c95;
  font: 700 16px "Muli", sans-serif;
  text-align: center;
}

.mainsec .tabpane ul.nav li a.active {
  background-color: #1c5c95;
  color: #fff;
}

.mainsec h3 {
  padding: 11px 40px;
  margin: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #eaeaea;
  color: #1c5c95;
  font: 700 16px "Muli", sans-serif;
}

.mainsec .innerdiv {
  padding: 5px;
  border: solid 1px #eaeaea;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  top: -8px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.mainsec .innerdiv.equal {
  padding: 10px 15px;
}

.mainsec .innerdiv.congratsdiv {
  padding: 3px;
}

.mainsec .innerdiv.congratsdiv table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 8px;
}

.mainsec .innerdiv.congratsdiv table tr th {
  padding: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #f0f0f0;
  text-align: center;
  vertical-align: middle;
}

.mainsec .innerdiv.congratsdiv table tr th h5 {
  margin: 0;
  color: #1c5c95;
  font: 700 22px "Muli", sans-serif;
}

.mainsec .innerdiv.congratsdiv table tr th span {
  color: #3b3b3b;
  font: 600 16px "Muli", sans-serif;
}

.mainsec .innerdiv.congratsdiv table tr td {
  padding: 13px 24px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #f7f7f7;
  vertical-align: middle;
}

.mainsec .innerdiv.congratsdiv table tr td label {
  margin: 0 0 5px;
  display: block;
  color: #939393;
  font: 600 14px "Muli", sans-serif;
}

.mainsec .innerdiv.congratsdiv table tr td span {
  color: #282828;
  font: 600 18px "Muli", sans-serif;
}

.mainsec .innerdiv.congratsdiv table tr td a.download {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 16px;
  right: 16px;
  background: #1c5c95 url(../images/download.png) no-repeat center center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.27);
}

.mainsec .innerdiv.congratsdiv table tr td ul {
  width: 100%;
  padding: 0;
  margin: 0;
  display: table;
}

.mainsec .innerdiv.congratsdiv table tr td ul li {
  display: table-cell;
  color: #282828;
  font: 600 18px "Muli", sans-serif;
  vertical-align: middle;
}

.mainsec .innerdiv.congratsdiv table tr td ul li strong {
  color: #4b4b4b;
  font: 700 27px "Muli", sans-serif;
}

.mainsec .innerdiv.congratsdiv table tr:nth-child(2) td {
  padding: 5px 24px;
  border: solid 1px rgba(28, 92, 149, 0.4);
}

.mainsec .innerdiv.congratsdiv table tr:last-child td {
  padding: 24px;
}

.mainsec .innerdiv.congratsdiv table tr:last-child td label {
  margin: 0;
  font-size: 16px;
}

.mainsec .fieldsdiv {
  padding: 20px 30px 0;
}

.mainsec .fieldsdiv .form-group label {
  margin: 0;
  color: #969494;
  font: 400 13px "Muli", sans-serif;
}

.mainsec .fieldsdiv .form-group .form-control {
  height: 38px;
  padding-left: 0;
  border: 0;
  border-bottom: 1px solid #b6b4b4;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #282828;
  font: 600 17px "Muli", sans-serif;
}

.mainsec .fieldsdiv .form-group .form-control.dob {
  background: url(../images/calendar.png) no-repeat 97% center;
}

.mainsec .fieldsdiv .form-group .form-control:focus {
  border-color: #db6d18;
}

.mainsec .fieldsdiv ul.radioul {
  padding: 0;
  margin: 5px 0 0;
}

.mainsec .fieldsdiv ul.radioul li {
  display: inline-block;
  vertical-align: top;
}

.mainsec .tablediv {
  border: solid 1px #bcbcbc;
  margin: 10px 0 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
}

.mainsec .tablediv h4 {
  padding: 9px 20px;
  margin: 0;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  background-color: #eaeaea;
  color: #4b4b4b;
  font: 600 16px "Muli", sans-serif;
}

.mainsec .tablediv table {
  margin: 0;
}

.mainsec .tablediv table tr {
  background-color: #f5f5f5;
}

.mainsec .tablediv table tr td, .mainsec .tablediv table tr th {
  width: 25%;
  padding: .75rem 20px;
  border: 0;
}

.mainsec .tablediv table tr th {
  color: #848484;
  font: 400 14px "Muli", sans-serif;
}

.mainsec .tablediv table tr th:first-child + td {
  border-right: 2px solid #fff;
}

.mainsec .tablediv table tr td {
  color: #4b4b4b;
  font: 700 14px "Muli", sans-serif;
}

.mainsec .tablediv table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.mainsec .ttlpremdiv {
  padding: 6px;
  border: solid 1px rgba(28, 92, 149, 0.4);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.mainsec .ttlpremdiv table {
  width: 100%;
  margin: 0;
}

.mainsec .ttlpremdiv table tr td {
  color: #282828;
  font: 600 16px "Muli", sans-serif;
  vertical-align: middle;
}

.mainsec .ttlpremdiv table tr td:first-child {
  width: 50%;
  padding: 0 23px;
}

.mainsec .ttlpremdiv table tr td label {
  display: block;
  color: #939393;
  font: 400 13px "Muli", sans-serif;
}

.mainsec .ttlpremdiv table tr td strong {
  color: #282828;
  font: 600 18px "Muli", sans-serif;
}

.mainsec .ttlpremdiv table tr td span {
  padding: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  background-color: #f0f0f0;
  color: #4b4b4b;
  font: 700 27px "Muli", sans-serif;
}

.mainsec .ttlpremdiv.brder {
  border: solid 1px #CEA797;
}

.mainsec .premBreakup {
  margin-bottom: 10px;
}

.mainsec .premBreakup table {
  width: 100%;
}

.mainsec .premBreakup table tr td {
  color: #282828;
  font: 600 16px "Muli", sans-serif;
  vertical-align: middle;
}

.mainsec .premBreakup table tr td:first-child {
  width: 50%;
  padding: 0 15px;
  color: #1c5c95;
  font: 600 16px "Muli", sans-serif;
}

.mainsec .plansdiv {
  margin: 30px 0 20px;
}

.mainsec .plansdiv ul {
  padding: 0;
  margin: 0 -4px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style-type: none;
}

.mainsec .plansdiv ul li {
  width: 23%;
  margin: 0 4px;
}

.mainsec .plansdiv ul li .plan {
  height: 100%;
  border: solid 1px #e5e5e5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #fff;
}

.mainsec .plansdiv ul li .plan .title {
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.mainsec .plansdiv ul li .plan .title table {
  width: 100%;
  background-color: #e2e2e2;
}

.mainsec .plansdiv ul li .plan .title table tr td {
  padding: 6px;
  color: #000;
  font: 600 13px "Muli", sans-serif;
  vertical-align: middle;
}

.mainsec .plansdiv ul li .plan .title table tr td span {
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: inline-block;
  background-color: #fff;
  color: #707070;
  font: 700 10px "Muli", sans-serif;
  vertical-align: middle;
}

.mainsec .plansdiv ul li .plan .title table tr td:first-child {
  padding-left: 15px;
}

.mainsec .plansdiv ul li .plan .title table tr td:last-child {
  text-align: right;
}

.mainsec .plansdiv ul li .plan .contdiv {
  padding: 10px 10px 20px;
}

.mainsec .plansdiv ul li .plan h2 {
  margin: 5px 0 15px;
  color: #383838;
  font: 600 26px "Muli", sans-serif;
  text-align: center;
}

.mainsec .plansdiv ul li .plan .covers {
  width: 100%;
  margin-bottom: 25px;
}

.mainsec .plansdiv ul li .plan .covers tr th {
  padding: 0 23px 13px;
  color: #383838;
  font: 600 11px "Muli", sans-serif;
}

.mainsec .plansdiv ul li .plan .covers tr td {
  padding: 7px 4px;
  border-bottom: solid 1px rgba(112, 112, 112, 0.15);
  color: #383838;
  font: 700 10px "Muli", sans-serif;
}

.mainsec .plansdiv ul li .plan .covers tr td:first-child {
  border-bottom: 1px solid transparent;
}

.mainsec .plansdiv ul li .plan .covers tr td:last-child {
  text-align: right;
}

.mainsec .plansdiv ul li .plan .covers tr:last-child td {
  border-bottom: 0;
}

.mainsec .plansdiv ul li .plan .buynow {
  padding: 8px 20px;
  border: 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  position: absolute;
  bottom: -16px;
  left: 50%;
  background-color: #646464;
  color: #fff;
  font: 700 13px "Muli", sans-serif;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mainsec .plansdiv ul li .plan .buynow:active {
  background-color: #505050;
}

.mainsec .plansdiv ul li .plan.recomended {
  border: solid 1px #db6d18;
}

.mainsec .plansdiv ul li .plan.recomended .title table {
  background-image: linear-gradient(99deg, #f48020 2%, #b12b2f 100%);
}

.mainsec .plansdiv ul li .plan.recomended .title table tr td {
  color: #fff;
}

.mainsec .plansdiv ul li .plan.recomended .title table tr td span {
  color: #18548a;
}

.mainsec .plansdiv ul li .plan.recomended .buynow {
  background-color: #18548a;
}

.mainsec .plansdiv ul li .plan.recomended .buynow:active {
  background-color: #10385d;
}

.mainsec .plansdiv ul li .netPremium {
  height: 100%;
  padding-bottom: 75px;
  border: solid 1px #c1e4ff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #e8f2ff;
}

.mainsec .plansdiv ul li .netPremium table {
  width: 100%;
}

.mainsec .plansdiv ul li .netPremium table tr th {
  padding: 16px 17px 10px;
  font: 700 14px "Muli", sans-serif;
}

.mainsec .plansdiv ul li .netPremium table tr td {
  padding: 7px 17px;
  color: #a2a2a2;
  font: 600 11px "Muli", sans-serif;
}

.mainsec .plansdiv ul li .netPremium table tr td:last-child {
  color: #383838;
  text-align: right;
}

.mainsec .plansdiv ul li .netPremium hr {
  border-color: #d9efff;
  margin-bottom: 0;
}

.mainsec .plansdiv ul li .netPremium .ttlprem {
  width: 96%;
  margin: 0 auto;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  position: absolute;
  bottom: 6px;
  left: 50%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.mainsec .plansdiv ul li .netPremium .ttlprem table tr th, .mainsec .plansdiv ul li .netPremium .ttlprem table tr td {
  padding: 10px 14px;
}

.mainsec .plansdiv ul li .netPremium .ttlprem table tr th {
  color: #383838;
  font: 700 12px "Muli", sans-serif;
}

.mainsec .plansdiv ul li .netPremium .ttlprem table tr th small {
  margin-top: 2px;
  display: block;
  color: #b7b7b7;
  font: 600 11px "Muli", sans-serif;
}

.mainsec .plansdiv ul li .netPremium .ttlprem table tr td {
  width: 106px;
  color: #282828;
  font: 700 20px "Muli", sans-serif;
}

.mainsec .plansdiv ul li.quote {
  width: 70.5%;
}

.mainsec .plansdiv ul li.quote .insidediv {
  height: 92%;
  padding: 5px;
  border: solid 1px #eaeaea;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ffff;
}

.mainsec .plansdiv ul li.quote .insidediv p {
  font: 400 13px "Muli", sans-serif;
}

.mainsec .plansdiv ul li.quote h4 {
  padding: 11px 18px;
  margin: 0 0 3px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #eaeaea;
  color: #1c5c95;
  font: 700 16px "Muli", sans-serif;
}

.mainsec .plansdiv ul li.quote .quotePrem {
  border: solid 1px rgba(196, 196, 196, 0.51);
  margin-bottom: 12px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.mainsec .plansdiv ul li.quote .quotePrem table {
  width: 100%;
}

.mainsec .plansdiv ul li.quote .quotePrem table tr th {
  padding: 11px 18px;
  color: #282828;
  font: 400 16px "Muli", sans-serif;
}

.mainsec .plansdiv ul li.quote .quotePrem table tr td {
  padding: 11px 18px;
  color: #4b4b4b;
  font: 600 24px "Muli", sans-serif;
  text-align: right;
}

.mainsec .plansdiv ul li:last-child {
  width: 28%;
}

.mainsec .plansdiv ul li.netPremiumli .netPremium {
  height: 92%;
}

.mainsec .plansdiv .customize {
  width: 71%;
  padding: 15px 15px;
  border: solid 1px #d6d6d6;
  margin-top: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.mainsec .plansdiv .customize span {
  color: #383838;
  font: 500 13px "Muli", sans-serif;
}

.mainsec .plansdiv .customize span a {
  color: #18548a;
  font-weight: 700;
}

.mainsec .paymentmode h5 {
  padding: 0 22px;
  margin: 0 0 10px;
  color: #3b3b3b;
  font: 600 15px "Muli", sans-serif;
}

.mainsec .paymentmode ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.mainsec .paymentmode ul li {
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

.mainsec .paymentmode ul li a {
  display: inline-block;
  text-decoration: none;
}

.mainsec .paymentmode ul li a div {
  width: 75px;
  height: 75px;
  border: solid 1px #d0d0d0;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: -webkit-box-shadow 0.3s linear;
  transition: -webkit-box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear;
  transition: box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
  -webkit-transition: box-shadow 0.3s linear;
  -moz-transition: box-shadow 0.3s linear;
}

.mainsec .paymentmode ul li a div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.mainsec .paymentmode ul li a span {
  margin-top: 12px;
  display: inline-block;
  color: #6e6e6e;
  font: 600 14px "Muli", sans-serif;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.mainsec .paymentmode ul li a:hover {
  outline: 0 !important;
}

.mainsec .paymentmode ul li a:hover span {
  color: #881717;
}

.mainsec .paymentmode ul li a:hover div {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.radio1 tr td {
  padding-right: 20px;
  vertical-align: middle;
}

.radio1 tr td input {
  display: none;
}

.radio1 tr td input:checked + label::before {
  background-color: #1c5c95;
  box-shadow: inset 0 0 0 4px #fff;
  -webkit-box-shadow: inset 0 0 0 4px #fff;
  -moz-box-shadow: inset 0 0 0 4px #fff;
}

.radio1 tr td label {
  margin: 0 !important;
  color: #343434 !important;
  cursor: pointer;
  font: 400 16px "Muli", sans-serif !important;
}

.radio1 tr td label::before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #bebebe;
  margin-right: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  vertical-align: middle;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.horiChkbox {
  padding: 0;
  text-align: center;
}

.horiChkbox li {
  display: inline-block;
  vertical-align: top;
}

.chkbox1 table {
  display: inline-table;
}

.chkbox1 table tr td {
  vertical-align: top;
}

.chkbox1 table tr td input {
  display: none;
}

.chkbox1 table tr td input + label::before {
  content: '';
  width: 23px;
  height: 23px;
  border: solid 1px #ccc;
  margin-right: 3px;
  display: inline-block;
  background-color: #ffffff;
  vertical-align: top;
}

.chkbox1 table tr td input:checked + label::before {
  background: #1c5c95 url(../images/tick.png) no-repeat center center;
}

.chkbox1 table tr td label {
  margin: 0;
  color: #000;
  cursor: pointer;
  font: 400 13px "Muli", sans-serif;
}

.chkbox1 table tr td label a {
  color: #606060;
}

.chkbox1 table tr td span {
  display: block;
  color: #000;
  font: 600 14px "Muli", sans-serif;
}

aside {
  position: fixed;
  top: 50%;
  left: -86px;
  z-index: 100;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

aside .innerdiv {
  width: 86px;
  border: solid 1px rgba(247, 130, 0, 0.4);
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.33);
}

aside .innerdiv ul {
  padding: 12px 0;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

aside .innerdiv ul li {
  margin-bottom: 25px;
}

aside .innerdiv ul li .cstmlnk {
  display: block;
  text-decoration: none;
}

aside .innerdiv ul li .cstmlnk:hover span {
  color: #f58220;
}

aside .innerdiv ul li span {
  margin: 3px 0 2px;
  display: block;
  color: #626262;
  font: 700 10px "Muli", sans-serif;
}

aside .innerdiv ul li .lnks {
  width: 100%;
  display: table;
}

aside .innerdiv ul li .lnks a {
  padding: 0 5px;
  width: 50%;
  display: table-cell;
  color: #1c5c95;
  font: 400 10px/10px "Muli", sans-serif;
  text-decoration: none;
}

aside .innerdiv ul li .lnks a:last-child {
  border-left: 1px solid #1c5c95;
}

aside .innerdiv ul li .lnks a:hover {
  color: #f58220;
}

aside .innerdiv ul li:last-child {
  margin-bottom: 0;
}

aside .innerdiv #expand {
  width: 13px;
  height: 20px;
  border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  position: absolute;
  top: 50%;
  right: -13px;
  background: #f78200 url(../images/expand.png) no-repeat center center/8px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

aside.active {
  left: 0;
}

aside.active .innerdiv #expand {
  background: #f78200 url(../images/collapse.png) no-repeat center center/8px;
}

#emiProt_modal .modal-content {
  padding: 25px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
}

#emiProt_modal .modal-content .modal-header {
  padding: 0;
  border: 0;
  margin-bottom: 15px;
}

#emiProt_modal .modal-content .modal-header h5 {
  color: #00305b;
  font: 600 21px "Muli", sans-serif;
}

#emiProt_modal .modal-content .modal-header .close {
  padding: 0;
  font-size: 2.5rem;
  font-weight: 400;
}

#emiProt_modal .modal-content .modal-body {
  padding: 0;
}

@media (min-width: 576px) {
  #emiProt_modal .modal-sm {
    max-width: 390px;
  }
}

@media (max-width: 1199px) {
  .mainsec .plansdiv ul li:last-child {
    width: 27%;
  }
}

@media (max-width: 991px) {
  .mainsec .plansdiv ul li {
    width: 32.1%;
  }
  .mainsec .plansdiv ul li.quote {
    width: 100%;
  }
  .mainsec .plansdiv ul li.quote .insidediv {
    height: auto;
  }
  .mainsec .plansdiv ul li:last-child {
    width: 100%;
    margin-top: 30px;
  }
  .mainsec .plansdiv ul li.netPremiumli .netPremium {
    height: auto;
  }
  .mainsec .plansdiv .customize {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .mainsec .premBreakup table {
    width: 100%;
  }
  .mainsec .premBreakup table tr td {
    display: block;
    text-align: center;
  }
  .mainsec .premBreakup table tr td:first-child {
    width: auto;
    margin-bottom: 10px;
  }
  .mainsec .premBreakup table tr td:last-child {
    margin-top: 5px;
  }
  .mainsec .innerdiv.congratsdiv {
    padding: 12px;
  }
  .mainsec .innerdiv.congratsdiv table {
    border-spacing: 0;
  }
  .mainsec .innerdiv.congratsdiv table tr td {
    width: 100%;
    margin-top: 8px;
    display: block;
  }
  .mainsec .plansdiv ul li {
    width: 48.4%;
    margin: 0 4px 35px;
  }
  .mainsec .plansdiv ul li:last-child {
    width: 48.4%;
    margin: 0 4px 35px;
  }
  .mainsec .plansdiv ul li.quote {
    margin-bottom: 4px;
  }
  .mainsec .plansdiv ul li.netPremiumli {
    width: 100%;
    margin-top: 4px;
  }
}

@media (max-width: 575px) {
  header h1 a {
    width: 140px;
  }
  .cstmbtn {
    min-width: 100%;
    padding: 12px 20px;
    font-size: 12px;
  }
  .breadcrumsec .breadcrumb {
    padding: 9px 0 0;
  }
  .breadcrumsec .breadcrumb li {
    font-size: 12px;
  }
  .breadcrumsec .breadcrumb li a {
    font-size: 12px;
  }
  .breadcrumsec .breadcrumb li + li {
    padding-left: 2px;
  }
  .breadcrumsec .breadcrumb li + li::before {
    padding-right: 2px;
  }
  .breadcrumsec select {
    width: 100%;
  }
  .mainsec {
    padding: 0 15px 15px;
  }
  .mainsec .tabpane ul.nav li a {
    min-width: auto;
    padding: 10px 15px 20px;
    font-size: 13px;
  }
  .mainsec .fieldsdiv {
    padding: 15px 15px 0;
  }
  .mainsec .ttlpremdiv table tr td {
    display: block;
    text-align: center;
  }
  .mainsec .ttlpremdiv table tr td span {
    font-size: 20px;
  }
  .mainsec .ttlpremdiv table tr td:first-child {
    width: auto;
    padding: 0 5px;
    font-size: 13px;
  }
  .mainsec .ttlpremdiv table tr td:first-child {
    margin-bottom: 10px;
  }
  .mainsec .paymentmode ul li {
    margin: 10px;
  }
  .mainsec .paymentmode ul li a div {
    width: 60px;
    height: 60px;
  }
  .mainsec .paymentmode ul li a span {
    font-size: 12px;
  }
  .mainsec .innerdiv.congratsdiv table tr th h5 {
    font-size: 20px;
  }
  .mainsec .innerdiv.congratsdiv table tr th span {
    font-size: 12px;
  }
  .mainsec .innerdiv.congratsdiv table tr td {
    padding: 13px !important;
  }
  .mainsec .innerdiv.congratsdiv table tr td ul li strong {
    font-size: 20px;
  }
  .mainsec .innerdiv.congratsdiv table tr:last-child td {
    padding: 24px !important;
  }
  .mainsec .plansdiv {
    margin: 10px 0 20px;
  }
  .mainsec .plansdiv ul li {
    width: 100%;
    margin: 0 4px 35px;
  }
  .mainsec .plansdiv ul li:last-child {
    width: 100%;
  }
  .mainsec .plansdiv .customize {
    margin-top: -10px;
  }
}

/* Break In styles here */
.width100 {
  width: 100% !important;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-border {
  border: 0px none;
}

.breadcrumsec .viewMyBreakIn .breadcrumb li::before {
  content: url(../images/prev.png);
}

.breadcrumsec .viewMyBreakIn .breadcrumb li a {
  color: #1c5c95;
}

.mainsec .myBreakInContainer h3 {
  padding: 12px 20px;
}

.mainsec .myBreakInContainer .tabpane ul.nav {
  border: solid 1px #969494;
}

.mainsec .myBreakInContainer .tabpane ul.nav li a {
  border-left: solid 1px #969494;
  min-width: 180px;
  margin: -2px;
}

.mainsec .myBreakInContainer .tablediv table tr {
  background-color: #fff;
}

.mainsec .myBreakInContainer .tablediv table tr th {
  background-color: #f8f9fa;
  font: 600 12px "Muli", sans-serif;
}

.mainsec .myBreakInContainer .tablediv table tr td {
  border-top: 1px solid #dee2e6;
  font: 700 13px "Muli", sans-serif;
}

.mainsec .myBreakInContainer .tablediv table tr td .cstmbtn {
  min-width: auto;
}

.mainsec .myBreakInContainer .fieldsdiv {
  padding: 0px 0px 15px 0px;
}

.mainsec .myBreakInContainer .fieldsdiv .breakindiv {
  padding: 15px;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group label {
  color: #282828;
  font: 400 13px "Muli", sans-serif;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group select {
  color: #282828 !important;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group input::-webkit-input-placeholder {
  color: #282828 !important;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group input:-ms-input-placeholder {
  color: #282828 !important;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group input::-ms-input-placeholder {
  color: #282828 !important;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group input::placeholder {
  color: #282828 !important;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group .form-control::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #282828;
  opacity: 1;
  /* Firefox */
}

.mainsec .myBreakInContainer .fieldsdiv .form-group .form-control:-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #282828;
  opacity: 1;
  /* Firefox */
}

.mainsec .myBreakInContainer .fieldsdiv .form-group .form-control::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #282828;
  opacity: 1;
  /* Firefox */
}

.mainsec .myBreakInContainer .fieldsdiv .form-group .form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #282828;
  opacity: 1;
  /* Firefox */
}

.mainsec .myBreakInContainer .fieldsdiv .form-group .form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #282828;
}

.mainsec .myBreakInContainer .fieldsdiv .form-group .form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #282828;
}

.mainsec .myBreakInContainer .records {
  float: left;
  font: 400 10px "Muli", sans-serif;
  color: #666;
}

.mainsec .myBreakInContainer .records em {
  padding-right: 17px;
  display: inline-block;
  background: url(../images/next.png) no-repeat right center/12px;
  font: 400 10px "Muli", sans-serif;
  vertical-align: top;
}

.mainsec .myBreakInContainer .pagination {
  float: right;
}

.mainsec .myBreakInContainer .pagination .page-item.last-icon {
  background: url(../images/next.png) no-repeat right center/12px;
  padding-right: 7px;
}

.mainsec .myBreakInContainer .pagination .page-item .page-link {
  color: #b2b2b2;
  border: 0px none;
  font: 400 10px "Muli", sans-serif;
}

.mainsec .myBreakInContainer .createBreakIn {
  border: 1px solid #ddd;
  border-radius: 10px;
}

.mainsec .myBreakInContainer .createBreakIn h3 {
  background-color: #f8f9fa;
  font: 600 14px "Muli", sans-serif;
  color: #848484;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}

.mainsec .myBreakInContainer .createBreakIn .fieldsdiv {
  padding: 15px;
}

.mainsec .myBreakInContainer .createBreakIn .fieldsdiv textarea {
  height: 60px;
}

.breakin-modal .mainsec {
  padding-bottom: 0px;
}

.breakin-modal .mainsec .fieldsdiv {
  padding: 0px 30px 0;
}

.breakin-modal .mainsec .tablediv table tr td {
  color: #4b4b4b;
  font: 700 14px "Muli", sans-serif;
  background: #fff;
}

.breakin-modal .modal-footer {
  border: 0px none;
}

.breakin-modal .modal-footer button {
  display: inline-block;
  margin: 0px auto;
}

.cstmbtn {
  min-width: 140px;
  padding: 10px 25px;
  border: 0;
  margin-bottom: 2px;
  text-transform: capitalize;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  display: inline-block;
  background: #357ab7;
  background: -webkit-gradient(linear, left top, right top, from(#357ab7), to(#003b6f));
  background: linear-gradient(to right, #357ab7 0%, #003b6f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357ab7', endColorstr='#003b6f',GradientType=1 );
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  font: 600 12px "Muli", sans-serif;
  outline: 0 !important;
  text-decoration: none;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
}

.cstmbtn:hover {
  background: #003b6f;
  background: -webkit-gradient(linear, left top, right top, from(#003b6f), to(#357ab7));
  background: linear-gradient(to right, #003b6f 0%, #357ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b6f', endColorstr='#357ab7',GradientType=1 );
  text-decoration: none;
}

/* Break In styles ends here */
/* Feedback Template style starts here */
/* .custom-header h1 {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.custom-header h1 a {
  margin: 10px auto;
}

.mainsec .feedback-template {
  max-width: 600px;
  margin: 0px auto;
}

.mainsec .feedback-template .feedback-content {
  border-left: 1px solid #ee902c;
  border-right: 1px solid #ee902c;
  border-bottom: 8px solid #ee902c;
  margin-bottom: 20px;
  padding: 20px;
}

.mainsec .feedback-template p {
  font: 400 14px "Muli", sans-serif;
}

.mainsec .feedback-template p strong {
  font-weight: normal;
  display: block;
}

.mainsec .logo-section a {
  display: block;
}

.mainsec .logo-section img {
  max-width: 100%;
}

.mainsec .disclaimer strong {
  color: #b01a25;
  font-size: 10px;
  padding-bottom: 15px;
  display: block;
}

.mainsec .disclaimer p {
  font-size: 10px;
} */

/* Feedback Template style ends here */



/*# sourceMappingURL=style.css.map */