<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a href="#" title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-6 text-right">
          <span>Welcome, {{username}}</span>
          <a class="logoff" (click)="logoffPht()" title="Log off"><i style="color: white;" class="fa fa-sign-out"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="container-fluid mainsec">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="tabpane">

        <div class="tab-content">

          <!-- QC screen 4 starts here -->
          <div id="qccases" class="tab-pane fade active show">
            <div class="qccasesContainer">
              <div class="innerdiv">
                <h3 class="radioButtonsTitle">
                  <div class="form-group mb-0 ml-0">
                    <ul class="radioul pl-0" style="margin-top:5px;">
                      <h5>Details</h5>
                      <button class="cstmback" (click)="gobacktodash()">Back to dashboard</button>
                    </ul>
                    <!-- <a href="#" class="floatingDownloadBtn">Download Excel</a> -->
                  </div>
                </h3>
                <div class="fieldsdiv">
                  <div class="breakindiv pb-0">
                    <div class="row">
                      <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                        <label class="col-sm-6 col-form-label" for="staticEmail">Proposal/Quotation Ref. Number</label>
                        <div class="col-sm-6">
                          <label>{{documentdata.proposalNo}}</label>
                        </div>
                      </div>
                      <!-- <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                            <label class="col-sm-9 col-form-label" for="staticEmail">Bank ID</label>
                            <div class="col-sm-3">
                              <input type="text" class="form-control-plaintext" placeholder="232768">
                            </div>
                          </div> -->
                      <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                        <label class="col-sm-6 col-form-label" for="staticEmail">Proposal/Quotation Ref. Date</label>
                        <div class="col-sm-6">
                          <label>{{documentdata.transactionDate | date:'dd-MMM-yyyy'}}, {{documentdata.transactionDate |
                            date:'h:mm a'}}</label>
                        </div>
                      </div>
                      <!-- <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                            <label class="col-sm-9 col-form-label" for="staticEmail">Deal ID</label>
                            <div class="col-sm-3">
                              <input type="text" class="form-control-plaintext" placeholder="112987">
                            </div>
                          </div> -->
                      <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                        <label class="col-sm-6 col-form-label" for="staticEmail">Cover Note Number</label>
                        <div class="col-sm-6">
                          <label>{{documentdata.policyNo}}</label>
                        </div>
                      </div>
                      <!-- <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                            <label class="col-sm-6 col-form-label" for="staticEmail">Pendency Remark</label>
                            <div class="col-sm-6" *ngIf="pendencyRemarksArrlen > 1">
                              <ul style="padding-left: 18px;">
                                <li *ngFor="let data of pendencyRemarksArr"><label>{{data.pendencyRemark}}</label></li>
                              </ul>
                          </div>
                            <div class="col-sm-6" *ngIf="pendencyRemarksArrlen == 1">
                                <ul style="padding-left: 18px;">
                                  <li><label>{{pendencyRemarksArr[0].pendencyRemark}}</label></li>
                                </ul>
                            </div>
                          </div> -->
                      <!-- <div class="col-lg-6 col-sm-6 form-group row mb-0 staticForm">
                            <label class="col-sm-6 col-form-label" for="staticEmail">Pendency Clearance Remark</label>
                            <div class="col-sm-6" *ngIf="pendencyRemarksArrlen > 1">
                              <ul style="padding-left: 18px;">
                                <li *ngFor="let data of pendencyRemarksArr"><label>{{data.pendencyClearanceRemark}}</label></li>
                              </ul>
                          </div>
                            <div class="col-sm-6" *ngIf="pendencyRemarksArrlen == 1">
                                <ul style="padding-left: 18px;">
                                  <li><label>{{pendencyRemarksArr[0].pendencyClearanceRemark}}</label></li>
                                </ul>
                            </div>
                          </div> -->

                      <div class="col-sm-12" *ngIf="pendencyRemarksArrlen > 0">
                        <div class="tablediv">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Sr No</th>
                                  <th>Pendency Remark</th>
                                  <th>Pendency Clearance Remark</th>
                                </tr>
                              </thead>
                              <tbody *ngIf="pendencyRemarksArrlen > 1">
                                <tr *ngFor="let pendencyData of pendencyRemarksArr; let i = index;">
                                  <td style="width: 80px;">{{i+1}}</td>
                                  <td class="text-left">{{pendencyData.pendencyRemark}}</td>
                                  <td class="text-left">{{pendencyData.pendencyClearanceRemark}}</td>
                                </tr>
                              </tbody>
                              <tbody *ngIf="pendencyRemarksArrlen == 1">
                                <tr>
                                  <td style="width: 80px;">{{1}}</td>
                                  <td class="text-left">{{pendencyRemarksArr[0].pendencyRemark}}</td>
                                  <td class="text-left">{{pendencyRemarksArr[0].pendencyClearanceRemark}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>

                      <div class="col-sm-12">
                        <div class="tablediv">
                          <div class="table-responsive">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Sr No</th>
                                  <!-- <th>Check Point Name</th> -->
                                  <!-- <th>Check Point Value</th> -->
                                  <th>Document Name</th>
                                  <th>Document Date & Time</th>
                                  <th>View Document</th>
                                  <!-- <th>Quality Checked<em>*</em></th>
                                      <th>Remark</th> -->
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let qcs of documentdetails; let i = index;">
                                  <td style="width: 80px;">{{i+1}}</td>
                                  <!-- <td class="text-left" style="width: 230px;">Main Model</td>
                                      <td class="text-left">Mahendra TUV 300</td> -->
                                  <td class="text-left">{{qcs.fileName}}</td>
                                  <td class="text-left">{{qcs.docDate | date:'dd-MMM-yyyy'}} {{qcs.docDate | date:'h:mm
                                    a'}}</td>
                                  <td style="width: 40px;"><i data-toggle="modal" (click)="getimage(qcs)"
                                      data-target="#ViewDocumentModal" class="icon-view-document"></i></td>
                                  <!-- <td class="chkbox1" style="width: 40px;">
                                        <div class="radiodiv1">
                                          <input type="checkbox" id="cstmCheckbox_1" name="cstmCheckbox_1">
                                          <label for="cstmCheckbox_1"></label>
                                        </div>
                                      </td> -->
                                  <!-- <td class="text-left" style="width: 230px;">Text</td> -->
                                </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>

                      </div>

                      <div class="col-lg-6 col-sm-6 form-group mb-0" *ngIf="documentdata.qcStatus != 'Approved'">
                        <label class="invisible d-none d-sm-block">View</label>
                        <ul class="radioul " style="position: relative;">
                          <li>
                            <table class="radio1">
                              <tbody>
                                <tr>
                                  <td>
                                    <input (click)="qcStatus($event.target.id)" type="radio" id="vehicle_1"
                                      name="vehicle" checked>
                                    <label for="vehicle_1">Approved</label>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li>
                            <table class="radio1 ml-5">
                              <tbody>
                                <tr>
                                  <td>
                                    <input (click)="qcStatus($event.target.id)" type="radio" id="vehicle_2"
                                      name="vehicle">
                                    <label for="vehicle_2">Reject</label>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>

                          <li *ngIf="qcapproval=='2'">
                            <table class="ml-5">
                              <tbody>
                                <tr>
                                  <p>Rejection Remarks</p>
                                </tr>

                              </tbody>
                            </table>
                          </li>

                        </ul>
                      </div>

                      <div *ngIf="qcapproval=='2'" style="top: 12px;" class="col-lg-3 col-sm-3 form-group">
                        <select class="form-control" (change)="remarkdropdown()" [(ngModel)]="qcremark">
                          <option>Docs not uploaded</option>
                          <option>Incomplete Docs</option>
                          <option>Docs not Clear</option>
                          <option>PAN-AML related</option>
                          <option>Deviation Approval Related</option>
                          <option>Cross booking approval required</option>
                          <option>Others</option>
                        </select>
                      </div>

                      <section *ngIf="documentdata.qcStatus != 'Approved'" class="container-fluid"
                        style="padding-top: 10px;">
                        <div class="row">
                          <div class="col-lg-12 form-group">
                            <label>Pendency Remarks</label>
                            <textarea class="form-control" style="resize: none;" [(ngModel)]="approvalremarks"
                              placeholder="Enter reason for approval / rejection"></textarea>
                          </div>
                        </div>
                      </section>

                      <div *ngIf="documentdata.qcStatus != 'Approved'"
                        class="col-lg-3 col-sm-3 form-group mobBtn text-right mb-0 mt-4">
                        <button type="button" (click)="approvedocument()" class="cstmbtn">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- QC screen 4 ends here -->
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade ViewDocumentModal" id="ViewDocumentModal" role="dialog" aria-labelledby="emiProt_modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content" *ngIf="imageData">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center mt-3">{{imageData.fileName}}</h5>
        <!-- <button class="cstmbtn">Download</button> -->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="text-center mb-4">
          <!-- <img class="zoomD" style="width: 350px; height: 300px;" src={{imageData.url}}/> -->
          <a href="{{imageData.url}}" target="_blank">
            <ng-img-magnifier [thumbImage]='imageData.url' [fullImage]='imageData.url' [top]='0' [right]='0'
              [lensWidth]='100' [lensHeight]='100' [resultWidth]='30' [resultHeight]='30' [imgWidth]='350'
              [imgHeight]='450'> </ng-img-magnifier>
          </a>
        </div>
        <div class="text-center">
          <button type="button" style="margin-right: 5px;" class="btn btn-secondary cstmbtn"
            data-dismiss="modal">OK</button>
          <button (click)="saveFile(imageData.url,imageData.fileName)" type="button"
            class="btn btn-secondary cstmbtn">Download</button>
        </div>
      </div>
    </div>
  </div>
</div>
