.norecord {
  font-size: 18px;
  padding-left: 15px;
}

.logoff {
  padding-left: 17px;
  margin: 19px 0;
  display: inline-block;
  color: #fff;
  font: 400 14px "Muli", sans-serif;
  vertical-align: top;
  cursor: pointer;
}
