<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-6 text-right">
          <span>Welcome, {{username}} </span>
          <a class="logoff" (click)="logoffPht()" title="Log off"><i style="color: white;" class="fa fa-sign-out"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="container-fluid mainsec">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="tabpane">

        <div class="tab-content">

          <div id="qccases" class="tab-pane fade active show">
            <div class="qccasesContainer">
              <div class="innerdiv">
                <h3 class="radioButtonsTitle">
                  <div class="form-group mb-0 ml-0">

                    <ul class="radioul pl-0" style="position: relative; margin-top:5px;">
                      <li style="padding-right: 15px;">
                        <h5>PH Dashboard</h5>
                      </li>
                      <li>
                        <table class="radio1">
                          <tbody>
                            <tr>
                              <td>
                                <input type="radio" id="allCases" name="casesStatus"
                                  (change)="getFilter($event.target.id)" checked>
                                <label for="allCases">All</label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li>
                        <table class="radio1">
                          <tbody>
                            <tr>
                              <td>
                                <input type="radio" id="appCases_1" name="casesStatus"
                                  (change)="getFilter($event.target.id)">
                                <label for="appCases_1">Approved Cases</label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <li>
                        <table class="radio1">
                          <tbody>
                            <tr>
                              <td>
                                <input type="radio" id="pendCases_1" name="casesStatus"
                                  (change)="getFilter($event.target.id)">
                                <label for="pendCases_1">Pending Cases</label>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                    </ul>
                    <a (click)="downloadExcel()" class="floatingDownloadBtn">Download Excel</a>
                  </div>
                </h3>
                <div class="fieldsdiv">
                  <div class="breakindiv">
                    <div class="row mob100">
                      <div class="col-lg-3 col-sm-3 form-group">
                        <label class="form-label" for="fromDateph">From Date<sup class="star">*</sup></label><br>
                        <input id="fromDateph" matInput [matDatepicker]="fromphPicker" placeholder="DD/MM/YYYY"
                          name="fromDateph" readonly="true" [max]="memmaxDOB" NoSpecialChar
                          [(ngModel)]="phdash.FromDate" class="form-control dob" (click)="fromphPicker.open()" required>
                        <mat-datepicker #fromphPicker></mat-datepicker>
                      </div>

                      <div class="col-lg-3 col-sm-3 form-group">
                        <label class="form-label" for="toDateph">To Date<sup class="star">*</sup></label><br>
                        <input id="toDateph" matInput [matDatepicker]="tophPicker" placeholder="DD/MM/YYYY"
                          name="toDateph" readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="phdash.ToDate"
                          class="form-control dob" (click)="tophPicker.open()" required>
                        <mat-datepicker #tophPicker></mat-datepicker>
                      </div>
                      <div class="col-lg-3 col-sm-3 form-group">
                        <label class="invisible d-none d-sm-block">View</label>
                        <button type="button" id="get_quote" (click)="getQcCases()" class="cstmbtn mr-2" tabindex="9">
                          <span *ngIf="spinloader == false">View</span>
                          <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
                        </button>
                      </div>


                      <div class="col-sm-12">
                        <div class="row" style="left: 20px;" *ngIf="norecord == true">
                          <label class="norecord">No Records Found</label>
                        </div>
                        <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="documentlist && norecord == false">
                          <label>Search</label>
                          <input type="text" id="qc" name="claim" class="form-control" [(ngModel)]="term"
                            placeholder="Search" tabindex="2">
                        </div>

                        <div class="tablediv" id="excel-table" *ngIf="documentlist">
                          <div class="table-responsive" style="overflow-x: scroll;">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th>Date & Time</th>
                                  <th>Covernote / Policy Number</th>
                                  <th>Proposal Number</th>
                                  <th class="text-left">Customer Name</th>
                                  <th>Reason for QC</th>
                                  <th>QC Status</th>
                                  <th>Document Upload Date / Time</th>
                                  <th>Document Re-Upload Date / Time</th>
                                  <th>Document Accepted / Rejected By</th>
                                  <th></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr
                                  *ngFor="let qcs of documentlist | filter:term | paginate: { id:'phDashPage', itemsPerPage: 10, currentPage: page }">
                                  <td *ngIf="qcs.transactionDate == '0001-01-01T00:00:00'"> -- </td>
                                  <td *ngIf="qcs.transactionDate != '0001-01-01T00:00:00'">{{qcs.transactionDate |
                                    date:'dd-MMM-yyyy'}}, {{qcs.transactionDate | date:'h:mm a'}}</td>
                                  <td>{{qcs.policyNo}}</td>
                                  <td>{{qcs.proposalNo}}</td>
                                  <td class="text-left">{{qcs.customerName}}</td>
                                  <td>Manual modification</td>
                                  <td>{{qcs.qcStatus}}</td>
                                  <td *ngIf="qcs.docUploadDate == '0001-01-01T00:00:00'"> -- </td>
                                  <td *ngIf="qcs.docUploadDate != '0001-01-01T00:00:00'">{{qcs.docUploadDate |
                                    date:'dd-MMM-yyyy'}} {{qcs.docUploadDate | date:'h:mm a'}}</td>
                                  <td *ngIf="qcs.docReuploadedOn == '0001-01-01T00:00:00'"> -- </td>
                                  <td *ngIf="qcs.docReuploadedOn != '0001-01-01T00:00:00'">{{qcs.docReuploadedOn |
                                    date:'dd-MMM-yyyy'}} {{qcs.docReuploadedOn | date:'h:mm a'}}</td>
                                  <td *ngIf="qcs.qcStatus == 'Pending'"> -- </td>
                                  <td *ngIf="qcs.qcStatus != 'Pending'">{{qcs.docApprovedBy}}</td>
                                  <td><button type="button" (click)="getlistdata(qcs)" class="cstmbtn">View</button>
                                  </td>
                                </tr>

                              </tbody>
                            </table>
                          </div>
                        </div>
                        <br>
                        <div class="text-center row" *ngIf="documentlist && norecord == false">
                          <pagination-controls id="phDashPage" (pageChange)="page = $event"></pagination-controls>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- QC screen 4 ends here -->
        </div>
      </div>
    </div>
  </div>
</section>
