<div class="qccasesContainer">
  <div class="innerdiv">
    <div class="fieldsdiv">
      <div class="breakindiv">
        <div class="row">
          <!-- <div class="col-lg-3 col-sm-3 form-group">
              <label class="form-label" for="fromDateIAS">{{'RegistrationPage.FromDate' | translate }}<sup class="star">*</sup></label><br>
              <input id="fromDateIAS" matInput [matDatepicker]="fromIASPicker" placeholder="DD/MM/YYYY"
              name="fromDateIAS" readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingObj.FromDate" class="form-control dob"
              (click)="fromIASPicker.open()" required>
              <mat-datepicker #fromIASPicker></mat-datepicker>
            </div>   -->
          <!-- <div class="col-lg-3 col-sm-3 form-group">
              <label class="form-label" for="toDateIAS">{{'RegistrationPage.ToDate' | translate }}<sup class="star">*</sup></label><br>
              <input id="toDateIAS" matInput [matDatepicker]="toIASPicker" placeholder="DD/MM/YYYY"
              name="toDateIAS" readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingObj.ToDate" class="form-control dob"
              (click)="toIASPicker.open()" required>
              <mat-datepicker #toIASPicker></mat-datepicker>
            </div>   -->
          <!-- <div class="col-lg-3 col-sm-3 form-group">
                <label class="form-label">Select Product<sup class="star">*</sup></label><br>
              <select class="form-control custom-select" [(ngModel)]="productCode" (change)="getDealData()">
                <option value="2312">Two Wheeler</option>
                <option value="2311">Four Wheeler</option>
                <option value="2314">GCV</option>
                <option value="2315">PCV</option>
                <option value="2316">MISC</option>
                <option value="2320">Two Wheeler TP</option>
                <option value="2319">Four Wheeler TP</option>
                <option value="2313">GCV TP</option>
                <option value="2317">PCV TP</option>
                <option value="2318">MISC TP</option>
              </select>
              </div> -->
          <!-- <div class="col-lg-3 col-sm-3 form-group">
              <label class="invisible d-none d-sm-block">View</label>
              <button type="button" id="get_quote" (click)="getIASCases()" class="cstmbtn mr-2" tabindex="9">
                <span *ngIf="spinloader == false">View</span>
                <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin" ></i></span>
              </button>
            </div>   -->
          <div class="col-sm-12">
            <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="showTable == true">
              <label class="norecord">No Records Found</label>
            </div>
            <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="IASCasesData && showTable == false">
              <label>Search</label>
              <input type="text" id="qc" name="claim" class="form-control" [(ngModel)]="searchTerm" placeholder="Search"
                tabindex="2">
            </div>

            <div class="tablediv" *ngIf="IASCasesData && showTable == false">
              <div class="table-responsive" style="overflow-x: scroll!important;">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Customer ID</th>
                      <th>Proposal</th>
                      <th>Policy Type</th>
                      <!-- <th>Policy Sub Type</th> -->
                      <th>Deal ID</th>
                      <th>IDV Interaction</th>
                      <th>Process</th>
                      <th>Status</th>
                      <th>OD Interaction </th>
                      <th>Process</th>
                      <th>Status</th>
                      <th>Send Link</th>
                      <th scope="col">Convert</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="IASCasesData.length > 1">
                    <tr
                      *ngFor="let IASCase of IASCasesData  | filter:searchTerm | paginate: { id:'iasDashPage', itemsPerPage: 10, currentPage: page }">
                      <td>{{IASCase.customerID}}</td>
                      <td>{{IASCase.proposaL_NUMBER}}</td>
                      <td *ngIf='IASCase.policY_SUB_TYPE == 2'>Four Wheeler <span
                          *ngIf='IASCase.policY_TYPE == 1'>New</span></td>
                      <td *ngIf='IASCase.policY_SUB_TYPE == 1'>Two Wheeler <span
                          *ngIf='IASCase.policY_TYPE == 1'>New</span></td>
                      <td>{{IASCase.deaL_ID}}</td>
                      <td *ngIf="IASCase.idvIasID">{{IASCase.idvIasID}}</td>
                      <td *ngIf="!IASCase.idvIasID">NA</td>
                      <td *ngIf="IASCase.idvIasSubSrt">{{IASCase.idvIasSubSrt}}</td>
                      <td *ngIf="!IASCase.idvIasSubSrt">NA</td>
                      <td *ngIf="!IASCase.idvIasStatus">NA</td>
                      <td *ngIf="(IASCase.idvIasStatus == '1')">Approved</td>
                      <td *ngIf="(IASCase.idvIasStatus == '0')">Pending</td>
                      <td *ngIf="(IASCase.idvIasStatus == '2')">Bounced</td>
                      <td *ngIf="(IASCase.idvIasStatus == '3')">Rejected</td>
                      <td *ngIf="IASCase.odIasID">{{IASCase.odIasID}}</td>
                      <td *ngIf="!IASCase.odIasID">NA</td>
                      <td *ngIf="IASCase.odIasSubSrt">{{IASCase.odIasSubSrt}}</td>
                      <td *ngIf="!IASCase.odIasSubSrt">NA</td>
                      <td *ngIf="!IASCase.odIasStatus">NA</td>
                      <td *ngIf="(IASCase.odIasStatus == '0')">Pending</td>
                      <td *ngIf="(IASCase.odIasStatus == '1')">Approved</td>
                      <td *ngIf="(IASCase.odIasStatus == '2')">Bounced</td>
                      <td *ngIf="(IASCase.odIasStatus == '3')">Rejected</td>
                      <td *ngIf="IASCase.isPayEligible && (IASCase.transOn == startDate1)" id="sendPaymentLink"
                        data-html2canvas-ignore="true" data-toggle="modal" data-target="#iasSendLink_Modal"><button
                          (click)="getDataForLink(IASCase)" type="button" class="cstmbtn">Send Link</button></td>
                      <td *ngIf="IASCase.isPayEligible && (IASCase.transOn != startDate1)">&nbsp;</td>
                      <td *ngIf="IASCase.isPayEligible && (IASCase.transOn == startDate1)">
                        <button type="button" class="cstmbtn" (click)="convertIAS1(IASCase,'Pay')">Pay</button>
                      </td> 
                      <td *ngIf="(IASCase.odIasStatus == '2' || IASCase.idvIasStatus == '2') && IASCase.isPayEligible">
                        <button type="button" class="cstmbtn" (click)="rePushIAS(IASCase)">Repush</button>
                      </td>
                      <td *ngIf="IASCase.isPayEligible && (IASCase.transOn != startDate1)">
                        <button type="button" class="cstmbtn"
                          (click)="convertIAS1(IASCase,'Recalculate')">Recalculate</button>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="IASCasesData.length == 1">
                    <tr>
                      <td>{{IASCasesData[0].customerID}}</td>
                      <td>{{IASCasesData[0].proposaL_NUMBER}}</td>
                      <td *ngIf='IASCasesData[0].policY_SUB_TYPE == 2'>Four Wheeler <span
                          *ngIf='IASCasesData[0].policY_TYPE == 1'>New</span></td>
                      <td>{{IASCasesData[0].deaL_ID}}</td>

                      <td *ngIf="IASCasesData[0].idvIasID">{{IASCasesData[0].idvIasID}}</td>
                      <td *ngIf="!IASCasesData[0].idvIasID">NA</td>
                      <td *ngIf="IASCasesData[0].idvIasSubSrt">{{IASCasesData[0].idvIasSubSrt}}</td>
                      <td *ngIf="!IASCasesData[0].idvIasSubSrt">NA</td>
                      <td *ngIf="!IASCasesData[0].idvIasStatus">NA</td>
                      <td *ngIf="(IASCasesData[0].idvIasStatus == '1')">Approved</td>
                      <td *ngIf="(IASCasesData[0].idvIasStatus == '0')">Pending</td>
                      <td *ngIf="(IASCasesData[0].idvIasStatus == '2')">Bounced</td>
                      <td *ngIf="(IASCasesData[0].idvIasStatus == '3')">Rejected</td>

                      <td *ngIf="IASCasesData[0].odIasID">{{IASCasesData[0].odIasID}}</td>
                      <td *ngIf="!IASCasesData[0].odIasID">NA</td>
                      <td *ngIf="IASCasesData[0].odIasSubSrt">{{IASCasesData[0].odIasSubSrt}}</td>
                      <td *ngIf="!IASCasesData[0].odIasSubSrt">NA</td>
                      <td *ngIf="!IASCasesData[0].odIasStatus">NA</td>
                      <td *ngIf="(IASCasesData[0].odIasStatus == '1')">Approved</td>
                      <td *ngIf="(IASCasesData[0].odIasStatus == '0')">Pending</td>
                      <td *ngIf="(IASCasesData[0].odIasStatus == '2')">Bounced</td>
                      <td *ngIf="(IASCasesData[0].odIasStatus == '3')">Rejected</td>
                      <td *ngIf="IASCasesData[0].isPayEligible && (IASCasesData[0].transOn == startDate1)"
                        id="sendPaymentLink" data-html2canvas-ignore="true" data-toggle="modal"
                        data-target="#iasSendLink_Modal"><button (click)="getDataForLink(IASCasesData[0])" type="button"
                          class="cstmbtn">Send Link</button></td>
                      <td *ngIf="IASCasesData[0].isPayEligible && (IASCasesData[0].transOn == startDate1)">
                        <button type="button" class="cstmbtn" (click)="convertIAS1(IASCasesData[0],'Pay')">Pay</button>
                      </td>
                      <td
                        *ngIf="(IASCasesData[0].odIasStatus == '2' || IASCasesData[0].idvIasStatus == '2') && IASCasesData[0].isPayEligible">
                        <button type="button" class="cstmbtn" (click)="rePushIAS(IASCasesData[0])">Repush</button>
                      </td>
                      <td *ngIf="IASCasesData[0].isPayEligible && (IASCasesData[0].transOn != startDate1)">
                        <button type="button" class="cstmbtn"
                          (click)="convertIAS1(IASCasesData[0],'Recalculate')">Recalculate</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <div class="text-center row" *ngIf="IASCasesData && showTable == false && (IASCasesData.length > 1)">
              <pagination-controls id='iasDashPage' (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
        <div class="modal fade" id="iasSendLink_Modal" role="dialog" aria-labelledby="sendCustLink_modalTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="sendCustLink_modalTitle">Send Payment Link </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body fieldsdiv" style="padding: 15px 12px 15px 12px;">
                <form #sendPdfForm="ngForm">
                  <div class="form-group">
                    <label>Mobile Number<sup class="star">*</sup></label>
                    <input type="text" maxlength="10" (keypress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno"
                      (ngModelChange)="mobileValidate()" class="form-control" name="mobileno"
                      [pattern]="mobNumberPattern" #mobNumberpay="ngModel" placeholder="Enter Mobile Number" />
                    <div *ngIf="mobNumberpay.errors" [ngClass]="'error'" style="color:red">
                      <div *ngIf="moberrorFlag == true || mobNumberpay.errors.pattern">
                        Mobile number entered is not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email<sup class="star">*</sup></label>
                    <input type="email" #emailpay="ngModel" name="Email" [class.is-invalid]="emailpay.touched"
                      pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                      [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
                    <div *ngIf="emailpay.invalid && (emailpay.dirty || emailpay.touched)" style="color:red">
                      <div *ngIf="emailpay.errors.pattern">
                        Email is invalid.
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button [disabled]="!sendPdfForm.form.valid" *ngIf="sendDetails.Email && sendDetails.mobileno"
                      class="cstmbtn" data-dismiss="modal" (click)="sendPaymentLinkforBoth()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>