<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<section class="container-fluid mainsec" style="margin-top: 25px;">
  <div class="row">
    <div class="container">
      <div class="innerdiv congratsdiv">
        <table>
          <!-- Congratulations Message -->
          <tr *ngIf="(checkInsta == false || checkInsta == undefined) && isMultiProp == '0'">
            <th colspan="3">
              <!-- <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5> -->
              <h5>Congratulations ! Your payment is successful</h5>
              <!-- <h3> {{'paymentconfirmation.proposal' | translate }} : {{this.propRes.generalInformation.proposalNumber}}
              </h3> -->
              <h3> Proposal Number : {{this.propRes.generalInformation.proposalNumber}}
              </h3>

              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>

            </th>
          </tr>

          <tr *ngIf="checkInsta == true && isMultiProp == '0'">
            <th colspan="3">
              <!-- <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5> -->
              <h5>"Congratulations ! Your payment is successful"</h5>
              <h3>Policy Number : {{newPolicyNumber}}
                | Proposal Number : {{newProposalNumber}}</h3>

              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>

            </th>
          </tr>

          <tr *ngIf="isMultiProp == '1'">
            <th colspan="3">
              <!-- <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5> -->
              <h5>"Congratulations ! Your payment is successful"</h5>
              <h3>For Proposal Numbers :
                <span *ngFor="let proposal of proposals">
                  {{proposal.ProposalNo}},
                </span>
              </h3>

              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>

            </th>
          </tr>

          <tr *ngIf="isMultiProp == '0'">
            <th colspan="3">
              <!-- <span>{{'paymentconfirmation.punched' | translate }}:</span><span id="timeTaken"> {{timeTaken}}</span> -->
              <span>Your Policy is punched in:</span><span id="timeTaken"> {{timeTaken}}</span>
              <div class="row">
                <div class="col-md-6">
                  <span class="punch">{{'paymentconfirmation.Rate' | translate }}:</span>
                </div>
                <div class="col-md-6">
                  <div class="rate" (change)="starRating($event.target.value)">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="star">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="star">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="star">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="star">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="star">1 star</label>
                  </div>

                </div>
              </div>
            </th>
          </tr>


          <tr *ngIf="checkInsta == false || checkInsta == undefined">
            <td colspan="3">
              <ul>
                <li>{{'PaymentPage.premPaid' | translate }}</li>
                <li class="text-right">
                  <strong>₹ {{finalPremium}}</strong>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <!-- Policy Number -->
            <!-- <td>
                      <label>{{'paymentconfirmation.transaction' | translate }}</label>
                      <span>{{PFPayReq.PaymentEntry.onlineDAEntry.AuthCode}}</span> -->
            <!-- <label>{{'PaymentPage.policyno' | translate }}</label>
                      <span>{{PFPayRes.paymentTagResponse.paymentTagResponseList[0].policyNo}}</span> -->

            <!-- <label>{{'PaymentPage.download' | translate }}</label> -->
            <!-- <a style="cursor: pointer;" (click)="showPolicy()" id="buypol" class="download" title="Download"></a> -->
            <!-- </td>
                    <td>
                      <label>{{'paymentconfirmation.proposal' | translate }}</label>
                      <span>{{this.propRes.generalInformation.proposalNumber}}</span>
                    </td> -->
            <!-- Policy Start Date -->
            <!-- <td>
                      <label>{{'PaymentPage.polstartdate' | translate }}</label>
                      <span>{{PolicyStartDate}}</span>
                    </td> -->
            <!-- Policy End Date -->
            <!-- <td>
                      <label>{{'PaymentPage.polenddate' | translate }}</label>
                      <span>{{PolicyEndDate}}</span>
                    </td>             -->
          </tr>

          <tr>
            <td colspan="3">
              <div class="buttoncenter">
                <!-- <h4>You have punched your policy in: {{timeTaken}}</h4><br> -->
                <button (click)="goBack()" class="cstmbtn">Issue another policy</button>
              </div>
              <!-- <label>{{'PaymentPage.download' | translate }}</label>
                      <a style="cursor: pointer;" (click)="showPolicy()" id="buypol" class="download" title="Download"></a> -->
            </td>
          </tr>

        </table>
        <!-- <div>
                <button class="cstmbtn">Go back to Quote</button>
              </div> -->
        <!-- <div class="text-center">

              </div> -->
      </div>
    </div>
  </div>
</section>
