<!-- New Premium Breakup Modal for 2 wheeler -->
<div class="modal-dialog modal-xl container-fluid mainsec" id="premium_breakup"
  *ngIf="calculatedQuote && (policy_Subtype == 1 || policy_Subtype == 12)" style="overflow-y: scroll;">

  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
        data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
        class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
        aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">Two wheeler package</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{ calculatedQuote.generalInformation.manufacturerName }}
                                {{calculatedQuote.generalInformation.vehicleModel}} {{
                                calculatedQuote.generalInformation.cubicCapacity }}
                                CC</th>
                            </tr>
                            <!-- <tr>
                              <td>Registration number</td>
                              <th>{{ quoteRequ.RegistrationNumber }}</th>
                            </tr> -->
                            <tr class="altRowBg">
                              <td>RTO Location</td>
                              <th>{{calculatedQuote.generalInformation.rtoLocation}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>Cubic Capacity</td>
                              <th>{{calculatedQuote.generalInformation.cubicCapacity}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>{{seatingcapacity}}</th>
                            </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr *ngIf="quoteResp.riskDetails.basicOD > 0">
                              <td>Basic OD Premium</td>
                              <th>{{quoteResp.riskDetails.basicOD}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.breakinLoadingAmount > 0">
                              <td>Breaking Loading Amount</td>
                              <th>{{quoteResp.riskDetails.breakinLoadingAmount}}</th>
                            </tr>
                            <tr>
                            <tr *ngIf="quoteResp.riskDetails.basicTP > 0">
                              <td>Basic Premium including premium for
                                TPPD vehicle:</td>
                              <th>{{quoteResp.riskDetails.basicTP}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total OD + TP Premium</td>
                              <th>{{ODandTPAmount}}</th>
                              <!-- <th>₹{{quoteResp.generalInformation.packagePremium}}</th> -->
                            </tr>
                            <!--Addons-->
                            <tr *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver > 0">
                              <td>Compulsory PA Cover for Owner Driver</td>
                              <th>{{quoteResp.riskDetails.paCoverForOwnerDriver}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.paidDriver > 0">
                              <td>Legal Liability To Paid Driver</td>
                              <th>{{quoteResp.riskDetails.paidDriver}}</th>
                            </tr>


                            <!-- <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>(-) NCB @ 20% </td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}</th>
                            </tr> -->
                            <tr *ngIf="(quoteResp.riskDetails.roadSideAssistance > 0) || isRSAPlan">
                              <td>Road Side Assistance </td>
                              <th>{{quoteResp.riskDetails.roadSideAssistance}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.zeroDepreciation > 0">
                              <td>Zero Depreciation </td>
                              <th>{{calculatedQuote.riskDetails.zeroDepreciation}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.electricalAccessories > 0">
                              <td>Electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.electricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.nonElectricalAccessories > 0">
                              <td>Non-electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.nonElectricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.engineProtect > 0">
                              <td>Engine Protect</td>
                              <th>{{calculatedQuote.riskDetails.engineProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.keyProtect > 0">
                              <td>Key Protect</td>
                              <th>{{calculatedQuote.riskDetails.keyProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.emiProtect > 0">
                              <td>EMI Protect</td>
                              <th>{{calculatedQuote.riskDetails.emiProtect}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tyreProtect > 0">
                              <td>Tyre Protect</td>
                              <th>{{calculatedQuote.riskDetails.tyreProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.lossOfPersonalBelongings > 0">
                              <td>Loss of Personal Belongings</td>
                              <th>{{calculatedQuote.riskDetails.lossOfPersonalBelongings}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.garageCash > 0">
                              <td>Garage Cash</td>
                              <th>{{calculatedQuote.riskDetails.garageCash}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.returnToInvoice > 0">
                              <td>Return to Invoice</td>
                              <th>{{calculatedQuote.riskDetails.returnToInvoice}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionOD > 0">
                              <td>Geographic Extension Premium</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionOD}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.consumables > 0">
                              <td>Consumables</td>
                              <th>{{calculatedQuote.riskDetails.consumables}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.biFuelKitTP > 0">
                              <td>Liability For Bi-Fuel Kit</td>
                              <th>{{calculatedQuote.riskDetails.biFuelKitTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionTP > 0">
                              <td>Geographic Extension Liability</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.paCoverForUnNamedPassenger > 0">
                              <td>PA for Unnamed Passenger</td>
                              <th>{{calculatedQuote.riskDetails.paCoverForUnNamedPassenger}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.employeesOfInsured > 0">
                              <td>Legal Liability to Paid Employee</td>
                              <th>{{calculatedQuote.riskDetails.employeesOfInsured}}
                              </th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total Premium with Addon </td>
                              <th>₹ {{ premiumWithoutDiscount }} </th>
                            </tr>
                            <!--Discount-->
                            <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>Deduct {{calculatedQuote.riskDetails.ncbPercentage}} % for NCB</td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}
                              </th>
                            </tr>
                            <!-- <tr class="altRowBg" *ngIf="getdiscountTotal || '0'">
                              <td>Total Discount(B)</td>
                              <th>{{getdiscountTotal || '0'}}
                              </th>
                            </tr> -->
                            <tr *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>TPPD Discount(-)</td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}
                              </th>
                            </tr>
                            <!-- <tr class="altRowBg" *ngIf="getdiscountTotal || '0'">
                              <td>Total Discount(-) </td>
                              <th><span class="text-right">₹ {{getdiscountTotal || '0'}}</span>
                            </tr>  -->

                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Total Premium Total Premium ₹ {{calculatedQuote.finalPremium}}</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Insured declared Value (IDV) (Rs)</td>
                              <th>Rs {{calculatedQuote.generalInformation.depriciatedIDV}}</th>
                            </tr>
                            <tr>
                              <td>Tenure</td>
                              <th>{{calculatedQuote.generalInformation.tenure}} year OD +
                                {{calculatedQuote.generalInformation.tpTenure}}
                                year TP</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Current Showroom Price </td>
                              <th>Rs {{calculatedQuote.generalInformation.showRoomPrice}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                          </table>

                        </div>
                      </div>

                      <!-- <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Agent Details</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Agent Details</td>
                              <th>{{dealDetailsfromIM.imid}}</th>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <th>{{dealDetailsfromIM.intermediaryName}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Location</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.officeName}}</th>
                            </tr>
                            <tr>
                              <td>Vertical</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.fullVerticalDesc}}</th>
                            </tr>
                          </table>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>Net Premium</span>
                    <span class="text-right" *ngIf="productCode == '2311' || productCode == '2312'">₹ {{
                      calculatedQuote.packagePremium }}</span>
                    <span class="text-right" *ngIf="productCode == '2320' || productCode == '2319'">₹ {{
                      calculatedQuote.packagePremium}}</span>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{calculatedQuote.totalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{calculatedQuote.finalPremium}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- New Premium Breakup Modal for Four Wheeler-->
<!-- <div class="modal fade" id="premium_breakup" *ngIf="calculatedQuote"> -->
<div class="modal-dialog modal-xl container-fluid mainsec"
  *ngIf="calculatedQuote && (policy_Subtype == 2 || policy_Subtype == 13)" style="overflow-y: scroll;">
  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
          data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
          class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
          aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">Four wheeler package</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{ calculatedQuote.generalInformation.manufacturerName }}
                                {{calculatedQuote.generalInformation.vehicleModel}} {{
                                calculatedQuote.generalInformation.cubicCapacity }}
                                CC</th>
                            </tr>
                            <!-- <tr>
                                <td>Registration number</td>
                                <th>{{ quoteRequ.RegistrationNumber }}</th>
                              </tr> -->
                            <tr class="altRowBg">
                              <td>RTO Location</td>
                              <th>{{calculatedQuote.generalInformation.rtoLocation}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>Cubic Capacity</td>
                              <th>{{calculatedQuote.generalInformation.cubicCapacity}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                                <td>Seating Capacity</td>
                                <th>{{seatingcapacity}}</th>
                              </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr *ngIf="quoteResp.riskDetails.basicOD > 0">
                              <td>Basic OD Premium</td>
                              <th>{{quoteResp.riskDetails.basicOD}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.breakinLoadingAmount > 0">
                              <td>Breaking Loading Amount</td>
                              <th>{{quoteResp.riskDetails.breakinLoadingAmount}}</th>
                            </tr>
                            <tr>
                            <tr *ngIf="quoteResp.riskDetails.basicTP > 0">
                              <td>Basic Premium including premium for
                                TPPD vehicle:</td>
                              <th>{{quoteResp.riskDetails.basicTP}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total OD + TP Premium</td>
                              <th>{{ODandTPAmount}}</th>
                              <!-- <th>₹{{quoteResp.generalInformation.packagePremium}}</th> -->
                            </tr>
                            <!--Addons-->
                            <tr *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver > 0">
                              <td>Compulsory PA Cover for Owner Driver</td>
                              <th>{{quoteResp.riskDetails.paCoverForOwnerDriver}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.paidDriver > 0">
                              <td>Legal Liability To Paid Driver</td>
                              <th>{{quoteResp.riskDetails.paidDriver}}</th>
                            </tr>


                            <!-- <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                                <td>(-) NCB @ 20% </td>
                                <th>{{calculatedQuote.riskDetails.bonusDiscount}}</th>
                              </tr> -->
                            <tr *ngIf="(quoteResp.riskDetails.roadSideAssistance > 0) || isRSAPlan">
                              <td>Road Side Assistance </td>
                              <th>{{quoteResp.riskDetails.roadSideAssistance}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.zeroDepreciation > 0">
                              <td>Zero Depreciation </td>
                              <th>{{calculatedQuote.riskDetails.zeroDepreciation}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.electricalAccessories > 0">
                              <td>Electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.electricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.nonElectricalAccessories > 0">
                              <td>Non-electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.nonElectricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.engineProtect > 0">
                              <td>Engine Protect</td>
                              <th>{{calculatedQuote.riskDetails.engineProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.keyProtect > 0">
                              <td>Key Protect</td>
                              <th>{{calculatedQuote.riskDetails.keyProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.emiProtect > 0">
                              <td>EMI Protect</td>
                              <th>{{calculatedQuote.riskDetails.emiProtect}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tyreProtect > 0">
                              <td>Tyre Protect</td>
                              <th>{{calculatedQuote.riskDetails.tyreProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.lossOfPersonalBelongings > 0">
                              <td>Loss of Personal Belongings</td>
                              <th>{{calculatedQuote.riskDetails.lossOfPersonalBelongings}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.garageCash > 0">
                              <td>Garage Cash</td>
                              <th>{{calculatedQuote.riskDetails.garageCash}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.returnToInvoice > 0">
                              <td>Return to Invoice</td>
                              <th>{{calculatedQuote.riskDetails.returnToInvoice}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionOD > 0">
                              <td>Geographic Extension Premium</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionOD}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.consumables > 0">
                              <td>Consumables</td>
                              <th>{{calculatedQuote.riskDetails.consumables}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.biFuelKitTP > 0">
                              <td>Liability For Bi-Fuel Kit</td>
                              <th>{{calculatedQuote.riskDetails.biFuelKitTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionTP > 0">
                              <td>Geographic Extension Liability</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.paCoverForUnNamedPassenger > 0">
                              <td>PA for Unnamed Passenger</td>
                              <th>{{calculatedQuote.riskDetails.paCoverForUnNamedPassenger}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.employeesOfInsured > 0">
                              <td>Legal Liability to Paid Employee</td>
                              <th>{{calculatedQuote.riskDetails.employeesOfInsured}}
                              </th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total Premium with Addon </td>
                              <th>₹ {{ premiumWithoutDiscount }} </th>
                            </tr>
                            <!--discount-->
                            <tr *ngIf="calculatedQuote.riskDetails.antiTheftDiscount > 0">
                              <td>Anti-theft Discount</td>
                              <th>{{calculatedQuote.riskDetails.antiTheftDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.automobileAssociationDiscount > 0">
                              <td>Automobile Membership Discount</td>
                              <th>{{calculatedQuote.riskDetails.automobileAssociationDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.handicappedDiscount > 0">
                              <td>Handicapped Discount</td>
                              <th>{{calculatedQuote.riskDetails.handicappedDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>Deduct {{calculatedQuote.riskDetails.ncbPercentage}} % for NCB</td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.voluntaryDiscount > 0">
                              <td>Voluntary Discount</td>
                              <th>{{calculatedQuote.riskDetails.voluntaryDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>TPPD Discount</td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}
                              </th>
                            </tr>
                            <tr class="altRowBg" *ngIf="totalDiscount > 0">
                              <td>Total Discount (-)</td>
                              <th>{{totalDiscount}}
                              </th>
                            </tr>

                            <!-- <tr class="altRowBg" *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                                <td>Total Discount(E)
                                </td>
                                <th>{{calculatedQuote.riskDetails.tppD_Discount}}</th>
                              </tr> -->
                            <!-- <tr class="altRowBg">
                                <td>Total Discount(-) </td>
                                <th><span class="text-right">₹ {{getdiscountTotal || '0'}}</span>
                              </tr> -->
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Total Premium ₹ {{calculatedQuote.finalPremium}}</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Insured declared Value (IDV) (Rs)</td>
                              <th>Rs {{calculatedQuote.generalInformation.depriciatedIDV}}</th>
                            </tr>
                            <tr>
                              <td>Tenure</td>
                              <th>{{calculatedQuote.generalInformation.tenure}} year OD +
                                {{calculatedQuote.generalInformation.tpTenure}}
                                year TP</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Current Showroom Price </td>
                              <th>Rs {{calculatedQuote.generalInformation.showRoomPrice}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                          </table>

                        </div>
                      </div>

                      <!-- <div class="detailPanel detailPanel2 mb-3">
                          <h3 class="rounded-0">Agent Details</h3>
                          <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                            <table class="table">
                              <tr class="altRowBg">
                                <td>Agent Details</td>
                                <th>{{dealDetailsfromIM.imid}}</th>
                              </tr>
                              <tr>
                                <td>Name</td>
                                <th>{{dealDetailsfromIM.intermediaryName}}</th>
                              </tr>
                              <tr class="altRowBg">
                                <td>Location</td>
                                <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.officeName}}</th>
                              </tr>
                              <tr>
                                <td>Vertical</td>
                                <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.fullVerticalDesc}}</th>
                              </tr>
                            </table>
                          </div>
                        </div> -->
                    </div>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>Net Premium</span>
                    <span class="text-right" *ngIf="productCode == '2311' || productCode == '2312'">₹ {{
                      calculatedQuote.packagePremium }}</span>
                    <span class="text-right" *ngIf="productCode == '2320' || productCode == '2319'">₹ {{
                      calculatedQuote.packagePremium}}</span>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{calculatedQuote.totalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{calculatedQuote.finalPremium}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<!-- New Premium Breakup Modal for TP -->
<div class="modal-dialog modal-xl container-fluid mainsec" id="premium_breakup"
  *ngIf="calculatedQuote && (policy_Subtype == 9 || policy_Subtype == 10)" style="overflow-y: scroll;">
  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
        data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
        class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
        aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">TP Premium Break-Up</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{ calculatedQuote.generalInformation.manufacturerName }}
                                {{calculatedQuote.generalInformation.vehicleModel}} {{
                                calculatedQuote.generalInformation.cubicCapacity }}
                                CC</th>
                            </tr>
                            <!-- <tr>
                              <td>Registration number</td>
                              <th>{{ quoteRequ.RegistrationNumber }}</th>
                            </tr> -->
                            <tr class="altRowBg">
                              <td>RTO Location</td>
                              <th>{{calculatedQuote.generalInformation.rtoLocation}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>Cubic Capacity</td>
                              <th>{{calculatedQuote.generalInformation.cubicCapacity}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>{{seatingcapacity}}</th>
                            </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <!-- <tr *ngIf="quoteResp.riskDetails.basicOD > 0">
                              <td>Basic OD Premium</td>
                              <th>{{quoteResp.riskDetails.basicOD}}</th>
                            </tr> -->
                            <tr *ngIf="quoteResp.riskDetails.basicTP > 0">
                              <td>Basic Premium including premium for
                                TPPD vehicle:</td>
                              <th>{{quoteResp.riskDetails.basicTP}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Total OD + TP Premium</td>
                              <th>{{ODandTPAmount}}</th>
                              <th>₹{{quoteResp.generalInformation.packagePremium}}</th>
                            </tr> -->
                            <!--Addons-->
                            <tr *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver > 0">
                              <td>Compulsory PA Cover for Owner Driver</td>
                              <th>{{quoteResp.riskDetails.paCoverForOwnerDriver}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.paidDriver > 0">
                              <td>Legal Liability To Paid Driver</td>
                              <th>{{quoteResp.riskDetails.paidDriver}}</th>
                            </tr>


                            <!-- <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>(-) NCB @ 20% </td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}</th>
                            </tr> -->
                            <tr *ngIf="(quoteResp.riskDetails.roadSideAssistance > 0) || isRSAPlan">
                              <td>Road Side Assistance </td>
                              <th>{{quoteResp.riskDetails.roadSideAssistance}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.zeroDepreciation > 0">
                              <td>Zero Depreciation </td>
                              <th>{{calculatedQuote.riskDetails.zeroDepreciation}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.electricalAccessories > 0">
                              <td>Electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.electricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.nonElectricalAccessories > 0">
                              <td>Non-electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.nonElectricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.engineProtect > 0">
                              <td>Engine Protect</td>
                              <th>{{calculatedQuote.riskDetails.engineProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.keyProtect > 0">
                              <td>Key Protect</td>
                              <th>{{calculatedQuote.riskDetails.keyProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.emiProtect > 0">
                              <td>EMI Protect</td>
                              <th>{{calculatedQuote.riskDetails.emiProtect}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tyreProtect > 0">
                              <td>Tyre Protect</td>
                              <th>{{calculatedQuote.riskDetails.tyreProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.lossOfPersonalBelongings > 0">
                              <td>Loss of Personal Belongings</td>
                              <th>{{calculatedQuote.riskDetails.lossOfPersonalBelongings}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.garageCash > 0">
                              <td>Garage Cash</td>
                              <th>{{calculatedQuote.riskDetails.garageCash}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.returnToInvoice > 0">
                              <td>Return to Invoice</td>
                              <th>{{calculatedQuote.riskDetails.returnToInvoice}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionOD > 0">
                              <td>Geographic Extension Premium</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionOD}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.consumables > 0">
                              <td>Consumables</td>
                              <th>{{calculatedQuote.riskDetails.consumables}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.biFuelKitTP > 0">
                              <td>Liability For Bi-Fuel Kit</td>
                              <th>{{calculatedQuote.riskDetails.biFuelKitTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionTP > 0">
                              <td>Geographic Extension Liability</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.paCoverForUnNamedPassenger > 0">
                              <td>PA for Unnamed Passenger</td>
                              <th>{{calculatedQuote.riskDetails.paCoverForUnNamedPassenger}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.employeesOfInsured > 0">
                              <td>Legal Liability to Paid Employee</td>
                              <th>{{calculatedQuote.riskDetails.employeesOfInsured}}
                              </th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total Premium with Addon </td>
                              <th>₹ {{ premiumWithoutDiscount }}</th>
                            </tr>

                            <!--Discount-->
                            <!-- <tr class="altRowBg" *ngIf="getdiscountTotal || '0'">
                              <td>Total Discount(B)</td>
                              <th>{{getdiscountTotal || '0'}}
                              </th>
                            </tr> -->
                            <tr *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>TPPD Discount (-)</td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}
                              </th>
                            </tr>

                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Total Premium ₹ {{calculatedQuote.finalPremium}}</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Insured declared Value (IDV) (Rs)</td>
                              <th>Rs {{calculatedQuote.generalInformation.depriciatedIDV}}</th>
                            </tr>
                            <tr>
                              <td>Tenure</td>
                              <th>{{calculatedQuote.generalInformation.tenure}} year OD +
                                {{calculatedQuote.generalInformation.tpTenure}}
                                year TP</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Current Showroom Price </td>
                              <th>Rs {{calculatedQuote.generalInformation.showRoomPrice}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                          </table>

                        </div>
                      </div>

                      <!-- <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Agent Details</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Agent Details</td>
                              <th>{{dealDetailsfromIM.imid}}</th>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <th>{{dealDetailsfromIM.intermediaryName}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Location</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.officeName}}</th>
                            </tr>
                            <tr>
                              <td>Vertical</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.fullVerticalDesc}}</th>
                            </tr>
                          </table>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>Net Premium</span>
                    <span class="text-right">₹ {{calculatedQuote.totalLiabilityPremium }}</span>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{calculatedQuote.totalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{calculatedQuote.finalPremium}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
