<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <h1>
        <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
      </h1>
    </div>
  </div>
</header>
<div class="logindiv text-center">
  <h2>Welcome to TechOps</h2>
  <form class="form" #techopsLogin="ngForm">
    <div class="innerdiv">
      <!-- Username -->
      <div class="form-group">
        <input #username="ngModel" name="name" required type="text" [(ngModel)]="loginObj.userName" class="form-control"
          placeholder="Username" />
      </div>

      <!-- Password -->
      <div class="form-group mb-4">
        <input #pass="ngModel" name="pass" required type="password" [(ngModel)]="loginObj.pwd" class="form-control pwd"
          placeholder="Password" />
        <!-- <a class="btn-toggle-pass"><i class="fa fa-eye-slash reveal" aria-hidden="true"></i></a> -->

      </div>

      <!-- Submit button -->
      <div class="text-center">
        <button (click)="login()" type="submit" class="btn-block">LOG IN</button>
      </div>

    </div>
  </form>



</div>
