<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>

<section class="container-fluid mainsec">
  <div class="row">
    <div class="container">
      <div class="plansdiv">
        <ul>
          <li class="quote">
            <div class="insidediv">
              <h4>Additional Covers</h4>
              <div class="quotePrem">
                <table>
                  <tr>
                    <th>Quote Premium</th>
                    <td>₹ 10000</td>
                  </tr>
                </table>
              </div>
              <div class="row m-0">
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="paCover" name="paCover" checked />
                          <label for="paCover"></label>
                        </div>
                      </td>
                      <td>
                        <label for="paCover">PA cover for Owner Driver</label>
                        <span>Approximately ₹200</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="noValid_DL" name="noValid_DL" checked />
                          <label for="noValid_DL"></label>
                        </div>
                      </td>
                      <td>
                        <label for="noValid_DL">Does not Have a Valid Driving License</label>
                        <span>Approximately ₹400</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="geoExt" name="geoExt" />
                          <label for="geoExt"></label>
                        </div>
                      </td>
                      <td>
                        <label for="geoExt">Geographical Extension</label>
                        <span>Approximately ₹250</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="pa_unamedPassen" name="pa_unamedPassen" />
                          <label for="pa_unamedPassen"></label>
                        </div>
                      </td>
                      <td>
                        <label for="pa_unamedPassen">PA for Unnamed Passenger</label>
                        <span>Approximately ₹300</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="liability_paidemp" name="liability_paidemp" />
                          <label for="liability_paidemp"></label>
                        </div>
                      </td>
                      <td>
                        <label for="liability_paidemp">Liability to Paid Employee</label>
                        <span>Approximately ₹400</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="volunt_deduct" name="volunt_deduct" />
                          <label for="volunt_deduct"></label>
                        </div>
                      </td>
                      <td>
                        <label for="volunt_deduct">Voluntary Deductable</label>
                        <span>Approximately ₹200</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="no_claim_cover" name="no_claim_cover" />
                          <label for="no_claim_cover"></label>
                        </div>
                      </td>
                      <td>
                        <label for="no_claim_cover">No Claim bonus protection cover</label>
                        <span>Approximately ₹300</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="road_side_assist" name="road_side_assist" />
                          <label for="road_side_assist"></label>
                        </div>
                      </td>
                      <td>
                        <label for="road_side_assist">Rood Side Assistance</label>
                        <span>Approximately ₹250</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="zero_dep_cover" name="zero_dep_cover" />
                          <label for="zero_dep_cover"></label>
                        </div>
                      </td>
                      <td>
                        <label for="zero_dep_cover">Zero Depreciation Cover</label>
                        <span>Approximately ₹200</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="return_invCover" name="return_invCover" />
                          <label for="return_invCover"></label>
                        </div>
                      </td>
                      <td>
                        <label for="return_invCover">Return to Invoice Cover</label>
                        <span>Approximately ₹200</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="consumables" name="consumables" />
                          <label for="consumables"></label>
                        </div>
                      </td>
                      <td>
                        <label for="consumables">Consumables</label>
                        <span>Approximately ₹250</span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-md-6 form-group chkbox1">
                  <table>
                    <tr>
                      <td width="35">
                        <div class="radiodiv1">
                          <input type="checkbox" id="emiProtect" name="emiProtect" />
                          <label for="emiProtect" data-toggle="modal" data-target="#emiProt_modal"
                            data-backdrop="static" data-keyboard="false"></label>
                        </div>
                      </td>
                      <td>
                        <label for="emiProtect" data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static"
                          data-keyboard="false">EMI Protect</label>
                        <span>Approximately ₹250</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="col-12">
                <p><strong>Note:</strong> It is a long established fact that a reader will be distracted by the readable
                  content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a
                  more-or-less normal distribution of letters, as opposed to using.</p>
              </div>
            </div>
            <div class="mt-3 text-center">
              <button type="button" class="cstmbtn">RECALCULATE</button>
            </div>
          </li>
          <li class="netPremiumli">
            <div class="netPremium">
              <table>
                <tr>
                  <th colspan="2">
                    Vehicle Details
                    <a href="#" title="Edit" class="float-right">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.947 383.947" width="12" fill="#18548a">
                        <path
                          d="M0 303.947v80h80l236.053-236.054-80-80zM377.707 56.053L327.893 6.24c-8.32-8.32-21.867-8.32-30.187 0l-39.04 39.04 80 80 39.04-39.04c8.321-8.32 8.321-21.867.001-30.187z" />
                      </svg>
                    </a>
                  </th>
                </tr>
                <tr>
                  <td>Model :</td>
                  <td>HONDA CIVIC</td>
                </tr>
                <tr>
                  <td>Variant :</td>
                  <td>1.8 V (MT) 1799.0</td>
                </tr>
                <tr>
                  <td>Registration Date :</td>
                  <td>01 Dec 2008</td>
                </tr>
                <tr>
                  <td>Claim last year :</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>NCB: </td>
                  <td>45%</td>
                </tr>
              </table>
              <hr />
              <table>
                <tr>
                  <th colspan="2">Premium Break Up</th>
                </tr>
                <tr>
                  <td>Own Damage Premium</td>
                  <td>₹ 2000</td>
                </tr>
                <tr>
                  <td>Third Party Premium</td>
                  <td>₹ 4000</td>
                </tr>
                <tr>
                  <td>(CPA) Premium</td>
                  <td>₹ 1000</td>
                </tr>
                <tr>
                  <td>Add-Ons Premium</td>
                  <td>₹ 3000</td>
                </tr>
                <tr>
                  <td>Discount</td>
                  <td>- ₹ 1000</td>
                </tr>
              </table>
              <div class="ttlprem">
                <table>
                  <tr>
                    <th>
                      Net Premium
                      <small>This price is excluding 18% GST</small>
                    </th>
                    <td>₹ 10000</td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="mt-3 text-center">
              <button type="button" class="cstmbtn">BUY NOW</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal fade" id="emiProt_modal" role="dialog" aria-labelledby="emiProt_modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="emiProt_modalTitle">EMI Protect</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body fieldsdiv">
          <div class="form-group">
            <label>EMI Amount *</label>
            <input type="text" class="form-control" placeholder="Enter EMI Amount" />
          </div>
          <div class="form-group">
            <label>No of EMI *</label>
            <select class="form-control custom-select">
              <option></option>
              <option>12</option>
            </select>
          </div>
          <div class="form-group">
            <label>Time Excess in days *</label>
            <select class="form-control custom-select">
              <option></option>
              <option>7 Days</option>
            </select>
          </div>
          <div class="text-center">
            <button type="button" class="cstmbtn">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
