<!-- <aside class="active"> -->
<div id="nysa_sidepanel" class="nysa_sidebar">

  <div id="overlay" onclick="closeNav()"></div>

  <div class="nysa_sidebar_content">

    <a href="javascript:void(0)" class="nysa_closebtn" onclick="closeNav()"></a>

    <a href="javascript:void(0)" class="nysa_closebtn_orange" onclick="closeNav()"></a>

    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="row left-banner mt-4">
          <img src="assets/images/sidebar/Motor-Insurance-Policy@3x.png" alt="Bg" class="img-responsive" />
          <h4>Insurance Package</h4>
        </div>
      </div>


      
          <div class="col-md-8 topmargine">
            <div class="row nysa_sidebar_menu no-mglr mt-4">
    
              <div class="col-md-2 nysa_menu_box">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon" id="4WNew">
                    <img src="assets/images/sidebar/icon-Fourwheeler.png" alt="icon" style="cursor: pointer;" id="4WNew" />
                  </div>
                  <div class="nysa_menu_text" id="4WNew">Four Wheeler</div>
                  <div class="nysa_menu_links" style="cursor: pointer;">
                      <a id="4WRoll">Package</a>&nbsp;
                      <a id="4WTPRoll">TP</a> 
                  </div>
                </a>
              </div>
    
              <!-- <div class="col-md-2 nysa_menu_box">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/four-wheeler-user.png" alt="icon" id="4WTPNew"
                      style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="4WTPNew">4W TP</div>
                  <div class="nysa_menu_links">
                    <span style="cursor: pointer;"><a id="4WTPNew">New</a> | <a id="4WTPRoll">Rollover</a></span>
                  </div>
                </a>
              </div> -->
    
              <div class="col-md-2 nysa_menu_box">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Twowheeler.png" alt="icon" id="2WNew" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="2WNew">Two Wheeler</div>
                  <div class="nysa_menu_links" style="cursor: pointer;">
                    <a id="2WRoll">Package</a>&nbsp;
                      <a id="2WTPRoll">TP</a>
                  </div>
                </a>
              </div>
    
               <!-- <div class="col-md-2 nysa_menu_box">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/two-wheeler-user.png" alt="icon" id="2WTPNew"
                      style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="2WTPNew">2W TP</div>
                  <div class="nysa_menu_links">
                    <span style="cursor: pointer;"><a id="2WTPNew">New</a> | <a id="2WTPRoll">Rollover</a></span>
                  </div>
                </a>
              </div> -->
    

          <!-- Sejal - Electric Bike- 21-02-2022 -->
          <div class="col-md-2 nysa_menu_box">
            <a data-toggle="modal" data-target="#allRiskEBModal" data-backdrop="false" onclick="closeNav()">
              <div class="nysa_menu_icon">
                <img src="assets/images/sidebar/icon-EVTwowheeler.png" alt="icon" height="40px" style="cursor: pointer;" id="riskEB"/>
              </div>
              <div class="nysa_menu_text" style="cursor: pointer;" id="riskEB">Electric Bike</div>
            </a>
          </div>

          <!-- all risk electric bike modal starts -->
          <div class="modal fade allRiskEBModal" id="allRiskEBModal" role="dialog" aria-labelledby="emiProt_modalTitle" aria-hidden="true" style="background-color: rgba(0, 0, 0, 0.5);">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                  <p class="cstmTxt text-center">Applicable only for Non Registered EV TW with motor power < 0.25KW and speed limit of 25KM/Hr</p>
                  <div class="text-center">
                    <button type="button" class="btn btn-secondary cstmbtn" data-dismiss="modal" onclick="closeNav()" (click)="refreshToken($event.target.id)" style="cursor: pointer;" id="riskEB">PROCEED</button>
                  </div>
                </div>
              </div>
            </div>
          </div> <!-- all risk electric bike modal ends -->
    
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-CommercialVehicles.png" alt="icon" id="comm" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="comm" style="cursor: pointer;">Commercial Vehicles</div>
                </a>
              </div>
    
              <div class="col-md-2 nysa_menu_box">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Renewals.png" alt="icon" id="renewal" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="renewal" style="cursor: pointer;">Renewal</div>
                </a>
              </div>
    
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Endorsements.png" alt="icon" id="Endo" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="Endo" style="cursor: pointer;">Endorsements</div>
                </a>
              </div>
    
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-BulkUpload.png" alt="icon" id="bitly" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="bitly" style="cursor: pointer;">Bulk Upload</div>
                </a>
              </div>
    
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Claims.png" alt="icon" id="claims" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="claims" style="cursor: pointer;">Claims</div>
                </a>
              </div>
    
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Health.png" alt="icon" style="cursor: pointer;" id="Health" />
                  </div>
                  <div class="nysa_menu_text" id="Health" style="cursor: pointer;">Health</div>
                </a>
              </div>
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a (click)="refreshToken($event.target.id)">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Travel.png" alt="icon" id="Travel" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="Travel" style="cursor: pointer;">Travel</div>
                </a>
              </div>
    
              <div class="col-md-2 nysa_menu_box">
                <!-- <a> -->
                <div class="nysa_menu_icon">
                  <img src="assets/images/sidebar/icon-LombardPay.png" alt="icon" />
                </div>
                <div class="nysa_menu_text" id="lombardPayWallet" (click)="gotoLombardPayWallet()" style="cursor: pointer;">
                  Lombard Pay</div>
                <!-- </a> -->
              </div>
    
              <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to nysa_menu_icon in side nav -->
              <div class="col-md-2 nysa_menu_box" *ngIf="IsPOSTransaction_flag != true">
                <a data-toggle="modal" data-target="#feedbackModal" data-backdrop="static" onclick="closeNav()">
                  <div class="nysa_menu_icon">
                    <img src="assets/images/sidebar/icon-Feedback.png" alt="icon" id="claims" style="cursor: pointer;" />
                  </div>
                  <div class="nysa_menu_text" id="claims" style="cursor: pointer;">Feedback</div>
                </a>
              </div>
    
              <!-- <div class="col-md-2 nysa_menu_box">
                  <a>
                    <div class="nysa_menu_icon">
                      <img src="assets/images/sidebar/feedback.png" alt="icon" />
                    </div>
                    <div class="nysa_menu_text">Feedback</div>
                  </a>
                </div> -->
    
            </div>
          </div>

    </div>
  </div>
</div>

<div class="nysa_sidepanel_open" *ngIf="mobile_view == false && IsPOSTransaction_flag == false">
  <button class="nysa_openbtn" onclick="openNav()"></button> <!-- larger view than mobile -->
  <button class="nysa_openbtn2" onclick="mediaQuery()"></button> <!-- for smaller view -->
</div>
<!-- </aside> -->

<header class="container-fluid fixed-top" *ngIf="view != 'MVIEW' && !showRenwalHeader">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a title="ICICI Lombard" (click)="goToDashboard()" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-6 ">
          <div class="container">
            <div class=" text_right">
              <div class="multiSelectContainer multlisecpad ">
                <div class="customSelect_1" style="margin-right: 5px;">
                    <a><i class="icon-multiSelect_1"></i></a>
                    <select class="custom-select" [(ngModel)]="language" title="Language Change" #langSelect
                    (change)="switchLanguage(langSelect.value)">
                    <option class="dropdown-item dropdown-font" *ngFor="let item of lang" [value]="item">{{ item }}</option>
                  </select>
                 </div>
                 <div class="customSelect_2">
                  <a title="User ID"><i class="social_icon"></i></a>
                  <p>{{auth.username}}</p>      
               </div>
                <div class="multiSelectOptions_1" *ngIf="IsPOSTransaction_flag == false">
                  <a data-toggle="dropdown" href="#" style="margin-right: 5px;"><i class="icon-settings" data-toggle="tooltip" data-placement="bottom" title="Settings"></i></a>
                  <ul class="dropdown-menu custom-drop" style="background: #e36c24">
                    <li><a (click)="goToIpartnerDashboard()" class="dropdown-item dropdown-font" style="color:white; cursor: pointer;"> Switch to iPartner</a>
                    </li>
                  </ul>
                  <a *ngIf="IsPOSTransaction_flag != true" data-toggle="tooltip" data-placement="bottom" title="Log off" (click)="goToLogin()"><i
                    style="color: white;" class="icon-logout" aria-hidden="true"></i></a>
                </div>
                <div class="clear"></div>
          </div>
       
        </div>
            
        </div>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="container-fluid fixed-top" *ngIf="view == 'MVIEW'">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-6 text-right">
          <span title="User ID">Welcome, {{auth.username}}</span>
        </div>
      </div>
    </div>
  </div>
</header>

<header class="container-fluid fixed-top" *ngIf="view != 'MVIEW' && showRenwalHeader">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="modal fade feedbackModal" id="feedbackModal" role="dialog" aria-labelledby="emiProt_modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Modal Header -->
        <div class="text-center"><img src="assets/images/sidebar/Group 24380.png" /></div>
        <h5 class="modal-title text-center mt-3">Your Feedback</h5>
        <h6 style="color: #1c5c95;" class="text-center mt-3">We solicit your feedback with respect to improvements in
          System, Process, Business, Sales team, Technology, New Opportunities & anything critical</h6>
        <button type="button" class="close" data-dismiss="modal" (click)="clearfeedback()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form>
          <!-- <div class=" col-md-12 text-center">Your Feedback</div> -->
          <div class="col-md-12 chkbox1">
            <table>
              <tr>
                <td style="width: 35px;">
                  <div class="radiodiv1">
                    <input type="checkbox" id="nysaIpartner" name="nysaIpartner"
                      [checked]="feedbackObj.isNysaIpartner == 'Y'" (change)="feedbackCheckVal($event)" />
                    <label for="nysaIpartner"></label>
                  </div>
                </td>
                <td>
                  <label for="nysaIpartner">About iPartner & Nysa </label>
                </td>
              </tr>
              <tr>
                <td style="width: 35px;">
                  <div class="radiodiv1">
                    <input type="checkbox" id="commisionandbrokerage" name="commisionandbrokerage"
                      [checked]="feedbackObj.isCommissionBrokerage == 'Y'" (change)="feedbackCheckVal($event)" />
                    <label for="commisionandbrokerage"></label>
                  </div>
                </td>
                <td>
                  <label for="commisionandbrokerage">About Commission & Brokerage</label>
                </td>
              </tr>
              <tr>
                <td style="width: 35px;">
                  <div class="radiodiv1">
                    <input type="checkbox" id="salesTeams" name="salesTeams" [checked]="feedbackObj.isSalesTeam == 'Y'"
                      (change)="feedbackCheckVal($event)" />
                    <label for="salesTeams"></label>
                  </div>
                </td>
                <td>
                  <label for="salesTeams">About Sales Team</label>
                </td>
              </tr>
              <tr>
                <td style="width: 35px;">
                  <div class="radiodiv1">
                    <input type="checkbox" id="uwTeam" name="uwTeam" [checked]="feedbackObj.isUWTeam == 'Y'"
                      (change)="feedbackCheckVal($event)" />
                    <label for="uwTeam"></label>
                  </div>
                </td>
                <td>
                  <label for="uwTeam">About UW Team</label>
                </td>
              </tr>
              <tr>
                <td style="width: 35px;">
                  <div class="radiodiv1">
                    <input type="checkbox" id="otherSuggestion" name="otherSuggestion"
                      [checked]="feedbackObj.isOtherSuggestion == 'Y'" (change)="feedbackCheckVal($event)" />
                    <label for="otherSuggestion"></label>
                  </div>
                </td>
                <td>
                  <label for="otherSuggestion">Others/Product/New Initiative Suggestion</label>
                </td>
              </tr>
            </table>

            <div class="form-group mt-10">
              <textarea class="form-control" id="userfeedback" name="userComments"
                [(ngModel)]="feedbackObj.userComments" onkeypress="return /[0-9a-zA-Z_ ,.-]/i.test(event.key)" rows="5"
                placeholder="Enter your message..."></textarea>
              <!-- <div *ngIf="feedbackObj.userComments.length <= 4 || feedbackObj.userComments.length > 800 " [ngClass]="'error'" style="color:red">
                    <div style="font-size: 14px;">
                      Feedback Message should be minimum 4 to maximum 800 words
                    </div>
                  </div> -->
            </div>
          </div>
        </form>

        <!-- Modal footer -->
        <div class="col-md-12 text-center">
          <!-- <button type="button" class="modal-trans mr-10" data-dismiss="modal">{{'Buttons.CLOSE' | translate }}</button> -->
          <button type="button" class="modal-btn" data-dismiss="modal" (click)="submitFeedback()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
