aside .innerdiv #expand {
  height: 90px !important;
  width: 23px !important;
  right: -23px !important;
}

.switch {
  padding-left: 17px;
  margin: 19px 0;
  display: inline-block;
  font: 400 14px "Muli", sans-serif;
  vertical-align: top;
}

.img-responsive {
  width: 100%;
  max-width: 100%;
}

.nysa_sidebar {
  width: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 56px;
}

.nysa_sidebar #overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nysa_sidebar .nysa_closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
  background: #1c5c95 url(../../../assets/images/sidebar/delete.png) no-repeat center center;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  padding: 13px;
}

.nysa_sidebar .nysa_closebtn_orange {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 38px;
  height: 38px;
  z-index: 100;
  background: url(../../../assets/images/sidebar/close_btn_38x38.png) no-repeat center center;
}

.nysa_sidebar .nysa_sidebar_content {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  padding-top: 0px;
  margin-top: 0px;
}

.nysa_sidebar .nysa_sidebar_content .left-banner {
  margin-left: 65px;
  padding-top: 160px;
}

.nysa_sidebar .nysa_sidebar_content .left-banner h4 {
  font: 900 16px/20px "Muli", sans-serif;
  color: #1c5c95;
  text-transform: uppercase;
  display: inline-block;
  margin: 0px auto;
  padding-top: 25px;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu {
  width: 100%;
}

/* ui/ux changes by monika */
.topmargine{
margin: 30px 0px;
padding-left: 30px;
}
.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box {
  width: 105px;
  height: 115px;
  max-width: 100%;
  display: block;
  border: solid 1px #e8e8e8;
  background-color: #f8f7f7;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 13px;
  text-align: center;
  width: 116px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.43);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.43);
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box:hover {
  border: 1px solid #00305b;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_icon {
  padding-top: 20px;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_text {
  padding-top: 8px;
  /* font: 900 11px/16px "Muli", sans-serif; */
  color: #626262;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
  /* position: absolute;
  bottom: -30px;
  left: 25px; */
  /* ui/ux changes by monika */
  position: absolute;
  bottom: -30px;
  left: 25px;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links a {
  /* font: 600 11px/14px "Muli", sans-serif;
  color: #1c5c95;
  padding: 0px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s; */
  /* ui/ux changes by monika */
  background: #1c5c95;
  color: #Fff;
  font: 600 8px "Muli", sans-serif;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  width: 43px;
  display: inline-block;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links a:hover {
  text-decoration: none;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links a:focus {
  text-decoration: none;
}

/* ui/ux changes by monika */
.nysa_sidepanel_open {
  height: 385px;
  background: #1c5c95;
  width: 20px;
  position: fixed;
  left: 0px;
  top: 30%;
  border-radius: 0px 15px 15px 0px;
  z-index: 10;
}

.nysa_openbtn {
  font-size: 20px;
  cursor: pointer;
  background: url(../../../assets/images/sidebar/open-btn.png) no-repeat center center;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 45%;
  z-index: 10;
}

.nysa_openbtn2 {
  background: url(../../../assets/images/sidebar/open-btn2.png) no-repeat center center;
  width: 66px;
  height: 66px;
  border: 0px none;
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: none;
}

@media (max-width: 576px) {
  .nysa_sidebar {
    background: #fff;
  }

  .nysa_sidebar .nysa_sidebar_content {
    width: 100%;
  }

  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box {
    max-width: 24%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.3333333%;
    flex: 0 0 33.3333333%;
  }

  .nysa_sidebar .nysa_sidebar_content #overlay {
    display: none;
  }

  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
    left: auto;
  }

  .nysa_sidepanel_open {
    background: none;
    height: auto;
  }

  .nysa_sidepanel_open .nysa_openbtn {
    display: none;
  }

  .nysa_sidepanel_open .nysa_openbtn2 {
    display: block;
  }
}

@media only screen and (min-width: 280px) and (max-width: 320px) {
  .nysa_sidebar_textalign {
    left: 0px !important;
    margin-left: 0px !important;
    font-size: xx-small;
    bottom: -30px;
  }

  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
    left: 8px !important;
  }
}

@media only screen and (min-width: 325px) {
  .nysa_sidebar_textalign {
    left: 0px !important;
    margin-left: 0px !important;
    /* font-size: small !important; */
  }
}

@media only screen and (min-width: 540px) and (max-width: 700px) {
  .nysa_sidebar_textalign {
    left: 0px !important;
    margin-left: 0px !important;
  }

  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
    left: 25px;
  }
}

@media only screen and (min-width: 768px) {
  .nysa_sidebar_textalign {
    left: -11px !important;
    margin-left: 0px !important;
  }

  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
    left: 8px!important;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  .nysa_sidebar_textalign {
    left: 5px !important;
    margin-left: 10px;
  }

  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
    left: 36px;
  }

  .nysa_sidebar .nysa_sidebar_content {
    height: fit-content;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .nysa_sidebar_textalign {
    left: -7px !important;
    margin-left: 10px !important;
  }
}

@media (max-width: 1199px) {
  .img-responsive {
    width: 80%;
    max-width: 80%;
  }
}


.padd0 {
  padding: 0 !important;
}

.dropdown-font {
  font: 400 16px "Muli", sans-serif !important;
}

.setting-icon {
  font-size: 24px !important;
  color: #fff !important;
  padding-left: 8px;
}

.chkbox1 table tr td input+label::before {
  width: 21px;
  height: 21px;
  margin-top: -3px;
}

.width-50 {
  width: 50% !important;
}

table td {
  padding: 4px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}


/* Feedback */
.feedbackModal {
  border-radius: 10px;
}

.feedbackModal .modal-lg {
  max-width: 612px;
}

.feedbackModal .modal-lg .modal-content {
  border-radius: 10px;
}

.feedbackModal .modal-lg .modal-content .modal-header {
  border-bottom: 0px none;
  display: block;
  position: relative;
}

.feedbackModal .modal-lg .modal-content .modal-header .close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 30px;
}

.feedbackModal .modal-lg .modal-content .modal-header .modal-title {
  color: #9a2424;
  font: 700 22px "Muli", sans-serif;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-check {
  margin-left: 35px;
  margin-right: 35px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-group {
  margin-left: 35px;
  margin-right: 35px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-group textarea.form-control {
  max-width: 600px;
  border-radius: 7px;
  margin: 0px auto;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.34);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.34);
  font: 600 13px "Muli", sans-serif;
  color: #868686;
  height: 80px;
  padding: 15px 20px;
  border: 0px none;
}

.feedbackModal .modal-lg .modal-content .modal-body form label {
  font: 600 14px "Muli", sans-serif;
  color: #1a1a1a;
  padding-left: 7px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-check-input {
  margin-top: 7px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-check-input~.form-check-label {
  color: red;
}

.feedbackModal .modal-lg .modal-content .modal-body button {
  font: 700 14px "Muli", sans-serif;
}


.logoff {
  padding-left: 17px;
  margin: 19px 0;
  display: inline-block;
  color: #fff;
  font: 400 14px "Muli", sans-serif;
  vertical-align: top;
  cursor: pointer;
}

/* //  Ui/ux changes by monika for mac*/
@media (min-width: 1440px) {
  .nysa_sidebar .nysa_sidebar_content .topmargine {
    margin: 70px 0px;
 }
  /* .mainsec .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu {
    margin: 0px 47px;
 } */
 .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu {
  margin: 0px 47px;
}
}
