.formsec {
  padding: 80px 15px 30px;
  position: relative;
  z-index: 1;
}

.formsec .formdiv {
  width: 475px;
  padding: 30px 50px;
  border: solid 1px #eaeaea;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.formsec .formdiv h2 {
  margin: 0 0 15px;
  color: #00305b;
  font: 400 30px "Muli", sans-serif;
}

.formsec .formdiv .input-field {
  position: relative;
  overflow: hidden;
}

.formsec .formdiv .input-field input,
.formsec .formdiv .input-field select {
  padding-left: 0;
  border: 0;
  border-bottom: 1px solid #DBDBDB;
  margin-top: 20px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: transparent;
  box-shadow: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
  -moz-box-shadow: 0 0 0 0 !important;
  color: #000;
  font: 400 18px "Muli", sans-serif;
}

.formsec .formdiv .input-field input:disabled,
.formsec .formdiv .input-field select:disabled {
  border-bottom: 0;
  background-color: transparent;
}

.formsec .formdiv .input-field label {
  margin: 0;
  position: absolute;
  top: 25px;
  left: 0;
  color: #d6d6d6;
  cursor: text;
  font: 400 18px "Muli", sans-serif;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.formsec .formdiv .input-field::after {
  content: '';
  width: 10px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #fe6625;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  visibility: hidden;
}

.formsec .formdiv .input-field.focused label {
  top: 2px;
  left: 0;
  color: #555;
  font-size: 16px;
}

.formsec .formdiv .input-field.focused::after {
  width: 100%;
  left: 0;
  visibility: visible;
}

.formsec .formdiv .input-field.focused.disabled::after {
  display: none;
}

.btn-margin {
  margin-top: 1.5rem;
}

@media screen and (max-width: 768px) {
  .formsec .formdiv {
    width: 100%;
    padding: 30px;
  }

  .formsec .formdiv h2 {
    font: 400 25px "Muli", sans-serif;
  }

  .formsec .formdiv .input-field label {
    top: 40px;
    font: 400 14px "Muli", sans-serif;
  }

  .formsec .formdiv .input-field.focused label {
    font-size: 14px;
  }

  .cstmbtn {
    min-width: 44%;
    padding: 12px 20px;
  }

  .btn-margin {
    margin-top: 2.5rem;
  }
}

@media (max-width: 575px) {
  .cstmbtn {
    min-width: 44%;
    padding: 12px 20px;
  }
}
