<div class="innerdiv">
  <h3>{{'RegistrationPage.SAVQUO' | translate }}</h3>
  <div class="fieldsdiv">
    <div class="breakindiv">
      <div class="row">
        <!-- From Date -->
        <div class="col-sm-6 form-group">
          <label class="form-label" for="savefromdate">{{'RegistrationPage.FromDate' | translate }}<sup
              class="star">*</sup></label><br>
          <input id="savefromdate" matInput [matDatepicker]="picker10" placeholder="DD/MM/YYYY" name="savefromdate"
            readonly="true" [min]="memminDOB" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingpayment.FromDate"
            class="form-control dob" (click)="picker10.open()" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker10" class="matCustomCalicon"></mat-datepicker-toggle> -->
          <mat-datepicker #picker10></mat-datepicker>
        </div>
        <!-- To Date -->
        <div class="col-sm-6 form-group">
          <label class="form-label" for="savetodate">{{'RegistrationPage.ToDate' | translate }}<sup
              class="star">*</sup></label><br>
          <input id="savetodate" matInput [matDatepicker]="picker11" placeholder="DD/MM/YYYY" name="savetodate"
            readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingpayment.ToDate" class="form-control dob"
            (click)="picker11.open()" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker11" class="matCustomCalicon"></mat-datepicker-toggle> -->
          <mat-datepicker #picker11></mat-datepicker>
        </div>
        <!-- Vehicle Type -->
        <div class="col-md-12 form-group">
          <label>{{'RegistrationPage.VEHICLETYPE' | translate }}</label>
          <ul class="radioul" (change)="vehicletype($event)">
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="savedselectVehicle_twoWheeler" name="savedquotes" checked />
                    <label for="savedselectVehicle_twoWheeler">{{'InputKey.2WH' | translate }}</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- <li>
            <table class="radio1">
              <tr>
                <td>
                  <input type="radio" id="savedselectVehicle_twoWheelerOD" name="savedquotes" />
                  <label for="savedselectVehicle_twoWheelerOD">2 Wheeler OD</label>
                </td>
              </tr>
            </table>
          </li> -->

            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="savedselectVehicle_fourWheeler" name="savedquotes" />
                    <label for="savedselectVehicle_fourWheeler">{{'InputKey.4WH' | translate }}</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- <li>
            <table class="radio1">
              <tr>
                <td>
                  <input type="radio" id="savedselectVehicle_fourWheelerOD" name="savedquotes" />
                  <label for="savedselectVehicle_fourWheelerOD">4 Wheeler OD</label>
                </td>
              </tr>
            </table>
          </li> -->


            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="savedselectVehicle_twoWheelerTP" name="savedquotes" />
                    <label for="savedselectVehicle_twoWheelerTP">2 Wheeler TP</label>
                  </td>
                </tr>
              </table>
            </li>

            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="savedselectVehicle_fourWheelerTP" name="savedquotes" />
                    <label for="savedselectVehicle_fourWheelerTP">4 Wheeler TP</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- All Risk Electric Bike -->
            <li *ngIf="IsPOSTransaction_flag == false">
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="savedselectVehicle_allriskElectricBike" name="savedquotes" />
                    <label for="savedselectVehicle_allriskElectricBike">Electric Bike</label>
                  </td>
                </tr>
              </table>
            </li>

          </ul>

          <div class="text-center mt-3">
            <button type="button" id="get_quote" (click)="validate()" class="cstmbtn" tabindex="9">
              <span *ngIf="spinloader == false">Get Proposal</span>
              <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>

        </div>

      </div>
      <div class="row" style="left: 20px;" *ngIf="norecordflag == true">
        <label class="norecord">No Records Found</label>
      </div>
      <div class="row" *ngIf="norecordflag == false">
        <!-- Search -->
        <div class="panel-group" *ngIf="savedQuote" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="col-md-6 col-lg-6 col-12 form-group">
            <label>{{'RegistrationPage.SEARCHPEN' | translate }}</label>
            <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term"
              placeholder="{{'RegistrationPage.SEARCHPEN' | translate }}" tabindex="2">
          </div>
          <!-- Policy List -->

          <div class="tablediv">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="align-middle">Proposal number</th>
                    <th scope="col" class="align-middle">Policy Start Date</th>
                    <th scope="col" class="align-middle">Policy End Date</th>
                    <th scope="col" class="align-middle">Transaction Type</th>
                    <th scope="col" class="align-middle">Premium Amount</th>
                    <th class="align-middle">Convert</th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="let data of savedQuote | filter:term | paginate: { id:'saveQuotePage', itemsPerPage: 10, currentPage: page }">
                  <!-- <tr [id]="'heading'+data.id">
                    <th class="align-middle">{{data.policyNo}}</th>
                    <td class="align-middle">{{data.policyStartDate}}</td>
                    <td class="align-middle">{{data.policyEndDate}}</td>
                    <td class="align-middle">{{data.transactionType}}</td>
                    <td class="align-middle">₹ {{data.totalPremium}}</td>
                    <td>
                      <button type="button" id="convert_quote" (click)="convertQuote(data)" class="cstmbtn"
                        tabindex="9">Convert</button>
                    </td>
                  </tr> -->
                  <tr [id]="'heading'+data.id" *ngIf="data">
                    <th class="align-middle">{{data.policyNo ? data.policyNo : data.allRisk.policyNo}}</th>
                    <td class="align-middle">{{data.policyStartDate ? data.policyStartDate : data.allRisk.policyStartDate}}</td>
                    <td class="align-middle">{{data.policyEndDate ? data.policyEndDate : data.allRisk.policyEndDate}}</td>
                    <td class="align-middle">{{data.transactionType ? data.transactionType : data.allRisk.transactionType}}</td>
                    <td class="align-middle" *ngIf="data.scpa == null && data.allRisk == null && data.totalPremium != null">₹ {{data.totalPremium ? data.totalPremium : totalAmount}}</td>
                    <td class="align-middle" *ngIf="data.scpa != null">₹ {{+data.allRisk.totalPremium + +data.scpa.totalPremium}}</td>
                    <td class="align-middle" *ngIf="data.scpa == null && data.allRisk != null">₹ {{data.allRisk.totalPremium}}</td>
                    <td>
                      <button type="button" id="convert_quote" (click)="convertQuote(data)" class="cstmbtn"
                        tabindex="9">Convert</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <br>

          <!-- Pagination -->
          <div class="text-center row">
            <pagination-controls id='saveQuotePage' (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
