<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<section class="container-fluid mainsec">
  <div class="row">
    <div class="container">
      <div class="innerdiv congratsdiv">
        <table>
          <tr>
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }}!</h5>
              <span>Your Nysa Insurance Policy is Ready</span>
            </th>
          </tr>
          <tr>
            <td colspan="3">
              <ul>
                <li>{{'PaymentPage.premPaid' | translate }}</li>
                <li class="text-right">
                  <strong>₹ {{PFPayReq.PaymentEntry.onlineDAEntry.PaymentAmount}}</strong>
                </li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <label>{{'PaymentPage.policyno' | translate }}</label>
              <span>{{PFPayRes.paymentTagResponse.paymentTagResponseList[0].policyNo}}</span>
            </td>
            <td>
              <label>{{'PaymentPage.propno' | translate }}</label>
              <span>{{PFPayReq.PaymentTagging.customerProposal[0].ProposalNo}}</span>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <label>{{'PaymentPage.download' | translate }}</label>
              <a (click)="showPolicy()" id="buypol" class="download" title="Download"></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</section>
