<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>

<section class="container-fluid mainsec" style="padding-top:60px">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="proposalContainer mt-4">
        <div class="innerdiv equal">

          <!-- Proposal / Final Premium -->
          <div class="ttlpremdiv">

            <table>
              <tbody>
                <tr>
                  <td class="text-center"
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <label>{{'PaymentPage.propno' | translate }} </label>
                    <strong>{{proposalNos}}</strong>
                  </td>
                  <td
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <div class="text-center">{{'PaymentPage.premamnt' | translate }}</div>
                    <span class="mt-2 text-center"
                      style="background: none;color: #104d84;font-size: 20px;padding: 0px;">₹ {{totalAmount}}</span>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>

          <div class="ttlpremdiv mt-2">
            <table>
              <tbody>
                <tr>
                  <td class="text-left">
                    {{'Payment.LombardPay' | translate }}
                    <span class="mt-2 text-center">₹ {{lombardpaybalance}}</span>
                  </td>
                  <td>
                    <button type="button" style="margin-right: 10px;" id="addwallet" data-toggle="modal"
                      data-target="#myModalmoney" class="cstmbtn mt-4">{{'Payment.AddMoney' | translate }}</button>
                    <button type="button" (click)="payWalletAmount()" id="paylombard"
                      class="cstmbtn mt-4">{{'Payment.Paynow' | translate }}</button>
                    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open
                      Modal</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="paymentmode mt-4">
            <h5 class="text-center">Payment Mode</h5>
            <ul>
              <!-- Wallet -->
              <li style="cursor: pointer;">
                <a (click)="customerData('wallet')" title="Wallet">
                  <div>
                    <img src="assets/images/images/wallet.png" alt="Wallet">
                  </div>
                  <span>{{'Payment.Wallet' | translate }}</span>
                </a>
              </li>
              <!-- Credit Card -->
              <li style="cursor: pointer;">
                <a (click)="customerData('card')" title="Credit Card">
                  <div>
                    <img src="assets/images/images/credit-card.png" alt="Credit Card">
                  </div>
                  <span>{{'Payment.CreditCrd' | translate }}</span>
                </a>
              </li>
              <!-- Debit card -->
              <li style="cursor: pointer;">
                <a (click)="customerData('card')" title="Debit Card">
                  <div>
                    <img src="assets/images/images/debit-card.png" alt="Debit Card">
                  </div>
                  <span>{{'Payment.DebitCrd' | translate }}</span>
                </a>
              </li>
              <!-- Net Banking -->
              <li style="cursor: pointer;">
                <a (click)="customerData('netbanking')" title="Net Banking">
                  <div>
                    <img src="assets/images/images/net-banking.png" alt="Net Banking">
                  </div>
                  <span>{{'Payment.netbanking' | translate }}</span>
                </a>
              </li>
              <!-- UPI -->
              <li style="cursor: pointer;">
                <a (click)="customerData('upi')" title="UPI">
                  <div>
                    <img src="assets/images/images/bhim.png" alt="UPI">
                  </div>
                  <span>{{'Payment.UPI' | translate }}</span>
                </a>
              </li>
            </ul>

          </div>



        </div>
      </div>
    </div>
  </div>
</section>


<!-- Add Money  -->
<div class="modal fade" id="myModalmoney">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Enter Amount to Load wallet</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <section class="container-fluid mainsec">
          <div class="fieldsdiv">
            <div class="row">
              <!-- Name -->
              <div class=" form-group">
                <label>Enter Amount (in ₹)*</label>
                <input type="text" (keypress)="numberOnly($event)" maxlength="10" id="amountadd" name="amountadd"
                  [(ngModel)]="paymentDetails.amount" class="form-control" placeholder="Enter amount">
              </div>
            </div>
          </div>

        </section>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="modal-trans" data-dismiss="modal">{{'Buttons.CLOSE' | translate }}</button>
          <button type="button" class="modal-btn" (click)="addmoney()" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
