<app-header></app-header>
<app-breadcrumbs [productInput]="productCode"></app-breadcrumbs>
<section class="container-fluid mainsec" style="padding-top:20px; padding-bottom: 20px;" *ngIf="isSiteDown">
  <div class="row">
    <div class="container myBreakInContainer">
      <h3 style="color: red!important;">
        <marquee width="100%">Planned Downtime Alert: Our system will be under maintenance from 1AM Jan 8, 2022 to 8 AM
          Jan,2022. iPartner Retail & Corporate, NYSA, Mobile App, Dashboards and MyRA will not be available for login,
          quote or policy issuance during this period</marquee>
      </h3>
    </div>
  </div>
</section>
<section class="container-fluid mainsec" style="padding-top:60px">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="tabpane">
        <div class="tab-content">
          <div id="breakin" class="tab-pane fade active show">
            <div class="innerdiv">
              <h3>Create Break In </h3>
              <div class="fieldsdiv">
                <div class="row no-margin">
                  <div class="col-sm-12 no-padding mt-2 createBreakIn">
                    <h3>Vehicle Details</h3>
                    <div class="fieldsdiv">
                      <div class="row">
                        <div class="col-sm-4 form-group">
                          <label>Vehicle Registration Number*</label>
                          <input type="text" id="txtreg" [(ngModel)]="RegistrationNumber" #regNo
                            (change)="validatereg($event)" maxlength="15"
                            onkeypress="return /^[a-zA-Z0-9]+$/i.test(event.key)" class="form-control"
                            oninput="this.value = this.value.toUpperCase()"
                            placeholder="{{'InputKey.ENNUM' | translate }}">
                        </div>
                        <div class="col-sm-4 form-group" *ngIf="showVehicleType">
                          <label>Vehicle Type*</label>
                          <select class="form-control" [(ngModel)]="VehcleType" placeholder="Type of Vehicle"
                            (change)="getManualData($event)">
                            <option value="">Select Type of Vehicle</option>
                            <option value="TW">Two Wheeler</option>
                            <option value="FW">Four Wheeler</option>
                          </select>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Vehicle RTO City*</label>
                          <input [matAutocomplete]="auto" type="text" onkeypress="return /^[a-zA-Z]+$/i.test(event.key)"
                            [(ngModel)]="RTOCity" class="form-control" placeholder="Vehicle RTO City"
                            (input)="getRTOList($event)">
                          <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let rto of rtoList" [value]="rto.rtO_LOCATION_DESC">
                              {{rto.rtO_LOCATION_DESC}}
                            </mat-option>
                          </mat-autocomplete>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Manufacturer*</label>
                          <input [matAutocomplete]="auto1" type="text" [(ngModel)]="Manufacturer" class="form-control"
                            placeholder="Manufacturer" (input)="getManuModList($event)">
                          <mat-autocomplete #auto1="matAutocomplete">
                            <mat-option *ngFor="let manu of uniqueManufacture" [value]="manu">
                              {{manu}}
                            </mat-option>
                          </mat-autocomplete>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Model*</label>
                          <input [matAutocomplete]="auto2" type="text" [(ngModel)]="Model" class="form-control"
                            placeholder="Model" (ngModelChange)="getModel(Model)">
                          <mat-autocomplete #auto2="matAutocomplete">
                            <mat-option *ngFor="let model of manuModelList" [value]="model">
                              {{model.vehiclemodel}}
                            </mat-option>
                          </mat-autocomplete>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Engine Number*</label>
                          <input type="text" class="form-control" [(ngModel)]="EngineNo"
                            onkeypress="return /^[a-zA-Z0-9]+$/i.test(event.key)"
                            oninput="this.value = this.value.toUpperCase()" placeholder="Engine Number"
                            (change)="validateEng($event)">
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Chassis Number*</label>
                          <input type="text" class="form-control" [(ngModel)]="ChassisNo"
                            onkeypress="return /^[a-zA-Z0-9]+$/i.test(event.key)"
                            oninput="this.value = this.value.toUpperCase()" placeholder="Chassis Number"
                            (change)="validateChassis($event)">
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Vehicle Manufacture Year*</label>
                          <select class="form-control" [(ngModel)]="ManufacturYear"
                            placeholder="Vehicle Manufacture Year">
                            <option>Select</option>
                            <option value="{{ManufacturYear - 4 }}">{{ManufacturYear - 4 }}</option>
                            <option value="{{ManufacturYear - 3 }}">{{ManufacturYear - 3 }}</option>
                            <option value="{{ManufacturYear - 2 }}">{{ManufacturYear - 2 }}</option>
                            <option value="{{ManufacturYear - 1 }}">{{ManufacturYear - 1 }}</option>
                            <option value="{{ManufacturYear}}">{{ManufacturYear }}</option>
                          </select>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Sublocations*</label>
                          <input [matAutocomplete]="auto4" type="text" [(ngModel)]="sublocation" class="form-control"
                            placeholder="Sublocation" (input)="getSubLocationCity($event)">
                          <mat-autocomplete #auto4="matAutocomplete">
                            <mat-option *ngFor="let sub of sublocations" [value]="sub.cityName">
                              {{sub.cityName}}
                            </mat-option>
                          </mat-autocomplete>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Claim Made on Previous Policy*</label>
                          <select class="form-control" [(ngModel)]="PreviousPolClaim"
                            placeholder="Claim Made on Previous Policy" (change)="showNCB($event)">
                            <option>Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </div>
                        <div class="col-sm-4 form-group" *ngIf="IsNCBSow">
                          <label>NCB% on Previous Policy*</label>
                          <select class="form-control" [(ngModel)]="PreviousNCB" placeholder="NCB% on Previous Policy">
                            <option value="" disabled selected>NCB% on Previous Policy</option>
                            <option value="0">0%</option>
                            <option value="20">20%</option>
                            <option value="25">25%</option>
                            <option value="35">35%</option>
                            <option value="45">45%</option>
                            <option value="50">50%</option>
                          </select>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Type of Break-In*</label>
                          <select class="form-control" [(ngModel)]="TypeofBreakIN" placeholder="Type of Break-In">
                            <option>Select</option>
                            <option value="Break in - cheque bounce">Break in - cheque bounce</option>
                            <option value="Break in - cover note cancellation">Break in - cover note cancellation
                            </option>
                            <option value="Break-in Policy lapse">Break-in Policy lapse</option>
                            <option value="Break-in Previous policy details not available">Break-in Previous policy
                              details not available</option>
                            <option value="Break-in-For Endorsement">Break-in-For Endorsement</option>
                            <option value="AddOnCoverType">AddOnCoverType</option>
                          </select>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Self Inspection*</label>
                          <select class="form-control" [(ngModel)]="SelfInspection" placeholder="Self Inspection">
                            <option>Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                          </select>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Type of Transaction*</label>
                          <select class="form-control" [(ngModel)]="TypeofTransaction" placeholder="Type of Transaction"
                            (change)="transactionChange($event)">
                            <option>Select</option>
                            <option value="New">New</option>
                            <option value="Rollover">Rollover</option>
                            <option value="Renewal">Renewal</option>
                            <option value="Used">Used</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 no-padding mt-4 createBreakIn">
                    <h3>Customer Details</h3>
                    <div class="fieldsdiv">
                      <div class="row">
                        <div class="col-sm-4 form-group">
                          <label>Customer Name*</label>
                          <input type="text" class="form-control" onkeypress="return /^[a-zA-Z]+$/i.test(event.key)"
                            [(ngModel)]="customerName" placeholder="Customer Name" (change)="nameValidate($event)">
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Customer Primary Contact No*</label>
                          <input #mobNumber="ngModel" type="text" class="form-control" maxlength="10"
                            (keypress)="numberOnly($event)" [(ngModel)]="primMobileNo"
                            placeholder="Customer Primary Contact No" [pattern]="mobNumberPattern"
                            (ngModelChange)="mobileValidate('primMobileNo',primMobileNo)">
                          <div *ngIf="mobNumber.errors" [ngClass]="'error'" style="color:red">
                            <div *ngIf="mobNumber.errors.pattern">
                              Invalid Mobile number
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Customer Alternative Contact No*</label>
                          <input #mobNumber1="ngModel" type="text" class="form-control" maxlength="10"
                            (keypress)="numberOnly($event)" [(ngModel)]="altMobileNo"
                            placeholder="Customer Alternative Contact No" [pattern]="mobNumberPattern"
                            (change)="mobileValidate('altMobileNo',altMobileNo)">
                          <div *ngIf="mobNumber1.errors" [ngClass]="'error'" style="color:red">
                            <div *ngIf="mobNumber1.errors.pattern">
                              Invalid Mobile number
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Vehicle Location Pincode*</label>
                          <input #pincode1="ngModel" type="text" class="form-control" [(ngModel)]="pincode"
                            placeholder="Vehicle Location Pincode" (change)="getPincodeDetails($event)" maxlength="6">
                          <div *ngIf="pincode1.errors" [ngClass]="'error'" style="color:red">
                            <div *ngIf="pincode1.errors.pattern">
                              Pincode is not valid. </div>
                          </div>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>City*</label>
                          <input type="text" class="form-control" [(ngModel)]="city" placeholder="City" disabled>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Vehicle Location Address*</label>
                          <textarea class="form-control text-left" [(ngModel)]="address"
                            placeholder="Vehicle Location Address"
                            onkeypress="return /^[a-zA-Z0-9]+$/i.test(event.key)"></textarea>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Employee Name*</label>
                          <input type="text" class="form-control" [(ngModel)]="EmpName" placeholder="Employee Name"
                            onkeypress="return /^[a-zA-Z]+$/i.test(event.key)" disabled>
                        </div>
                        <div class="col-sm-4 form-group">
                          <label>Employee Id*</label>
                          <input type="text" class="form-control" [(ngModel)]="EmpId" placeholder="Employee Id"
                            onkeypress="return /^[a-zA-Z0-9]+$/i.test(event.key)" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="text-center mt-4">
                      <button type="button" class="cstmbtn" (click)="Validate()">Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
