/* CSS for Datepicker */
.form-input {
  width: 85%;
  height: 35px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  font: 400 18px/18px "Roboto", sans-serif;
  background-color: transparent;
  color: #4b4b4b;
}

.panel-heading {
  width: 100%;
  position: relative;
}


.panel-group {
  width: 100%;
}

.panel-body {
  border-radius: 20px;
  /* background-color: #db6d18; */
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  /* position: relative; */
}

.panelbutton {
  color: #97291e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  /* color: #ffffff; */
  margin-bottom: 0px;
}

.norecord {
  font-size: 18px;
  padding-left: 15px;
}

.form-input {
  width: 60% !important
}
