<div class="innerdiv">
  <h3>{{'RegistrationPage.NYSAPOL' | translate }}</h3>
  <div class="fieldsdiv">
    <div class="breakindiv">
      <div class="row">
        <!-- From Date -->
        <div class="col-sm-6 form-group">
          <label class="form-label" for="polfromdate">{{'RegistrationPage.FromDate' | translate }}<sup
              class="star">*</sup></label><br>
          <input id="polfromdate" matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY" name="polfromdate"
            [max]="memmaxDOB" readonly="true" NoSpecialChar [(ngModel)]="nysapolicyDetails.FromDate"
            class="form-control dob" (click)="picker2.open()" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker2" class="matCustomCalicon"></mat-datepicker-toggle> -->
          <mat-datepicker #picker2></mat-datepicker>
        </div>
        <!-- To Date -->
        <div class="col-sm-6 form-group">
          <label class="form-label" for="poltodate">{{'RegistrationPage.ToDate' | translate }}<sup
              class="star">*</sup></label><br>
          <input id="poltodate" [max]="memmaxDOB" matInput [matDatepicker]="picker3" placeholder="DD/MM/YYYY"
            name="poltodate" readonly="true" NoSpecialChar [(ngModel)]="nysapolicyDetails.ToDate"
            class="form-control dob" (click)="picker3.open()" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker3" class="matCustomCalicon"></mat-datepicker-toggle> -->
          <mat-datepicker #picker3></mat-datepicker>
        </div>
        <!-- Vehicle Type -->
        <div class="col-md-12 form-group">
          <label>{{'RegistrationPage.VEHICLETYPE' | translate }}</label>
          <ul class="radioul" (change)="vehicletype($event)">
            <!-- 2Wheeler -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_twoWheeler" name="selectVehiclepol" checked />
                    <label for="polselectVehicle_twoWheeler">{{'InputKey.2WH' | translate }}</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- 2WheelerOD -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_twoWheelerOD" name="selectVehiclepol" />
                    <label for="polselectVehicle_twoWheelerOD">2 Wheeler OD</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- 4Wheeler -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_fourWheeler" name="selectVehiclepol" />
                    <label for="polselectVehicle_fourWheeler">{{'InputKey.4WH' | translate }}</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- 4WheelerOD -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_fourWheelerOD" name="selectVehiclepol" />
                    <label for="polselectVehicle_fourWheelerOD">4 Wheeler OD</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- 2WTP -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_twoWheelerTP" name="selectVehiclepol" />
                    <label for="polselectVehicle_twoWheelerTP">2 Wheeler TP</label>
                  </td>
                </tr>
              </table>
            </li>
            <!-- 4WTP -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_fourWheelerTP" name="selectVehiclepol" />
                    <label for="polselectVehicle_fourWheelerTP">4 Wheeler TP</label>
                  </td>
                </tr>
              </table>
            </li>
            <!-- All Risk Electric Bike -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_allriskElectricBike" name="selectVehiclepol" />
                    <label for="polselectVehicle_allriskElectricBike">Electric Bike</label>
                  </td>
                </tr>
              </table>
            </li>
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="polselectVehicle_SCPA" name="selectVehiclepol" />
                    <label for="polselectVehicle_SCPA">SCPA</label>
                  </td>
                </tr>
              </table>
            </li>

          </ul>

          <div class="text-center mt-3">
            <button type="button" id="get_quote" (click)="validate()" class="cstmbtn" tabindex="9">
              <span *ngIf="spinpolicyloader == false">{{'Buttons.GETPOLICY' | translate }}</span>
              <span *ngIf="spinpolicyloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>

        </div>



      </div>
      <div class="row" style="left: 20px;" *ngIf="norecordflag == true">
        <label class="norecord">No Records Found</label>
      </div>
      <div class="row" *ngIf="norecordflag == false">
        <!-- Search -->
        <div class="panel-group" *ngIf="nysaPolicy" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="col-md-6 col-lg-6 col-12 form-group">
            <label>{{'RegistrationPage.SEARCH' | translate }}</label>
            <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term"
              placeholder="{{'RegistrationPage.SEARCH' | translate }}" tabindex="2">
          </div>
          <!-- Policy List -->
          <div class="tablediv">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="align-middle">Policy / Covernote number</th>
                    <th scope="col" class="align-middle">Customer Name</th>
                    <th scope="col" class="align-middle">Policy Start Date</th>
                    <th scope="col" class="align-middle">Policy End Date</th>
                    <th scope="col" class="align-middle">Proposal Number</th>
                    <th scope="col" class="align-middle">Policy Status</th>
                    <th scope="col" class="align-middle">Policy PDF</th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="let i = index; let data of nysaPolicy | filter:term | paginate: { id:'myPolicyPage', itemsPerPage: 10, currentPage: page }">
                  <tr [id]="'heading'+data.id">
                    <!-- <th >{{i}}</th> -->
                    <th class="align-middle">{{data.policyNo}}</th>
                    <td class="align-middle">{{data.customerName}}</td>
                    <td class="align-middle">{{data.policyStartDate}}</td>
                    <td class="align-middle">{{data.policyEndDate}}</td>
                    <td class="align-middle">{{data.proposalNo}}</td>
                    <td class="align-middle">{{data.policyStatus}}</td>
                    <td *ngIf="data.policyStatus != 'Covernote' && data.policyStatus != 'Processing'">
                      <!-- <a role="button" (click)="fetch(data)" class="download" title="Download"></a> -->
                      <button (click)="fetch(data)" type="button" class="cstmbtn">
                        <span><i class="fa fa-download" aria-hidden="true"></i></span>
                        <span *ngIf="policyno == data.policyNo && spinloaderpolicy == true"> <i
                            class="fa fa-spinner fa-spin"></i></span>
                      </button>
                      <!-- <a style="cursor: pointer;" (click)="fetch(data)" id="buypol" class="download" title="Download"></a> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <div class="paneldiv1 mt20">
        <div class="panel panel-default" *ngFor="let data of nysaPolicy | filter:term | paginate: { itemsPerPage: 10, currentPage: page }"  >
          <div class="panel-heading" role="tab" [id]="'heading'+data.id">
            <h3 class="panel-title">
             <label>{{'PaymentPage.policyno' | translate }} :</label>
              <a role="button" (click)="fetch(data)" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+data.id" aria-expanded="true" [attr.aria-controls]="'collapse'+data.id">
                 {{data.policyNo}}
              </a>
            </h3><br>
          </div>
          <div [id]="'collapse'+data.id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+data.id">
            <div class="panel-body">
              <div class="row">

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'RegistrationPage.CUSTNAME' | translate }}</label>
                  <input class="form-control" disabled value=" {{data.customerName}}">
                </div>

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'PaymentPage.polstartdate' | translate }}</label>
                  <input class="form-control" disabled value=" {{data.policyStartDate}}">
                </div>

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'PaymentPage.polenddate' | translate }}</label>
                  <input class="form-control" disabled value=" {{data.policyEndDate}}">
                </div>

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'PaymentPage.premamnt' | translate }}</label>
                  <input class="form-control" disabled value=" ₹ {{data.totalPremium}}">
                </div>

              </div>

              <div class="text-center row">
                <div class="col-md-12 col-lg-12 col-12 ">
                  <button type="button" (click)="showPolicy()" id="buypol" class="cstmbtn mt-4">{{'PaymentPage.download' | translate }}</button>
                </div>
              </div>

            </div>
          </div>
        </div>
        </div> -->
          <br>
          <!-- Pagination -->
          <div class="text-center row">
            <pagination-controls id="myPolicyPage" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- <div class="text-center mt-3">
  <button type="button" id="get_quote" (click)="validate()" class="cstmbtn" tabindex="9">{{'Buttons.GETPOLICY' | translate }}</button>
</div> -->
