<div class="innerdiv">
  <h3>{{'RegistrationPage.FAILPAY' | translate }}</h3>
  <div class="fieldsdiv">
    <div class="row">
      <!-- From Date -->
      <div class="col-sm-6 form-group">
        <label class="form-label" for="failfromdate">{{'RegistrationPage.FromDate' | translate }}*</label><br>
        <input id="failfromdate" matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY" name="failfromdate"
          readonly="true" NoSpecialChar [(ngModel)]="nysapolicyDetails.FromDate" class="form-control dob"
          (click)="picker2.open()" required>
        <mat-datepicker #picker2></mat-datepicker>
      </div>
      <!-- To Date -->
      <div class="col-sm-6 form-group">
        <label class="form-label" for="failtodate">{{'RegistrationPage.ToDate' | translate }}*</label><br>
        <input id="failtodate" matInput [matDatepicker]="picker3" placeholder="DD/MM/YYYY" name="failtodate"
          readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="nysapolicyDetails.ToDate"
          class="form-control dob" (click)="picker3.open()" required>
        <mat-datepicker #picker3></mat-datepicker>
      </div>
      <!-- Vehicle Type -->
      <div class="col-md-12 form-group">
        <label>{{'RegistrationPage.VEHICLETYPE' | translate }}</label>
        <ul class="radioul" (change)="vehicletype($event)">
          <li>
            <table class="radio1">
              <tr>
                <td>
                  <input type="radio" id="failedselectVehicle_twoWheeler" name="selectVehiclefail" checked />
                  <label for="failedselectVehicle_twoWheeler">{{'InputKey.2WH' | translate }}</label>
                </td>
              </tr>
            </table>
          </li>
          <li>
            <table class="radio1">
              <tr>
                <td>
                  <input type="radio" id="failedselectVehicle_fourWheeler" name="selectVehiclefail" />
                  <label for="failedselectVehicle_fourWheeler">{{'InputKey.4WH' | translate }}</label>
                </td>
              </tr>
            </table>
          </li>
          <!-- 2WTP -->
          <li>
            <table class="radio1">
              <tr>
                <td>
                  <input type="radio" id="failedselectVehicle_twoWheelerTP" name="selectVehiclefail" />
                  <label for="failedselectVehicle_twoWheelerTP">2 Wheeler TP</label>
                </td>
              </tr>
            </table>
          </li>
          <!-- 4WTP -->
          <li>
            <table class="radio1">
              <tr>
                <td>
                  <input type="radio" id="failedselectVehicle_fourWheelerTP" name="selectVehiclefail" />
                  <label for="failedselectVehicle_fourWheelerTP">4 Wheeler TP</label>
                </td>
              </tr>
            </table>
          </li>

        </ul>
      </div>
    </div>
    <div class="row" style="left: 20px;" *ngIf="norecordflag == true">
      <label class="norecord">No Records Found</label>
    </div>

    <div class="row" *ngIf="norecordflag == false">
      <!-- Search -->
      <div class="panel-group" *ngIf="nysaPolicy" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="col-md-6 col-lg-6 col-12 form-group">
          <label>{{'RegistrationPage.SEARCH' | translate }}</label>
          <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term"
            placeholder="{{'RegistrationPage.SEARCH' | translate }}" tabindex="2">
        </div>
        <!-- Policy List -->
        <div class="paneldiv1 mt20">
          <div class="panel panel-default"
            *ngFor="let data of nysaPolicy | filter:term | paginate: { id:'failedPayPage', itemsPerPage: 10, currentPage: page }">
            <div class="panel-heading" role="tab" [id]="'heading'+data.id">
              <h3 class="panel-title">
                <label>{{'PaymentPage.propno' | translate }} :</label>
                <a role="button" (click)="fetch(data)" data-toggle="collapse" data-parent="#accordion"
                  [href]="'#collapse'+data.id" aria-expanded="true" [attr.aria-controls]="'collapse'+data.id">
                  {{data.policyNo}}
                </a>
              </h3><br>
            </div>
            <div [id]="'collapse'+data.id" class="panel-collapse collapse" role="tabpanel"
              [attr.aria-labelledby]="'heading'+data.id">
              <div class="panel-body">
                <div class="row">
                  <!-- Customer Name -->
                  <div class="col-md-4 col-lg-4 col-12 form-group">
                    <label>{{'RegistrationPage.CUSTNAME' | translate }}</label>
                    <input class="form-control" disabled value=" {{data.customerName}}">
                  </div>
                  <!-- Policy Start Date -->
                  <div class="col-md-4 col-lg-4 col-12 form-group">
                    <label>{{'PaymentPage.polstartdate' | translate }}</label>
                    <input class="form-control" disabled value=" {{data.policyStartDate}}">
                  </div>
                  <!-- Policy End Date -->
                  <div class="col-md-4 col-lg-4 col-12 form-group">
                    <label>{{'PaymentPage.polenddate' | translate }}</label>
                    <input class="form-control" disabled value=" {{data.policyEndDate}}">
                  </div>
                  <!-- Total Premium Paid -->
                  <div class="col-md-4 col-lg-4 col-12 form-group">
                    <label>{{'PaymentPage.premamnt' | translate }}</label>
                    <input class="form-control" disabled value=" ₹ {{data.totalPremium}}">
                  </div>

                </div>
                <!-- Download Policy -->
                <div class="text-center row">
                  <div class="col-md-12 col-lg-12 col-12 ">
                    <button type="button" (click)="payment()" id="buypol" class="cstmbtn mt-4">{{'PaymentPage.retag' |
                      translate }}</button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- Pagination -->
        <div class="text-center row">
          <pagination-controls id='failedPayPage' (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mt-3">
  <button type="button" id="get_quote" (click)="validate()" class="cstmbtn" tabindex="9">{{'Buttons.GETPOLICY' |
    translate }}</button>
</div>
