<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <h1>
        <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
      </h1>
    </div>
  </div>
</header>
<section class="container-fluid loginQCcasesContainer">
  <div class="logindiv text-center">
    <div class="wrapper text-center" style="width: max-content!important;">
      <h2>Welcome to NYSA</h2>
      <div class="innerdiv">
        <form class="fieldsdiv" #loginForm="ngForm" *ngIf="showlogin == true">
          <!-- Username -->
          <div class="form-group" style="text-align:left">
            <input #username="ngModel" name="name" required type="text" [(ngModel)]="login.userID" class="form-control"
              placeholder="Username" autocomplete="username" (input)="validateUsername($event)" />
            <span *ngIf="!isUserNameValid" class="textmsg">Username is required</span>
          </div>


          <!-- Password -->
          <div class="form-group mb-4" style="text-align:left">
            <input #pass="ngModel" id="passType" name="pass" required type="password" [(ngModel)]="login.pwd"
              class="form-control pwd" placeholder="Password" class="fa fa-eye" style="float:left;"
              (input)="validatePass($event)" />
            <a><span class="fa fa-fw fa-eye field-icon p-viewer" (click)="toggleShow()"
                *ngIf="showpass == false"></span></a>
            <a><span class="fa fa-fw fa-eye-slash field-icon p-viewer" (click)="toggleShow()"
                *ngIf="showpass == true"></span></a>
            <span *ngIf="!isPasswordValid" class="textmsg">Password is required</span>
          </div>


          <!-- Submit button -->
          <div class="form-group mb-0 text-center">
            <button (click)="logintoNysa()" type="submit" class="cstmbtn">LOG IN <i class="fa fa-spinner fa-spin" *ngIf="cs.loaderStatus"></i></button>
          </div>
          <div class="form-group mb-4" style="text-align:left">
            <span *ngIf="isLoginError" class="textmsg">{{error}}</span>
            <!-- <span *ngIf="!isPasswordValid && !isUserNameValid" class="textmsg">Login Failed</span> -->
          </div>
          <!-- <div class="text-center">
              <a style="cursor: pointer;" (click)="loginusingOTP()" >Login using OTP</a>
            </div> -->
          <!-- Username -->
          <!-- <div class="form-group" style="text-align:left">
                  <input #username="ngModel" name="name" required type="text" [(ngModel)]="login.userID" class="form-control" placeholder="Username" autocomplete="username" />
                  <span *ngIf="!isUserNameValid" class="textmsg">Username is required</span>
                </div> -->


          <!-- Password -->
          <!-- <div class="form-group mb-4" style="text-align:left">
                  <input #pass="ngModel" name="pass" required type="password" id="passType" [(ngModel)]="login.pwd" class="form-control pwd" placeholder="Password" autocomplete="new-password" class="fa fa-eye" style="float:left;"/>
                  <a><span class="fa fa-fw fa-eye field-icon p-viewer" (click)="toggleShow()" *ngIf="showpass == false" ></span></a>
                  <a><span class="fa fa-fw fa-eye-slash field-icon p-viewer" (click)="toggleShow()" *ngIf="showpass == true"></span></a>
                  <span *ngIf="!isPasswordValid" class="textmsg">Password is required</span>
                </div>  -->


          <!-- Submit button -->

          <!-- <div class="form-group mb-0 text-center">
                  <button (click)="logintoNysa()" type="submit" class="cstmbtn">LOG IN</button>
                </div> -->
          <!-- <div class="text-center">
                  <a style="cursor: pointer;" (click)="loginusingOTP()" >Login using OTP</a>
                </div> -->

        </form>


        <form class="form" #loginForm="ngForm" *ngIf="showlogin == false">
          <div class="innerdiv" style="height: 325px;">
            <!-- Username -->
            <div class="form-group" *ngIf="showOTP == false">
              <input #username="ngModel" name="name" required type="text" [(ngModel)]="login.userID"
                class="form-control" placeholder="Username" />
            </div>

            <div class="text-center" *ngIf="showOTP == false">
              <button (click)="getOTP()" type="submit" class="btn-block">Get OTP</button>
            </div>

            <div class="form-group" *ngIf="showOTP == true">
              <label style="color:#005c9e">Enter the 6-Digit Verification code sent to +91XXXXXX{{lastdigit}}</label>
              <ng-otp-input (onInputChange)="onOtpChange($event)" class="otpinp" [config]="config"></ng-otp-input>
            </div>

            <p *ngIf="showOTP == true">{{timeLeft}} Seconds Left....</p>

            <div class="text-center" *ngIf="showOTP == true">
              <button (click)="validateOTP()" type="submit" class="btn-block">Validate</button>
            </div>

            <div class="text-center">
              <p *ngIf="showOTP == true">Didn't receive the code?</p>
              <a *ngIf="showOTP == true" style="cursor: pointer;" (click)="getOTP()" type="submit"
                class="btn-block">Send code again</a>
              <a style="cursor: pointer;" (click)="loginusingpass()">Login using password</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<img style="width: 100%; height: 100%;" src="assets/images/QC-cases/bg-waves-2560.png">
