::-webkit-input-placeholder {
  color: #bdbbbb !important;
}

::-moz-placeholder {
  color: #e5e5e5 !important;
}

:-ms-input-placeholder {
  color: #e5e5e5 !important;
}

:-moz-placeholder {
  color: #e5e5e5 !important;
}

* {
  outline: 0 !important;
}

html,
body {
  background-color: #f4f5fa;
}

/* body {
    padding-top: 20px !important;
    font-family: "Muli", sans-serif !important;
    overflow-x: hidden;
  } */

/* OTP CSS */

.otp-input[_ngcontent-lfp-c2] {
  width: 35px !important;
  height: 40px !important;
}

/* OTP Ends */

/*Header Starts*/



/*Header Ends*/
.logindiv {
  width: 304px;
  margin: 0 auto;
}

.logindiv h2 {
  margin: 70px 0 15px;
  color: #005c9e;
  font: 600 25px "Muli", sans-serif;
}

.p-viewer {
  z-index: 9999;
  position: relative;
}

.textmsg {
  margin: 70px 33px 15px;
  color: red;
  font: 600 13px "Muli", sans-serif;
}

.logindiv .innerdiv {
  width: 100%;
  height: 250px;
  padding: 25px 15px 20px;
  border: solid 1px #eaeaea;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 147, 233, 0.12);
  -webkit-box-shadow: 0 0 16px 0 rgba(0, 147, 233, 0.12);
  -moz-box-shadow: 0 0 16px 0 rgba(0, 147, 233, 0.12);
}

.logindiv .innerdiv .form-group input {
  height: 37px;
  padding-left: 35px;
  border: 0;
  border-bottom: solid 1px #efefef;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #868686;
  font: 400 14px "Muli", sans-serif;
  width: 300px;
}

.logindiv .innerdiv .form-group input[type=text] {
  background: url(../../../assets/images/user.png) no-repeat 10px center;
}

.logindiv .innerdiv .form-group input[type=password] {
  /* background: url(./../../../assets/images/password.png) no-repeat 10px center; */
  background: url(../../../assets/images/password.png) no-repeat 10px center;
}

.btn-toggle-pass {
  border: none;
  position: absolute;
  top: 11px;
  background: transparent;
  right: 0;
}

.logindiv .innerdiv .form-group input:focus {
  border-color: #005ea2;
}

.logindiv .innerdiv button {
  padding: 12px 5px;
  border: 0;
  margin-bottom: 16px;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005ea2), to(#00497e));
  background-image: linear-gradient(to bottom, #005ea2, #00497e);
  color: #fff;
  font: 600 16px "Muli", sans-serif;
}

.logindiv .innerdiv button:hover {
  background: #003b6f;
  background: -webkit-gradient(linear, left top, right top, from(#003b6f), to(#357ab7));
  background: linear-gradient(to right, #003b6f 0%, #357ab7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#003b6f', endColorstr='#357ab7', GradientType=1);
  text-decoration: none;
}


.logindiv .innerdiv button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00497e), to(#005ea2));
  background-image: linear-gradient(to bottom, #00497e, #005ea2);
}

.logindiv .innerdiv a {
  color: #a2a2a2;
  font: 400 14px "Muli", sans-serif;
  text-decoration: none;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}

.logindiv .innerdiv a:hover {
  color: #f58220;
}

@media (max-width: 575px) {
  header {
    text-align: center;
  }

  header h1 a {
    width: 140px;
  }

  .logindiv {
    width: 92%;
  }

  .logindiv h2 {
    margin: 60px 0 15px;
  }
}

@media only screen and (max-width: 280px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .logindiv .innerdiv .form-group input {
    width: 175px !important;
  }

  .p-viewer {
    width: 0px;
    margin-right: 8px;
    position: relative;
  }
}

@media only screen and (max-width: 380px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .logindiv .innerdiv .form-group input {
    width: 215px;
  }

  .p-viewer {
    width: 0px;
    margin-right: 8px;
    position: relative;
  }
}

@media only screen and (max-width: 400px) {

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .p-viewer {
    width: 0px;
    margin-right: 8px;
    position: relative;
  }
}

/*# sourceMappingURL=style.css.map */
