$primary_font: 'Muli', sans-serif;

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

::-webkit-input-placeholder {
  color: #bdbbbb !important;
}
::-moz-placeholder {
  color: #e5e5e5 !important;
}
:-ms-input-placeholder {
  color: #e5e5e5 !important;
}
:-moz-placeholder {
  color: #e5e5e5 !important;
}

* {
  outline: 0 !important;
}

body {
  padding-top: 110px;
  font-family: $primary_font !important;
}

/*Header Starts*/

header {
  background-image: linear-gradient(to bottom, #f58220, #b02a30);

  h1 {
    margin: 0;
    display: inline-block;

    a {
      width: 174px;
      height: 36px;
      padding: 0;
      margin: 10px 0;
      display: inline-block;
      background: url(../images/logo.png) no-repeat center center/contain;
      text-indent: -9999px;
      vertical-align: top;
    }
  }

  span {
    padding-left: 17px;
    margin: 19px 0;
    display: inline-block;
    background: url(../images/social.png) no-repeat left center/12px;
    color: #fff;
    font: 400 14px $primary_font;
    vertical-align: top;
  }
}

/*Header Ends*/

.cstmbtn {
  min-width: 140px;
  padding: 10px 20px;
  border: 0;
  margin-bottom: 2px;   
  @include border-radius(30px);
  display: inline-block;
  background: #18548a;
  color: #fff;
  font: 700 16px $primary_font;
  letter-spacing: 1px;
  outline: 0 !important;
  text-decoration: none;
  text-transform: uppercase;
  @include transition(all, 0.2s, ease);
  vertical-align: top;

  &:hover {
    background: #003b6f;
    text-decoration: none;
  }
}

.breadcrumsec {
  padding: 5px 15px;
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: #fff;

  .breadcrumb {
    padding: 6px 0;
    margin: 0;
    background: none;

    li {
      font: 600 14px $primary_font;

      a {
        color: #707070;
        font: 600 14px $primary_font;
        text-decoration: none;
        @include transition(all, 0.2s, linear);

        &:hover {
          color: #1c5c95;
        }
      }

      &.active {
        color: #1c5c95;
      }

      & + li::before {
        content: url(../images/next.png);
      }
    }
  }

  span {
    margin-right: 10px;
    color: #707070;
    font: 400 14px $primary_font;
  }

  select {
    width: 100px;
    height: 30px;
    border: solid 1px #d0d0d0;
    @include border-radius(15px);    
    color: #707070;
    font: 400 13px $primary_font;

    &:focus {
      border: solid 1px #d0d0d0;
      @include box-shadow(0, 0, 0, 0);
    }
  }
}

.mainsec {
  padding: 0 15px 50px;

  .tabpane {
    ul.nav {
      border: solid 1px #eaeaea;
      border-bottom: 0;
      @include border-radius(10px 10px 0 0);
      display: inline-block;
      overflow: hidden;
      vertical-align: top;

      li {
        display: inline-block;

        a {
          min-width: 240px;
          padding: 10px 5px 20px;
          @include border-radius(10px 10px 0 0);
          background-color: #fff;
          color: #1c5c95;
          font: 700 16px $primary_font;
          text-align: center;

          &.active {
            background-color: #1c5c95;
            color: #fff;
          }
        }
      }
    }
  }

  h3 {
    padding: 11px 40px;
    margin: 0;
    @include border-radius(10px);
    background-color: #eaeaea;
    color: #1c5c95;
    font: 700 16px $primary_font;
  }

  .innerdiv {
    padding: 5px;
    border: solid 1px #eaeaea;
    margin-bottom: 15px;
    @include border-radius(10px);
    position: relative;
    top: -8px;
    background-color: #fff;
    @include box-shadow(0, 3px, 6px, 0 rgba(0, 0, 0, 0.2));

    &.equal {
      padding: 10px 15px;
    }

    &.congratsdiv {
      padding: 3px;

      table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 8px;

        tr {
          th {
            padding: 10px;
            @include border-radius(20px);
            background-color: #f0f0f0;            
            text-align: center;
            vertical-align: middle;

            h5 {
              margin: 0;
              color: #1c5c95;
              font: 700 22px $primary_font;            
            }

            span {
              color: #3b3b3b;
              font: 600 16px $primary_font;
            }
          }

          td {
            padding: 13px 24px;
            @include border-radius(10px);
            position: relative;
            background-color: #f7f7f7;
            vertical-align: middle;

            label {
              margin: 0 0 5px;
              display: block;
              color: #939393;
              font: 600 14px $primary_font;
            }

            span {
              color: #282828;
              font: 600 18px $primary_font;
            }

            a.download {
              width: 41px;
              height: 41px;
              @include border-radius(50%);
              position: absolute;
              top: 16px;
              right: 16px;
              background: #1c5c95 url(../images/download.png) no-repeat center center;
              @include box-shadow(0, 3px, 6px, 0 rgba(0, 0, 0, 0.27));
            }

            ul {
              width: 100%;
              padding: 0;
              margin: 0;
              display: table;

              li {
                display: table-cell;
                color: #282828;
                font: 600 18px $primary_font;
                vertical-align: middle;

                strong {
                  color: #4b4b4b;
                  font: 700 27px $primary_font;
                }
              }
            }
          }

          &:nth-child(2) {
            td {
              padding: 5px 24px;
              border: solid 1px rgba(28, 92, 149, 0.4);
            }
          }

          &:last-child {
            td {
              padding: 24px;

              label {
                margin: 0;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }

  .fieldsdiv {
    padding: 20px 30px 0;
    
    .form-group {
      label {
        margin: 0;
        color: #969494;
        font: 400 13px $primary_font;
      }

      .form-control {
        height: 38px;
        padding-left: 0;
        border: 0;
        border-bottom: 1px solid #b6b4b4;
        @include border-radius(0);
        @include box-shadow(0, 0, 0, 0);
        color: #282828;
        font: 600 17px $primary_font;

        &.dob {
          background: url(../images/calendar.png) no-repeat 97% center;
        }

        &:focus {
          border-color: #db6d18;
        }
      }
    }

    ul.radioul {
      padding: 0;
      margin: 5px 0 0;

      li {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .tablediv {
    border: solid 1px #bcbcbc;
    margin: 10px 0 0;
    @include border-radius(8px);
    background-color: #fff;
    overflow: hidden;      

    h4 {
      padding: 9px 20px;
      margin: 0;
      @include border-radius(7px);        
      background-color: #eaeaea;
      color: #4b4b4b;
      font: 600 16px $primary_font;
    }

    table {
      margin: 0;

      tr {
        background-color: #f5f5f5;

        td, th {
          width: 25%;
          padding: .75rem 20px;
          border: 0;
        }

        th {
          color: #848484;
          font: 400 14px $primary_font;

          &:first-child + td {
            border-right: 2px solid #fff;
          }
        }

        td {
          color: #4b4b4b;
          font: 700 14px $primary_font;            
        }
      }

      &.table-striped tbody tr:nth-of-type(odd) {
        background-color: #fff;
      }
    }
  }

  .ttlpremdiv {
    padding: 6px;
    border: solid 1px rgba(28, 92, 149, 0.4);
    @include border-radius(5px);

    table {
      width: 100%;
      margin: 0;

      tr {
        td {                
          color: #282828;
          font: 600 16px $primary_font;
          vertical-align: middle;

          &:first-child {
            width: 50%;   
            padding: 0 23px;
          }

          label {
            display: block;
            color: #939393;
            font: 400 13px $primary_font;
          }

          strong {
            color: #282828;
            font: 600 18px $primary_font;
          }
  
          span {
            padding: 6px;
            @include border-radius(5px);
            display: block;
            background-color: #f0f0f0;
            color: #4b4b4b;
            font: 700 27px $primary_font;
          }
        }
      }
    }

    &.brder {
      border: solid 1px #CEA797;
    }
  }

  .premBreakup {
    margin-bottom: 10px;

    table {
      width: 100%;

      tr {
        td {
          color: #282828;
          font: 600 16px $primary_font;
          vertical-align: middle;

          &:first-child {            
            width: 50%;
            padding: 0 15px;
            color: #1c5c95;
            font: 600 16px $primary_font;
          }
        }
      }
    }
  }

  .plansdiv {
    margin: 30px 0 20px;

    ul {
      padding: 0;
      margin: 0 -4px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style-type: none;

      li {
        width: 23%;
        margin: 0 4px;

        .plan {
          height: 100%;
          border: solid 1px #e5e5e5;
          @include border-radius(10px);
          position: relative;
          background-color: #fff;

          .title {
            @include border-radius(10px 10px 0 0);
            overflow: hidden;

            table {
              width: 100%;
              background-color: #e2e2e2;

              tr {
                td {
                  padding: 6px;
                  color: #000;
                  font: 600 13px $primary_font;
                  vertical-align: middle;
  
                  span {
                    padding: 5px 8px;
                    @include border-radius(5px);
                    display: inline-block;
                    background-color: #fff;
                    color: #707070;
                    font: 700 10px $primary_font;
                    vertical-align: middle;
                  }
  
                  &:first-child {
                    padding-left: 15px;
                  }
  
                  &:last-child {
                    text-align: right;
                  }
                }
              }
            }           
          }

          .contdiv {
            padding: 10px 10px 20px;
          }

          h2 {
            margin: 5px 0 15px;
            color: #383838;
            font: 600 26px $primary_font;
            text-align: center;
          }

          .covers {
            width: 100%;
            margin-bottom: 25px;

            tr {
              th {
                padding: 0 23px 13px;
                color: #383838;
                font: 600 11px $primary_font;
              }

              td {
                padding: 7px 4px;
                border-bottom: solid 1px rgba(112, 112, 112, 0.15);
                color: #383838;
                font: 700 10px $primary_font;

                &:first-child {
                  border-bottom: 1px solid transparent;
                }

                &:last-child {
                  text-align: right;
                }
              }

              &:last-child td {
                border-bottom: 0;
              }
            }
          }

          .buynow {
            padding: 8px 20px;
            border: 0;
            @include border-radius(30px);
            position: absolute;
            bottom: -16px;
            left: 50%;
            background-color: #646464;
            color: #fff;
            font: 700 13px $primary_font;
            @include transition(all, 0.2s, ease-in);
            @include transform(translateX(-50%));

            &:active {
              background-color: #505050;
            }
          }

          &.recomended {
            border: solid 1px #db6d18;

            .title table {
              background-image: linear-gradient(99deg, #f48020 2%, #b12b2f 100%);

              tr {
                td {
                  color: #fff;

                  span {
                    color: #18548a;
                  }
                }
              }
            }

            .buynow {
              background-color: #18548a;

              &:active {
                background-color: #10385d;
              }
            }
          }
        }

        .netPremium {
          height: 100%;
          padding-bottom: 75px;
          border: solid 1px #c1e4ff;
          @include border-radius(10px);
          position: relative;
          background-color: #e8f2ff;

          table {
            width: 100%;

            tr {
              th {
                padding: 16px 17px 10px;
                font: 700 14px $primary_font;
              }

              td {
                padding: 7px 17px;
                color: #a2a2a2;
                font: 600 11px $primary_font;

                &:last-child {
                  color: #383838;
                  text-align: right;
                }
              }
            }
          }

          hr {
            border-color: #d9efff;
            margin-bottom: 0;
          }

          .ttlprem {
            width: 96%;
            margin: 0 auto;
            @include border-radius(7px);
            position: absolute;
            bottom: 6px;
            left: 50%;
            background-color: #fff;
            @include transform(translateX(-50%));

            table {
              tr {
                th, td {
                  padding: 10px 14px;
                }

                th {
                  color: #383838;
                  font: 700 12px $primary_font;

                  small {
                    margin-top: 2px;
                    display: block;
                    color: #b7b7b7;
                    font: 600 11px $primary_font;
                  }
                }

                td {
                  width: 106px;
                  color: #282828;
                  font: 700 20px $primary_font;
                }
              }
            }
          }
        }

        &.quote {
          width: 70.5%;          

          .insidediv {
            height: 92%;
            padding: 5px;
            border: solid 1px #eaeaea;
            @include border-radius(10px);
            background-color: #ffff;

            p {
              font: 400 13px $primary_font;
            }
          }

          h4 {
            padding: 11px 18px;
            margin: 0 0 3px;
            @include border-radius(10px);
            background-color: #eaeaea;
            color: #1c5c95;
            font: 700 16px $primary_font;
          }

          .quotePrem {            
            border: solid 1px rgba(196, 196, 196, 0.51);
            margin-bottom: 12px;
            @include border-radius(10px);

            table {
              width: 100%;

              tr {
                th {
                  padding: 11px 18px;
                  color: #282828;
                  font: 400 16px $primary_font;
                }
  
                td {
                  padding: 11px 18px;
                  color: #4b4b4b;
                  font: 600 24px $primary_font;
                  text-align: right;
                }
              }
            }            
          }
        }

        &:last-child {
          width: 28%;
        }

        &.netPremiumli {
          .netPremium {
            height: 92%;
          }
        }
      }
    }

    .customize {
      width: 71%;
      padding: 15px 15px;
      border: solid 1px #d6d6d6;
      margin-top: 35px;
      @include border-radius(10px);
      background-color: #fff;
      text-align: center;

      span {
        color: #383838;
        font: 500 13px $primary_font;

        a {
          color: #18548a;
          font-weight: 700;
        }
      }
    }
  }

  .paymentmode {
    h5 {
      padding: 0 22px;
      margin: 0 0 10px;
      color: #3b3b3b;
      font: 600 15px $primary_font;
    }
  
    ul {
      padding-left: 0;
      margin: 0;
      text-align: center;
  
      li {
        margin: 15px;
        display: inline-block;
        vertical-align: top;
  
        a {
          display: inline-block;
          text-decoration: none;
  
          div {
            width: 75px;
            height: 75px;
            border: solid 1px #d0d0d0;
            margin: 0 auto;
            @include border-radius(10px);
            position: relative;
            background-color: #ffffff;
            @include box-shadow(0, 3px, 6px, 0 rgba(0, 0, 0, 0.30));
            @include transition(box-shadow, 0.3s, linear);
  
            img {
              position: absolute;
              top: 50%;
              left: 50%;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
            }
          }
  
          span {
            margin-top: 12px;
            display: inline-block;
            color: #6e6e6e;
            font: 600 14px $primary_font;
            @include transition(all, 0.2s, linear);
          }
  
          &:hover {
            outline: 0 !important;
  
            span {
              color: #881717;
            }
  
            div {
              @include box-shadow(0, 3px, 6px, 0 rgba(0, 0, 0, 0.30));
            }          
          }
        }
      }
    }
  }
}

.radio1 {
  tr {
    td {
      padding-right: 20px;
      vertical-align: middle;

      input {
        display: none;

        &:checked + label::before {
          background-color: #1c5c95;
          @include box-shadow(inset 0, 0, 0, 4px #fff);
        }
      }
    
      label {
        margin: 0 !important;
        color: #343434 !important;
        cursor: pointer;
        font: 400 16px $primary_font !important;

        &::before {
          content: '';
          width: 20px;
          height: 20px;
          border: 1px solid #bebebe;
          margin-right: 7px;
          @include border-radius(50%);
          display: inline-block;
          background-color: #fff;
          vertical-align: middle;
          @include transition(all, 0.2s, linear);
        }
      }
    }
  }  
}

.horiChkbox {
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
  }
}

.chkbox1 {
  table {
    display: inline-table;

    tr {
      td {
        vertical-align: top;

        input {
          display: none;

          & + label {
            &::before {
              content: '';
              width: 23px;
              height: 23px;
              border: solid 1px #ccc;
              margin-right: 3px;
              display: inline-block;
              background-color: #ffffff;
              vertical-align: top;
            }
          }

          &:checked + label::before {
            background: #1c5c95 url(../images/tick.png) no-repeat center center;
          }
        }

        label {
          margin: 0;
          color: #000;
          cursor: pointer;
          font: 400 13px $primary_font;

          a {
            color: #606060;
          }
        }

        span {
          display: block;
          color: #000;
          font: 600 14px $primary_font;
        }
      }
    }
  }
}

aside {
  position: fixed;
  top: 50%;
  left: -86px;
  z-index: 100;
  @include transform(translateY(-50%));
  @include transition(all, 0.3s, ease-in);

  .innerdiv {
    width: 86px;
    border: solid 1px rgba(247, 130, 0, 0.4);
    @include border-radius(0 5px 5px 0);
    position: relative;
    background-color: #fff;
    @include box-shadow(0, 1px, 2px, 0 rgba(0, 0, 0, 0.33));

    ul {
      padding: 12px 0;
      margin: 0;
      list-style-type: none;
      text-align: center;

      li {
        margin-bottom: 25px;

        .cstmlnk {
          display: block;
          text-decoration: none;

          &:hover span  {
            color: #f58220;
          }
        }

        span {
          margin: 3px 0 2px;
          display: block;
          color: #626262;
          font: 700 10px $primary_font;
        }

        .lnks {
          width: 100%;
          display: table;

          a {
            padding: 0 5px;
            width: 50%;
            display: table-cell;
            color: #1c5c95;
            font: 400 10px/10px $primary_font;
            text-decoration: none;

            &:last-child {
              border-left: 1px solid #1c5c95;
            }

            &:hover {
              color: #f58220;
            }
          }
        }
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    #expand {
      width: 13px;
      height: 20px;
      @include border-radius(0 5px 5px 0);
      position: absolute;
      top: 50%;
      right: -13px;
      background: #f78200 url(../images/expand.png) no-repeat center center/8px;
      @include transform(translateY(-50%));
    }
  }

  &.active {
    left: 0;

    .innerdiv #expand {
      background: #f78200 url(../images/collapse.png) no-repeat center center/8px;
    }
  }
}

#emiProt_modal {
  .modal-content {
    padding: 25px 35px;
    @include border-radius(10px);
    position: relative;

    .modal-header {
      padding: 0;
      border: 0;
      margin-bottom: 15px;

      h5 {
        color: #00305b;
        font: 600 21px $primary_font;
      }

      .close {
        padding: 0;
        font-size: 2.5rem;
        font-weight: 400;
      }
    }

    .modal-body {
      padding: 0;
    }
  }
}

@media (min-width:576px) {
  #emiProt_modal .modal-sm {
    max-width: 390px;
  }
}

@media (max-width:1199px) {
  .mainsec .plansdiv ul li:last-child {
    width: 27%;
  }
}

@media (max-width:991px) {
  .mainsec .plansdiv {
    ul li {
      width: 32.1%;

      &.quote {
        width: 100%;

        .insidediv {
          height: auto;
        }
      }
  
      &:last-child {
        width: 100%;
        margin-top: 30px;
      }

      &.netPremiumli {
        .netPremium {
          height: auto;
        }
      }
    }

    .customize {
      width: 100%;
      margin-top: 20px;
    }
  }
}

@media (max-width:767px) {
  .mainsec {
    .premBreakup {
      table {
        width: 100%;
  
        tr {
          td {
            display: block;
            text-align: center;
  
            &:first-child {            
              width: auto;
              margin-bottom: 10px;
            }

            &:last-child {
              margin-top: 5px;
            }
          }
        }
      }
    }

    .innerdiv {
      &.congratsdiv {
        padding: 12px;
    
        table {
          border-spacing: 0;
      
          tr {
            td {
              width: 100%;
              margin-top: 8px;
              display: block;          
            }
          }
        }
      }
    }

    .plansdiv ul li {
      width: 48.4%;
      margin: 0 4px 35px;
  
      &:last-child {
        width: 48.4%;
        margin: 0 4px 35px;
      }

      &.quote {
        margin-bottom: 4px;
      }

      &.netPremiumli {
        width: 100%;
        margin-top: 4px;
      }
    }
  }
}

@media (max-width:575px) {
  header {
    h1 {
      a {
        width: 140px;
      }
    }
  }

  .cstmbtn {
    min-width: 100%;
    padding: 12px 20px;
    font-size: 12px;
  }

  .breadcrumsec {
    .breadcrumb {
      padding: 9px 0 0;
  
      li {
        font-size: 12px;
  
        a {
          font-size: 12px;
        }
  
        & + li {
          padding-left: 2px;
  
          &::before {
            padding-right: 2px;
          }
        }
      }
    }

    select {
      width: 100%;
    }
  }

  .mainsec {
    padding: 0 15px 15px;
    
    .tabpane ul.nav li a {
      min-width: auto;
      padding: 10px 15px 20px;
      font-size: 13px;
    }

    .fieldsdiv {
      padding: 15px 15px 0;
    }

    .ttlpremdiv {
      table {
        tr td {
          display: block;
          text-align: center;

          span {
            font-size: 20px;
          }       
  
          &:first-child {
            width: auto;
            padding: 0 5px;
            font-size: 13px;
          }

          &:first-child {
            margin-bottom: 10px;
          }
        }
      }
    }
    
    .paymentmode {
      ul li {
        margin: 10px;
    
        a {
          div {
            width: 60px;
            height: 60px;
          }
  
          span {
            font-size: 12px;
          }
        }
      }
    }

    .innerdiv.congratsdiv table tr {
      th {
        h5 {
          font-size: 20px;
        }

        span {
          font-size: 12px;
        }
      }

      td {
        padding: 13px !important;

        ul li strong {
          font-size: 20px;
        }
      }

      &:last-child {
        td {
          padding: 24px !important;
        }
      }
    }

    .plansdiv {
      margin: 10px 0 20px;

      ul li {
        width: 100%;
        margin: 0 4px 35px;
  
        &:last-child {
          width: 100%;
        }
      }

      .customize {
        margin-top: -10px;
      }
    }
  }
}

/* Break In styles here */
.width100 {
  width: 100% !important;
}
.no-padding {
  padding-left:0px;
  padding-right:0px;
}
.no-margin {
  margin-left:0px;
  margin-right:0px;
}
.no-border {
  border: 0px none;
}
.breadcrumsec {
	.viewMyBreakIn {
		.breadcrumb {
			li {
				&::before {
					content: url(../images/prev.png);
				}
        a {
          color: #1c5c95;
        }
			}
		}
	}
}
.mainsec {
	.myBreakInContainer {
    &.maxWidth100 {
      max-width: 100%;
    }
    
    h3 {
      padding: 12px 20px;
    }
		.tabpane {
			ul {
				&.nav {
          border: solid 1px #969494;
					li {
						a {
							border-left: solid 1px #969494;
							min-width: 180px;
							margin: -2px;
						}
					}
				}
			}
		}
    .tablediv {
			table {
				tr {
					background-color: #fff;
          th {
            background-color: #f8f9fa;
            font: 600 12px "Muli", sans-serif;
          }
          td {
						border-top: 1px solid #dee2e6;
            font: 700 12px "Muli", sans-serif;
            .cstmbtn {
              min-width: auto;
            }
					}
				}
			}
		}
    .fieldsdiv {
      .breakindiv {
        padding: 15px;
    }
			padding: 0px 0px 15px 0px;
      .form-group {
        label {
          color: #282828;
          font: 400 13px "Muli", sans-serif;
        }
        select {
          color: #282828!important;
        }
        input::placeholder {
          color: #282828!important;
        }
        .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: #282828;
          opacity: 1; /* Firefox */
        }
        
        .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
          color: #282828;
        }
        
        .form-control::-ms-input-placeholder { /* Microsoft Edge */
          color: #282828;
        }
      }
		}
    .records {
      float: left;
      font: 400 10px "Muli", sans-serif;
      color: #666;

      em {
        padding-right: 17px;
        display: inline-block;
        background: url(../images/next.png) no-repeat right center/12px;
        font: 400 10px "Muli", sans-serif;
        vertical-align: top;
      }
    }
    .pagination {
      float: right;
      .page-item {
				&.last-icon {
					background: url(../images/next.png) no-repeat right center/12px;
          padding-right: 7px;
				}
        .page-link {
          color: #b2b2b2;
          border: 0px none;
          font: 400 10px "Muli", sans-serif;
        }
			}
      
    }
    .createBreakIn {

      border: 1px solid #ddd;
      border-radius: 10px;

      h3 {
        background-color: #f8f9fa;
        font: 600 14px "Muli", sans-serif;
        color: #848484;
        border-radius: 10px 10px 0px 0px;
        padding:20px ;
      }
      .fieldsdiv {
        padding: 15px;
        textarea {
          height: 60px;
        }
      }
    }
	}
}
.breakin-modal {
  .mainsec {
    padding-bottom: 0px;

    .fieldsdiv {
      padding: 0px 30px 0;
  }
    .tablediv {
			table {
				tr {
					td {
						color: #4b4b4b;
						font: 700 12px "Muli", sans-serif;
						background: #fff;
					}
				}
			}
		}
}
  .modal-footer{
    border:0px none;
    button {
      display: inline-block;
      margin: 0px auto;
    }
  }
}
.cstmbtn {
  min-width: 140px;
  padding: 10px 25px;
  border: 0;
  margin-bottom: 2px;  
  text-transform: capitalize; 
  @include border-radius(30px);
  display: inline-block;
  background: #357ab7;
  background: -moz-linear-gradient(left,  #357ab7 0%, #003b6f 100%);
  background: -webkit-linear-gradient(left,  #357ab7 0%,#003b6f 100%);
  background: linear-gradient(to right,  #357ab7 0%,#003b6f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#357ab7', endColorstr='#003b6f',GradientType=1 );
  @include box-shadow(0, 3px, 3px, 0 rgba(0, 0, 0, 0.25));
  color: #fff;
  font: 600 12px $primary_font;
  outline: 0 !important;
  text-decoration: none;
  @include transition(all, 0.2s, ease);

  &:hover {
    background: #003b6f;
    background: -moz-linear-gradient(left,  #003b6f 0%, #357ab7 100%);
    background: -webkit-linear-gradient(left,  #003b6f 0%,#357ab7 100%);
    background: linear-gradient(to right,  #003b6f 0%,#357ab7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003b6f', endColorstr='#357ab7',GradientType=1 );
    text-decoration: none;
  }
}

/* Break In styles here */

/* Nysa Multi language section starts */
.multiLanguageBox {
	.multiSelectContainer {
		.icon-multiSelect {
			width: 24px;
			height: 20px;
			display: inline-block;
			background: #1c5c95 url(../images/sidebar/multi-language.png) no-repeat center center;
			position: absolute;
			left: -29px;
			top: 1px;
		}
		.customSelect {
			background: #1c5c95;
			display: inline-block;
			border-radius: 6px;
			padding-left: 37px;
			a {
				position: relative;
			}
			select {
				border-radius: 6px;
				border: 1px solid #1c5c95;
			}
		}
		.multiSelectOptions {
			float: right;
			padding-left: 5px;
			a {
				display: inline-block;
				i {
					width: 30px;
					height: 36px;
					display: inline-block;
				}
				.icon-feedback-new {
					background: url(../images/sidebar/feedback-new.png) no-repeat center center;
				}
				.icon-download-multiple {
					background: url(../images/sidebar/download-multiple.png) no-repeat center center;
				}
				.icon-settings {
					background: url(../images/sidebar/settings.png) no-repeat center center;
				}
			}
		}
		.clear {
			clear: both;
			font-size: 0px;
			line-height: 0px;
			display: block;
		}
	}
}
/* Nysa Multi language section ends */

/* feedback modal box style here */
.feedbackModal {
  border-radius: 10px;
}

.feedbackModal .modal-lg {
  max-width: 612px;
}

.feedbackModal .modal-lg .modal-content {
  border-radius: 10px;
}

.feedbackModal .modal-lg .modal-content .modal-header {
  border-bottom: 0px none;
  display: block;
  position: relative;
}

.feedbackModal .modal-lg .modal-content .modal-header .close {
  position: absolute;
  top: 7px;
  right: 15px;
  font-size: 30px;
}

.feedbackModal .modal-lg .modal-content .modal-header .modal-title {
  color: #9a2424;
  font: 700 22px "Muli", sans-serif;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-check {
  margin-left: 35px;
  margin-right: 35px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-group {
  margin-left: 35px;
  margin-right: 35px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-group textarea.form-control {
  max-width: 600px;
  border-radius: 7px;
  margin: 0px auto;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.34);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.34);
  font: 600 13px "Muli", sans-serif;
  color: #868686;
  height: 80px;
  padding: 15px 20px;
  border: 0px none;
}

.feedbackModal .modal-lg .modal-content .modal-body form label {
  font: 600 14px "Muli", sans-serif;
  color: #1a1a1a;
  padding-left: 7px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-check-input {
  margin-top: 7px;
}

.feedbackModal .modal-lg .modal-content .modal-body form .form-check-input:disabled ~ .form-check-label {
  color: red;
}

.feedbackModal .modal-lg .modal-content .modal-body button {
  font: 700 14px "Muli", sans-serif;
}
/* feedback modal box style ends */

/* Nysa Side Bar starts */
.img-responsive {
  width: 100%;
  max-width: 100%;
}
.nysa_sidebar {
  width: 0;
  position: fixed;
  z-index: 100;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 56px;
}

.nysa_sidebar #overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nysa_sidebar .nysa_closebtn {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 100;
  background: #1c5c95 url(../images/sidebar/delete.png) no-repeat center center;
  width: 14px;
  height: 14px;
  border-radius: 5px;
  padding: 13px;
}

.nysa_sidebar .nysa_closebtn_orange {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 38px;
  height: 38px;
  z-index: 100;
  background: url(../images/sidebar/close_btn_38x38.png) no-repeat center center;
}

.nysa_sidebar .nysa_sidebar_content {
  width: 100%;
  height: 100%;
  position: relative;
  background: #fff;
  padding-top: 35px;
}

.nysa_sidebar .nysa_sidebar_content .left-banner {
  margin-left: 65px;
  padding-top: 160px;
}

.nysa_sidebar .nysa_sidebar_content .left-banner h4 {
  font: 900 16px/20px "Muli", sans-serif;
  color: #1c5c95;
  text-transform: uppercase;
  display: inline-block;
  margin: 0px auto;
  padding-top: 25px;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu {
  width: 100%;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box {
  border: solid 1px #e8e8e8;
  background-color: #f8f7f7;
  padding: 15px 20px;
  margin: 20px;
  border-radius: 13px;
  text-align: center;
  width: 116px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.43);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.43);
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_icon {
  padding-top: 20px;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_text {
  padding-top: 30px;
  font: 900 11px/16px "Muli", sans-serif;
  color: #626262;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
  position: absolute;
  bottom: -30px;
  left: 25px;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links a {
  font: 600 11px/14px "Muli", sans-serif;
  color: #1c5c95;
  padding: 0px;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links a:hover {
  text-decoration: none;
}

.nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links a:focus {
  text-decoration: none;
}

.nysa_sidepanel_open {
  height: 385px;
  background: #1c5c95;
  width: 20px;
  position: fixed;
  left: 0px;
  top: 30%;
  border-radius: 0px 15px 15px 0px;
  z-index: 10;
}

.nysa_openbtn {
  font-size: 20px;
  cursor: pointer;
  background: url(../images/sidebar/open-btn.png) no-repeat center center;
  color: white;
  padding: 10px 15px;
  border: none;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 45%;
  z-index: 10;
}

.nysa_openbtn2 {
  background: url(../images/sidebar/open-btn2.png) no-repeat center center;
  width: 66px;
  height: 66px;
  border: 0px none;
  position: fixed;
  bottom: 25px;
  left: 25px;
  display: none;
}

@media (max-width: 576px) {
  .nysa_sidebar {
    background: #fff;
  }
  .nysa_sidebar .nysa_sidebar_content {
    width: 100%;
  }
  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box {
    max-width: 24%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
            flex: 0 0 33.3333333%;
  }
  .nysa_sidebar .nysa_sidebar_content #overlay {
    display: none;
  }
  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box .nysa_menu_links {
    left: auto;
  }
  .nysa_sidepanel_open {
    background: none;
    height: auto;
  }
  .nysa_sidepanel_open .nysa_openbtn {
    display: none;
  }
  .nysa_sidepanel_open .nysa_openbtn2 {
    display: block;
  }
}

@media (max-width: 776px) {
  .nysa_sidebar {
    background: #fff;
  }
  .nysa_sidebar .nysa_sidebar_content {
    width: 100%;
  }
  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box {
    max-width: 24%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
            flex: 0 0 33.3333333%;
  }
  .nysa_sidebar .nysa_sidebar_content .left-banner {
    padding-top: 0px;
  }
  .nysa_sidebar #overlay {
    display: none;
  }
}

@media (max-width: 1199px) {
  .nysa_sidebar .nysa_sidebar_content .nysa_sidebar_menu .nysa_menu_box {
    max-width: 24%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333%;
            flex: 0 0 33.3333333%;
  }
  .img-responsive {
    width: 80%;
    max-width: 80%;
  }
  .nysa_sidebar_content {
    width: 100%;
    height: 100%;
  }
}
/* Nysa Side Bar ends */

/* Quote styling here */
.mainsec {

.myBreakInContainer {
  .radioButtonsTitle {
    em.quoteTitle {
      color: #1c5c95;
      font: 700 16px "Muli", sans-serif;
      display: inline-flex;
      position: absolute;
      margin-top: 6px;
    }
    .form-group {
      display: inline-flex;
      margin-left: 80px;

      ul.radioul {
        list-style-type: none;
        display: inline-flex;
        margin-bottom: 0px;
        /* switch toggle buttons starts here  */
        .switchBtns {
          label {
            &::before {
              display: none;
            }
          }
          .radio_cus {
            width: 86px;
            height: 30px;
            border-radius: 30px;
            background-color: #ffffff;
            border: solid 1px #003b6f;
            label {
              font: 400 11px "Muli", sans-serif!important;
              margin-right: 10px;
            }
            .bt-radio {
              font: 400 13px/20px "Muli", sans-serif;
              input {
                outline: none;
                border: 0px none;
              }
            }
            .bt-radio.active {
              border: solid 0px #003b6f;
              border-radius: 30px;
              -webkit-border-radius: 30px;
              -moz-border-radius: 30px;
              color: #fff!important;
              background: linear-gradient(to right, #003b6f 0%, #357ab7 100%);
            }
            .bt-radio.focus {
              color: #fff;
              box-shadow: 0 0 0 0;
              -webkit-box-shadow: 0 0 0 0;
              -moz-box-shadow: 0 0 0 0;
            }
          }
        }
        /* switch toggle buttons ends */
        
      }
    } 
  }
  .tabpane {
    .tab-content {
    #showGetaQuote {
      display: none;
    }
  }
}
/* Nysa Tabs ends */
.hiddenForm {
  border-top: 2px solid #eaeaea;
  //max-height: 440px;
  display: none;

  .col-sm-4 {
    max-width: 31.333333%;
    display: inline-block;
}
h3 {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}  
}

.FormCentered {
  max-width: 410px;
  margin:0px auto;
}

  /* custom checkbox */
  ul.socialCheck {
    padding: 0;
    li {
      list-style-type: none;
      display: inline-block;
      width: 100%;
    }
  }
  .chkbox1 {
    table {
      tr {
        td {
          vertical-align: top;
          border: none;
          input {
            display: none;
            + {
              label {
                &::before {
                  content: '';
                  width: 24px;
                  height: 24px;
                  margin-right: 10px;
                  border-radius: 3px;
                  -webkit-border-radius: 3px;
                  -moz-border-radius: 3px;
                  display: inline-block;
                  background-color: #ece9e9;
                  vertical-align: bottom;
                }
              }
            }
            &:checked {
              + {
                label {
                  &::before {
                    border-color: #3074b0;
                    background: #fff url(../images/ticked.png) no-repeat center center;
                  }
                }
              }
            }
          }
          label {
            margin: 0;
            color: #282828;
            cursor: pointer;
            font: 400 11px "Muli", sans-serif;
            
          }
          label.confirmInfo {
            color: #2a5ca0;
            font: 400 11px "Muli", sans-serif;
          }
        }
      }
    }
  } /* custom checkbox ends  */
  

/* range slider starts */
.rangeSliderContainer {
  .irs--flat {
    .irs-line {
      height: 5px;
    }
    .irs-bar {
      height: 5px;
      background-color: #e1e4e9;
    }
    .irs-handle {
      top: 22px;
      width: 15px;
      >i {
        &:first-child {
          width: 10px;
          height: 9px;
          border-radius: 50px;
          background-color: #0c4980;
          border: 0px solid #0c4980;
        }
      }
    }
    .irs-from {
      background-color: #0c4980;
      font: 400 10px "Muli", sans-serif;
      &:before {
        border-top-color: #0c4980;
      }
    }
    .irs-to {
      background-color: #0c4980;
      font: 400 10px "Muli", sans-serif;
      &:before {
        border-top-color: #0c4980;
      }
    }
    .irs-single {
      background-color: #0c4980;
      font: 400 9px "Muli", sans-serif;
      width: 55px;
      text-align: right;
      padding: 4px 6px;
      
      &:before {
        border-top-color: #0c4980;
      }
      &:after {
        content: '₹ ';
        position: absolute;
        left: 5px;
      }
    }
    .irs-min {
      font: 400 10px "Muli", sans-serif;
      background-color: #fff;
      top: 35px;
      color: #e0e0e0;
      &:before {
        content: 'Min.₹ ';
      }
    }
    .irs-max {
      font: 400 10px "Muli", sans-serif;
      background-color: #fff;
      top: 35px;
      color: #e0e0e0;
      &:before {
        content: 'Max.₹ ';
      }
    }
  }
} /* range slider ends */


/* accordion container starts */
.accordionContainer {

  .accordion { /* accordion starts */

  .fa-minus {
    width: 20px;
    height: 20px;
    background: url(../images/icon-minus-acco.png) no-repeat 97% center;
    display: inline-block;
  }
  .fa-plus {
    width: 20px;
    height: 20px;
    background: url(../images/icon-plus-acco.png) no-repeat 97% center;
    display: inline-block;
  }
  .card {
    padding: 5px;
      border: solid 1px #eaeaea;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
      margin: 5px;
      padding: 0px;

    .card-header {
      padding: 0px;
      background: #fff;
      border-bottom: 0px none;

    h2 {
    button {
      width: 100%;
      text-align: left;
      padding: 4px;

      i.fa {
        position: absolute;
        top: 15px;
        right: 15px;
      }
      h3 {
        &:hover {
          text-decoration: none!important;
        }
      }
    }
  }
}

.card-body {
  h5.vehicleDetailsTitle {
    color: #0d4a81;
    font: 700 16px "Muli", sans-serif;
    display: block;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    background: #e8f2ff;
    border-radius: 10px;
    padding: 5px 18px;
  }
  ul.radioul {
    margin-bottom:10px;
    li {
      input[type="radio"]:checked {
        & + label {
           color: #3074b0!important;
        }
      }
    }
  }
  .form-group {
    p.note {
      color: #a51e1e;
      font: 400 12px "Muli", sans-serif;
    }
  }
  .plansdiv {
    margin: 0px 0 20px;

    .customize {
      width: 74%;
			padding: 5px 15px;
		}
		ul {
      ul {
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
      }
			li {
				width: 24%;
				margin: 0 4px;
			}
		}
    ul.width100 {
			li {
				width: 100%;
				margin: 0 4px;
			}
		}
    
	}
}

} 

} /* accordion ends */

} /* accordion container ends */

/* proposal container starts */
.proposalContainer {
 
  .ttlpremdiv {
		padding: 6px;
		border: solid 1px rgba(28, 92, 149, 0.4);
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		//box-shadow: 0 3px 6px 0 rgb(0, 0, 0, 10%);
    -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
		background: #fff;
	}

  .paymentmode {
    position: relative;
  }

}
/* proposal container ends */



} /* Quote styling ends */
}

/* send link modal */ 
.modal {
  .sendLinkModal {
    .modal-content {
      padding: 10px;
      padding-bottom: 0px;
      border-radius: 10px;
      .form-group {
        margin-bottom:0px;
        ::placeholder {
          color: #282828!important;
        }
        
      }
      button.close {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 10;
      }
      .sendLinkBox {
        .iconBox {
          background: #eaeaea;
          padding-top: 15px;
          padding-bottom: 15px;
          border-radius: 5px;
          margin-bottom: 10px;
          width: 75px;
          margin: 7px auto;
          }
          span {
            color: #6e6e6e;
            font: 600 14px "Muli", sans-serif;
          }
        }
      .form-control {
        height: 38px;
        padding-left: 0;
        border: 0;
        border-bottom: 1px solid #ededed;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        box-shadow: 0 0 0 0;
        -webkit-box-shadow: 0 0 0 0;
        -moz-box-shadow: 0 0 0 0;
        color: #282828;
        font: 600 17px "Muli", sans-serif;
      }
      .cstmbtn {
        min-width: 100px;
      }
    }
  }
}
/* send link modal ends */ 

@media (max-width: 1199px) { 

  .modal {
    .sendLinkModal {
      .modal-content {
        .form-group {
          margin-bottom: 20px;
          text-align: center;
          width: 100%;
          max-width: 100%;
          flex: auto;

          ::placeholder {
            text-align: center;
          }
        }
      }
    }
  }
  
}

@media (max-width: 776px) { 

  .modal {
    .sendLinkModal {
      .modal-content {
        .form-group {
          margin-bottom: 20px;
          text-align: center;
          width: 100%;
          max-width: 100%;
          flex: auto;

          ::placeholder {
            text-align: center;
          }
        }
      }
    }
  }
  
}

@media (min-width: 576px) and (max-width: 990px) { 
.col-sm-4,
.col-sm-8,
.col-sm-6 {
  flex: auto;
  max-width: 100%;
}
.mainsec {
	.myBreakInContainer {
		.accordionContainer {
			.accordion {
				.card {
					.card-body {
						.plansdiv {
							ul {
								li {
									width: 100%;
									margin-bottom: 20px;
								}
							}
              .customize {
								width: 100%;
								
							}
						}
					}
				}
			}
		}
	}
}
}

@media (max-width: 576px) { 
.multiLanguageBox  {
  .col-8, .col-4   {
    flex: auto;
    max-width: 100%;
    margin-bottom: 15px;
}
}
  .modal {
    .sendLinkModal {
      .modal-content {
        .form-group {
          margin-bottom: 20px;
          text-align: center;
          ::placeholder {
            text-align: center;
          }
        }
      }
    }
  }
  .mainsec {
    .ttlpremdiv table tr td {
      width: 100%!important;
    }
    .myBreakInContainer {
      padding-top: 40px;

      .tabpane {
        ul.nav {
          li {
            a {
              border-left: solid 1px #969494;
              min-width: 160px;
              margin: -2px;
            }
          }
        }
      }

      .hiddenForm {
        .col-sm-4 {
          max-width: 100%;
          display: inline-block;
        }
      }
      .radioButtonsTitle {
        em.quoteTitle {
          position: static;
          margin-bottom: 10px;
      }
        .form-group {
          margin-left: 0px;
          display: block;

          ul.radioul {
            padding-left: 0px;
            .switchBtns {
              .radio1 {
                tr {
                  td {
                    label {
                      font-size: 12px !important;
                    }
                  }
                }
              }
            }
          }
          
        }
      }
      .accordionContainer {
        .accordion {
          .card {
            .card-body {
              .plansdiv {
                ul {
                  li {
                    width: 100%;
                    margin-bottom: 35px;
                  }
                }
                .customize {
                  width: 100%;
              }
              }
            }
          }
        }
      }

      

    }
  }

 }
