<!-- <section class="container-fluid breadcrumsec">
  <div class="row">
    <div class="container">
      <div class="row multiLanguageBox mt-3">
        <div class="col-md-6 col-sm-8 col-8 content-desktop">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a title="Go To Home" style="cursor: pointer;" (click)="gotoHome()">{{
                'BreadCrumbs.STEP1' | translate }}</a></li>
            <li class="breadcrumb-item">{{ 'BreadCrumbs.Motor' | translate }}</li>
            <li class="breadcrumb-item">{{product}}</li>
            <li class="breadcrumb-item">{{type}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{currentPath}}</li>
          </ol>
        </div> -->

        <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true Condition For Hiding Breadcrumb in mobile view -->

        <!-- <div class="col-md-6 col-sm-6 col-6 content-mobile">
          <ol class="breadcrumb" *ngIf="IsPOSTransaction_flag != true">
            <li class="breadcrumb-item">{{product}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{type}}</li>
          </ol> -->

          <!-- digialPOS breadcrumb -->
          
          <!-- <ol class="breadcrumb" *ngIf="IsPOSTransaction_flag == true">
            <li class="breadcrumb-item"><strong>{{posProductType}}</strong></li>
          </ol>
        </div>
        <div class="col-md-6 col-sm-4 col-6 text-right">
          <div class="multiSelectContainer">
            <span class="d-none d-md-inline-block"></span>
            <div class="customSelect">
              <a><i class="icon-multiSelect"></i></a>
              <select class="custom-select" [(ngModel)]="language" title="Language Change" #langSelect
                (change)="switchLanguage(langSelect.value)">
                <option *ngFor="let item of lang" [value]="item">{{ item }}</option>
              </select>
            </div>
            <div class="multiSelectOptions" *ngIf="IsPOSTransaction_flag != true">
              <a data-toggle="dropdown" href="#"><i class="icon-settings" data-toggle="tooltip" data-placement="bottom"
                  title="Settings"></i></a>
              <ul class="dropdown-menu custom-drop">
                <li><a (click)="goToIpartnerDashboard()" class="dropdown-item dropdown-font"> Switch to iPartner</a>
                </li>
              </ul>
            </div>
            <div class="clear"></div>
          </div>
        </div>
        <div *ngIf="view == 'MVIEW'" class="col-md-1 col-sm-1 col-1">
          <a (click)="goToDashboard()" class="dropdown-item"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--For digital pos --monika/divya(changes given by divya)-->
<ol style="list-style:none; color: #1c5c95;margin-left: -20px; margin-top: -1rem" *ngIf="IsPOSTransaction_flag == true">
  <li class="breadcrumb-item"><strong>{{posProductType}}</strong></li>
</ol>
