.cstmbtn {
  padding: 5px 16px;
}

.slow-spin {
  -webkit-animation: fa-spin 0s infinite linear;
  animation: fa-spin 0s infinite linear;
}

.chkbox1 table tr td input+label::before {
  width: 21px;
  height: 21px;
  margin-top: -3px;
}

.width-50 {
  width: 50% !important;
}

table td {
  padding: 4px;
}

.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.custom-drop {
  font: 400 16px "Muli", sans-serif;
  cursor: pointer;
}

@media (max-width: 575px) {
  .multiLanguageBox .multiSelectContainer .customSelect {
    margin-top: 9px;
  }
}
