<!--NCB Payment page-->
<header class="container-fluid fixed-top">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
  
        </div>
      </div>
    </div>
  </header>

  <section class="container-fluid mainsec" *ngIf="dontShowPage == false">
    <div class="row">
      <div class="container">
        <div class="innerdiv equal">
          <div class="tablediv">
            <h4>Your Payment Link has been expired</h4>
          </div>
        </div>
      </div>
    </div>
  </section> 

<section class="container-fluid mainsec" *ngIf="dontShowPage == true">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="proposalContainer mt-4">
        <div class="innerdiv equal">
          <div class="tablediv">
            <h4>NCB Recovery Payment</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                  <th>Registration Number</th>
                  <td>{{ncbLinkDetails.vehicle_no}}</td>
                  <th>IL Policy Number</th>
                  <td>{{ncbLinkDetails.policyNumber}}</td>
                </tr>
                <tr>
                  <th>Policy Start Date</th>
                  <td>{{ncbLinkDetails.start_date | date: 'dd/MM/yyyy'}}</td>
                  <th>Policy End Date</th>
                  <td>{{ncbLinkDetails.end_date | date: 'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <th>Customer Name</th>
                  <td>{{ncbLinkDetails.cust_name}}</td>
                  <th>Customer Mobile</th>
                  <td>{{ncbLinkDetails.mobile_no}}</td>
                </tr>
                <tr>
                  <th>Premium Paid</th>
                  <td>₹ {{ncbLinkDetails.premium_paid}}</td>
                  <th>Actual Premium Paid</th>
                  <td>₹ {{ncbLinkDetails.actual_premium}}</td>
                </tr>
                <tr>
                  <th>NCB %</th>
                  <td>{{ncbLinkDetails.ncb_per}} %</td>
                  <th>NCB to be Recovered</th>
                  <td>₹ {{ncbLinkDetails.ncb_amount}}</td>
                </tr>
              </table>
            </div>
          </div><br>
          <!-- Proposal / Final Premium  -->
          <div class="ttlpremdiv">
            <table>
              <tbody>
                <tr>
                  <td class="text-center"
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <label>Proposal Number</label>
                    <strong>{{ncbLinkDetails.proposal_no}}</strong>
                  </td>
                  <td
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <div class="text-center">Total Premium Payable</div>
                    <span class="mt-2 text-center"
                      style="background: none;color: #104d84;font-size: 20px;padding: 0px;">₹ {{ncbLinkDetails.ncb_amount}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- Payment Modes -->
          <div class="paymentmode mt-4">
            <h5 class="text-center">Payment Modes</h5>
            <ul>
              <li style="cursor: pointer;">
                <a (click)="ValidatePayment()" title="payNow">
                  <div>
                    <img src="assets/images/payNow.png" alt="payNow">
                  </div>
                  <span>Pay Now</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 