/* CSS for Datepicker */
.form-input {
  width: 85%;
  height: 35px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  font: 400 18px/18px "Roboto", sans-serif;
  background-color: transparent;
  color: #4b4b4b;
}

.deviation {
  color: #cb4c29;
  font: 600 15px "Muli", sans-serif;
  font-weight: bold;
}

.breakin-txt {
  color: red;
  margin-bottom: 10px;
  font-size: 16px;
  margin-top: 4px;
  font-weight: 500;
  padding-left: 5px;
  display: inline-block;
}

/* input[type="radio"]:focus {
    outline:none;
} */

textarea {
  resize: none;
}

/* .form-control:disabled, .form-control[readonly]{
	  background-color: white;
  } */

.pr-35 {
  padding-right: 35px;
}

.checkTitle {
  background-color: #eaeaea;
  color: #1c5c95 !important;
  font-weight: 700 !important;
  font-size: 16px !important;
}

.mainsec {
  padding: 0px !important;
}

.mainsec .myBreakInContainer {
  max-width: 1300px !important;
}

.mainsec .myBreakInContainer .accordionContainer .accordion .card {
  margin: 0px !important;
  border: 0px;
  border-radius: 0px;
  background: #fff;
  -webkit-box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 0%);
  padding: 0px;
}

.padd-15 {
  padding: 15px;
}

::ng-deep .cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}

.bal-txt {
  padding: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  background-color: #f0f0f0;
  color: #4b4b4b;
  font: 700 24px "Muli", sans-serif;
  text-align: center;
}

.bal-label {
  display: block;
  text-align: center;
  color: #282828;
  font: 600 16px "Muli", sans-serif;
}

.row-padd {
  padding: 0 15px !important;
}

.col-pl-5 {
  padding-left: 5px !important;
}
/* Jaganath */
.fieldsdiv .breakindiv .salarybg {
  color: #0d4a81;
  font: 700 13px "Muli", sans-serif;
  display: block;
  background: #e8f2ff;
  border-radius: 10px;
  padding: 1px 18px;
  text-align: left;
  height: 37px;
  margin-bottom: 5px;
}