.custom-file-upload {
  color: transparent;
}

.custom-file-upload::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-upload::before {
  content: 'Choose Files';
  color: #ffffff;
  display: inline-block;
  text-align: center;
}

.succes-icon {
  right: 40px !important;
}

.delete-icon {
  font-size: 30px;
  right: 0 !important;
  color: red;
}
