<div class="qccasesContainer">
  <div class="innerdiv">
    <h3 class="radioButtonsTitle">
      <div class="form-group mb-0 ml-0">
        <ul class="radioul pl-0" style="position: relative; margin-top:5px;">
          <li>
            <table class="radio1">
              <tbody>
                <tr>
                  <td>
                    <input type="radio" id="allCases" name="casesStatus" (change)="getFilter($event.target.id)" checked>
                    <label for="allCases">All</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <table class="radio1">
              <tbody>
                <tr>
                  <td>
                    <input type="radio" id="appCases_1" name="casesStatus" (change)="getFilter($event.target.id)">
                    <label for="appCases_1">Approved Cases</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
          <li>
            <table class="radio1">
              <tbody>
                <tr>
                  <td>
                    <input type="radio" id="pendCases_1" name="casesStatus" (change)="getFilter($event.target.id)">
                    <label for="pendCases_1">Pending Cases</label>
                  </td>
                </tr>
              </tbody>
            </table>
          </li>
        </ul>
        <!-- <a href="#" class="floatingDownloadBtn">Download Excel</a> -->
      </div>
    </h3>
    <div class="fieldsdiv">
      <div class="breakindiv">

        <div class="row">
          <div class="col-lg-3 col-sm-3 form-group">
            <label class="form-label" for="fromDateqc">{{'RegistrationPage.FromDate' | translate }}<sup
                class="star">*</sup></label><br>
            <input id="fromDateqc" matInput [matDatepicker]="fromQcPicker" placeholder="DD/MM/YYYY" name="fromDateqc"
              readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="qcObj.FromDate" class="form-control dob"
              (click)="fromQcPicker.open()" required>
            <mat-datepicker #fromQcPicker></mat-datepicker>
          </div>

          <div class="col-lg-3 col-sm-3 form-group">
            <label class="form-label" for="toDateQc">{{'RegistrationPage.ToDate' | translate }}<sup
                class="star">*</sup></label><br>
            <input id="toDateQc" matInput [matDatepicker]="toQcPicker" placeholder="DD/MM/YYYY" name="toDateQc"
              readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="qcObj.ToDate" class="form-control dob"
              (click)="toQcPicker.open()" required>
            <mat-datepicker #toQcPicker></mat-datepicker>
          </div>

          <div class="col-lg-3 col-sm-3 form-group">
            <label class="invisible d-none d-sm-block">View</label>
            <!-- <button type="button" class="cstmbtn mr-2">View</button>
            <span *ngIf="spinloader == false">View</span>
            <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin" ></i></span> -->
            <button type="button" id="get_quote" (click)="getQcCases()" class="cstmbtn mr-2" tabindex="9">
              <span *ngIf="spinloader == false">View</span>
              <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>




          <div class="col-sm-12">
            <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="showTable == true">
              <label class="norecord">No Records Found</label>
            </div>
            <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="qcCasesList && showTable == false">
              <label>Search</label>
              <input type="text" id="qc" name="claim" class="form-control" [(ngModel)]="term" placeholder="Search"
                tabindex="2">
            </div>

            <div class="tablediv" *ngIf="qcCasesList && showTable == false">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Date & Time</th>
                      <!-- <th>Time</th> -->
                      <th>Policy / Covernote Number</th>
                      <th>Proposal Number</th>
                      <th class="text-left">Customer Name</th>
                      <!-- <th>Product</th> -->
                      <th>QC Status</th>
                      <!-- <th>Remarks</th> -->
                      <th>Document Accepted / Rejected By</th>
                      <th>Document Upload </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let qcs of qcCasesList  | filter:term | paginate: { id:'qcCasesPage', itemsPerPage: 10, currentPage: page }">
                      <td>{{qcs.transactionDate | date:'dd-MMM-yyyy'}}, {{qcs.transactionDate | date:'h:mm a'}} </td>
                      <!-- <td>{{qcs.transactionDate |  date:'h:mm a'}}</td> -->
                      <td>{{qcs.policyNo}}</td>
                      <td>{{qcs.proposalNo}}</td>
                      <td class="text-left">{{qcs.customerName}}</td>
                      <!-- <td>4w</td> -->
                      <td>{{qcs.qcStatus}}<span *ngIf="qcs.qcStatus == 'Rejected'"> - {{qcs.remark}}</span>
                        <span *ngIf="qcs.qcStatus == 'Approved'"> - {{qcs.approvedOn | date:'dd-MMM-yyyy'}},
                          {{qcs.approvedOn | date:'h:mm a'}} </span>
                      </td>
                      <!-- <td>{{qcs.standardRemark}}</td> -->
                      <td *ngIf="qcs.qcStatus == 'Pending'"> -- </td>
                      <td *ngIf="qcs.qcStatus != 'Pending'">{{qcs.docApprovedBy}}</td>
                      <td>
                        <i class="icon-upload"
                          *ngIf="(qcs.uploadStatus != 'Success' && qcs.qcStatus == 'Pending') || (qcs.uploadStatus != 'Success' && qcs.qcStatus == 'Rejected')"
                          (click)="openFile(qcs)"></i>
                        <!-- <span *ngIf="qcs.uploadStatus == 'Success'" class="txt-success">Uploaded</span> -->
                        <i class="icon-checked-green"
                          *ngIf="(qcs.uploadStatus == 'Success' && qcs.qcStatus == 'Approved') || (qcs.uploadStatus == 'Success' && qcs.qcStatus == 'Pending') || (qcs.uploadStatus == 'Success' && qcs.qcStatus == 'ReSubmitted')"></i>
                        <!-- <button type="button" id="fileupload" *ngIf="qcs.uploadStatus != 'Success'" (click)="openFile(qcs)" class="icon-upload" tabindex="9"></button> -->
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <div class="text-center row" *ngIf="qcCasesList && showTable == false">
              <pagination-controls id='qcCasesPage' (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Upload Documents</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngIf="spinloader == true">Uploading... <i class="fa fa-spinner fa-spin" ></i></span>
        <span *ngIf="successMsg == true" class="txt-success">{{message}}</span>
        <br/>
        <div class="browse-btn text-center">
          <input type="file" id="fileupload" class="cstmbtn custom-file-upload" tabindex="9" multiple (change)="handleFileInput($event)">
        </div>

        <div class="com-sm-12" *ngIf="filesData">
          <div class="tablediv">
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr *ngFor="let file of filesData; let i = index">
                    <td style="width:90%"> {{file.name}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="cstmbtn" (click)="uploadDocs()">Upload</button>
      </div>
    </div>
  </div>
</div> -->

<div class="modal fade ViewDocumentModal" id="ViewDocumentModal" role="dialog" aria-labelledby="emiProt_modalTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title text-center">Document Upload </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span *ngIf="successMsg == true" class="txt-success">{{message}}</span>
        <div class="text-center mb-4">
          <div class="uploadedListItmes">
            <ul>
              <li>Previous Policy Insurance Copy
                <!-- <i class="spinner"></i> -->
                <!-- <i class="icon-upload" ></i> -->
                <!-- <input type="file" id="Previous_Policy_Insurance_Copy" *ngIf="fileAddStatus == false" class="icon-upload custom-file-upload" (change)="handleFileInput($event)"> -->
                <div class="custom-file" *ngIf="fileAddStatus == false">
                  <input type="file" class="custom-file-input" id="Previous_Policy_Insurance_Copy"
                    (change)="handleFileInput($event)" aria-describedby="myInput">
                  <label class="custom-file-label" for="Previous_Policy_Insurance_Copy">Choose file</label>
                </div>
                <i class="icon-checked-green succes-icon" *ngIf="fileAddStatus == true"></i>
                <div *ngIf="fileAddStatus == true">
                  <i class="fa fa-trash-o delete-icon" id="Previous_Policy_Insurance_Copy"
                    (click)="removeImg($event)"></i>
                  <!-- <button class="btn btn-primary" id="Previous_Policy_Insurance_remove" (click)="removeImg($event)">remove</button> -->
                </div>


              </li>
              <li>RC Book Copy
                <div class="custom-file" *ngIf="fileAddStatus1 == false">
                  <input type="file" class="custom-file-input" id="RC_Book_Copy" (change)="handleFileInput($event)"
                    aria-describedby="myInput">
                  <label class="custom-file-label" for="RC_Book_Copy">Choose file</label>
                </div>
                <!-- <input type="file" id="RC_Book_Copy" *ngIf="fileAddStatus1 == false" class="icon-upload custom-file-upload" (change)="handleFileInput($event)"> -->
                <i class="icon-checked-green succes-icon" *ngIf="fileAddStatus1 == true"></i>
                <div *ngIf="fileAddStatus1 == true">
                  <i class="fa fa-trash-o delete-icon" id="RC_Book_Copy" (click)="removeImg($event)"></i>
                  <!-- <button class="btn btn-primary" id="RC_Book_remove" (click)="removeImg($event)">remove</button> -->
                </div>
              </li>

              <li>Approval Mails (Sales/UW)
                <div class="custom-file" *ngIf="fileAddStatus3 == false">
                  <input type="file" class="custom-file-input" id="approval_mails" (change)="handleFileInput($event)"
                    aria-describedby="myInput">
                  <label class="custom-file-label" for="approval_mails">Choose file</label>
                </div>
                <!-- <input type="file" id="approval_mails" *ngIf="fileAddStatus1 == false" class="icon-upload custom-file-upload" (change)="handleFileInput($event)"> -->
                <i class="icon-checked-green succes-icon" *ngIf="fileAddStatus3 == true"></i>
                <div *ngIf="fileAddStatus3 == true">
                  <i class="fa fa-trash-o delete-icon" id="approval_mails" (click)="removeImg($event)"></i>
                  <!-- <button class="btn btn-primary" id="RC_Book_remove" (click)="removeImg($event)">remove</button> -->
                </div>
              </li>

              <li>Other Documents
                <!-- <i class="icon-upload" *ngIf="fileAddStatus == false"></i> -->
                <div class="custom-file" *ngIf="fileAddStatus4 == false">
                  <input type="file" class="custom-file-input" id="other_doc" (change)="handleFileInput($event)"
                    aria-describedby="myInput">
                  <label class="custom-file-label" for="other_doc">Choose file</label>
                </div>
                <!-- <input type="file" id="other_doc" *ngIf="fileAddStatus1 == false" class="icon-upload custom-file-upload" (change)="handleFileInput($event)"> -->
                <i class="icon-checked-green succes-icon" *ngIf="fileAddStatus4 == true"></i>
                <div *ngIf="fileAddStatus4 == true">
                  <i class="fa fa-trash-o delete-icon" id="other_doc" (click)="removeImg($event)"></i>
                  <!-- <button class="btn btn-primary" id="RC_Book_remove" (click)="removeImg($event)">remove</button> -->
                </div>
              </li>

              <li *ngIf="amount > 100000">PAN Card Copy
                <!-- <i class="icon-upload" *ngIf="fileAddStatus == false"></i> -->
                <!-- <input type="file" id="pan_card_copy" *ngIf="fileAddStatus2 == false" class="icon-upload custom-file-upload" (change)="handleFileInput($event)"> -->
                <div class="custom-file" *ngIf="fileAddStatus2 == false">
                  <input type="file" class="custom-file-input" id="pan_card_copy" (change)="handleFileInput($event)"
                    aria-describedby="myInput">
                  <label class="custom-file-label" for="pan_card_copy">Choose file</label>
                </div>
                <i class="icon-checked-green succes-icon" *ngIf="fileAddStatus2 == true"></i>
                <div *ngIf="fileAddStatus2 == true">
                  <i class="fa fa-trash-o delete-icon" id="pan_card_remove" (click)="removeImg($event)"></i>
                  <!-- <button class="btn btn-primary" id="pan_card_remove" (click)="removeImg($event)">remove</button> -->
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="row" *ngIf="QCDataLength > 1">
          <ul *ngIf="QCDataLength > 1">
            <h6 class="text-muted">Pendency Remark</h6>
            <label style="color: #18548a;">Pendency Remarks</label>
            <li *ngFor="let data of QCData">{{data.pendencyRemark}}</li>
          </ul>
          <ul *ngIf="QCDataLength == 1">
            <h6 class="text-muted">Pendency Remark</h6>
            <li>{{QCData[0].pendencyRemark}}</li>
          </ul>
        </div> -->
        <!-- <div class="row">
        <div class="col-lg-12 col-sm-12 form-group row mb-0 staticForm">
          <label class="col-sm-12 col-form-label" for="staticEmail">Pendency Remark</label>
          <div class="col-sm-12" *ngIf="QCDataLength > 1">
            <ul style="padding-left: 18px;">
              <li *ngFor="let data of QCData"><label>{{data.pendencyRemark}}</label></li>
            </ul>
        </div>
        <div class="col-sm-12" *ngIf="QCDataLength == 1">
          <ul style="padding-left: 18px;">
            <li><label>{{QCData[0].pendencyRemark}}</label></li>
          </ul>
      </div>
      </div>
        </div> -->
        <div class="col-sm-12" style="padding-left: 0px; padding-right: 0px;" *ngIf="QCDataLength > 0">
          <div class="tablediv">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Sr No</th>
                    <th>Pendency Remark</th>
                    <th>Pendency Clearance Remark</th>
                  </tr>
                </thead>
                <tbody *ngIf="QCDataLength > 1">
                  <tr *ngFor="let pendencyData of QCData; let i = index;">
                    <td style="width: 80px;">{{i+1}}</td>
                    <td class="text-left">{{pendencyData.pendencyRemark}}</td>
                    <td class="text-left">{{pendencyData.pendencyClearanceRemark}}</td>
                  </tr>
                </tbody>
                <tbody *ngIf="QCDataLength == 1">
                  <tr>
                    <td style="width: 80px;">{{1}}</td>
                    <td class="text-left">{{QCData[0].pendencyRemark}}</td>
                    <td class="text-left">{{QCData[0].pendencyClearanceRemark}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <div class="row" *ngIf="QCDataLength > 0">
          <div class="col-lg-12 form-group">
            <label style="color: #18548a;">Pendency Clearance Remarks</label>
            <textarea class="form-control" style="resize: none;" [(ngModel)]="clearanceremarks"
              placeholder="Enter clearance remark"></textarea>
          </div>
        </div>
        <div class="text-center">
          <button type="button" class="btn btn-secondary cstmbtn" (click)="uploadDocs()">
            <span *ngIf="spinloader == false">Upload</span>
            <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
