<!-- Loaders -->
<div class="backdrop hidden" *ngIf="cs.loaderStatus">
  <div class="spinner">
    <img style="width:250px" src="assets/images/logo1.png" />
    <p id="loader_msg">Please wait... We are processing your request</p>
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div class="backdrop hidden" id="loaderdiv" style="display: none;">
  <div class="spinner">
    <img style="width:250px" src="assets/images/logo1.png" />
    <p id="loader_msg">Please wait... We are processing your request</p>
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<!-- <div class="item" *ngIf="cs.skeletonloader">
  <ngx-skeleton-loader count="5" appearance="circle"></ngx-skeleton-loader>
</div> -->

<router-outlet (activate)="onActive()"></router-outlet>
