/* CSS for add previous Detais */
.wd100 {
  margin-top: 15px;
}

.deviation {
  color: #cb4c29 !important;
  font: 600 15px "Muli", sans-serif;
  font-weight: bold !important;
}

.custom-select:disabled {
  /* color: #6c757d; */
  background-color: #ffffff !important;
}

.form-control:disabled {
  background-color: #ffffff;
  /* opacity: 1; */
}

.mat-expansion-panel-header {
  /* padding: 0 12px !important; */
  background-color: #eaeaea !important;
  margin: 6px !important;
  border-radius: 10px !important;
  height: auto !important;
}

.mat-icon {
  padding-top: 10px !important;
  color: #1c5c95 !important;
}

#sirangeinput {
  height: 25px !important;
}

.ng5-slider .ng5-slider-pointer {
  background-color: #fff !important;
  border: 1px solid #bebebe !important;
  width: 22px !important;
  height: 22px !important;
  top: -12px !important;
}

.ng5-slider .ng5-slider-pointer:after {
  width: 10px !important;
  height: 10px !important;
  top: 5px !important;
  left: 5px !important;
  background: #1c5c95 !important;
}

.ng5-slider .ng5-slider-bubble {
  font-size: 14px !important;
  color: #434343 !important;
}

.ng5-slider .ng5-slider-bar {
  height: 1px !important;
  background: #0E4C82 !important;
}

.ng5-slider .ng5-slider-bubble.ng5-slider-limit {
  color: #939393 !important;
}

.breakin-txt {
  color: #a51e1e;
  font: 400 12px "Muli", sans-serif;
  margin-top: 10px;
}

/* .bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
} */
/* Styles for tab labels */
/* .mat-tab-label {
	min-width: 240px;
  padding: 10px 5px 20px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: #1c5c95;
  font: 700 16px "Muli", sans-serif;
  text-align: center;
}

.mat-tab-label-active{
  min-width: 240px;
  padding: 10px 5px 20px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  background-color: #fff;
  color: #1c5c95;
  font: 700 16px "Muli", sans-serif;
  text-align: center;
}

.mat-tab {
	border: solid 1px #eaeaea;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
} */

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
    background-color: #1c5c95;
	  color: #fff;
	  min-width: 240px;
  padding: 10px 5px 20px;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  font: 700 16px "Muli", sans-serif;
  text-align: center;
} */

.rangediv strong {
  display: block;
  color: #434343;
  font: 400 18px "Muli", sans-serif;
}

.custom-range {
  height: calc(0rem + .4rem) !important;
}

.rangediv span {
  color: #939393;
  font: 12px "Muli", sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

.chkboxncb {
  margin: 0 !important;
  color: #1c5c95 !important;
  cursor: pointer !important;
  font: 400 15px "Muli", sans-serif !important;
}

.rangediv input[type=range] {
  background-color: transparent !important;
}

.rangediv input[type=range]::-moz-range-thumb {
  background: #0E4C82;
}

.rangediv input[type=range]::-moz-range-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.rangediv input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 4px 0px #0E4C82;
  -webkit-box-shadow: 0 0 4px 0px #0E4C82;
  -moz-box-shadow: 0 0 4px 0px #0E4C82;
}

.rangediv input[type=range]::-ms-thumb {
  background: #0E4C82;
}

.rangediv input[type=range]::-ms-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.rangediv input[type=range]:focus::-ms-thumb {
  box-shadow: 0 0 4px 0px #0E4C82;
  -webkit-box-shadow: 0 0 4px 0px #0E4C82;
  -moz-box-shadow: 0 0 4px 0px #0E4C82;
}

.rangediv input[type=range]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff;
  background: #0E4C82;
  margin-top: -6px;
}

.rangediv input[type=range]::-webkit-slider-runnable-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.rangediv input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 4px 0px #0E4C82;
  -webkit-box-shadow: 0 0 4px 0px #0E4C82;
  -moz-box-shadow: 0 0 4px 0px #0E4C82;
}

/* .padmain{
  padding-bottom: 5px;
} */

.mainsec .fieldsdiv .form-group .rangeinput {
  height: 38px;
  padding-left: 0;

  border: 0;
  border-bottom: 1px solid #EDEDED;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #434343;
  font: 400 18px "Muli", sans-serif;
}

.mainsec .fieldsdiv .form-group .rangeinput:focus {
  border-color: #EDEDED;
}


[data-tip] {
  position: inherit;

}

[data-tip]:before {
  content: '';
  /* hides the tooltip when not hovered */
  display: none;
  content: '';
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: 8;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}

[data-tip]:after {
  display: none;
  content: attr(data-tip);
  position: absolute;
  top: 25px;
  left: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /* padding:15px 18px; */
  padding: 1px;
  background: #1a1a1a;
  color: #fff;
  z-index: 9;
  font-size: 0.75em;
  height: 18px;
  line-height: 18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  word-wrap: normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display: block;
}

.dropdown-item {
  padding: 0.1rem 0.5rem !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #c2bebe;
}


.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 70px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #1c5c95;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}


@media (max-width: 575px) {
  .mat-content {
    overflow: visible !important;
  }

  .mainsec .fieldsdiv ul.radioul {
    padding: 0;
    padding-top: 0px;
    margin: 0px !important;
  }
}



/* loader */

/* Pranay CSS */
