<div class="innerdiv">
  <h3>{{'RegistrationPage.MYBREAKIN' | translate }}</h3>
  <div class="fieldsdiv">
    <div class="breakindiv">
      <div class="row">
        <!-- From Date -->
        <!-- <div class="col-sm-6 form-group">
          <label class="form-label" for="polfromdate">{{'RegistrationPage.FromDate' | translate }}*</label><br>
          <input id="polfromdate" matInput [matDatepicker]="picker2" placeholder="DD/MM/YYYY"
          name="polfromdate" readonly="true" NoSpecialChar [(ngModel)]="myBreakinDetails.FromDate" class="form-control dob"
          (click)="picker2.open()" required>
          <mat-datepicker-toggle matSuffix [for]="picker2" class="matCustomCalicon"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </div> -->
        <!-- To Date -->
        <!-- <div class="col-sm-6 form-group">
          <label class="form-label" for="poltodate">{{'RegistrationPage.ToDate' | translate }}*</label><br>
          <input id="poltodate" [max]="memmaxDOB" matInput [matDatepicker]="picker3" placeholder="DD/MM/YYYY"
          name="poltodate" readonly="true" NoSpecialChar [(ngModel)]="myBreakinDetails.ToDate" class="form-control dob"
          (click)="picker3.open()" required>
          <mat-datepicker-toggle matSuffix [for]="picker3" class="matCustomCalicon"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </div> -->

        <!-- Vehicle Type -->
        <div class=" col-md-12 form-group">
          <div class="container">

            <ul class="radioul" (change)="vehicletype($event)">
              <label>{{'RegistrationPage.VEHICLETYPE' | translate }}</label>

              <!-- 2Wheeler -->
              <li class="breakIn-motor-radio-btn">
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="breakselectVehicle_twoWheeler" name="breakselectVehicle" />
                      <label for="breakselectVehicle_twoWheeler">{{'InputKey.2WH' | translate }}</label>
                    </td>
                  </tr>
                </table>
              </li>
              <!-- 4Wheeler -->
              <li class="breakIn-motor-4w-radio-btn">
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="breakselectVehicle_fourWheeler" name="breakselectVehicle" />
                      <label for="breakselectVehicle_fourWheeler">{{'InputKey.4WH' | translate }}</label>
                    </td>
                  </tr>
                </table>
              </li>


              <li class="brealIn-motor-radio-btn-confirmation">
                <table class="radio1">
                  <tr>
                    <td>
                      <button type="button" id="get_quote" (click)="getMyBreakins()" class="cstmbtn" tabindex="9">
                        <span *ngIf="spinloader == false">{{'Buttons.GETBREAKINS' | translate }}</span>
                        <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
                      </button>

                    </td>
                  </tr>
                </table>
              </li>


            </ul>
          </div>
        </div>

        <div class=" col-md-12 form-group">
          <div class="container">
            <!-- <div class="col-md-12 form-group"> -->
            <ul class="radioul" (change)="vehicletype($event)">
              <label>Pre-Approved Breakin Request</label>
              <!-- Break In Changes -->
              <li class="breakIn-btn">
                <table class="radio1">
                  <tr>
                    <td>
                      <button type="button" id="create_BreakIn" class="cstmbtn" tabindex="9"
                        (click)="createBreakIN()">Create BreakIn</button>
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <button type="button" id="breakIn_Dash" class="cstmbtn" tabindex="9" (click)="breakINDash()">View
                        BreakIn Dashboard</button>
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
            <!-- </div> -->
          </div>
        </div>

      </div>
      <div class="row" style="left: 20px;" *ngIf="norecordflag == true">
        <label class="norecord">No Records Found</label>
      </div>
      <div class="row" *ngIf="norecordflag == false">
        <!-- Search -->
        <div class="panel-group" *ngIf="mybreakinData" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="col-md-6 col-lg-6 col-12 form-group">
            <label>{{'RegistrationPage.SEARCHBREKIN' | translate }}</label>
            <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term"
              placeholder="{{'RegistrationPage.SEARCHBREKIN' | translate }}" tabindex="2">
          </div>
          <!-- Policy List -->
          <div class="tablediv">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">BreakIn ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Proposal Number</th>
                    <th scope="col">Transaction Type</th>
                    <th scope="col">BreakIn Type</th>
                    <th scope="col">Sub Location</th>
                    <th scope="col">Send Link</th>
                    <th scope="col">Convert BreakIn</th>
                    <th scope="col">BreakIn Status</th>
                  </tr>
                </thead>
                <tbody
                  *ngFor="let data of mybreakinData | filter:term | paginate: { id: 'breakinPage', itemsPerPage: 10, currentPage: page }">
                  <tr [id]="'heading'+data.id">
                    <th>{{data.inspectionID}}</th>
                    <td>{{data.customerName}}</td>
                    <td>{{data.proposalNo}}</td>
                    <td>{{data.transactionType}}</td>
                    <td>{{data.inspectionType}}</td>
                    <td>{{data.subLocation}}</td>
                    <td *ngIf="(data.isPayEligible && (data.transOn == startDate1))" id="sendPaymentLink"
                        data-html2canvas-ignore="true" data-toggle="modal" data-target="#myBreakINSendLink_Modal"><button
                          (click)="getDataForBrekinLink(data)" type="button" class="cstmbtn">Send Link</button></td>
                    <td *ngIf="(!data.isPayEligible || (data.transOn != startDate1))">&nbsp;</td>
                    <td *ngIf="(data.isPayEligible && (data.transOn == startDate1))">
                      <button type="button" class="cstmbtn" (click)="convertBreakin(data)">Pay</button>
                    </td>
                    <td *ngIf="data.isPayEligible && (data.transOn != startDate1)">
                      <button type="button" class="cstmbtn"
                          (click)="convertBreakin(data)">Recalculate</button>
                    </td>
                    <td
                      *ngIf="this.mybreakinData && (data.inspectionStatus == 0 || data.inspectionStatus == 2 || data.inspectionStatus == 3 || data.inspectionStatus == 4)">
                    </td>
                    <td *ngIf="data.inspectionStatus == 0">Pending</td>
                    <td *ngIf="data.inspectionStatus == 1">Approved</td>
                    <td *ngIf="data.inspectionStatus == 2">Rejected</td>
                    <td *ngIf="data.inspectionStatus == 4">Closed</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <br>
          <!-- Pagination -->
          <div class="text-center row">
            <pagination-controls id="breakinPage" (pageChange)="page = $event"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal fade" id="myBreakINSendLink_Modal" role="dialog" aria-labelledby="sendCustLink_modalTitle"
          aria-hidden="true">
          <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="sendCustLink_modalTitle">Send Payment Link </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body fieldsdiv" style="padding: 15px 12px 15px 12px;">
                <form #sendPdfForm="ngForm">
                  <div class="form-group">
                    <label>Mobile Number<sup class="star">*</sup></label>
                    <input type="text" maxlength="10" (keypress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno"
                      (ngModelChange)="mobileValidate()" class="form-control" name="mobileno"
                      [pattern]="mobNumberPattern" #mobNumberpay="ngModel" placeholder="Enter Mobile Number" />
                    <div *ngIf="mobNumberpay.errors" [ngClass]="'error'" style="color:red">
                      <div *ngIf="moberrorFlag == true || mobNumberpay.errors.pattern">
                        Mobile number entered is not valid.
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Email<sup class="star">*</sup></label>
                    <input type="email" #emailpay="ngModel" name="Email" [class.is-invalid]="emailpay.touched"
                      pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                      [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
                    <div *ngIf="emailpay.invalid && (emailpay.dirty || emailpay.touched)" style="color:red">
                      <div *ngIf="emailpay.errors.pattern">
                        Email is invalid.
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button [disabled]="!sendPdfForm.form.valid" *ngIf="sendDetails.Email && sendDetails.mobileno"
                      class="cstmbtn" data-dismiss="modal" (click)="sendPaymentLinkforBoth()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- <div class="text-center mt-3">
    <button type="button" id="get_quote" (click)="getMyBreakins()" class="cstmbtn" tabindex="9">{{'Buttons.GETBREAKINS' | translate }}</button>
  </div> -->
