<!-- New Premium Breakup Modal for 2 wheeler -->
<div class="modal-dialog modal-xl container-fluid mainsec" id="premium_breakup"
  *ngIf="quoteResp && productCode == '2312'" style="overflow-y: scroll;">

  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
        data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
        class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
        aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">Two wheeler package</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{ calculatedQuote.generalInformation.manufacturerName }}
                                {{calculatedQuote.generalInformation.vehicleModel}} {{
                                calculatedQuote.generalInformation.cubicCapacity }}
                                CC</th>
                            </tr>
                            <!-- <tr>
                              <td>Registration number</td>
                              <th>{{ quoteRequ.RegistrationNumber }}</th>
                            </tr> -->
                            <tr class="altRowBg">
                              <td>RTO Location</td>
                              <th>{{calculatedQuote.generalInformation.rtoLocation}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>Cubic Capacity</td>
                              <th>{{calculatedQuote.generalInformation.cubicCapacity}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>{{seatingcapacity}}</th>
                            </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr *ngIf="quoteResp.riskDetails.basicOD > 0">
                              <td>Basic OD Premium</td>
                              <th>{{quoteResp.riskDetails.basicOD}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.breakinLoadingAmount > 0">
                              <td>Breaking Loading Amount</td>
                              <th>{{quoteResp.riskDetails.breakinLoadingAmount}}</th>
                            </tr>
                            <tr>
                            <tr *ngIf="quoteResp.riskDetails.basicTP > 0">
                              <td>Basic Premium including premium for
                                TPPD vehicle:</td>
                              <th>{{quoteResp.riskDetails.basicTP}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total OD + TP Premium</td>
                              <th>{{ODandTPAmount}}</th>
                              <!-- <th>₹{{quoteResp.generalInformation.packagePremium}}</th> -->
                            </tr>
                            <!--Addons-->
                            <tr *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver > 0">
                              <td>Compulsory PA Cover for Owner Driver</td>
                              <th>{{quoteResp.riskDetails.paCoverForOwnerDriver}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.paidDriver > 0">
                              <td>Legal Liability To Paid Driver</td>
                              <th>{{quoteResp.riskDetails.paidDriver}}</th>
                            </tr>


                            <!-- <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>(-) NCB @ 20% </td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}</th>
                            </tr> -->
                            <tr *ngIf="(quoteResp.riskDetails.roadSideAssistance > 0) || isRSAPlan">
                              <td>Road Side Assistance </td>
                              <th>{{quoteResp.riskDetails.roadSideAssistance}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.zeroDepreciation > 0">
                              <td>Zero Depreciation </td>
                              <th>{{calculatedQuote.riskDetails.zeroDepreciation}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.electricalAccessories > 0">
                              <td>Electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.electricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.nonElectricalAccessories > 0">
                              <td>Non-electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.nonElectricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.engineProtect > 0">
                              <td>Engine Protect</td>
                              <th>{{calculatedQuote.riskDetails.engineProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.keyProtect > 0">
                              <td>Key Protect</td>
                              <th>{{calculatedQuote.riskDetails.keyProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.emiProtect > 0">
                              <td>EMI Protect</td>
                              <th>{{calculatedQuote.riskDetails.emiProtect}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tyreProtect > 0">
                              <td>Tyre Protect</td>
                              <th>{{calculatedQuote.riskDetails.tyreProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.lossOfPersonalBelongings > 0">
                              <td>Loss of Personal Belongings</td>
                              <th>{{calculatedQuote.riskDetails.lossOfPersonalBelongings}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.garageCash > 0">
                              <td>Garage Cash</td>
                              <th>{{calculatedQuote.riskDetails.garageCash}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.returnToInvoice > 0">
                              <td>Return to Invoice</td>
                              <th>{{calculatedQuote.riskDetails.returnToInvoice}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionOD > 0">
                              <td>Geographic Extension Premium</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionOD}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.consumables > 0">
                              <td>Consumables</td>
                              <th>{{calculatedQuote.riskDetails.consumables}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.biFuelKitTP > 0">
                              <td>Liability For Bi-Fuel Kit</td>
                              <th>{{calculatedQuote.riskDetails.biFuelKitTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionTP > 0">
                              <td>Geographic Extension Liability</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.paCoverForUnNamedPassenger > 0">
                              <td>PA for Unnamed Passenger</td>
                              <th>{{calculatedQuote.riskDetails.paCoverForUnNamedPassenger}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.employeesOfInsured > 0">
                              <td>Legal Liability to Paid Employee</td>
                              <th>{{calculatedQuote.riskDetails.employeesOfInsured}}
                              </th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total Premium with Addon </td>
                              <th>₹ {{ premiumWithoutDiscount }} </th>
                            </tr>
                            <!--Discount-->
                            <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>Deduct {{calculatedQuote.riskDetails.ncbPercentage}} % for NCB</td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}
                              </th>
                            </tr>

                            <!-- <tr class="altRowBg" *ngIf="getdiscountTotal || '0'">
                              <td>Total Discount(B)</td>
                              <th>{{getdiscountTotal || '0'}}
                              </th>
                            </tr> -->
                            <tr *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>TPPD Discount(-)</td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}
                              </th>
                            </tr>
                            <tr class="altRowBg" *ngIf="totalDiscount > 0">
                              <td>Total Discount(-) </td>
                              <th><span class="text-right">₹ {{totalDiscount}}</span>
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Total Premium ₹ {{calculatedQuote.finalPremium}}</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Insured declared Value (IDV) (Rs)</td>
                              <th>Rs {{calculatedQuote.generalInformation.depriciatedIDV}}</th>
                            </tr>
                            <tr>
                              <td>Tenure</td>
                              <th>{{calculatedQuote.generalInformation.tenure}} year OD +
                                {{calculatedQuote.generalInformation.tpTenure}}
                                year TP</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Current Showroom Price </td>
                              <th>Rs {{calculatedQuote.generalInformation.showRoomPrice}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                          </table>

                        </div>
                      </div>

                      <!-- <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Agent Details</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Agent Details</td>
                              <th>{{dealDetailsfromIM.imid}}</th>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <th>{{dealDetailsfromIM.intermediaryName}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Location</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.officeName}}</th>
                            </tr>
                            <tr>
                              <td>Vertical</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.fullVerticalDesc}}</th>
                            </tr>
                          </table>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>Net Premium</span>
                    <span class="text-right">₹ {{
                      calculatedQuote.packagePremium }}</span>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{calculatedQuote.totalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{calculatedQuote.finalPremium}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Premium Breakup Modal for 4 wheeler -->
<div class="modal-dialog modal-xl container-fluid mainsec" id="premium_breakup"
  *ngIf="quoteResp && productCode == '2311'" style="overflow-y: scroll;">
  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
        data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
        class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
        aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">Four wheeler package</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{ calculatedQuote.generalInformation.manufacturerName }}
                                {{calculatedQuote.generalInformation.vehicleModel}} {{
                                calculatedQuote.generalInformation.cubicCapacity }}
                                CC</th>
                            </tr>
                            <!-- <tr>
                              <td>Registration number</td>
                              <th>{{ quoteRequ.RegistrationNumber }}</th>
                            </tr> -->
                            <tr class="altRowBg">
                              <td>RTO Location</td>
                              <th>{{calculatedQuote.generalInformation.rtoLocation}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>Cubic Capacity</td>
                              <th>{{calculatedQuote.generalInformation.cubicCapacity}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>{{seatingcapacity}}</th>
                            </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr *ngIf="quoteResp.riskDetails.basicOD > 0">
                              <td>Basic OD Premium</td>
                              <th>{{quoteResp.riskDetails.basicOD}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.breakinLoadingAmount > 0">
                              <td>Breaking Loading Amount</td>
                              <th>{{quoteResp.riskDetails.breakinLoadingAmount}}</th>
                            </tr>
                            <tr>
                            <tr *ngIf="quoteResp.riskDetails.basicTP > 0">
                              <td>Basic Premium including premium for
                                TPPD vehicle:</td>
                              <th>{{quoteResp.riskDetails.basicTP}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total OD + TP Premium</td>
                              <th>{{ODandTPAmount}}</th>
                              <!-- <th>₹{{quoteResp.generalInformation.packagePremium}}</th> -->
                            </tr>
                            <!--Addons-->
                            <tr *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver > 0">
                              <td>Compulsory PA Cover for Owner Driver</td>
                              <th>{{quoteResp.riskDetails.paCoverForOwnerDriver}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.paidDriver > 0">
                              <td>Legal Liability To Paid Driver</td>
                              <th>{{quoteResp.riskDetails.paidDriver}}</th>
                            </tr>


                            <!-- <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>(-) NCB @ 20% </td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}</th>
                            </tr> -->
                            <tr *ngIf="(quoteResp.riskDetails.roadSideAssistance > 0) || isRSAPlan">
                              <td>Road Side Assistance </td>
                              <th>{{quoteResp.riskDetails.roadSideAssistance}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.zeroDepreciation > 0">
                              <td>Zero Depreciation </td>
                              <th>{{calculatedQuote.riskDetails.zeroDepreciation}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.electricalAccessories > 0">
                              <td>Electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.electricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.nonElectricalAccessories > 0">
                              <td>Non-electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.nonElectricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.engineProtect > 0">
                              <td>Engine Protect</td>
                              <th>{{calculatedQuote.riskDetails.engineProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.keyProtect > 0">
                              <td>Key Protect</td>
                              <th>{{calculatedQuote.riskDetails.keyProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.emiProtect > 0">
                              <td>EMI Protect</td>
                              <th>{{calculatedQuote.riskDetails.emiProtect}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tyreProtect > 0">
                              <td>Tyre Protect</td>
                              <th>{{calculatedQuote.riskDetails.tyreProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.lossOfPersonalBelongings > 0">
                              <td>Loss of Personal Belongings</td>
                              <th>{{calculatedQuote.riskDetails.lossOfPersonalBelongings}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.garageCash > 0">
                              <td>Garage Cash</td>
                              <th>{{calculatedQuote.riskDetails.garageCash}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.returnToInvoice > 0">
                              <td>Return to Invoice</td>
                              <th>{{calculatedQuote.riskDetails.returnToInvoice}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionOD > 0">
                              <td>Geographic Extension Premium</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionOD}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.consumables > 0">
                              <td>Consumables</td>
                              <th>{{calculatedQuote.riskDetails.consumables}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.biFuelKitTP > 0">
                              <td>Liability For Bi-Fuel Kit</td>
                              <th>{{calculatedQuote.riskDetails.biFuelKitTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionTP > 0">
                              <td>Geographic Extension Liability</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.paCoverForUnNamedPassenger > 0">
                              <td>PA for Unnamed Passenger</td>
                              <th>{{calculatedQuote.riskDetails.paCoverForUnNamedPassenger}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.employeesOfInsured > 0">
                              <td>Legal Liability to Paid Employee</td>
                              <th>{{calculatedQuote.riskDetails.employeesOfInsured}}
                              </th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total Premium with Addon </td>
                              <th>₹ {{ premiumWithoutDiscount }} </th>
                            </tr>
                            <!--Discount-->
                            <tr *ngIf="calculatedQuote.riskDetails.antiTheftDiscount > 0">
                              <td>Anti-theft Discount</td>
                              <th>{{calculatedQuote.riskDetails.antiTheftDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.automobileAssociationDiscount > 0">
                              <td>Automobile Membership Discount</td>
                              <th>{{calculatedQuote.riskDetails.automobileAssociationDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.handicappedDiscount > 0">
                              <td>Handicapped Discount</td>
                              <th>{{calculatedQuote.riskDetails.handicappedDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>Deduct {{calculatedQuote.riskDetails.ncbPercentage}} % for NCB</td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.voluntaryDiscount > 0">
                              <td>Voluntary Discount</td>
                              <th>{{calculatedQuote.riskDetails.voluntaryDiscount}}
                              </th>
                            </tr>
                            <!-- <tr class="altRowBg" *ngIf="getdiscountTotal || '0'">
                              <td>Total Discount(B)</td>
                              <th>{{getdiscountTotal || '0'}}
                              </th>
                            </tr> -->
                            <tr *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>TPPD Discount (-)</td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}
                              </th>
                            </tr>
                            <!-- <tr class="altRowBg" *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>Total Discount(E)
                              </td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}</th>
                            </tr> -->
                            <tr class="altRowBg" *ngIf="totalDiscount > 0">
                              <td>Total Discount(-) </td>
                              <th><span class="text-right">₹ {{totalDiscount}}</span>
                            </tr>

                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Total Premium ₹ {{calculatedQuote.finalPremium}}</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Insured declared Value (IDV) (Rs)</td>
                              <th>Rs {{calculatedQuote.generalInformation.depriciatedIDV}}</th>
                            </tr>
                            <tr>
                              <td>Tenure</td>
                              <th>{{calculatedQuote.generalInformation.tenure}} year OD +
                                {{calculatedQuote.generalInformation.tpTenure}}
                                year TP</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Current Showroom Price </td>
                              <th>Rs {{calculatedQuote.generalInformation.showRoomPrice}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                          </table>

                        </div>
                      </div>

                      <!-- <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Agent Details</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Agent Details</td>
                              <th>{{dealDetailsfromIM.imid}}</th>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <th>{{dealDetailsfromIM.intermediaryName}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Location</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.officeName}}</th>
                            </tr>
                            <tr>
                              <td>Vertical</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.fullVerticalDesc}}</th>
                            </tr>
                          </table>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>Net Premium</span>
                    <span class="text-right">₹ {{
                      calculatedQuote.packagePremium }}</span>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{calculatedQuote.totalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{calculatedQuote.finalPremium}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- New Premium Breakup Modal for TP -->
<div class="modal-dialog modal-xl container-fluid mainsec" id="premium_breakup"
  *ngIf="quoteResp && (productCode == '2320' || productCode == '2319')" style="overflow-y: scroll;">
  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
        data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
        class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
        aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">TP Premium Break-Up</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{ calculatedQuote.generalInformation.manufacturerName }}
                                {{calculatedQuote.generalInformation.vehicleModel}} {{
                                calculatedQuote.generalInformation.cubicCapacity }}
                                CC</th>
                            </tr>
                            <!-- <tr>
                              <td>Registration number</td>
                              <th>{{ quoteRequ.RegistrationNumber }}</th>
                            </tr> -->
                            <tr class="altRowBg">
                              <td>RTO Location</td>
                              <th>{{calculatedQuote.generalInformation.rtoLocation}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>Cubic Capacity</td>
                              <th>{{calculatedQuote.generalInformation.cubicCapacity}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>{{seatingcapacity}}</th>
                            </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <!-- <tr *ngIf="quoteResp.riskDetails.basicOD > 0">
                              <td>Basic OD Premium</td>
                              <th>{{quoteResp.riskDetails.basicOD}}</th>
                            </tr> -->
                            <tr *ngIf="quoteResp.riskDetails.basicTP > 0">
                              <td>Basic Premium including premium for
                                TPPD vehicle:</td>
                              <th>{{quoteResp.riskDetails.basicTP}}</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Total OD + TP Premium</td>
                              <th>{{ODandTPAmount}}</th>
                              <th>₹{{quoteResp.generalInformation.packagePremium}}</th>
                            </tr> -->
                            <!--Addons-->
                            <tr *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver > 0">
                              <td>Compulsory PA Cover for Owner Driver</td>
                              <th>{{quoteResp.riskDetails.paCoverForOwnerDriver}}</th>
                            </tr>
                            <tr *ngIf="quoteResp.riskDetails.paidDriver > 0">
                              <td>Legal Liability To Paid Driver</td>
                              <th>{{quoteResp.riskDetails.paidDriver}}</th>
                            </tr>


                            <!-- <tr *ngIf="calculatedQuote.riskDetails.bonusDiscount > 0">
                              <td>(-) NCB @ 20% </td>
                              <th>{{calculatedQuote.riskDetails.bonusDiscount}}</th>
                            </tr> -->
                            <tr *ngIf="(quoteResp.riskDetails.roadSideAssistance > 0) || isRSAPlan">
                              <td>Road Side Assistance </td>
                              <th>{{quoteResp.riskDetails.roadSideAssistance}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.zeroDepreciation > 0">
                              <td>Zero Depreciation </td>
                              <th>{{calculatedQuote.riskDetails.zeroDepreciation}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.electricalAccessories > 0">
                              <td>Electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.electricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.nonElectricalAccessories > 0">
                              <td>Non-electrical Accessories Premium</td>
                              <th>{{calculatedQuote.riskDetails.nonElectricalAccessories}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.engineProtect > 0">
                              <td>Engine Protect</td>
                              <th>{{calculatedQuote.riskDetails.engineProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.keyProtect > 0">
                              <td>Key Protect</td>
                              <th>{{calculatedQuote.riskDetails.keyProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.emiProtect > 0">
                              <td>EMI Protect</td>
                              <th>{{calculatedQuote.riskDetails.emiProtect}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.tyreProtect > 0">
                              <td>Tyre Protect</td>
                              <th>{{calculatedQuote.riskDetails.tyreProtect}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.lossOfPersonalBelongings > 0">
                              <td>Loss of Personal Belongings</td>
                              <th>{{calculatedQuote.riskDetails.lossOfPersonalBelongings}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.garageCash > 0">
                              <td>Garage Cash</td>
                              <th>{{calculatedQuote.riskDetails.garageCash}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.returnToInvoice > 0">
                              <td>Return to Invoice</td>
                              <th>{{calculatedQuote.riskDetails.returnToInvoice}}</th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionOD > 0">
                              <td>Geographic Extension Premium</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionOD}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.consumables > 0">
                              <td>Consumables</td>
                              <th>{{calculatedQuote.riskDetails.consumables}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.biFuelKitTP > 0">
                              <td>Liability For Bi-Fuel Kit</td>
                              <th>{{calculatedQuote.riskDetails.biFuelKitTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.geographicalExtensionTP > 0">
                              <td>Geographic Extension Liability</td>
                              <th>{{calculatedQuote.riskDetails.geographicalExtensionTP}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.paCoverForUnNamedPassenger > 0">
                              <td>PA for Unnamed Passenger</td>
                              <th>{{calculatedQuote.riskDetails.paCoverForUnNamedPassenger}}
                              </th>
                            </tr>
                            <tr *ngIf="calculatedQuote.riskDetails.employeesOfInsured > 0">
                              <td>Legal Liability to Paid Employee</td>
                              <th>{{calculatedQuote.riskDetails.employeesOfInsured}}
                              </th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Total Premium with Addon </td>
                              <th>₹ {{ premiumWithoutDiscount }}
                            </tr>
                            <!--Discount-->
                            <!-- <tr class="altRowBg" *ngIf="getdiscountTotal || '0'">
                              <td>Total Discount(B)</td>
                              <th>{{getdiscountTotal || '0'}}
                              </th>
                            </tr> -->
                            <tr *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>TPPD Discount(-)</td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}
                              </th>
                            </tr>
                            <!-- <tr class="altRowBg" *ngIf="calculatedQuote.riskDetails.tppD_Discount > 0">
                              <td>Total Discount(E)
                              </td>
                              <th>{{calculatedQuote.riskDetails.tppD_Discount}}</th>
                            </tr> -->


                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Total Premium ₹ {{calculatedQuote.finalPremium}}</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Insured declared Value (IDV) (Rs)</td>
                              <th>Rs {{calculatedQuote.generalInformation.depriciatedIDV}}</th>
                            </tr>
                            <tr>
                              <td>Tenure</td>
                              <th>{{calculatedQuote.generalInformation.tenure}} year OD +
                                {{calculatedQuote.generalInformation.tpTenure}}
                                year TP</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Current Showroom Price </td>
                              <th>Rs {{calculatedQuote.generalInformation.showRoomPrice}}</th>
                            </tr>
                            <tr>
                              <td>Registration Date</td>
                              <th>{{quoteResp.generalInformation.registrationDate}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{calculatedQuote.generalInformation.manufacturingYear}}</th>
                            </tr>
                          </table>

                        </div>
                      </div>

                      <!-- <div class="detailPanel detailPanel2 mb-3">
                        <h3 class="rounded-0">Agent Details</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Agent Details</td>
                              <th>{{dealDetailsfromIM.imid}}</th>
                            </tr>
                            <tr>
                              <td>Name</td>
                              <th>{{dealDetailsfromIM.intermediaryName}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Location</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.officeName}}</th>
                            </tr>
                            <tr>
                              <td>Vertical</td>
                              <th *ngIf="IsPOSTransaction_flag == false">{{dealDetailsfromIM.fullVerticalDesc}}</th>
                            </tr>
                          </table>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>Net Premium</span>
                    <span class="text-right">₹ {{
                      calculatedQuote.totalLiabilityPremium}}</span>
                  </div>
                  <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{calculatedQuote.totalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{calculatedQuote.finalPremium}}</span>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- preium breakup modal for 3 -->
<!-- <div class="container" id="3premium_breakupfw" data-keyboard="false" data-backdrop="static" role="dialog"
  aria-labelledby="3premium_breakupTitle" aria-hidden="true" *ngIf="quoteResp">
  <div class="modal-content">
    <div class="modal-body fieldsdiv" id="modal-scroll">
      <div class="full-div">
        <div class="heading-div">
        </div>
        <div class="detail">
          <ul class="detail-list" *ngIf="productCode != '2320' && productCode != '2319'">
            <li>
              <span class="li-detail">{{'Premium.Basic' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.basicOD}}</span>
            </li>
            <li>
              <span class="li-detail">{{'Premium.sub' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.basicOD}}</span>
            </li>
            <li></li>
                            <li></li>
                            <li></li>
            <li>
              <span class="li-detail"><b>{{'Premium.totalod' | translate }}</b></span>
              <span class="amount"><b>&#8377; {{quoteResp.riskDetails.basicOD}}</b></span>
            </li>
          </ul>

          <ul class="detail-list">
            <li>
              <span class="li-detail">{{'Premium.basictp' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.basicTP}}</span>
            </li>
            <li>
              <span class="li-detail">{{'Premium.bonus' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.bonusDiscount}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.consumables != undefined && quoteResp.riskDetails.consumables != 0 ">
              <span class="li-detail">Consumables</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.consumables}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.electricalAccessories != undefined && quoteResp.riskDetails.electricalAccessories != 0 ">
              <span class="li-detail">Electrical Accessories</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.electricalAccessories}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.geographicalExtensionTP != undefined && quoteResp.riskDetails.geographicalExtensionTP != 0 ">
              <span class="li-detail">{{'Premium.GeographicalExtension' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.geographicalExtensionTP}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.antiTheftDiscount != undefined && quoteResp.riskDetails.antiTheftDiscount != 0 ">
              <span class="li-detail">Antitheft Discount</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.antiTheftDiscount}}</span>
            </li>

            <li
              *ngIf="quoteResp.riskDetails.automobileAssociationDiscount != undefined && quoteResp.riskDetails.automobileAssociationDiscount != 0 ">
              <span class="li-detail">Automobile Association Discount</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.automobileAssociationDiscount}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.engineProtect != undefined && quoteResp.riskDetails.engineProtect != 0 ">
              <span class="li-detail">Engine Protect</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.engineProtect}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.handicappedDiscount != undefined && quoteResp.riskDetails.handicappedDiscount != 0 ">
              <span class="li-detail">Handicapped Discount</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.handicappedDiscount}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.keyProtect != undefined && quoteResp.riskDetails.keyProtect != 0 ">
              <span class="li-detail">Key Protect</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.keyProtect}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.emiProtect != undefined && quoteResp.riskDetails.emiProtect != 0 ">
              <span class="li-detail">EMI Protect</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.emiProtect}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.tyreProtect != undefined && quoteResp.riskDetails.tyreProtect != 0 ">
              <span class="li-detail">Tyre Protect</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.tyreProtect}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.lossOfPersonalBelongings != undefined && quoteResp.riskDetails.lossOfPersonalBelongings != 0">
              <span class="li-detail">Loss of personal belongings</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.lossOfPersonalBelongings}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.nonElectricalAccessories != undefined && quoteResp.riskDetails.nonElectricalAccessories != 0">
              <span class="li-detail">Non Electrical Accessories</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.nonElectricalAccessories}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.returnToInvoice != undefined && quoteResp.riskDetails.returnToInvoice != 0 ">
              <span class="li-detail">Return to Invoice</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.returnToInvoice}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.voluntaryDiscount != undefined && quoteResp.riskDetails.voluntaryDiscount != 0 ">
              <span class="li-detail">Voluntary Discount</span>
              <span class="amount">&#8377; {{voluntaryDiscount}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.zeroDepreciation != undefined && quoteResp.riskDetails.zeroDepreciation != 0 ">
              <span class="li-detail">Zero Depreciation</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.zeroDepreciation}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.garageCash != undefined && quoteResp.riskDetails.garageCash != 0 ">
              <span class="li-detail">Garage Cash</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.garageCash}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.tppD_Discount != undefined && quoteResp.riskDetails.tppD_Discount != 0">
              <span class="li-detail">TPPD Discount</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.tppD_Discount}}</span>
            </li>
            <li
              *ngIf="productCode == '2319' && (quoteResp.riskDetails.biFuelKitTP != undefined && quoteResp.riskDetails.biFuelKitTP != 0)">
              <span class="li-detail">Bi Fuel Kit </span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.biFuelKitTP}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.roadSideAssistance != undefined && quoteResp.riskDetails.roadSideAssistance != 0 ">
              <span class="li-detail">Road Side Assistance</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.roadSideAssistance}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.employeesOfInsured != undefined && quoteResp.riskDetails.employeesOfInsured != 0">
              <span class="li-detail">{{'Premium.insuredEmployee' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.employeesOfInsured}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.paCoverForOwnerDriver != undefined && quoteResp.riskDetails.paCoverForOwnerDriver != 0 ">
              <span class="li-detail">{{'Premium.PA' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.paCoverForOwnerDriver}}</span>
            </li>
            <li
              *ngIf="quoteResp.riskDetails.paCoverForUnNamedPassenger != undefined && quoteResp.riskDetails.paCoverForUnNamedPassenger != 0">
              <span class="li-detail">{{'Premium.Unnamed' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.paCoverForUnNamedPassenger}}</span>
            </li>
            <li *ngIf="quoteResp.riskDetails.paidDriver != undefined && quoteResp.riskDetails.paidDriver != 0">
              <span class="li-detail">{{'Premium.PaidDriver' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.paidDriver}}</span>
            </li>
            <li></li>
            <li *ngIf="quoteResp.totalLiabilityPremium != undefined && quoteResp.totalLiabilityPremium != 0">
              <span class="li-detail"><b>{{'Premium.Subtotal' | translate }}</b></span>
              <span class="amount"><b>&#8377; {{quoteResp.totalLiabilityPremium}}</b></span>
            </li>

          </ul>
        </div>
      </div>
      <div class="full-div">
        <div class="heading-div">
        </div>
        <div class="detail">
          <ul class="detail-list">

            <li>
              <span class="li-detail">{{'Premium.BasicTP' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.basicTP}}</span>
            </li>
            <li>
              <span class="li-detail"><b>{{'Premium.Total' | translate }}</b></span>
            </li>
            <li>
              <span class="li-detail">{{'Premium.add' | translate }}</span>
            </li>
            <li>
              <span class="li-detail">{{'Premium.pacov' | translate }}</span>
              <span class="amount">&#8377; {{quoteResp.riskDetails.paCoverForOwnerDriver}}</span>
            </li>
            <li *ngIf="liablitySubTotal != undefined && liablitySubTotal != 0">
              <span class="li-detail"><b>{{'Premium.Subtotal' | translate }}</b></span>
              <span class="amount">&#8377; <b>{{liablitySubTotal}}</b></span>
            </li>
            <li>
              <span class="li-detail"><b>{{'Premium.liabilitypre' | translate }}</b></span>
              <span class="amount">&#8377; <b>{{quoteResp.totalLiabilityPremium}}</b></span>
            </li>
            <li>
              <span class="li-detail"><b>{{'Premium.totaltax' | translate }}</b></span>
              <span class="amount">&#8377; <b>{{quoteResp.totalTax}}</b></span>
            </li>
            <li>
              <span class="li-detail"><b>{{'Premium.totalpre' | translate }}</b></span>
              <span class="amount"><b>&#8377; {{quoteResp.finalPremium}}</b></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- New 3 Premium Breakup Modal for 2 wheeler -->
<!-- <div class="container" id="3premium_breakup" *ngIf="quoteResp && productCode == 2312">
  <div class="modal-content">
    <div class="modal-body py-2" id="modal-scroll">
      <table id="premiumBreakup" class="sfc_table">
        <thead>
          <tr>
            <th class="left-border"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="right-border"></th>
          </tr>
        </thead>
        <tr align="center">
          <td colspan="6" class="heading" align="center">Two Wheeler Premium Break-Up</td>
        </tr>
        <tr>
          <td colspan="4">Model : {{ quoteResp.generalInformation.manufacturerName }}
            {{quoteResp.generalInformation.vehicleModel}} {{ quoteResp.generalInformation.cubicCapacity }} CC</td>
          <td colspan="4">RTO Location : {{quoteResp.generalInformation.rtoLocation}}</td>
        </tr>
        <tr>
          <td>Current Showroom Price</td>
          <td>Rs {{quoteResp.generalInformation.showRoomPrice}}</td>
          <td>Insured declared Value (IDV)</td>
          <td>Rs {{quoteResp.generalInformation.depriciatedIDV}}</td>
          <td>Tenure</td>
          <td>{{quoteResp.generalInformation.tenure}} year OD + {{quoteResp.generalInformation.tpTenure}} year TP</td>
        </tr>
        <tr>
          <td>Manufacturing Year: </td>
          <td>{{quoteResp.generalInformation.manufacturingYear}}</td>
          <td>Registration Date: </td>
          <td>{{quoteResp.generalInformation.registrationDate}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cubic Capacity: </td>
          <td>{{quoteResp.generalInformation.cubicCapacity}}</td>
          <td>Seating Capacity:</td>
          <td>{{quoteResp.generalInformation.seatingCapacity}}</td>
          <td></td>
          <td></td>
        </tr>

        <tr align="center">
          <th colspan="6">Premium Schedule</th>
        </tr>
        <tr align="center">
          <th colspan="3">A. Own Damage</th>
          <th colspan="3">B. Liability</th>
        </tr>
        <tr>
          <td colspan="2">Basic Premium</td>
          <td id="odSub-1">Rs {{quoteResp.riskDetails.basicOD}}</td>
          <td colspan="2">Basic Premium including premium for TPPD vehicle</td>
          <td id="tpSub-1">Rs {{quoteResp.riskDetails.basicTP}}</td>
        </tr>
        <tr>
          <td colspan="2">Electrical Accessories Premium</td>
          <td id="odSub-2">Rs {{quoteResp.riskDetails.electricalAccessories}}</td>
          <td colspan="2" *ngIf="productCode != '2319'">Liability For Bi-Fuel Kit</td>
          <td *ngIf="productCode != '2319'" id="tpSub-2">Rs 0</td>
          <td *ngIf="productCode == '2319'" colspan="2">Liability For Bi-Fuel Kit </td>
          <td *ngIf="productCode == '2319'" id="tpSub-2">Rs {{quoteResp.riskDetails.biFuelKitTP}} </td>
        </tr>
        <tr>
          <td colspan="2">Non-electrical Accessories Premium</td>
          <td id="odSub-3">Rs {{quoteResp.riskDetails.nonElectricalAccessories}}</td>
          <td colspan="2">Geographic Extension Liability</td>
          <td id="tpSub-3">Rs {{quoteResp.riskDetails.geographicalExtensionTP}} </td>
        </tr>
        <tr>
          <td colspan="2">Bi-fuel Kit Premium</td>
          <td>Rs 0 </td>
          <td colspan="2"><strong>Total (D)</strong></td>
          <td><strong>Rs {{getTpTotal || '0'}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">Road Side Assistance</td>
          <td id="odSub-4">Rs {{quoteResp.riskDetails.roadSideAssistance}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="2">Return to Invoice</td>
          <td id="odSub-5">Rs {{quoteResp.riskDetails.returnToInvoice}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Zero Depreciation</td>
          <td id="odSub-6">Rs {{quoteResp.riskDetails.zeroDepreciation}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="2">Geographic Extension Premium</td>
          <td id="odSub-7">Rs {{quoteResp.riskDetails.geographicalExtensionOD}}</td>
          <td colspan="2">PA for Unnamed Passenger</td>
          <td id="liabtpSub-1">Rs {{quoteResp.riskDetails.paCoverForUnNamedPassenger}}</td>
        </tr>
        <tr>
          <td colspan="2">Consumables</td>
          <td id="odSub-8">Rs {{quoteResp.riskDetails.consumables}}</td>
          <td colspan="2">Compulsory PA Cover for Owner Driver</td>
          <td id="liabtpSub-2">Rs {{quoteResp.riskDetails.paCoverForOwnerDriver}}</td>
        </tr>

        <tr>
          <td colspan="2"><strong>Sub Total (A)</strong></td>
          <td><strong>Rs {{getODSubTotal || '0*'}}</strong></td>
          <td colspan="2">Legal Liability To Paid Driver</td>
          <td id="liabtpSub-3">Rs {{quoteResp.riskDetails.paidDriver}}</td>
        </tr>
        <tr>
          <td colspan="2">Anti-theft Discount</td>
          <td id="disc-1">Rs {{quoteResp.riskDetails.antiTheftDiscount}}</td>
          <td colspan="2">Legal Liability to Paid Employee</td>
          <td id="liabtpSub-4">Rs {{quoteResp.riskDetails.employeesOfInsured}}</td>
        </tr>
        <tr>
          <td colspan="2">Automobile Membership Discount</td>
          <td id="disc-2">Rs {{quoteResp.riskDetails.automobileAssociationDiscount}}</td>
          <td colspan="2"><strong>Total (E)</strong></td>
          <td><strong>Rs {{getliabTpTotal || '0'}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">Handicapped Discount </td>
          <td id="disc-3">Rs {{quoteResp.riskDetails.handicappedDiscount}}</td>

          <td colspan="2">TPPD Discount (-)</td>
          <td>Rs. {{quoteResp.riskDetails.tppD_Discount}}</td>
        </tr>
        <tr>
          <td colspan="2">Deduct {{quoteResp.riskDetails.ncbPercentage}} % for NCB </td>
          <td id="disc-4">Rs {{quoteResp.riskDetails.bonusDiscount}}</td>
          <td colspan="2"><strong>Total Liability Premium ( F = D + E )</strong></td>
          <td><strong>Rs {{quoteResp.totalLiabilityPremium}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">Voluntarily Discount</td>
          <td id="disc-5">Rs {{quoteResp.riskDetails.voluntaryDiscount}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Total Discount(B)</strong></td>
          <td><strong>Rs {{getdiscountTotal || '0'}}</strong></td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Breaking Loading Amount (+)</strong></td>
          <td><strong>Rs {{quoteResp.riskDetails.breakinLoadingAmount}}</strong></td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Total Own Damage Premium ( C = A - B )</strong></td>
          <td><strong>Rs {{quoteResp.totalOwnDamagePremium}}</strong></td>
          <td colspan="3"></td>
        </tr>

        <tr>
          <td colspan="3"><strong>Package Premium (G = C + F) Rs {{quoteResp.packagePremium}}</strong></td>
          <td colspan="3"><strong>GST Rs {{quoteResp.totalTax}}</strong></td>
        </tr>

        <tr>
          <td colspan="6"><strong>Total Premium: Rs {{quoteResp.finalPremium}}</strong></td>
        </tr>
      </table>
    </div>

  </div>
</div> -->

<!-- New 3 Premium Breakup Modal for 4 wheeler -->
<!-- <div class="container" id="3premium_breakup" *ngIf="quoteResp && productCode == 2311">
  <div class="modal-content">
    <div class="modal-body py-2" id="modal-scroll">

      <table id="premiumBreakup" class="sfc_table">
        <thead>
          <tr>
            <th class="left-border"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="right-border"></th>
          </tr>
        </thead>
        <tr align="center">
          <td colspan="6" class="heading" align="center">Four Wheeler Premium Break-Up</td>
        </tr>
        <tr>
          <td colspan="4">Model : {{ quoteResp.generalInformation.manufacturerName }}
            {{quoteResp.generalInformation.vehicleModel}} {{ quoteResp.generalInformation.cubicCapacity }} CC</td>
          <td colspan="4">RTO Location : {{quoteResp.generalInformation.rtoLocation}}</td>
        </tr>
        <tr>
          <td>Current Showroom Price</td>
          <td>Rs {{quoteResp.generalInformation.showRoomPrice}}</td>
          <td>Insured declared Value (IDV)</td>
          <td>Rs {{quoteResp.generalInformation.depriciatedIDV}}</td>
          <td>Tenure</td>
          <td>{{quoteResp.generalInformation.tenure}} year OD + {{quoteResp.generalInformation.tpTenure}} year TP</td>
        </tr>
        <tr>
          <td>Manufacturing Year: </td>
          <td>{{quoteResp.generalInformation.manufacturingYear}}</td>
          <td>Registration Date: </td>
          <td>{{quoteResp.generalInformation.registrationDate}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Cubic Capacity: </td>
          <td>{{quoteResp.generalInformation.cubicCapacity}}</td>
          <td>Seating Capacity:</td>
          <td>{{quoteResp.generalInformation.seatingCapacity}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr align="center">
          <th colspan="6">Premium Schedule</th>
        </tr>
        <tr align="center">
          <th colspan="3">A. Own Damage</th>
          <th colspan="3">B. Liability</th>
        </tr>
        <tr>
          <td colspan="2">Basic Premium</td>
          <td id="odSub-1">Rs {{quoteResp.riskDetails.basicOD}}</td>
          <td colspan="2">Basic Premium including premium for TPPD vehicle</td>
          <td id="tpSub-1">Rs {{quoteResp.riskDetails.basicTP}}</td>
        </tr>
        <tr>
          <td colspan="2">Electrical Accessories Premium</td>
          <td id="odSub-2">Rs {{quoteResp.riskDetails.electricalAccessories}}</td>
          <td colspan="2" *ngIf="productCode != '2319'">Liability For Bi-Fuel Kit</td>
          <td *ngIf="productCode != '2319'" id="tpSub-2">Rs 0</td>
          <td *ngIf="productCode == '2319'" colspan="2">Liability For Bi-Fuel Kit </td>
          <td *ngIf="productCode == '2319'" id="tpSub-2">Rs {{quoteResp.riskDetails.biFuelKitTP}} </td>
        </tr>
        <tr>
          <td colspan="2">Non-electrical Accessories Premium</td>
          <td id="odSub-3">Rs {{quoteResp.riskDetails.nonElectricalAccessories}}</td>
          <td colspan="2">Geographic Extension Liability</td>
          <td id="tpSub-3">Rs {{quoteResp.riskDetails.geographicalExtensionTP}} </td>
        </tr>
        <tr>
          <td colspan="2">Bi-fuel Kit Premium</td>
          <td>Rs 0 </td>
          <td colspan="2"><strong>Total (D)</strong></td>
          <td><strong>Rs {{getTpTotal || '0'}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">Road Side Assistance</td>
          <td id="odSub-4">Rs {{quoteResp.riskDetails.roadSideAssistance}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Engine Protect</td>
          <td id="odSub-5">Rs {{quoteResp.riskDetails.engineProtect}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Key Protect</td>
          <td id="odSub-6">Rs {{quoteResp.riskDetails.keyProtect}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">EMI Protect</td>
          <td id="odSub-7">Rs {{quoteResp.riskDetails.emiProtect}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Tyre Protect</td>
          <td id="odSub-8">Rs {{quoteResp.riskDetails.tyreProtect}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Loss of Personal Belongings</td>
          <td id="odSub-9">Rs {{quoteResp.riskDetails.lossOfPersonalBelongings}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Garage Cash</td>
          <td id="odSub-10">Rs {{quoteResp.riskDetails.garageCash}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Return to Invoice</td>
          <td id="odSub-11">Rs {{quoteResp.riskDetails.returnToInvoice}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">Zero Depreciation</td>
          <td id="odSub-12">Rs {{quoteResp.riskDetails.zeroDepreciation}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>

        <tr>
          <td colspan="2">Geographic Extension Premium</td>
          <td id="odSub-13">Rs {{quoteResp.riskDetails.geographicalExtensionOD}}</td>
          <td colspan="2">PA for Unnamed Passenger</td>
          <td id="liabtpSub-1">Rs {{quoteResp.riskDetails.paCoverForUnNamedPassenger}}</td>
        </tr>
        <tr>
          <td colspan="2">Consumables</td>
          <td id="odSub-14">Rs {{quoteResp.riskDetails.consumables}}</td>
          <td colspan="2">Compulsory PA Cover for Owner Driver</td>
          <td id="liabtpSub-2">Rs {{quoteResp.riskDetails.paCoverForOwnerDriver}}</td>
        </tr>

        <tr>
          <td colspan="2"><strong>Sub Total (A)</strong></td>
          <td><strong>Rs {{getODSubTotal || '0*'}}</strong></td>
          <td colspan="2">Legal Liability To Paid Driver</td>
          <td id="liabtpSub-3">Rs {{quoteResp.riskDetails.paidDriver}}</td>
        </tr>
        <tr>
          <td colspan="2">Anti-theft Discount</td>
          <td id="disc-1">Rs {{quoteResp.riskDetails.antiTheftDiscount}}</td>
          <td colspan="2">Legal Liability to Paid Employee</td>
          <td id="liabtpSub-4">Rs {{quoteResp.riskDetails.employeesOfInsured}}</td>
        </tr>
        <tr>
          <td colspan="2">Automobile Membership Discount</td>
          <td id="disc-2">Rs {{quoteResp.riskDetails.automobileAssociationDiscount}}</td>
          <td colspan="2"><strong>Total (E)</strong></td>
          <td><strong>Rs {{getliabTpTotal || '0'}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">Handicapped Discount </td>
          <td id="disc-3">Rs {{quoteResp.riskDetails.handicappedDiscount}}</td>

          <td colspan="2">TPPD Discount (-)</td>
          <td>Rs. {{quoteResp.riskDetails.tppD_Discount}}</td>
        </tr>
        <tr>
          <td colspan="2">Deduct {{quoteResp.riskDetails.ncbPercentage}} % for NCB </td>
          <td id="disc-4">Rs {{quoteResp.riskDetails.bonusDiscount}}</td>
          <td colspan="2"><strong>Total Liability Premium ( F = D + E )</strong></td>
          <td><strong>Rs {{quoteResp.totalLiabilityPremium}}</strong></td>
        </tr>
        <tr>
          <td colspan="2">Voluntarily Discount</td>
          <td id="disc-5">Rs {{quoteResp.riskDetails.voluntaryDiscount}}</td>
          <td colspan="2"></td>
          <td></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Total Discount(B)</strong></td>
          <td><strong>Rs {{getdiscountTotal || '0'}}</strong></td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Breaking Loading Amount (+)</strong></td>
          <td><strong>Rs {{quoteResp.riskDetails.breakinLoadingAmount}}</strong></td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="2"><strong>Total Own Damage Premium ( C = A - B )</strong></td>
          <td><strong>Rs {{quoteResp.totalOwnDamagePremium}}</strong></td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td colspan="3"><strong>Package Premium (G = C + F) Rs {{quoteResp.packagePremium}}</strong></td>
          <td colspan="3"><strong>GST Rs {{quoteResp.totalTax}}</strong></td>
        </tr>
        <tr>
          <td colspan="6"><strong>Total Premium: Rs {{quoteResp.finalPremium}}</strong></td>
        </tr>
      </table>
    </div>
  </div>
</div> -->


<!-- New 3 Premium Breakup Modal for TP -->
<!-- <div class="container" id="3premium_breakup" *ngIf="quoteResp && (productCode == '2320' || productCode == '2319')">
  <div class="modal-content">
    <div class="modal-body py-2" id="modal-scroll">

      <table id="premiumBreakup" class="sfc_table">
        <thead>
          <tr>
            <th class="left-border"></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th class="right-border"></th>
          </tr>
        </thead>
        <tr align="center">
          <td colspan="6" class="heading" align="center">TP Premium Break-Up</td>
        </tr>
        <tr>
          <td colspan="4">Model : {{ quoteResp.generalInformation.manufacturerName }}
            {{quoteResp.generalInformation.vehicleModel}} {{ quoteResp.generalInformation.cubicCapacity }} CC</td>
          <td colspan="4">RTO Location : {{quoteResp.generalInformation.rtoLocation}}</td>
        </tr>
        <tr>
          <td>Current Showroom Price</td>
          <td>Rs {{quoteResp.generalInformation.showRoomPrice}}</td>

          <td>Tenure</td>
          <td>{{quoteResp.generalInformation.tenure}} year OD + {{quoteResp.generalInformation.tpTenure}} year TP</td>
          <td>Manufacturing Year: </td>
          <td>{{quoteResp.generalInformation.manufacturingYear}}</td>
        </tr>
        <tr>
          <td>Registration Date: </td>
          <td>{{quoteResp.generalInformation.registrationDate}}</td>
          <td>Cubic Capacity: </td>
          <td>{{quoteResp.generalInformation.cubicCapacity}}</td>
          <td>Seating Capacity:</td>
          <td>{{quoteResp.generalInformation.seatingCapacity}}</td>

        </tr>

        <tr align="center">
          <th colspan="6">Premium Schedule</th>
        </tr>
        <tr align="center">
          <th colspan="6">Liability</th>
        </tr>
        <tr>
          <td>Basic Premium including premium for TPPD vehicle</td>
          <td id="tpSub-1">Rs {{quoteResp.riskDetails.basicTP}}</td>
        </tr>
        <tr>
          <td>Liability For Bi-Fuel Kit </td>
          <td id="tpSub-2">Rs {{quoteResp.riskDetails.biFuelKitTP}} </td>
        </tr>
        <tr>
          <td>Geographic Extension Liability</td>
          <td id="tpSub-3">Rs {{quoteResp.riskDetails.geographicalExtensionTP}} </td>
        </tr>
        <tr>
          <td><strong>Total</strong></td>
          <td><strong>Rs {{getTpTotal || '0'}}</strong></td>
        </tr>



        <tr>
          <td>PA for Unnamed Passenger</td>
          <td id="liabtpSub-1">Rs {{quoteResp.riskDetails.paCoverForUnNamedPassenger}}</td>
        </tr>
        <tr>

          <td>Compulsory PA Cover for Owner Driver</td>
          <td id="liabtpSub-2">Rs {{quoteResp.riskDetails.paCoverForOwnerDriver}}</td>
        </tr>

        <tr>

          <td>Legal Liability To Paid Driver</td>
          <td id="liabtpSub-3">Rs {{quoteResp.riskDetails.paidDriver}}</td>
        </tr>
        <tr>

          <td>Legal Liability to Paid Employee</td>
          <td id="liabtpSub-4">Rs {{quoteResp.riskDetails.employeesOfInsured}}</td>
        </tr>
        <tr>

          <td>TPPD Discount (-)</td>
          <td id="liabtpSub-5">Rs. {{quoteResp.riskDetails.tppD_Discount}}</td>
        </tr>

        <tr>

          <td><strong>Total Liability Premium ( F )</strong></td>
          <td><strong>Rs {{quoteResp.totalLiabilityPremium}}</strong></td>
        </tr>

        <tr>
          <td><strong>GST</strong></td>
          <td><strong>Rs {{quoteResp.totalTax}}</strong></td>
        </tr>


        <tr>
          <td><strong>Total Premium:</strong></td>
          <td><strong>Rs {{quoteResp.finalPremium}}</strong></td>
        </tr>
      </table>
    </div>


  </div>
</div> -->


<!-- New Premium Breakup Modal for All Risk Electric Bike - Sejal - 9-5-2022 -->
<div class="modal-dialog modal-xl container-fluid mainsec" id="premium_breakup"
  *ngIf="quoteResp && productCode == allRisk_productCode" style="overflow-y: scroll;">

  <div class="modal-content">
    <div class="row premPlanSidebarContent">
      <div class="premPlanSidebarHeader">
        <a class="premPlanILlogo" href="#"><img src="assets/images/sidebar/icici-lombard-logo-sidebar-prem-plan.png"
            alt="ICICI Lombard" /></a>
      </div>
      <!-- <button id="premPlanDownloadBtn" data-html2canvas-ignore="true" type="button" class="cstmbtn"
        data-toggle="modal" data-target="#emiProt_modal" data-backdrop="static" data-keyboard="false"
        class="nysa_sendPDFbtn cstmbtn">Send PDF</button> -->
      <!-- <button type="button" class="close nysa_closebtn cstmbtn" data-html2canvas-ignore="true" data-dismiss="modal"
        aria-label="Close"><span style="color: white" aria-hidden="true">&times;</span></button> -->

      <!-- Modal body -->
      <div class="modal-body py-2" id="modal-scroll">
        <div class="premPlanMainContent">
          <div class="row">
            <div class="container myBreakInContainer">
              <div class="proposalContainer mt-4">
                <div class="innerdiv equal">
                  <h3 class="mb-3 mt-2">All Risk Electric Vehicle</h3>
                  <div class="row premDetailsContainer">
                    <div class="col-sm-12 col-lg-6 pr-0 motorQuoteUi">
                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Vehicle Details</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Model</td>
                              <th>{{quoteReq.Model}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Battery Number</td>
                              <!-- <th>{{quoteDetails.batterysaver ? quoteDetails.batterysaver : "889988678"}}</th> -->
                              <th>{{quoteReq.BatteryNumber}}</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Manufacturing Year</td>
                              <th>{{quoteReq.ManufacturingYear}}</th>
                            </tr>
                            <tr>
                              <td>KW</td>
                              <th>249</th>
                            </tr>
                            <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>2</th>
                            </tr>
                            <!-- <tr class="altRowBg">
                              <td>Seating Capacity</td>
                              <th>{{seatingcapacity}}</th>
                            </tr> -->
                          </table>
                        </div>
                      </div>

                      <div class="detailPanel detailPanel2 mb-3">
                        <h3>Premium Schedule</h3>
                        <div class="tablediv tablediv2 mt-0">
                          <table class="table">
                            <tr>
                              <td>All Risk TW EV Premium</td>
                                <th>₹ {{evBasePremium}}</th>
                            </tr>
                            <tr>
                              <tr *ngIf="scpaBasePremium != undefined && scpaBasePremium != 0 && isSCPA == true">
                                <td>SCPA</td>
                                <th>₹ {{scpaBasePremium}}</th>
                              </tr>
                              <tr>
                                <td>GST</td>
                                <th>₹ {{ totalTax }}</th>
                              </tr>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-lg-6 motorQuoteUi2">
                      <div class="detailPanel detailPanel2 mb-3">
                        <!-- <h3 class="rounded-0">Total Premium ₹ {{quoteResp.TotalPremium}}</h3> -->
                        <h3 class="rounded-0">Agent Details</h3>
                        <div class="tablediv tablediv2 mt-0 rounded-0 border-0">
                          <table class="table">
                            <tr class="altRowBg">
                              <td>Intermediary Name    </td>
                              <th>{{dealDetailsfromIM.intermediaryName}}</th>
                              <!-- <th>Agent Name</th> -->
                            </tr>
                            <tr>
                              <td>IMID  </td>
                              <th>{{dealDetailsfromIM.imid}}</th>
                              <!-- <th>IM-344122</th> -->
                            </tr>
                            <tr class="altRowBg">
                              <td>Location</td>
                              <th>{{dealDetailsfromIM.officeName}}</th>
                              <!-- <th>MUMBAI</th> -->
                            </tr>
                            <tr>
                              <td>Vertical</td>
                              <th>{{dealDetailsfromIM.fullVerticalDesc}} </th>
                              <!-- <th>Agent</th> -->
                            </tr>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Net Premium</span>
                    <span class="text-right">₹ {{finalPremium ? finalPremium : quoteResp.TotalPremium }}</span>
                  </div>
                  <!-- <div class="totalPremRow bgSkyBlue">
                    <span>GST</span>
                    <span class="text-right">Rs {{quoteResp.TotalTax}}</span>
                  </div>
                  <div class="totalPremRow bgOrange">
                    <span>Total Premium Payable</span>
                    <span class="text-right">Rs {{quoteResp.TotalPremium}}</span> 
                  </div> -->
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
