<!DOCTYPE html>
<app-header></app-header>
<!-- <app-breadcrumbs [productInput]="productCode"></app-breadcrumbs> -->
<div class="container-fluid mainsec" style="padding-left: 0px; padding-right: 0px;">
  <!-- <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page" style="cursor: pointer;" ><a (click)="goToDashborad()">Back</a></li>
  </ol> -->
  <div class="innerdiv">
    <h3>Nysa Motor Renewal</h3>
    <div class="fieldsdiv">
      <div class="breakindiv">
        <!-- <div class="row"> -->
        <!-- <div class="row mb-2">
          <div class="row FormCentered">
            <div class="col-sm-7 form-group">
              <label>Search by Month</label>
            <div>
              <select [(ngModel)]="month" (change)="getDateFromMonth($event)">
               <option *ngFor="let month of selectedMonthList">{{month.Text}}</option>
             </select>
            </div>
            </div>
            <div class="col-sm-3 form-group ">
              <button type="button" (click)="validate()" class="cstmbtn mt-4 ml-4">
                <span *ngIf="spinloader == false">SEARCH</span>
                <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin" ></i></span>
              </button>
            </div>
            
            <div class="col-sm-12 form-group text-center">
              <a style="cursor: pointer; color: #007bff;" id="showHiddenForm" class="customiseLink" (click)=customise()>Customise</a>
            </div>
          </div>
        </div> -->



        <!-- From Date  *ngIf="customiseFlag" -->
        <div class="row">
          <!-- <div class="col-sm-4 form-group">
            <label>Search by Month</label>
          <div>
            <select [(ngModel)]="month" (change)="getDateFromMonth($event)">
             <option *ngFor="let month of selectedMonthList">{{month.Text}}</option>
           </select>
          </div>
          </div> -->
          <div class="col-sm-4 form-group" *ngIf="!customiseFlag">
            <label>Search by Month<sup class="star">*</sup></label>
            <select class="form-control custom-select" [(ngModel)]="month" #monthlist="ngModel"
              (change)="getDateFromMonth($event)" required>
              <option value="" disabled selected>Please Choose...</option>
              <option *ngFor="let month of selectedMonthList">{{month.Text}}</option>
            </select>
            <span style="color: red;" *ngIf="monthlist.touched && monthlist.invalid && !selectedMonth">Kindly Select the
              Month</span>
          </div>
          <div class="col-sm-4 form-group" style="margin-top: 25px; margin-bottom: 0px;">
            <button style="cursor: pointer;" id="showHiddenForm" class="cstmbtn" (click)=customise()>Customise</button>
          </div>
          <div class="col-sm-4 form-group" *ngIf="customiseFlag">
            <label class="form-label" for="savefromdate">From Date<sup class="star">*</sup></label><br>
            <input id="savefromdate" matInput [matDatepicker]="picker10" placeholder="DD/MM/YYYY" name="savefromdate"
              readonly="true" [min]="memminDOB" [max]="memmaxDOB" NoSpecialChar
              [(ngModel)]="renewalpolicyDetails.FromDate" class="form-control dob" (ngModelChange)="fromDate($event)"
              (click)="picker10.open()" required>
            <!-- <mat-datepicker-toggle matSuffix [for]="picker10" class="matCustomCalicon"></mat-datepicker-toggle> -->
            <mat-datepicker #picker10></mat-datepicker>
          </div>
          <!-- To Date -->
          <div class="col-sm-4 form-group" *ngIf="customiseFlag">
            <label class="form-label" for="savetodate">To Date<sup class="star">*</sup></label><br>
            <input id="savetodate" matInput [matDatepicker]="picker11" placeholder="DD/MM/YYYY" name="savetodate"
              readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="renewalpolicyDetails.ToDate"
              class="form-control dob" (ngModelChange)="toDate($event)" (click)="picker11.open()" required>
            <!-- <mat-datepicker-toggle matSuffix [for]="picker11" class="matCustomCalicon"></mat-datepicker-toggle> -->
            <mat-datepicker #picker11></mat-datepicker>
          </div>

          <!-- Vehicle Type -->
          <div class="col-md-12 form-group">
            <label>VEHICLE TYPE</label>
            <ul class="radioul" (change)="vehicletype($event)">
              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_allProduct" name="renew_Product" checked />
                      <label for="renew_allProduct">All Product</label>
                    </td>
                  </tr>
                </table>
              </li>

              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_twoWheeler" name="renew_Product" />
                      <label for="renew_twoWheeler">2 Wheeler</label>
                    </td>
                  </tr>
                </table>
              </li>

              <!-- <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="renew_twoWheelerOD" name="renewCases" />
                    <label for="renew_twoWheelerOD">2 Wheeler OD</label>
                  </td>
                </tr>
              </table>
            </li> -->

              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_fourWheeler" name="renew_Product" />
                      <label for="renew_fourWheeler">4 Wheeler</label>
                    </td>
                  </tr>
                </table>
              </li>

              <!-- <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="renew_fourWheelerOD" name="renewCases" />
                    <label for="renew_fourWheelerOD">4 Wheeler OD</label>
                  </td>
                </tr>
              </table>
            </li> -->

              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_twoWheelerTP" name="renew_Product" />
                      <label for="renew_twoWheelerTP">2 Wheeler TP</label>
                    </td>
                  </tr>
                </table>
              </li>

              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_fourWheelerTP" name="renew_Product" />
                      <label for="renew_fourWheelerTP">4 Wheeler TP</label>
                    </td>
                  </tr>
                </table>
              </li>

              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_twoWheelerOD" name="renew_Product" />
                      <label for="renew_twoWheelerOD">2 Wheeler OD</label>
                    </td>
                  </tr>
                </table>
              </li>

              <li>
                <table class="radio1">
                  <tr>
                    <td>
                      <input type="radio" id="renew_fourWheelerOD" name="renew_Product" />
                      <label for="renew_fourWheelerOD">4 Wheeler OD</label>
                    </td>
                  </tr>
                </table>
              </li>

            </ul>

            <div class="text-center mt-3">
              <button type="button" id="get_quote" (click)="getRenewalData()" class="cstmbtn" tabindex="9">
                <span *ngIf="spinloader == false">Show Renewal Cases</span>
                <span *ngIf="spinloader == true">Show Renewal Cases <i class="fa fa-spinner fa-spin"></i></span>
              </button>
            </div>

          </div>
        </div>
        <!-- </div> -->
        <div class="row" style="margin-left: 5px;" *ngIf="norecordflag == true">
          <label class="norecord">No Records Found</label>
        </div>
        <div class="row" *ngIf="norecordflag == false">
          <div class="container myBreakInContainer maxWidth100"
            style="margin-left: 0px; margin-right: 0px; padding-left: 0px; padding-right: 0px;">
            <div class="tabpane">
              <!-- Search -->
              <div class="panel-group ng-star-inserted" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="row">
                <div class="col-md-6 col-lg-6 col-6 form-group">
                  <label>Policy Number/Registration Number</label>
                  <input type="text" id="claim" #policyno="ngModel" name="claim" class="form-control" [(ngModel)]="term"
                    (ngModelChange)="pageSearchChange()" placeholder="Enter Policy Number/Registration Number"
                    tabindex="2" required>
                </div>
                <div class="col-md-6 col-lg-6 col-6 form-group" style="padding-top: 15px; text-align: center;">
                  <button type="button" id="get_quote" (click)="advanceSearch()" class="cstmbtn" tabindex="9">
                    <span *ngIf="spinloader == false">Advance Search</span>
                    <span *ngIf="spinloader == true">Advance Search<i class="fa fa-spinner fa-spin"></i></span>
                  </button>
                </div>
              </div>
                <!-- Policy List -->

                <div class="col-sm-12 motorRenewalTable">
                  <div class="tablediv">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Sr.No</th>
                            <th>Registration
                              Number</th>
                            <th>Product </th>
                            <th>Customer Name</th>
                            <th>Expiring Policy
                              Number</th>
                            <th>Expiring Policy
                              End Date</th>
                            <th *ngIf="isRenewalPolicy">Renewal
                              Proposal No.</th>
                            <th *ngIf="isRenewalPolicy">Renewal
                              Premium</th>
                            <th *ngIf="isRenewalPolicy">Proposal
                              PDF</th>
                            <th *ngIf="isRenewalPolicy">Send PDF via
                              email/sms</th>
                            <th *ngIf="isRenewalPolicy">Pay</th>
                            <th *ngIf="isRenewalPolicy">Send
                              Payment
                              link</th>
                            <th *ngIf="isRenewalPolicy">Modify
                              Proposal</th>
                            <th *ngIf="!isRenewalPolicy">Generate Rollover Policy</th>
                          </tr>
                        </thead>
                        <tbody
                          *ngFor="let i = index; let data of renewalData | filter:term | paginate: {id:'renewalPagination', itemsPerPage: 10, currentPage: renewalPage }">
                          <tr>
                            <td class="text-center tdNew">{{i + 1}}</td>
                            <td class="text-center tdNew">{{data.VEH_REG_NO}}</td>
                            <td class="text-center tdNew">{{data.VEH_TYPE}}</td>
                            <td class="text-center tdNew">{{data.CUSTOMER_NAME}}</td>
                            <td class="text-center tdNew">{{data.POLICY_NO}}</td>
                            <td class="text-center tdNew">{{data.POLICY_END_DATE | date: 'dd/MM/yyyy'}}</td>
                            <td *ngIf="isRenewalPolicy" class="text-center tdNew">{{data.PROPOSAL_NO}}</td>
                            <td class="text-center tdNew" *ngIf="isRenewalPolicy">{{data.PREMIUM}}</td>
                            <td class="text-center tdNew" (click)="readProposal(data,true)" *ngIf="isRenewalPolicy"><i
                                class="motorRenewal proposalPdf"></i>
                            </td>
                            <td class="text-center tdNew" id="sendPDFviaEmail" data-html2canvas-ignore="true"
                              data-toggle="modal" data-target="#renewalPdf_modal" data-backdrop="static"
                              data-keyboard="false" (click)="pdfRenewalData(data)" *ngIf="isRenewalPolicy"><i
                                class="motorRenewal sendPdf"></i>
                            </td>
                            <td class="text-center tdNew" (click)="paymentValidate(data)" *ngIf="isRenewalPolicy"><i
                                class="motorRenewal payPremium"></i></td>
                            <td class="text-center tdNew" id="sendPaymentLink" data-html2canvas-ignore="true"
                              data-toggle="modal" data-target="#sendCustLink_modal" data-backdrop="static"
                              data-keyboard="false" (click)="paymentLinkPdfData(data)" *ngIf="isRenewalPolicy"><i
                                class="motorRenewal paymentLink"></i></td>
                            <td class="text-center tdNew" (click)="modifyProposal(data)" *ngIf="isRenewalPolicy"><i
                                class="motorRenewal modifyProposal"></i></td>
                            <td class="text-center tdNew" (click)="goToQuote(data)" *ngIf="!isRenewalPolicy"><i
                                class="motorRenewal modifyProposal"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <br>
                  <!-- Pagination -->
                  <div class="text-left row">
                    <pagination-controls id="renewalPagination" (pageChange)="handlePageChange($event)">
                    </pagination-controls>
                  </div>

                  <!-- <div class="nextPrevSection float-left">
                    <a href="#" class="prev">Previous</a>
                    <a class="num">01</a>
                    <a href="#" class="next">Next</a>
                  </div> -->

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modal for send renewal PDF start here-->

    <div class="modal fade" id="renewalPdf_modal" role="dialog" aria-labelledby="renewalPdf_modalTitle"
      aria-hidden="true">
      <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="renewalPdf_modalTitle">Send Renewal PDF</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body fieldsdiv" style="padding: 15px 12px 15px 12px;">
            <form #sendPdfForm="ngForm">
              <div class="form-group">
                <label>Mobile Number<sup class="star">*</sup></label>
                <input type="text" maxlength="10" (keypress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno"
                  (ngModelChange)="mobileValidate()" class="form-control" name="mobileno" [pattern]="mobNumberPattern"
                  #mobNumberpdf="ngModel" placeholder="Enter Mobile Number" />
                <div *ngIf="mobNumberpdf.errors" [ngClass]="'error'" style="color:red">
                  <!-- <div *ngIf="mobNumberpdf.errors.pattern">
                    Invalid Mobile number
                  </div> -->
                  <div *ngIf="moberrorFlag == true || mobNumberpdf.errors.pattern">
                    Mobile number entered is not valid.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email<sup class="star">*</sup></label>
                <input type="email" #emailpdf="ngModel" name="Email" [class.is-invalid]=" emailpdf.touched"
                  pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                  [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
                <div *ngIf="emailpdf.invalid && (emailpdf.dirty || emailpdf.touched)" style="color:red">
                  <div *ngIf="emailpdf.errors.pattern">
                    Email is invalid.
                  </div>
                </div>
              </div>
              <div class="text-center">
                <button [disabled]="!sendPdfForm.form.valid" *ngIf="sendDetails.Email && sendDetails.mobileno"
                  class="cstmbtn" data-dismiss="modal" (click)="sendPropPdf()">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Modal for send renewal PDF end here-->


  <!--Model for send payment link start here-->

  <div class="modal fade" id="sendCustLink_modal" role="dialog" aria-labelledby="sendCustLink_modalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="sendCustLink_modalTitle">Send Payment Link </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body fieldsdiv" style="padding: 15px 12px 15px 12px;">
          <form #sendPdfForm="ngForm">
            <div class="form-group">
              <label>Mobile Number<sup class="star">*</sup></label>
              <input type="text" maxlength="10" (keypress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno"
                (ngModelChange)="mobileValidate()" class="form-control" name="mobileno" [pattern]="mobNumberPattern"
                #mobNumberpay="ngModel" placeholder="Enter Mobile Number" />
              <div *ngIf="mobNumberpay.errors" [ngClass]="'error'" style="color:red">
                <!-- <div *ngIf="mobNumberpay.errors.pattern">
                  Invalid Mobile number
                </div> -->
                <div *ngIf="moberrorFlag == true || mobNumberpay.errors.pattern">
                  Mobile number entered is not valid.
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Email<sup class="star">*</sup></label>
              <input type="email" #emailpay="ngModel" name="Email" [class.is-invalid]="emailpay.touched"
                pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
              <div *ngIf="emailpay.invalid && (emailpay.dirty || emailpay.touched)" style="color:red">
                <div *ngIf="emailpay.errors.pattern">
                  Email is invalid.
                </div>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="!sendPdfForm.form.valid" *ngIf="sendDetails.Email && sendDetails.mobileno"
                class="cstmbtn" data-dismiss="modal" (click)="sendPaymentLink()">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--Model for send paymentlink end here-->
</div>
