<app-header></app-header>
<app-breadcrumbs [productInput]="productCode"></app-breadcrumbs>
<section class="container-fluid mainsec" style="padding-top:20px; padding-bottom: 20px;" *ngIf="isSiteDown">
  <div class="row">
    <div class="container myBreakInContainer">
      <h3 style="color: red!important;">
        <marquee width="100%">Planned Downtime Alert: Our system will be under maintenance from 1AM Jan 8, 2022 to 8 AM
          Jan,2022. iPartner Retail & Corporate, NYSA, Mobile App, Dashboards and MyRA will not be available for login,
          quote or policy issuance during this period</marquee>
      </h3>
    </div>
  </div>
</section>
<section class="container-fluid mainsec" style="padding-top:60px">
  <div class="row">
    <div class="container">
      <div class="innerdiv congratsdiv">
        <table>
          <!-- Congratulations Message -->
          <tr *ngIf="(checkInsta == false || checkInsta == undefined) && isMultiProposal == false">
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5>
              <!-- <h3>{{'paymentconfirmation.transaction' | translate }} : {{PFPayReq.PaymentEntry.onlineDAEntry.AuthCode}}
                | {{'paymentconfirmation.proposal' | translate }} : {{this.propRes.generalInformation.proposalNumber ? this.propRes.generalInformation.proposalNumber : this.propRes.proposalNumber}}
              </h3> -->
              <!-- Sejal - 5-4-2022 -->
              <h3>{{'paymentconfirmation.transaction' | translate }} : {{transactionId}}
                | {{'paymentconfirmation.proposal' | translate }} : {{proposalNumber}}
              </h3>

              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>

            </th>

          </tr>

          <tr *ngIf="checkInsta == true && isMultiProposal == false">
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5>
              <h3>Policy Number : {{newPolicyNumber}}
                | Proposal Numbers : {{newProposalNumber}}</h3>
              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>
            </th>

          </tr>

          <tr *ngIf="isMultiProposal == true">
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5>
              <h3>{{'paymentconfirmation.transaction' | translate }} : {{transactionId}}
                | Proposal Numbers : {{proposalNos}}</h3>
              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>
            </th>

          </tr>

          <tr>
            <th colspan="3">
              <span>{{'paymentconfirmation.punched' | translate }}:</span><span id="timeTaken"> {{timeTaken}}</span>
              <div class="row" *ngIf="isMultiProposal == false">
                <div class="col-md-6">
                  <span class="punch">{{'paymentconfirmation.Rate' | translate }}:</span>
                </div>
                <div class="col-md-6">
                  <div class="rate" (change)="starRating($event.target.value)">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="star">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="star">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="star">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="star">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="star">1 star</label>
                  </div>

                </div>
              </div>
            </th>
          </tr>


          <!-- <tr *ngIf="checkInsta == false || checkInsta == undefined">
            <td colspan="3">
              <ul>
                <li>{{'PaymentPage.premPaid' | translate }}</li>
                <li class="text-right">
                  <strong>₹ {{finalPremium}}</strong>
                </li>
              </ul>
            </td>
          </tr> -->
          <tr>
            <!-- Policy Number -->
            <!-- <td>
                      <label>{{'paymentconfirmation.transaction' | translate }}</label>
                      <span>{{PFPayReq.PaymentEntry.onlineDAEntry.AuthCode}}</span> -->
            <!-- <label>{{'PaymentPage.policyno' | translate }}</label>
                      <span>{{PFPayRes.paymentTagResponse.paymentTagResponseList[0].policyNo}}</span> -->

            <!-- <label>{{'PaymentPage.download' | translate }}</label> -->
            <!-- <a style="cursor: pointer;" (click)="showPolicy()" id="buypol" class="download" title="Download"></a> -->
            <!-- </td>
                    <td>
                      <label>{{'paymentconfirmation.proposal' | translate }}</label>
                      <span>{{this.propRes.generalInformation.proposalNumber}}</span>
                    </td> -->
            <!-- Policy Start Date -->
            <!-- <td>
                      <label>{{'PaymentPage.polstartdate' | translate }}</label>
                      <span>{{PolicyStartDate}}</span>
                    </td> -->
            <!-- Policy End Date -->
            <!-- <td>
                      <label>{{'PaymentPage.polenddate' | translate }}</label>
                      <span>{{PolicyEndDate}}</span>
                    </td>             -->
          </tr>

          <tr>
            <td colspan="3">
              <div class="buttoncenter">
                <!-- <h4>You have punched your policy in: {{timeTaken}}</h4><br> -->
                <button (click)="goBack()" class="cstmbtn">Issue another motor policy</button>
              </div>
              <!-- <label>{{'PaymentPage.download' | translate }}</label>
                      <a style="cursor: pointer;" (click)="showPolicy()" id="buypol" class="download" title="Download"></a> -->
            </td>
          </tr>

        </table>
        <!-- <div>
                <button class="cstmbtn">Go back to Quote</button>
              </div> -->
        <!-- <div class="text-center">

              </div> -->
      </div>
    </div>
  </div>
</section>
<!-- <section class="container-fluid mainsec" style="padding-top:60px">
  <div class="row">
    <div class="container">
      <div class="innerdiv congratsdiv">
        <table>
          <tr *ngIf="(checkInsta == false || checkInsta == undefined) && isMultiProposal == false">
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5>
              <h3>{{'paymentconfirmation.transaction' | translate }} : {{PFPayReq.PaymentEntry.onlineDAEntry.AuthCode}}
                | {{'paymentconfirmation.proposal' | translate }} : {{this.propRes.generalInformation.proposalNumber}}
              </h3>

              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>

            </th>

          </tr>

          <tr *ngIf="checkInsta == true && isMultiProposal == false">
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5>
              <h3>Policy Number : {{newPolicyNumber}}
                | Proposal Numbers : {{newProposalNumber}}</h3>
              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>
            </th>

          </tr>

          <tr *ngIf="isMultiProposal == true">
            <th colspan="3">
              <h5>{{'PaymentPage.congrats' | translate }} {{'paymentconfirmation.congratsmsg' | translate }}</h5>
              <h3>{{'paymentconfirmation.transaction' | translate }} : {{transactionId}}
                | Proposal Numbers : {{proposalNos}}</h3>
              <br>
              <p>Kindly View your policy on <a (click)="goBack()" style="cursor: pointer;"><span
                    style="color:#1c5c95; text-decoration: underline; font-weight: bolder;"> My Nysa Policies</span></a>
                dashboard</p>
            </th>

          </tr>

          <tr>
            <th colspan="3">
              <span>{{'paymentconfirmation.punched' | translate }}:</span><span id="timeTaken"> {{timeTaken}}</span>
              <div class="row" *ngIf="isMultiProposal == false">
                <div class="col-md-6">
                  <span class="punch">{{'paymentconfirmation.Rate' | translate }}:</span>
                </div>
                <div class="col-md-6">
                  <div class="rate" (change)="starRating($event.target.value)">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="star">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="star">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="star">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="star">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="star">1 star</label>
                  </div>

                </div>
              </div>
            </th>
          </tr>


          <tr *ngIf="checkInsta == false || checkInsta == undefined">
            <td colspan="3">
              <ul>
                <li>{{'PaymentPage.premPaid' | translate }}</li>
                <li class="text-right">
                  <strong>₹ {{finalPremium}}</strong>
                </li>
              </ul>
            </td>
          </tr>
          <tr>
          </tr>

          <tr>
            <td colspan="3">
              <div class="buttoncenter">
                <button (click)="goBack()" class="cstmbtn">Issue another motor policy</button>
              </div>
            </td>
          </tr>

        </table>
      </div>
    </div>
  </div>
</section> -->

<!-- Hospifund -->
<section *ngIf="productCode == '2312'" class="container-fluid newHospifundsec">
  <div class="row">
    <div class="container">
      <h3>Medical expenses worrying you ? Buy our HospiFund policy and stay protected.</h3>
      <p style="font-style: italic;"><span style="font-style: bold;font-size: 18px;color: #004a80;">"</span> ICICI
        Lombard’s “Hospifund Insurance” product is specifically designed to take care of the expenses that an individual
        incurs in the event of hospitalization due to illness or injury. Out of pocket expenses, such as food & travel
        bills, medical bills, along with other unforeseen expenses put an unnecessary financial burden on the insured
        and his family. As such, this product is targeted to act as a cushion to all such unforeseen expenses.<span
          style="font-style: bold;font-size: 18px;color: #004a80;">"</span></p>
      <p style="font-size: small; font-style: bold; color: #004a80;">Below premium illustration is for the age of 25
        years, final premium may vary depending upon your age.<sup class="star">*</sup></p>
      <div class="seletPlans">
        <h4>Select Plan</h4>
        <div class="row">
          <div class="col-lg-4 form-group">
            <input type="radio" (click)="checkplans($event.target.id)" id="sltPlan_plan1" name="sltPlan" />
            <label for="sltPlan_plan1">
              <div class="price">
                <span>Plan 01</span>
                <h5>₹342</h5>
              </div>
              <div class="details">
                <table>
                  <tr>
                    <td>Basic Premium</td>
                    <td>288.8</td>
                  </tr>
                  <tr>
                    <td>GST</td>
                    <td>51.98</td>
                  </tr>
                </table>
                <h6>Covers</h6>
                <table class="bordered">
                  <tr>
                    <th></th>
                    <th>SI per day/
                      SI per Event</th>
                    <th>Max No
                      of Days</th>
                  </tr>
                  <tr>
                    <td>Hospitalization
                      cash benefit</td>
                    <td>500</td>
                    <td>5 Days</td>
                  </tr>
                  <tr>
                    <td>Accidental Hospitali-
                      zation cash benefits</td>
                    <td>500</td>
                    <td>5 Days</td>
                  </tr>
                </table>
                <h6>Add-ons</h6>
                <table class="bordered">
                  <tr>
                    <td>Intensive Care Cash Benefit</td>
                    <td>500</td>
                    <td>5 Days</td>
                  </tr>
                </table>
              </div>
            </label>
          </div>
          <div class="col-lg-4 form-group">
            <input type="radio" (click)="checkplans($event.target.id)" id="sltPlan_plan2" name="sltPlan" />
            <label for="sltPlan_plan2">
              <div class="price">
                <span>Plan 02</span>
                <h5>₹672</h5>
              </div>
              <div class="details">
                <table>
                  <tr>
                    <td>Basic Premium</td>
                    <td>568.54</td>
                  </tr>
                  <tr>
                    <td>GST</td>
                    <td>102.34</td>
                  </tr>
                </table>
                <h6>Covers</h6>
                <table class="bordered">
                  <tr>
                    <th></th>
                    <th>SI per day/
                      SI per Event</th>
                    <th>Max No
                      of Days</th>
                  </tr>
                  <tr>
                    <td>Hospitalization Cash Benefit</td>
                    <td>1000</td>
                    <td>10 Days</td>
                  </tr>
                  <tr>
                    <td>Accidental Hospitalization Cash Benefit</td>
                    <td>1000</td>
                    <td>10 Days</td>
                  </tr>
                </table>
                <h6>Add-ons</h6>
                <table class="bordered">

                  <tr>
                    <td>Intensive Care Cash Benefit</td>
                    <td>1000</td>
                    <td>10 Days</td>
                  </tr>
                  <tr>
                    <td>Cancer Hospitalization
                      Cash Benefit</td>
                    <td>1000</td>
                    <td>10 Days</td>
                  </tr>
                </table>
              </div>
            </label>
          </div>
          <div class="col-lg-4 form-group">
            <input type="radio" (click)="checkplans($event.target.id)" id="sltPlan_plan3" name="sltPlan" checked />
            <label for="sltPlan_plan3">
              <div class="price">
                <span>Plan 03</span>
                <h5>₹994</h5>
              </div>
              <div class="details">
                <table>
                  <tr>
                    <td>Basic Premium</td>
                    <td>841.66</td>
                  </tr>
                  <tr>
                    <td>GST</td>
                    <td>151.5</td>
                  </tr>
                </table>
                <h6>Covers</h6>
                <table class="bordered">
                  <tr>
                    <th></th>
                    <th>SI per day/
                      SI per Event</th>
                    <th>Max No
                      of Days</th>
                  </tr>
                  <tr>
                    <td>Hospitalization Cash Benefit</td>
                    <td>1500</td>
                    <td>15 Days</td>
                  </tr>
                  <tr>
                    <td>Accidental Hospitalization Cash Benefit</td>
                    <td>1500</td>
                    <td>15 Days</td>
                  </tr>
                </table>
                <h6>Add-ons</h6>
                <table class="bordered">

                  <tr>
                    <td>Intensive Care Cash Benefit</td>
                    <td>1500</td>
                    <td>15 Days</td>
                  </tr>
                  <tr>
                    <td>Cancer Hospitalization
                      Cash Benefit</td>
                    <td>1500</td>
                    <td>15 Days</td>
                  </tr>
                  <tr>
                    <td>Brain and Stroke Hospitalization Cash Benefit</td>
                    <td>1500</td>
                    <td>15 Days</td>
                  </tr>
                  <tr>
                    <td>Organ Transplant Hospitalization Cash Benefit</td>
                    <td>1500</td>
                    <td>15 Days</td>
                  </tr>
                </table>
              </div>
            </label>
          </div>
        </div>
        <div class="text-center mt-2 mb-2">
          <button (click)="saveHF()" type="button" class="cstmbtn">Proceed</button>
        </div>
      </div>
    </div>
  </div>
</section>


<section *ngIf="productCode == '2311'" class="container-fluid newHospifundsec">
  <div class="row">
    <div class="container">
      <h3>Medical expenses worrying you ? Buy our HospiFund policy and stay protected.</h3>
      <p style="font-style: italic;"><span style="font-style: bold;font-size: 18px;color: #004a80;">"</span> ICICI
        Lombard’s “Hospifund Insurance” product is specifically designed to take care of the expenses that an individual
        incurs in the event of hospitalization due to illness or injury. Out of pocket expenses, such as food & travel
        bills, medical bills, along with other unforeseen expenses put an unnecessary financial burden on the insured
        and his family. As such, this product is targeted to act as a cushion to all such unforeseen expenses.<span
          style="font-style: bold;font-size: 18px;color: #004a80;">"</span></p>
      <p style="font-size: small; font-style: bold; color: #004a80;">Below premium illustration is for the age of 25
        years, final premium may vary depending upon your age.<sup class="star">*</sup></p>
      <div class="seletPlans">
        <h4>Select Plan</h4>
        <div class="row">
          <div class="col-lg-4 form-group">
            <input type="radio" (click)="checkplans($event.target.id)" id="sltPlan_plan1" name="sltPlan" />
            <label for="sltPlan_plan1">
              <div class="price">
                <span>Plan 01</span>
                <h5>₹1222</h5>
              </div>
              <div class="details">
                <table>
                  <tr>
                    <td>Basic Premium</td>
                    <td>1034.45</td>
                  </tr>
                  <tr>
                    <td>GST</td>
                    <td>186.2</td>
                  </tr>
                </table>
                <h6>Covers</h6>
                <table class="bordered">
                  <tr>
                    <th></th>
                    <th>SI per day/
                      SI per Event</th>
                    <th>Max No
                      of Days</th>
                  </tr>
                  <tr>
                    <td>Hospitalization Cash Benefit</td>
                    <td>2000</td>
                    <td>10 Days</td>
                  </tr>
                  <tr>
                    <td>Accidental Hospitalization Cash Benefit</td>
                    <td>2000</td>
                    <td>10 Days</td>
                  </tr>
                </table>
                <h6>Add-ons</h6>
                <table class="bordered">

                  <tr>
                    <td>Intensive Care Cash Benefit</td>
                    <td>2000</td>
                    <td>10 Days</td>
                  </tr>
                </table>
              </div>
            </label>
          </div>
          <div class="col-lg-4 form-group">
            <input type="radio" (click)="checkplans($event.target.id)" id="sltPlan_plan2" name="sltPlan" />
            <label for="sltPlan_plan2">
              <div class="price">
                <span>Plan 02</span>
                <h5>₹1567</h5>
              </div>
              <div class="details">
                <table>
                  <tr>
                    <td>Basic Premium</td>
                    <td>1327.41</td>
                  </tr>
                  <tr>
                    <td>GST</td>
                    <td>238.93</td>
                  </tr>
                </table>
                <h6>Covers</h6>
                <table class="bordered">
                  <tr>
                    <th></th>
                    <th>SI per day/
                      SI per Event</th>
                    <th>Max No
                      of Days</th>
                  </tr>
                  <tr>
                    <td>Hospitalization Cash Benefit</td>
                    <td>2500</td>
                    <td>15 Days</td>
                  </tr>
                  <tr>
                    <td>Accidental Hospitalization Cash Benefit</td>
                    <td>2500</td>
                    <td>15 Days</td>
                  </tr>
                </table>
                <h6>Add-ons</h6>
                <table class="bordered">

                  <tr>
                    <td>Intensive Care Cash Benefit</td>
                    <td>2500</td>
                    <td>15 Days</td>
                  </tr>
                  <tr>
                    <td>Cancer Hospitalization
                      Cash Benefit</td>
                    <td>2500</td>
                    <td>15 Days</td>
                  </tr>
                </table>
              </div>
            </label>
          </div>
          <div class="col-lg-4 form-group">
            <input type="radio" (click)="checkplans($event.target.id)" id="sltPlan_plan3" name="sltPlan" checked />
            <label for="sltPlan_plan3">
              <div class="price">
                <span>Plan 03</span>
                <h5>₹1927</h5>
              </div>
              <div class="details">
                <table>
                  <tr>
                    <td>Basic Premium</td>
                    <td>1632.16</td>
                  </tr>
                  <tr>
                    <td>GST</td>
                    <td>293.79</td>
                  </tr>
                </table>
                <h6>Covers</h6>
                <table class="bordered">
                  <tr>
                    <th></th>
                    <th>SI per day/
                      SI per Event</th>
                    <th>Max No
                      of Days</th>
                  </tr>
                  <tr>
                    <td>Hospitalization Cash Benefit</td>
                    <td>3000</td>
                    <td>30 Days</td>
                  </tr>
                  <tr>
                    <td>Accidental Hospitalization Cash Benefit</td>
                    <td>3000</td>
                    <td>30 Days</td>
                  </tr>
                </table>
                <h6>Add-ons</h6>
                <table class="bordered">

                  <tr>
                    <td>Intensive Care Cash Benefit</td>
                    <td>3000</td>
                    <td>30 Days</td>
                  </tr>
                  <tr>
                    <td>Cancer Hospitalization
                      Cash Benefit</td>
                    <td>3000</td>
                    <td>30 Days</td>
                  </tr>
                  <tr>
                    <td>Brain and Stroke Hospitalization Cash Benefit</td>
                    <td>3000</td>
                    <td>30 Days</td>
                  </tr>
                  <tr>
                    <td>Organ Transplant Hospitalization Cash Benefit</td>
                    <td>3000</td>
                    <td>30 Days</td>
                  </tr>
                </table>
              </div>
            </label>
          </div>
        </div>
        <div class="text-center mt-2 mb-2">
          <button (click)="saveHF()" type="button" class="cstmbtn">Proceed</button>
        </div>
      </div>
    </div>
  </div>
</section>
