.buttoncenter {
  text-align: center;
}


.punch {
  float: right;
  margin-top: 13px;
}

.rate {
  float: left;
  height: 46px;
  /* padding: 0 10px; */
}

.rate:not(:checked)>input {
  position: absolute;
  top: -9999px;
}

.rate:not(:checked)>label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.rate:not(:checked)>label:before {
  content: '★ ';
}

.rate>input:checked~label {
  color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
  color: #deb217;
}

.rate>input:checked+label:hover,
.rate>input:checked+label:hover~label,
.rate>input:checked~label:hover,
.rate>input:checked~label:hover~label,
.rate>label:hover~input:checked~label {
  color: #c59b08;
}


/* Hospifund css */
.newHospifundsec {
  padding: 0 15px 30px;
}

.newHospifundsec h3 {
  margin: 0 0 25px;
  color: #004a80;
  font: 600 22px "Muli", sans-serif;
  text-align: center;
}

.newHospifundsec .seletPlans {
  padding: 20px 35px;
  border: solid 1px #eaeaea;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.newHospifundsec .seletPlans h4 {
  margin: 0 0 16px;
  color: #939393;
  font: 600 20px "Muli", sans-serif;
}

.newHospifundsec .seletPlans input {
  display: none;
}

.newHospifundsec .seletPlans input+label {
  height: 100%;
  border: solid 1px #d5edff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}

.newHospifundsec .seletPlans input+label .price {
  padding: 11px 5px;
  border: solid 1px rgba(0, 91, 158, 0.4);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background: #edf7ff;
  text-align: center;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}

.newHospifundsec .seletPlans input+label .price span {
  color: #003d59;
  font: 600 15px "Muli", sans-serif;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}

.newHospifundsec .seletPlans input+label .price h5 {
  margin: 0;
  color: #343434;
  font: 600 30px "Muli", sans-serif;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}

.newHospifundsec .seletPlans input+label .price::after {
  content: '';
  width: 44px;
  height: 44px;
  position: absolute;
  top: 50%;
  right: 18px;
  background: url(../../../assets/images/uncheck.png) no-repeat center center/contain;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
}

.newHospifundsec .seletPlans input+label .details {
  padding: 7px;
}

.newHospifundsec .seletPlans input+label .details h6 {
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #f5f5f5;
  color: #343434;
  font: 600 14px "Muli", sans-serif;
}

.newHospifundsec .seletPlans input+label .details table {
  width: 100%;
  margin-bottom: 15px;
}

.newHospifundsec .seletPlans input+label .details table tr td,
.newHospifundsec .seletPlans input+label .details table tr th {
  padding: 7px;
  color: #343434;
  font: 600 14px "Muli", sans-serif;
}

.newHospifundsec .seletPlans input+label .details table tr td:last-child,
.newHospifundsec .seletPlans input+label .details table tr th:last-child {
  text-align: right;
}

.newHospifundsec .seletPlans input+label .details table.bordered tr td,
.newHospifundsec .seletPlans input+label .details table.bordered tr th {
  border-bottom: 1px solid #E5E5E5;
  font: 600 12px "Muli", sans-serif;
}

.newHospifundsec .seletPlans input+label:hover .price::after {
  background: url(../../../assets/images/check.png) no-repeat center center/contain;
}

.newHospifundsec .seletPlans input:checked+label {
  border-color: #005b9e;
  box-shadow: 0 3px 6px 0 #8fbfe3;
  -webkit-box-shadow: 0 3px 6px 0 #8fbfe3;
  -moz-box-shadow: 0 3px 6px 0 #8fbfe3;
}

.newHospifundsec .seletPlans input:checked+label .price {
  background: #005b9e url(../../../assets/images/ribbon.png) no-repeat 15px -3px;
}

.newHospifundsec .seletPlans input:checked+label .price span,
.newHospifundsec .seletPlans input:checked+label .price h5 {
  color: #fff;
}

.newHospifundsec .seletPlans input:checked+label .price::after {
  background: url(../../../assets/images/check.png) no-repeat center center/contain;
}
