<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<div class="container-fluid maindiv">
  <div class="row">
    <section class="container-fluid headingsec">
      <div class="row">
        <div class="container">
          <h2>Lombard Pay Wallet</h2>
        </div>
      </div>
    </section>
    <section class="container accordsec">
      <div id="accordion" class="cstmstyle">
        <div class="card">
          <div class="card-body cstmIpay">
            <div class="col-12">
              <div class="row">
                <div class="col-4 col-sm-6">
                  <div class="ipayDiv">
                    <img src="assets/images/ipay.png" alt="Ipay" />
                  </div>
                </div>
                <div class="col-8 col-sm-6 text-right">
                  <div class="ipayDiv">
                    <label>Wallet Balance</label>
                    <span class="rupee"><svg xmlns="http://www.w3.org/2000/svg" width="19" viewBox="0 0 16.333 24.053">
                        <path
                          d="M10.873 2.272h3.948L16.333 0H1.512L0 2.272h2.573c2.606 0 5.011.2 5.973 2.381H1.512L0 6.926h8.829v.015c0 1.633-1.357 4.138-5.839 4.138H.822v2.123l8.684 10.854h3.867L4.388 12.824c3.7-.2 7.17-2.267 7.67-5.9h2.763l1.512-2.273h-4.315a5.02 5.02 0 0 0-1.145-2.379z"
                          fill="#063b6d"></path>
                      </svg> {{lombardpaybalance}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <ul class="nav add_money justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="pill" href="#addMoney">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="36.555" height="33.35">
                    <g id="Group_7635" transform="translate(-78 -388)">
                      <path id="Indian_Rupee_symbol"
                        d="M52.885 2.3h4.86l1.861-2.8H41.361L39.5 2.3h3.167c3.208 0 6.169.248 7.353 2.931h-8.659L39.5 8.026h10.869v.018c0 2.01-1.671 5.094-7.188 5.094h-2.669v2.614L51.206 29.11h4.761L44.9 15.287c4.555-.246 8.827-2.791 9.442-7.262h3.4l1.861-2.8H54.3A6.18 6.18 0 0052.885 2.3z"
                        class="cls-1" transform="translate(38.5 388.5)" />
                      <g id="cancel-circle" transform="rotate(-45 535.739 98.546)">
                        <path id="Path_961"
                          d="M9.66 0a9.66 9.66 0 109.66 9.66A9.66 9.66 0 009.66 0zm0 17.509a7.849 7.849 0 117.849-7.849 7.849 7.849 0 01-7.849 7.849z"
                          class="cls-1" />
                        <path id="Path_962"
                          d="M7.849 0L4.83 3.019 1.811 0 0 1.811 3.019 4.83 0 7.849 1.811 9.66 4.83 6.641 7.849 9.66 9.66 7.849 6.641 4.83 9.66 1.811z"
                          class="cls-1" transform="translate(4.83 4.83)" />
                      </g>
                    </g>
                  </svg>
                </span>
                Add Money
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" data-toggle="pill" href="#viewTrans" (click)="viewTransactions()">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="34.765" height="32.049">
                    <path
                      d="M30.691 0H4.074A4.078 4.078 0 000 4.074v23.9a4.078 4.078 0 004.074 4.074h26.617a4.078 4.078 0 004.074-4.074v-23.9A4.078 4.078 0 0030.691 0zM4.074 2.716h26.617a1.36 1.36 0 011.358 1.358v4.074H2.716V4.074a1.36 1.36 0 011.358-1.358zm26.617 26.617H4.074a1.36 1.36 0 01-1.358-1.358V10.864h29.333v17.111a1.36 1.36 0 01-1.358 1.358zM4.753 5.432A1.358 1.358 0 116.111 6.79a1.358 1.358 0 01-1.358-1.358zm4.753 0a1.358 1.358 0 111.358 1.358 1.358 1.358 0 01-1.358-1.358zm14.031 7.188l4.763 4.762-4.763 4.763-1.92-1.92L23.1 18.74h-7.143v-2.716H23.1l-1.483-1.484zm-11.873 8.836h7.008v2.716h-7.008l1.484 1.484-1.92 1.92-4.763-4.762 4.763-4.763 1.92 1.92zm0 0" />
                  </svg>
                </span>
                View Transaction
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <div class="container accordsec tab-content">
      <div id="addMoney" class="tab-pane active">
        <div class="amttable">
          <table>
            <tr>
              <td>Amount</td>
              <td>
                <input type="tel" class="form-control" name="amount" #amount="ngModel" placeholder="Enter Amount"
                  [(ngModel)]="paymentDetails.amount" (ngModelChange)="openPaymentMode()" />
              </td>
              <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open
                Modal</button>
            </tr>
          </table>
        </div>
        <section class="accordsec paymentsec" *ngIf="isShowDivIf">
          <div class="card">
            <div class="cstmstyle">
              <div class="ipayDiv mt-2" style="cursor:pointer;">
                <h3>Select Payment Mode</h3>
              </div>
              <ul>
                <li>
                  <a href="javascript:void(0)" title="Debit Card" (click)="CreateWalletOrder('card')">
                    <div>
                      <img src="assets/images/images/debit-card.png" alt="Debit Card">
                    </div>
                    <span>Debit Card</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" title="Credit Card" (click)="CreateWalletOrder('card')">
                    <div>
                      <img src="assets/images/images/credit-card.png" alt="Credit Card">
                    </div>
                    <span>Credit Card</span>
                  </a>
                </li>
                <li>
                  <a href="javascript:void(0)" title="Net Banking" (click)="CreateWalletOrder('netbanking')">
                    <div>
                      <img src="assets/images/images/net-banking.png" alt="Net Banking">
                    </div>
                    <span>Net Banking</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      <div id="viewTrans" class="tab-pane fade">
        <section class="accordsec paymentsec">
          <div class="card">
            <div class="cstmstyle">
              <div class="ipayDiv mt-2">
                <h3 class="mb-0">
                  <button type="button" class="float-left" id="back" (click)="changeDate('back')"><img
                      src="assets/images/back1.png" width="11" /></button>
                  {{monthDisplay}} {{year}}
                  <button type="button" class="float-right" id="next" (click)="changeDate('next')"><img
                      src="assets/images/next1.png" width="11" /></button>
                </h3>
              </div>
              <div class="transDiv">
                <ul class="nav nav-tabs nav-fill" id="transTab" role="tablist" (click)="trans($event.target.id)">
                  <li class="nav-item">
                    <a class="nav-link active" id="received-tab" data-toggle="tab" href="#receivedTab" role="tab"
                      aria-controls="receivedTab" aria-selected="true">Received</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="utilised-tab" data-toggle="tab" href="#utilisedTab" role="tab"
                      aria-controls="utilised" aria-selected="false">Utilised</a>
                  </li>
                </ul>
                <div class="tab-content" id="transTabContent">
                  <div class="tab-pane fade show active" id="receivedTab" role="tabpanel"
                    aria-labelledby="received-tab">
                    <table class="transTable" *ngIf="creditList.length != 0">
                      <tr>
                        <th>Trans on Date</th>
                        <th>Amount</th>
                      </tr>
                      <tr *ngFor="let credited_Amount_List of creditList">
                        <td>
                          <span>{{credited_Amount_List.trans_On | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td>
                          <span class="plus">{{credited_Amount_List.credit}}</span>
                        </td>
                      </tr>
                    </table>
                    <ng-container *ngIf="creditList.length == 0">
                      <span style="font-family: 'Muli';
                      color: #0f4d83;
                      font-size: large;
                      margin-left: 7px;">No Data Found</span>
                    </ng-container>

                  </div>
                  <div class="tab-pane fade" id="utilisedTab" role="tabpanel" aria-labelledby="utilised-tab">
                    <table class="transTable" *ngIf="debitList.length != 0">
                      <tr>
                        <th>Trans on Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                      </tr>
                      <tr *ngFor="let debited_Amount_List of debitList">
                        <td>
                          <span>{{debited_Amount_List.trans_On | date: 'dd/MM/yyyy'}}</span>
                        </td>
                        <td>{{debited_Amount_List.description}}</td>
                        <td>
                          <span class="minus">{{debited_Amount_List.debit}}</span>
                        </td>
                      </tr>
                    </table>
                    <ng-container *ngIf="debitList.length == 0">
                      <span style="font-family: 'Muli';
                      color: #0f4d83;
                      font-size: large;
                      margin-left: 7px;">No Data Found</span>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Add Agent Modal  -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Register to Lombard Pay</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <section class="container-fluid mainsec">
          <div class="fieldsdiv">
            <div class="row">
              <!-- Name -->
              <div class="col-sm-6 form-group">
                <label>{{'RegistrationPage.Name' | translate }}*</label>
                <input type="text" #firstName="ngModel" maxlength="40"
                  onkeypress="return /^[a-zA-Z\s]+$/i.test(event.key)" id="nameCstm" name="nameCstm"
                  [(ngModel)]="paymentDetails.Name" class="form-control"
                  placeholder="{{'InputKey.SELNAME' | translate }}">
                <div *ngIf="(!firstName.dirty || !firstName.touched)" class="alerts-border" style="color:maroon">
                  Name is required.
                </div>
              </div>
              <!-- Email -->
              <div class="col-sm-6 form-group">
                <label>{{'RegistrationPage.EMAIL' | translate }}*</label>
                <input type="email" #firstEmail="ngModel" [class.is-invalid]=" firstEmail.touched" required id="email"
                  name="primaryEmail" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                  [(ngModel)]="paymentDetails.Email" class="form-control"
                  placeholder="{{'InputKey.EMAIL' | translate }}" />
                <div *ngIf="!firstEmail.errors.pattern && (!firstEmail.dirty || !firstEmail.touched)"
                  class="alerts-border" style="color:maroon">
                  Email is required.
                </div>
                <div *ngIf="firstEmail.invalid && (firstEmail.dirty || firstEmail.touched)" style="color:maroon">
                  <!-- <div *ngIf="firstEmail.errors.required && !isEmail" class="alerts-border">
                            Email is required.
                          </div> -->
                  <div *ngIf="firstEmail.errors.pattern">
                    Email is invalid.
                  </div>
                </div>
              </div>
              <!-- Mobile Number -->
              <div class="col-sm-6 form-group">
                <label>{{'RegistrationPage.MOBILE' | translate }}*</label>
                <input type="text" #firstMobile="ngModel" maxlength="10" (keypress)="numberOnly($event)" id="mobile"
                  name="mobile" class="form-control" [(ngModel)]="paymentDetails.Contact"
                  placeholder="{{'InputKey.MOBILE' | translate }}" />
                <div *ngIf="(!firstMobile.dirty || !firstMobile.touched)" class="alerts-border" style="color:maroon">
                  Mobile is required.
                </div>
              </div>

            </div>
          </div>

        </section>
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="modal-trans" data-dismiss="modal">{{'Buttons.CLOSE' | translate }}</button> -->
          <button type="button" class="modal-btn" (click)="sendAgentData()" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
