<!-- proposal container starts -->
<!DOCTYPE html>
<app-header *ngIf="cs.isShowBackButton"></app-header>
<div class="container-fluid mainsec">
  <div class="row">
    <div class="container myBreakInContainer renewalNewContainer">
      <nav aria-label="breadcrumb" *ngIf="cs.isShowBackButton">
        <ol class="breadcrumb" *ngIf="!cs.isPdfModal">
          <li class="breadcrumb-item" aria-current="page" style="cursor: pointer;"><a (click)="goToDashborad()">Back</a>
          </li>
        </ol>
      </nav>
      <div class="proposalContainer mt-4">
        <div class="innerdiv equal">
          <h3 class="mb-3 mt-2">Nysa Motor Renewal </h3>

          <div class="row premDetailsContainer renewalNewTable" *ngIf="readPropData">
            <div class="col-6 pr-0 totalPremPayableTable">
              <div class="detailPanel mb-3">
                <h3 class="renewalNewTableTitle">Policy details</h3>
                <div class="tablediv mt-0">
                  <table class="table table-striped">
                    <tr>
                      <td>Expiring Policy Number</td>
                      <th>{{readPropData.PolicyNumber}}</th>
                    </tr>
                    <tr>
                      <td>Name of Customer</td>
                      <th>{{readPropData.CustomerDetails.CustomerName}}</th>
                    </tr>
                    <tr>
                      <td>Registration Number</td>
                      <th>{{readPropData.RegistrationNumber}}</th>
                    </tr>
                    <tr>
                      <td>Vehicle Model</td>
                      <th>{{readPropData.VehicleDetails.VehicleModel}}</th>
                    </tr>
                    <tr>
                      <td>Expiring policy end date</td>
                      <th>{{readPropData.PreviousPolicyEndDate | date: 'dd/MM/yyyy'}}</th>
                    </tr>
                    <tr>
                      <td>Renewal proposal number</td>
                      <th>{{readPropData.proposalNumber}}</th>
                    </tr>
                    <tr>
                      <td>Renewal Premium</td>
                      <th>₹ {{readPropData.finalPremium}}</th>
                    </tr>
                    <tr>
                      <td>Depriciated IDV</td>
                      <th>{{readPropData.VehicleDetails.DepriciatedIDV}}</th>
                    </tr>
                    <tr>
                      <td>Showroom Price</td>
                      <th>₹ {{readPropData.VehicleDetails.ShowRoomPrice}}</th>
                    </tr>
                  </table>
                </div>
              </div>

              <div class="detailPanel mb-3">
                <h3 class="renewalNewTableTitle">Opt for Addon(s) with Premium</h3>
                <div class="tablediv mt-0">
                  <table class="table no-striped">
                    <tr>
                      <td class="chkbox1">
                        <ul class="radioul">
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="zdCover1" name="zdCover1" disabled>
                                      <label for="zdCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="zdCover1">Zero Depreciation</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.zeroDepreciation}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="rsaCover1" name="rsaCover1" disabled>
                                      <label for="rsaCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="rsaCover1">Road Side Assistance</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.roadSideAssistance}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="consuCover1" name="consuCover1" disabled>
                                      <label for="consuCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="consuCover1">Consumables</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.consumables}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="keyProCover1" name="keyProCover1" disabled>
                                      <label for="keyProCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="keyProCover1">Key Protect Cover</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.keyProtect}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="gCashCover1" name="gCashCover1" disabled>
                                      <label for="gCashCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="gCashCover1">Garage Cash Cover</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.garageCash}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="rtiCover1" name="rtiCover1" disabled>
                                      <label for="rtiCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="rtiCover1">Return to Invoice</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.returnToInvoice}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="engProCover" name="engProCover" disabled>
                                      <label for="engProCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="engProCover">Engine Protect Plus</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.engineProtect}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="tyreProCover" name="tyreProCover" disabled>
                                      <label for="tyreProCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="tyreProCover">Tyre Protect Cover</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.tyreProtect}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="emiProCover" name="emiProCover" disabled>
                                      <label for="emiProCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="emiProCover">EMI Protect Cover</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.emiProtect}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="ncb" name="ncb" disabled>
                                      <label for="ncb"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="ncb">NCB Protect</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <!-- <strong>{{readPropData.riskDetails.bonusDiscount}}</strong></td> -->
                                </tr>
                              </tbody>
                            </table>
                          </li>
                        </ul>
                      </td>
                      <td class="chkbox1">
                        <ul class="radioul">
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="PACover1" name="PACover1" disabled>
                                      <label for="PACover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="PACover1">PA for Owner Driver</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.paCoverForOwnerDriver}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails && isFW">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="biFuelCover" name="biFuelCover" disabled>
                                      <label for="biFuelCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="biFuelCover">CNG/LPG kit</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1"><strong>{{(readPropData.riskDetails.biFuelKitOD ||
                                      readPropData.riskDetails.biFuelKitTP) ? biFuelODTP : ''}}</strong></td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <!-- <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="lpgCover" name="lpgCover">
                                      <label for="lpgCover"></label>
                                    </div>
                                    </td>
                                  <td>
                                    <label for="lpgCover">LPG kit</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1"><strong>{{readPropData.riskDetails.biFuelKitOD ? readPropData.riskDetails.biFuelKitOD : readPropData.riskDetails.biFuelKitTP}}</strong></td>
                                </tr>
                              </tbody>
                            </table>
                          </li> -->
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="lopbCover" name="lopbCover" disabled>
                                      <label for="lopbCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="lopbCover">Loss of personal belongings</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.lossOfPersonalBelongings}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="LPECover" name="LPECover" disabled>
                                      <label for="LPECover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="LPECover">Liability for Paid Employee</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.employeesOfInsured}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="LEPDriver" name="LEPDriver" disabled>
                                      <label for="LEPDriver"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="LEPDriver">Liability for Paid Driver</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.paidDriver}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="paUNPCover" name="paUNPCover" disabled>
                                      <label for="paUNPCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="paUNPCover">PA for Unnamed passenger</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.paCoverForUnNamedPassenger}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="VDCover" name="VDCover" disabled>
                                      <label for="VDCover"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="VDCover">Voluntary Deductible</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.voluntaryDiscount}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="TPPD" name="TPPD" disabled>
                                      <label for="TPPD"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="TPPD">TPPD Discount</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.tppD_Discount}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li>
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="antTheft" name="antTheft" disabled>
                                      <label for="antTheft"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="antTheft">Anti theft Discount</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <strong>{{readPropData.riskDetails.antiTheftDiscount}}</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <li *ngIf="readPropData.riskDetails">
                            <!-- *ngIf="readPropData.riskDetails" -->
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="geoCover1" name="geoCover1" disabled>
                                      <label for="geoCover1"></label>
                                    </div>
                                  </td>
                                  <td>
                                    <label for="geoCover1">Geographical Extension</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1">
                                    <!-- <strong *ngIf="!cs.isUndefineORNull(geographicalExtension)">{{geographicalExtension ? geographicalExtension : ''}}</strong> -->
                                    <strong *ngIf="geographicalExtension > 0">{{geographicalExtension}}</strong>
                                  </td>
                                  <!-- <strong>{{(!isNaN(geographicalExtension)) ? {{geographicalExtension}} : ''}}</strong></td> -->
                                </tr>
                              </tbody>
                            </table>
                          </li>
                          <!-- <li *ngIf="readPropData.riskDetails">
                            <table>
                              <tbody>
                                <tr>
                                  <td>
                                    <div class="radiodiv1">
                                      <input type="checkbox" id="geoCoverTp" name="geoCoverTp" disabled>
                                      <label for="geoCoverTp"></label>
                                    </div>
                                    </td>
                                  <td>
                                    <label for="geoCoverTp">Geographical Extension Liability</label>
                                  </td>
                                  <td class="float-right mr-2 mt-1"><strong>{{readPropData.riskDetails.geographicalExtensionTP}}</strong></td>
                                </tr>
                              </tbody>
                            </table>
                          </li> -->
                        </ul>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <div class="col-6 totalPremPayableTable" *ngIf="readPropData">
              <div class="detailPanel mb-3">
                <h3 class="renewalNewTableTitle">Renewal Premium </h3>
                <div class="tablediv mt-0">
                  <table class="table table-striped">
                    <tbody>
                      <tr class="rowBg1" *ngIf="readPropData.riskDetails.basicOD > 0">
                        <td>Basic Premium </td>
                        <th>₹ {{readPropData.riskDetails.basicOD}}</th>
                      </tr>
                      <tr class="rowBg1" *ngIf="readPropData.riskDetails.basicTP > 0">
                        <td>Third Party </td>
                        <th>₹ {{readPropData.riskDetails.basicTP}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.zeroDepreciation > 0">
                        <td>Zero Depreciation</td>
                        <th>₹ {{readPropData.riskDetails.zeroDepreciation}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.roadSideAssistance > 0">
                        <td>RSA</td>
                        <th>₹ {{readPropData.riskDetails.roadSideAssistance}} </th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.consumables > 0">
                        <td>Consumables</td>
                        <th>₹ {{readPropData.riskDetails.consumables}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.keyProtect > 0">
                        <td>Key Protect Cover</td>
                        <th>₹ {{readPropData.riskDetails.keyProtect}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.garageCash > 0">
                        <td>Garage Cash Cover</td>
                        <th>₹ {{readPropData.riskDetails.garageCash}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.returnToInvoice > 0">
                        <td>Return to Invoice</td>
                        <th>₹ {{readPropData.riskDetails.returnToInvoice}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.engineProtect > 0">
                        <td>Engine Protect Plus</td>
                        <th>₹ {{readPropData.riskDetails.engineProtect}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.tyreProtect > 0">
                        <td>Tyre Protect Cover</td>
                        <th>₹ {{readPropData.riskDetails.tyreProtect}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.emiProtect > 0">
                        <td>EMI Protect Cover</td>
                        <th>₹ {{readPropData.riskDetails.emiProtect}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.paCoverForOwnerDriver > 0">
                        <td>PA for Owner Driver</td>
                        <th>₹ {{readPropData.riskDetails.paCoverForOwnerDriver}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.biFuelKitOD > 0">
                        <td>Bi-fuel Kit Premium</td>
                        <th>₹ {{readPropData.riskDetails.biFuelKitOD}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.biFuelKitTP > 0">
                        <td>Liability For Bi-Fuel Kit</td>
                        <th>₹ {{readPropData.riskDetails.biFuelKitTP}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.lossOfPersonalBelongings > 0">
                        <td>Loss of personal belongings</td>
                        <th>₹ {{readPropData.riskDetails.lossOfPersonalBelongings}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.employeesOfInsured > 0">
                        <td>Liability for Paid Employee</td>
                        <th>₹ {{readPropData.riskDetails.employeesOfInsured}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.paCoverForUnNamedPassenger > 0">
                        <td>PA for Unnamed passenger</td>
                        <th>₹ {{readPropData.riskDetails.paCoverForUnNamedPassenger}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.voluntaryDiscount > 0">
                        <td>Voluntary Deductible</td>
                        <th>₹ {{readPropData.riskDetails.voluntaryDiscount}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.tppD_Discount > 0">
                        <td>TPPD Discount</td>
                        <th>₹ {{readPropData.riskDetails.tppD_Discount}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.antiTheftDiscount > 0">
                        <td>Anti theft Discount</td>
                        <th>₹ {{readPropData.riskDetails.antiTheftDiscount}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.geographicalExtensionOD > 0">
                        <td>Geographical Extension Premium</td>
                        <th>₹ {{readPropData.riskDetails.geographicalExtensionOD}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.geographicalExtensionTP > 0">
                        <td>Geographical Extension Liability </td>
                        <th>₹ {{readPropData.riskDetails.geographicalExtensionTP}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.paidDriver > 0">
                        <!-- {{readPropData.riskDetails.paidDriver}} -->
                        <td>Legal Liability to Paid driver</td>
                        <th>₹ {{readPropData.riskDetails.paidDriver}} </th>
                      </tr>
                      <tr *ngIf="readPropData.ncbPercentage > 0">
                        <td>NCB %</td>
                        <th>{{readPropData.ncbPercentage}} %</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.bonusDiscount > 0">
                        <td>NCB</td>
                        <th>₹ {{readPropData.riskDetails.bonusDiscount}}</th>
                      </tr>
                      <tr *ngIf="readPropData.riskDetails.breakinLoadingAmount  > 0">
                        <td>BreakIN Amount</td>
                        <th>₹ {{readPropData.riskDetails.breakinLoadingAmount}}</th>
                      </tr>
                      <tr class="rowBg1" *ngIf="premiumWithDiscount > 0">
                        <td>Total Premium with Addon </td>
                        <th>₹ {{ premiumWithDiscount }} </th>
                      </tr>
                      <tr *ngIf="totalDiscount > 0">
                        <td>Total Discount(-)</td>
                        <th>₹ {{ totalDiscount }} </th>
                      </tr>
                      <tr class="rowBg1">
                        <td>Net Premium</td>
                        <th>₹ {{readPropData.packagePremium}}</th>
                      </tr>
                      <tr class="rowBg2">
                        <td>GST</td>
                        <th>₹ {{readPropData.totalTax}}</th>
                      </tr>
                      <tr class="rowBg3">
                        <td>Total Premium Payable</td>
                        <th>₹ {{readPropData.finalPremium}}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- <div class="detailPanel mb-3">
              <h3 class="renewalNewTableTitle">Renewal Premium with Recommended Cover</h3>
                <div class="tablediv mt-0">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Basic Premium </td>
                        <th>₹  {{readPropData.riskDetails.basicOD}}</th>
                      </tr>
                      <tr>
                        <td>Third Party   </td>
                        <th>₹  {{readPropData.riskDetails.basicTP}}</th>
                      </tr>
                      <tr>
                        <td>PA for Owner Driver</td>
                        <th>₹  {{readPropData.riskDetails.paCoverForOwnerDriver}}</th>
                      </tr>
                      <tr>
                        <td>LL to   </td>
                        <th>₹  50</th>
                      </tr>
                      <tr>
                        <td>NCB 25%  </td>
                        <th>₹  {{readPropData.riskDetails.bonusDiscount}}</th>
                      </tr>
                      <tr>
                        <td>RSA     </td>
                        <th>₹  {{readPropData.riskDetails.roadSideAssistance}}</th>
                      </tr>
                      <tr class="rowBg1">
                        <td>Net Premium</td>
                        <th>₹ 11,543</th>
                      </tr>
                      <tr class="rowBg2">
                        <td>GST</td>
                        <th>₹ {{readPropData.totalTax}}</th>
                      </tr>
                      <tr class="rowBg3">
                        <td>Total Premium Payable</td>
                        <th>₹ 13,621</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div> -->
            </div>
          </div>


        </div>

        <!-- <div class="col-sm-12 text-center mt-3" *ngIf="type == 'PAY'">
          <button type="button" class="cstmbtn" (click)="paymentValidate()">
            <span *ngIf="spinpayloader == false">PAY</span>
            <span *ngIf="spinpayloader == true">PAY<i class="fa fa-spinner fa-spin"></i></span>
          </button>
          <button type="button" class="cstmbtn" data-toggle="modal" data-target="#renewalSendPdf_modal"
            *ngIf="showSendLink" >SEND LINK
          </button>
        </div> -->
        <div class="col-sm-12 text-center mt-3">
          <span style="color: red; font-weight: bold;">*Note : Premium is calculated basis the RN generated at Blaze as
            against the IDV defined for this Make - Model and Age of vehicle </span>
        </div>
        <div class="col-sm-12 text-center mt-3">
          <button type="button" class="cstmbtn" (click)="paymentValidate()">
            <span *ngIf="spinpayloader == false">PAY</span>
            <span *ngIf="spinpayloader == true">PAY<i class="fa fa-spinner fa-spin"></i></span>
          </button>
          <button type="button" class="cstmbtn" data-toggle="modal" data-target="#renewalSendPdf_modal"
            *ngIf="type != 'PAY' && type != 'PDF'">SEND LINK
          </button>
        </div>
      </div>

      <!-- proposal container ends -->


      <!--Modal start-->
      <div class="modal fade" id="renewalSendPdf_modal" role="dialog" aria-labelledby="renewalSendPdfTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="renewalSendPdfTitle">Send Renewal PDF</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body fieldsdiv" style="padding: 15px 12px 15px 12px;">
              <form #sendPdfForm="ngForm">
                <div class="form-group">
                  <label>Mobile Number<sup class="star">*</sup></label>
                  <input type="text" maxlength="10" (keyPress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno"
                    (ngModelChange)="mobileValidate()" class="form-control" name="mobileno" #mobNumberpdf="ngModel"
                    placeholder="Enter Mobile Number" />
                  <div *ngIf="mobNumberpdf.errors" [ngClass]="'error'" style="color:red">
                    <div *ngIf="mobNumberpdf.errors.pattern">
                      Invalid Mobile number
                    </div>
                    <div *ngIf="moberrorFlag == true">
                      Mobile number entered is not valid
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label>Email<sup class="star">*</sup></label>
                  <input type="email" #emailpdf="ngModel" name="Email" [class.is-invalid]=" emailpdf.touched"
                    pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                    [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
                  <div *ngIf="emailpdf.invalid && (emailpdf.dirty || emailpdf.touched)" style="color:red">
                    <div *ngIf="emailpdf.errors.pattern">
                      Email is invalid.
                    </div>
                  </div>
                </div>
                <div class="text-center">
                  <button [disabled]="!sendPdfForm.form.valid" *ngIf="sendDetails.Email && sendDetails.mobileno"
                    (click)="sendPropPdf()" data-dismiss="modal" class="cstmbtn">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!--Modal end-->
    </div>
  </div>
</div>
