<app-header></app-header>
<section class="container-fluid formsec">
    <div class="row">
      <div class="container">
        <div class="formdiv">
          <h2>{{pageName == 'claimStatus'? 'Know Claim Status':'Motor Insurance Claim'}}</h2>
          <div class="form-group">
            <div class="input-field">
              <label for="txtPolicyNum">Policy Number / Cover Note Number</label>
              <input type="text" id="txtPolicyNum" name="policyNumber" [(ngModel)]="claimData.policyNumber" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <div class="input-field">
              <label for="txtChasisNum">Chassis Number / Vehicle Registration </label>
              <input type="text" id="txtChasisNum" class="form-control" name="vehNo" [(ngModel)]="claimData.vehNo"/>
            </div>
          </div>
          <div class="text-center btn-margin">
            <button type="button" class="cstmbtn mr-2" [routerLink]="['/claims']">Back</button>
            <button type="button" class="cstmbtn" (click)="claimIntiation()">Verify</button>
          </div>
        </div>
      </div>
    </div>
  </section>  
  <div class="ocean">
    <div class="wave"></div>
    <div class="wave"></div>
  </div>