<app-header></app-header>
<app-breadcrumbs></app-breadcrumbs>
<section class=" mainsec">
  <div class="row">
    <div class="container">
      <div class="plansdiv">
        <ul>
          <!-- Plan 1 -->
          <li>
            <div class="plan" (click)="getPlan($event)" value="plan1">
              <div class="title">
                <table>
                  <tr>
                    <td>Economy Plan</td>
                    <td>
                      <span>3 Covers</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="contdiv">
                <h2>₹10000</h2>
                <table class="covers">
                  <tr>
                    <th colspan="3">Mandatory Cover (3)</th>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/car_damage.png" alt="icon" />
                    </td>
                    <td>Own Damage Protection</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/protection.png" alt="icon" />
                    </td>
                    <td>Third Party Protection</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/cpa.png" alt="icon" />
                    </td>
                    <td>Compulsory Personal Accident (CPA)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                </table>
              </div>
              <button type="button" class="buynow">BUY NOW</button>
            </div>
          </li>
          <!-- Plan 2 -->
          <li>
            <div class="plan recomended" (click)="getPlan($event)" id="plan2">
              <div class="title">
                <table>
                  <tr>
                    <td>Recommended Plan</td>
                    <td>
                      <span>6 Covers</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="contdiv">
                <h2>₹12000</h2>
                <table class="covers">
                  <tr>
                    <th colspan="3">Mandatory Cover (3)</th>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/car_damage.png" alt="icon" />
                    </td>
                    <td>Own Damage Protection</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/protection.png" alt="icon" />
                    </td>
                    <td>Third Party Protection</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/cpa.png" alt="icon" />
                    </td>
                    <td>Compulsory Personal Accident (CPA)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                </table>
                <table class="covers">
                  <tr>
                    <th colspan="3">Add-on Cover (3)</th>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/zd.png" alt="icon" />
                    </td>
                    <td>Zero Depreciation (ZD)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/rsa.png" alt="icon" />
                    </td>
                    <td>Road Side Assistance</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/receipt.png" alt="icon" />
                    </td>
                    <td>Return to invoice (RTI)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                </table>
              </div>
              <button type="button" class="buynow">BUY NOW</button>
            </div>
          </li>
          <!-- Plan 3 -->
          <li>
            <div class="plan" (click)="getPlan($event)" id="plan3">
              <div class="title">
                <table>
                  <tr>
                    <td>Recommended Plan</td>
                    <td>
                      <span>6 Covers</span>
                    </td>
                  </tr>
                </table>
              </div>
              <div class="contdiv">
                <h2>₹18000</h2>
                <table class="covers">
                  <tr>
                    <th colspan="3">Mandatory Cover (3)</th>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/car_damage.png" alt="icon" />
                    </td>
                    <td>Own Damage Protection</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/protection.png" alt="icon" />
                    </td>
                    <td>Third Party Protection</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/cpa.png" alt="icon" />
                    </td>
                    <td>Compulsory Personal Accident (CPA)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                </table>
                <table class="covers">
                  <tr>
                    <th colspan="3">Add-on Cover (3)</th>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/zd.png" alt="icon" />
                    </td>
                    <td>Zero Depreciation (ZD)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/rsa.png" alt="icon" />
                    </td>
                    <td>Road Side Assistance</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/receipt.png" alt="icon" />
                    </td>
                    <td>Return to invoice (RTI)</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <img src="assets/images/geoext.png" alt="icon" />
                    </td>
                    <td>Geographical Extension</td>
                    <td>
                      <img src="assets/images/checked1.png" alt="icon" />
                    </td>
                  </tr>
                </table>
              </div>
              <button type="button" class="buynow">BUY NOW</button>
            </div>
          </li>

          <li>
            <div class="netPremium">
              <table>
                <tr>
                  <th colspan="2">
                    Vehicle Details
                    <a href="#" title="Edit" class="float-right">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 383.947 383.947" width="12" fill="#18548a">
                        <path
                          d="M0 303.947v80h80l236.053-236.054-80-80zM377.707 56.053L327.893 6.24c-8.32-8.32-21.867-8.32-30.187 0l-39.04 39.04 80 80 39.04-39.04c8.321-8.32 8.321-21.867.001-30.187z" />
                      </svg>
                    </a>
                  </th>
                </tr>
                <tr>
                  <td>Model :</td>
                  <td>HONDA CIVIC</td>
                </tr>
                <tr>
                  <td>Variant :</td>
                  <td>1.8 V (MT) 1799.0</td>
                </tr>
                <tr>
                  <td>Registration Date :</td>
                  <td>01 Dec 2008</td>
                </tr>
                <tr>
                  <td>Claim last year :</td>
                  <td>No</td>
                </tr>
                <tr>
                  <td>NCB: </td>
                  <td>45%</td>
                </tr>
              </table>
              <hr />
              <table>
                <tr>
                  <th colspan="2">Premium Break Up</th>
                </tr>
                <tr>
                  <td>Own Damage Premium</td>
                  <td>₹ 2000</td>
                </tr>
                <tr>
                  <td>Third Party Premium</td>
                  <td>₹ 4000</td>
                </tr>
                <tr>
                  <td>(CPA) Premium</td>
                  <td>₹ 1000</td>
                </tr>
                <tr>
                  <td>Add-Ons Premium</td>
                  <td>₹ 3000</td>
                </tr>
                <tr>
                  <td>Discount</td>
                  <td>- ₹ 1000</td>
                </tr>
              </table>
              <div class="ttlprem">
                <table>
                  <tr>
                    <th>
                      Net Premium
                      <small>This price is excluding 18% GST</small>
                    </th>
                    <td>₹ 10000</td>
                  </tr>
                </table>
              </div>
            </div>
          </li>
        </ul>
        <div class="customize">
          <span>
            <a href="#">Click here</a> to customize the coverages
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
