<div class="innerdiv">
  <h3>{{'RegistrationPage.PENPAY' | translate }}</h3>
  <div class="fieldsdiv">
    <div class="breakindiv">
      <div class="row">
        <!-- From Date -->
        <div class="col-sm-6 form-group">
          <label class="form-label" for="fromdatepen">{{'RegistrationPage.FromDate' | translate }}<sup
              class="star">*</sup></label><br>
          <input id="fromdatepen" matInput [matDatepicker]="picker4" placeholder="DD/MM/YYYY" name="fromdatepen"
            readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingpayment.FromDate"
            class="form-control dob" (click)="picker4.open()" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker4" class="matCustomCalicon"></mat-datepicker-toggle> -->
          <mat-datepicker #picker4></mat-datepicker>
        </div>
        <!-- To Date -->
        <div class="col-sm-6 form-group">
          <label class="form-label" for="todatepen">{{'RegistrationPage.ToDate' | translate }}<sup
              class="star">*</sup></label><br>
          <input id="todatepen" matInput [matDatepicker]="picker5" placeholder="DD/MM/YYYY" name="todatepen"
            readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingpayment.ToDate" class="form-control dob"
            (click)="picker5.open()" required>
          <!-- <mat-datepicker-toggle matSuffix [for]="picker5" class="matCustomCalicon"></mat-datepicker-toggle> -->
          <mat-datepicker #picker5></mat-datepicker>
        </div>

        <!-- Filter Type -->
        <!-- *ngIf="bankType == 'INT'" -->
        <!-- digitalPOS :- Added *ngIf="IsPOSTransaction_flag != true" condition for digital POS to remove insta payment radio button -->
        <div class="col-md-12 form-group" *ngIf="IsPOSTransaction_flag != true">
          <label>Filter By</label>
          <ul class="radioul" (change)="insta($event)">
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input value="false" type="radio" id="filter_pending" name="pending" checked />
                    <label for="filter_pending">Pending Payments</label>
                  </td>
                </tr>
              </table>
            </li>
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input value="true" type="radio" id="filter_insta" name="pending" />
                    <label for="filter_insta">Insta Payment</label>
                  </td>
                </tr>
              </table>
            </li>

          </ul>
        </div>



        <!-- Vehicle Type -->
        <div class="col-md-12 form-group">
          <label>{{'RegistrationPage.VEHICLETYPE' | translate }}</label>
          <ul class="radioul" (change)="vehicletype($event)">
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_all" name="selectVehiclepen" />
                    <label for="penselectVehicle_all">All</label>
                  </td>
                </tr>
              </table>
            </li>
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_twoWheeler" name="selectVehiclepen" checked />
                    <label for="penselectVehicle_twoWheeler">{{'InputKey.2WH' | translate }}</label>
                  </td>
                </tr>
              </table>
            </li>
            <!-- 2WheelerOD -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_twoWheelerOD" name="selectVehiclepen" />
                    <label for="penselectVehicle_twoWheelerOD">2 Wheeler OD</label>
                  </td>
                </tr>
              </table>
            </li>

            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_fourWheeler" name="selectVehiclepen" />
                    <label for="penselectVehicle_fourWheeler">{{'InputKey.4WH' | translate }}</label>
                  </td>
                </tr>
              </table>
            </li>
            <!-- 4WheelerOD -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_fourWheelerOD" name="selectVehiclepen" />
                    <label for="penselectVehicle_fourWheelerOD">4 Wheeler OD</label>
                  </td>
                </tr>
              </table>
            </li>

            <!-- 2WTP -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_twoWheelerTP" name="selectVehiclepen" />
                    <label for="penselectVehicle_twoWheelerTP">2 Wheeler TP</label>
                  </td>
                </tr>
              </table>
            </li>
            <!-- 4WTP -->
            <li>
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_fourWheelerTP" name="selectVehiclepen" />
                    <label for="penselectVehicle_fourWheelerTP">4 Wheeler TP</label>
                  </td>
                </tr>
              </table>
            </li>
            <!-- All Risk Electric Bike -->
            <li *ngIf="IsPOSTransaction_flag == false">
              <table class="radio1">
                <tr>
                  <td>
                    <input type="radio" id="penselectVehicle_allriskElectricBike" name="selectVehiclepen" />
                    <label for="penselectVehicle_allriskElectricBike">Electric Bike</label>
                  </td>
                </tr>
              </table>
            </li>
          </ul>
          <div class="text-center mt-3">
            <button id="get_quote" (click)="validate()" type="button" class="cstmbtn">
              <span *ngIf="spinloaderpolicy == false">{{'Buttons.GETPOLICY' | translate }}</span>
              <span *ngIf="spinloaderpolicy == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </div>
      </div>


      <div class="row" style="left: 20px;" *ngIf="norecordflag == true">
        <label class="norecord">No Records Found</label>
      </div>

      <!-- Search and Details -->
      <div class="row" *ngIf="norecordflag == false">
        <!-- Search -->
        <div class="panel-group" *ngIf="nysaPolicy" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="col-md-6 col-lg-6 col-12 form-group">
            <label>{{'RegistrationPage.SEARCHPEN' | translate }}</label>
            <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term"
              placeholder="{{'RegistrationPage.SEARCHPEN' | translate }}" tabindex="2">
          </div>


          <!-- <br> -->
          <!-- Policy List -->
          <div class="tablediv">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="align-middle">Select</th>
                    <th scope="col" class="align-middle">Proposal Number</th>
                    <th *ngIf="instatype" scope="col" class="align-middle">Insta Policy Number</th>
                    <th *ngIf="ProductType == '0'" scope="col" class="align-middle">Product</th>
                    <th scope="col" class="align-middle">Customer Name</th>
                    <th scope="col" class="align-middle">Policy Start Date</th>
                    <th *ngIf="ProductType != '0'" scope="col" class="align-middle">Policy End Date</th>
                    <th scope="col" class="align-middle">Amount</th>
                    <th scope="col" class="align-middle">Payment Mode</th>
                    <th scope="col" class="align-middle">Recalculate</th>
                    <!-- <th *ngIf="!showbutton" scope="col">Pay</th> -->

                    <!-- <th scope="col">Pay / Recalculate</th> -->
                    <!-- <th *ngIf="ProductType == '1' || ProductType == '2'" scope="col">Recalculate</th> -->
                    <!-- <th *ngIf="bankType == 'INT'">Pay Insta</th> -->
                  </tr>
                </thead>
                <tbody
                  *ngFor="let data of nysaPolicy | filter:term | paginate: { id:'pendingPayPage', itemsPerPage: 10, currentPage: page,totalItems: nysapolicyCount }; let i = index">
                  <tr [id]="'heading'+data.id" *ngIf="!cs.isUndefineORNull(data)">
                    <td>
                      <div class="chkbox1 radiodiv1" *ngIf="data.isPayButtonVis">
                        <input id="{{data.policyNo}}" name="paCover"
                          (click)="getData(data.policyNo,data.pfCustomerID,data.totalPremium,$event,data)"
                          type="checkbox">
                        <label for="{{data.policyNo}}"></label>
                      </div>
                    </td>

                    <!-- <td *ngIf="isAllRisk == true">
                      <div class="chkbox1 radiodiv1" *ngIf="data.isPayButtonVis">
                        <input id="{{data.allRisk.policyNo}}" name="paCover"
                          (click)="getData(data.allRisk.policyNo,data.allRisk.pfCustomerID,data.allRisk.totalPremium,$event,data)"
                          type="checkbox">
                        <label for="{{data.allRisk.policyNo}}"></label>
                      </div>
                    </td> -->

                    <!-- <td *ngIf="!data.isPayButtonVis || !data.allRisk.isPayButtonVis"></td> -->
                    <th class="align-middle">{{data.policyNo}}</th>
                    <th *ngIf="instatype">{{data.instaPolicyNo}}</th>
                    <td *ngIf="ProductType == '0' && data.policySubType == '1'">Two Wheeler</td>
                    <td *ngIf="ProductType == '0' && data.policySubType == '2'">Four Wheeler</td>
                    <td *ngIf="ProductType == '0' && data.policySubType == '9'">Two Wheeler TP</td>
                    <td *ngIf="ProductType == '0' && data.policySubType == '10'">Four Wheeler TP</td>
                    <td *ngIf="ProductType == '0' && data.policySubType == '12'">Two Wheeler OD</td>
                    <td *ngIf="ProductType == '0' && data.policySubType == '13'">Four Wheeler OD</td>
                    <td *ngIf="ProductType == '0' && data.policySubType == '11'">Electric Bike</td>
                    <td class="align-middle">{{data.customerName}}</td>
                    <td class="align-middle">
                      <span *ngIf="!cs.isUndefineORNull(data.policyStartDate)">{{data.policyStartDate}}</span>
                    </td>
                    <!-- <td *ngIf="isAllRisk == true" class="align-middle">
                      <span *ngIf="!cs.isUndefineORNull(data.allRisk.policyStartDate)">{{data.allRisk.policyStartDate}}</span>
                    </td> -->
                    <td *ngIf="ProductType != '0'" class="align-middle">
                      <span *ngIf="!cs.isUndefineORNull(data.policyEndDate)">{{data.policyEndDate}}</span>
                    </td>
                    <!-- <td *ngIf="isAllRisk == true && ProductType != '0'" class="align-middle">
                      <span *ngIf="ProductType != '0' && !cs.isUndefineORNull(data.allRisk.policyEndDate)">{{data.allRisk.policyEndDate}}</span>
                    </td> -->
                    <td class="align-middle" *ngIf="data.scpa != null">₹{{+data.totalPremium + +data.scpa.totalPremium}}
                    </td>
                    <!-- <td class="align-middle" *ngIf="data.scpa == null">₹{{data.totalPremium ? data.totalPremium : data.allRisk.totalPremium}}</td> -->
                    <td class="align-middle" *ngIf="data.scpa == null">₹{{data.totalPremium}}</td>
                    <td class="align-middle">
                      <span *ngIf="data.paymentMode == 'DirectPayByCustomer'">Pay by Customer</span>
                      <span *ngIf="data.paymentMode != 'DirectPayByCustomer'">{{data.paymentMode}}</span>
                    </td>
                    <!-- <td *ngIf="isAllRisk == true && ProductType == '11' && data.allRisk.paymentMode == 'DirectPayByCustomer'" class="align-middle">
                      <span *ngIf="data.allRisk.paymentMode == 'DirectPayByCustomer'">Pay by Customer</span>
                    </td> -->
                    <!-- <td *ngIf="isAllRisk == true" class="align-middle">
                      <span *ngIf="data.allRisk.paymentMode == 'DirectPayByCustomer'">Pay by Customer</span>
                      <span *ngIf="data.allRisk.paymentMode != 'DirectPayByCustomer'">{{data.allRisk.paymentMode}}</span>
                    </td> -->
                    <td *ngIf="data.showRecal == true && instatype == false && data.paymentMode != 'Insta'">
                      <button id="{{data.policyNo}}" value="{{data.policyNo}}" (click)="recalculate(data,$event)"
                        class="cstmbtn">
                        <span>Recalculate</span>
                        <span *ngIf="loaderByPolicy == data.policyNo && spinloaderrecal == true "> <i
                            class="fa fa-spinner fa-spin"></i></span>
                      </button>
                    </td>

                    <!-- <td *ngIf="data.isResendLink && !showbutton"><button (click)="checkSendLinkData(data)" type="button" class="cstmbtn">Resend link</button></td> -->
                    <!-- <td *ngIf="bankType == 'INT' && instatype == true && data.isPayButtonVis && !showbutton">
                    <button (click)="PayInsta(data)" type="button" class="cstmbtn">Pay Insta</button>
                  </td> -->
                    <!-- <td *ngIf="!showbutton" ><button *ngIf="data.isPayButtonVis && instatype == false" (click)="Payamount(data)" type="button" class="cstmbtn">Pay</button></td> -->
                  </tr>

                </tbody>

                <!-- <tbody>
                <tr>
                  <td *ngIf="!showbutton" ><button *ngIf="showcheckButton == true && instatype == false" (click)="Payamount(data)" type="button" class="cstmbtn">Pay</button></td>
                </tr>
              </tbody> -->


              </table>
            </div>
          </div>

          <!-- <ng-container class="col-md-12 form-group" *ngIf="bankType == 'INT' && instatype == true && norecordflag == false">
          <p *ngIf="ProductType == '0' || ProductType == '1'|| ProductType == '2'|| ProductType == '12'|| ProductType == '13'" style="color: red;">To pay through Cheque, please <a (click)="redirectTo()" style="color: red;cursor: pointer; font-weight: bolder;"> Click Here</a></p>
          <p *ngIf="ProductType == '10' || ProductType == '9'" style="color: red;">To pay through Cheque or Cash, please <a (click)="redirectTo()" style="color: red;cursor: pointer; font-weight: bolder;"> Click Here</a></p>
        </ng-container> -->

          <!-- Single Pay / resend -->
          <div class="tablediv" *ngIf="showcheckButton == true">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr *ngIf="showcheckButton == true">
                    <td>
                      <h3>Your Proposal No is: {{singleData[0].policyNo}}</h3>
                    </td>
                    <td style="text-align: right;">
                      <button *ngIf="singleData[0].isResendLink && !showbutton"
                        (click)="checkSendLinkData(singleData[0])" type="button" class="cstmbtn">Resend link</button>
                      <button style='margin-left:16px'
                        *ngIf="!showbutton && singleData[0].isPayButtonVis && instatype == false"
                        (click)="Payamount(singleData[0])" type="button" class="cstmbtn">Pay</button>
                      <button style='margin-left:16px'
                        *ngIf=" instatype == true && singleData[0].isPayButtonVis && !showbutton"
                        (click)="PayInsta(singleData[0], 0)" type="button" class="cstmbtn">Pay</button>
                      <button style='margin-left:16px'
                        *ngIf=" instatype == true && singleData[0].isPayButtonVis && !showbutton"
                        (click)="sendPayInstaLink(singleData[0])" type="button" class="cstmbtn">Send Link</button>
                      <!-- <button style='margin-left:16px' *ngIf=" instatype == true && singleData[0].isPayButtonVis && !showbutton && cs.isPlutusEnable" (click)="PayInsta(singleData[0], 1)" type="button" class="cstmbtn">Advance PID</button> -->
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '1'|| ProductType == '2'|| ProductType == '12'|| ProductType == '13')"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque</button>
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '10' || ProductType == '9')"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque / Cash</button>

                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '0' && (singleData[0].policySubType == '9' || singleData[0].policySubType == '10'))"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque / Cash</button>
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '0' && (singleData[0].policySubType == '1' || singleData[0].policySubType == '2'|| singleData[0].policySubType == '12'|| singleData[0].policySubType == '13'))"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque</button>
                      <!-- <button *ngIf="singleData[0].showRecal == true && instatype == false && singleData[0].paymentMode != 'Insta'" (click)="recalculate(singleData[0])" type="button" class="cstmbtn">
                      <span *ngIf="spinloaderrecal == false">Recalculate</span>
                      <span *ngIf="spinloaderrecal == true">Loading <i class="fa fa-spinner fa-spin" ></i></span>
                    </button> -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Customer Link changes -->
          <div class="tablediv" *ngIf="isSendLinkForInstaPolicy == true && showcheckButton">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td style="border: none;">
                      <label>Mobile</label><sup class="star">*</sup>
                      <input type="text" maxlength="10" (keypress)="numberOnly($event)" name="custMobile"
                        [(ngModel)]="custMobile" class="form-control" [pattern]="mobNumberPattern" #custMob="ngModel"
                        placeholder="Enter Mobile Number" (ngModelChange)="validateMobile()"/>
                        <span *ngIf="!isMobileValid" [ngClass]="'error'" style="color:red">Kindly enter valid mobile number</span>
                    </td>
                    <td style="border: none;">
                      <label>Email</label><sup class="star">*</sup>
                      <input type="email" #emailpay="ngModel" name="Email" [class.is-invalid]="emailpay.touched"
                        pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                        [(ngModel)]="customerEmail" class="form-control" placeholder="Enter Email id" />
                        <span *ngIf="emailpay.invalid && (emailpay.dirty || emailpay.touched)" style="color:red">Kindly enter valid email id</span>
                    </td>
                    <td style="padding-top: 3%;">
                      <button (click)="sendLinkForInsta()" type="button" class="cstmbtn">Submit</button>
                      <button style='margin-left:16px' (click)="closeLink()" type="button"
                        class="cstmbtn">Close</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Multipay -->
          <div class="tablediv" *ngIf="showbutton">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td *ngIf="!totalsum || totalsum == 0">
                      <h3>Total Amount: ₹ 0</h3>
                    </td>
                    <td *ngIf="totalsum">
                      <h3>Total Amount: ₹ {{totalsum}}</h3>
                    </td>
                    <td *ngIf="showbutton" style="text-align: right;">
                      <button (click)="gotoMultiPayment(0)" type="button" class="cstmbtn">Pay</button>
                      <!-- <button (click)="gotoMultiPayment(1)" type="button" class="cstmbtn">Advance PID</button> -->
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '1'|| ProductType == '2'|| ProductType == '12'|| ProductType == '13')"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque</button>
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '10' || ProductType == '9')"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque / Cash</button>

                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '0' && (singleData[0].policySubType == '9' || singleData[0].policySubType == '10'))"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque / Cash</button>
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '0' && (singleData[0].policySubType == '1' || singleData[0].policySubType == '2'|| singleData[0].policySubType == '12'|| singleData[0].policySubType == '13'))"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="tablediv" *ngIf="instatype == true && showcheckButton == false && !showbutton">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td
                      *ngIf="( instatype == true) && (ProductType == '0' || ProductType == '1'|| ProductType == '2'|| ProductType == '12'|| ProductType == '13')">
                      <h3>To pay through Cheque </h3>
                    </td>
                    <td *ngIf="( instatype == true) && (ProductType == '10' || ProductType == '9')">
                      <h3>To pay through Cheque / Cash </h3>
                    </td>
                    <td style="text-align: right;">
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '0' || ProductType == '1'|| ProductType == '2'|| ProductType == '12'|| ProductType == '13')"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque</button>
                      <button style='margin-left:16px'
                        *ngIf="( instatype == true) && (ProductType == '10' || ProductType == '9')"
                        (click)="redirectTo()" type="button" class="cstmbtn">Cheque / Cash</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- <div class="paneldiv1 mt20">
        <div class="panel panel-default" *ngFor="let data of nysaPolicy | filter:term | paginate: { itemsPerPage: 10, currentPage: page }"  >
          <div class="panel-heading" role="tab" [id]="'heading'+data.id">
            <h3 class="panel-title">
             <label>{{'PaymentPage.propno' | translate }} :</label>
              <a role="button" alt="Click to see details" (click)="fetch(data)" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+data.id" aria-expanded="true" [attr.aria-controls]="'collapse'+data.id">
                 {{data.policyNo}}
              </a>
            </h3><br>
          </div>
          <div [id]="'collapse'+data.id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+data.id">
            <div class="panel-body">
              <div class="row">

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'RegistrationPage.CUSTNAME' | translate }}</label>
                  <input class="form-control" disabled value=" {{data.customerName}}">
                </div>

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'PaymentPage.polstartdate' | translate }}</label>
                  <input class="form-control" disabled value=" {{data.policyStartDate}}">
                </div>

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'PaymentPage.polenddate' | translate }}</label>
                  <input class="form-control" disabled value=" {{data.policyEndDate}}">
                </div>

                <div class="col-md-4 col-lg-4 col-12 form-group">
                  <label>{{'PaymentPage.premamnt' | translate }}</label>
                  <input class="form-control" disabled value=" ₹ {{data.totalPremium}}">
                </div>

              </div>

              <div class="text-center row">
                <div class="col-md-12 col-lg-12 col-12 ">
                  <button type="button" *ngIf="payButton" (click)="buyPolicy()" id="buypol" class="cstmbtn mt-4">{{'PaymentPage.buypol' | translate }}</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> -->
          <br>

          <!-- Pagination -->
          <div class="text-center row">
            <pagination-controls id="pendingPayPage" (pageChange)="page = $event" responsive="true">
            </pagination-controls>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>


<!-- 18-12-2020 -->
<div class="modal fade" id="sendLinkModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <section class="container-fluid mainsec pb-0">
          <div class="fieldsdiv">
            <div class="row">
              <!-- Name -->
              <div class=" form-group col-md-12 col-12">
                <label>Email</label><sup class="star">*</sup>
                <input type="email" #custEmail="ngModel" [class.is-invalid]="custEmail.touched"
                  pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                  name="customerEmail" [(ngModel)]="customerEmail" class="form-control" placeholder="Enter Email ID">
                <div *ngIf="custEmail.invalid && (custEmail.dirty || custEmail.touched)" style="color:red">
                  <div *ngIf="custEmail.errors.pattern">
                    Email is invalid.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Mobile -->
              <div class=" form-group col-md-12 col-12">
                <label>Mobile</label><sup class="star">*</sup>
                <input type="text" maxlength="10" (keypress)="numberOnly($event)" name="custMobile"
                  [(ngModel)]="custMobile" class="form-control" [pattern]="mobNumberPattern" #custMob="ngModel"
                  placeholder="Enter Mobile Number">
                <div *ngIf="custMob.errors" [ngClass]="'error'" style="color:red">
                  Invalid Mobile number
                </div>
              </div>
            </div>
          </div>

        </section>
        <!-- Modal footer -->
        <div class="modal-footer" style="justify-content: center;">
          <button type="button" class="modal-trans" data-dismiss="modal"
            (click)="closeModal('sendLinkModal')">{{'Buttons.CLOSE' | translate }}</button>
          <button type="button" *ngIf="customerEmail && custMobile" class="modal-btn" (click)="sendLink()"
            data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>