/* CSS for Datepicker */
.form-input {
  width: 85%;
  height: 35px;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  font: 400 18px/18px "Roboto", sans-serif;
  background-color: transparent;
  color: #4b4b4b;
}

.panel-heading {
  width: 100%;
  position: relative;
}


.panel-group {
  width: 100%;
}

.panel-body {
  border-radius: 20px;
  /* background-color: #db6d18; */
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 100%;
  /* position: relative; */
}

.panelbutton {
  color: #97291e;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: left;
  /* color: #ffffff; */
  margin-bottom: 0px;
}

.norecord {
  font-size: 18px;
  padding-left: 15px;
}

.form-input {
  width: 60% !important
}


/* checkbox CSS 04/06/2021  */
.chkbox1 {
  vertical-align: top;
}

.chkbox1 input {
  display: none;
}

.chkbox1 input+label::before {
  content: '';
  width: 23px;
  height: 23px;
  border: solid 1px #ccc;
  margin-right: 3px;
  display: inline-block;
  background-color: #ffffff;
  vertical-align: top;
}

.chkbox1 input:checked+label::before {
  background: #1c5c95 url(../../../assets/images/tick.png) no-repeat center center;
}

.chkbox1 table tr td label {
  margin: 0;
  color: #000;
  cursor: pointer;
  font: 400 13px "Muli", sans-serif;
}

.chkbox1 table tr td label a {
  color: #606060;
}

.chkbox1 table tr td span {
  display: block;
  color: #000;
  font: 600 14px "Muli", sans-serif;
}
