/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

/* .fade {
  opacity: 0;
  -webkit-transition: opacity 30s linear;
  transition: opacity 30s linear;
} */

@import "~angular-notifier/styles";

.loader1 {
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;

  left: 0px;
  right: 0px;
  position: fixed;
  text-align: center;
  z-index: 1000000;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Loader */

.backdrop {
  /* -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -ms-filter: blur(8px);
  -o-filter: blur(8px);
  filter: blur(8px); */

  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  display: table-cell;
  height: 100vh;
}

.red-border-class {
  border-color: red !important;
}

.spinner {
  height: 60px;
  display: block;
  vertical-align: middle;
  margin: 46vh auto;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

#loader_msg {
  font-size: 14px;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    background-color: rgba(4, 60, 111, 1);
  }

  40% {
    -webkit-transform: scale(1);
    background-color: rgba(4, 60, 111, 1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: rgba(4, 60, 111, 1);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: rgba(4, 60, 111, 1);
  }
}

.star {
  color: red;
}

.mat-calendar-body-cell-content {
  border-radius: 7px !important;
  border-width: 0px !important;
}

.mat-calendar-body-selected {
  background-color: #0e4c82;
}

.inline-addon {
  display: inline-block;
  margin-top: -10px;
}

.pdr-15 {
  padding-right: 15px;
}

.content-desktop {
  display: block;
}
.content-mobile {
  display: none;
}

.content-desktop-vehicle {
  display: table;
}
.content-mobile-vehicle {
  display: none;
}

@media screen and (max-width: 768px) {
  .content-desktop {
    display: none;
  }
  .content-mobile {
    display: block;
  }

  .content-desktop-vehicle {
    display: none;
  }
  .content-mobile-vehicle {
    display: table;
  }

  .mainsec .tablediv table tr th {
    font: 400 12px "Muli", sans-serif;
  }
  .mainsec .tablediv table tr td {
    font: 700 12px "Muli", sans-serif;
  }
  .mainsec .tablediv table tr td,
  .mainsec .tablediv table tr th {
    padding: 8px 10px;
  }

  .additionalCovers {
    margin-left: 30px;
    width: 90%;
  }
  .addon-wrapper {
    margin-top: 0;
  }
}

/* flexbox */
@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
    max-width: 1200px;
  }
}

/* Pranay CSS */

table.sfc_table {
  /* font-family: "Meta", Helvetica, Arial, sans-serif; */
  font-family: "Muli", sans-serif;
  background-color: #eeeeee;
  width: 100%;
  /* height: 200%; */
  text-align: left;
  border-collapse: collapse;
}
table.sfc_table td,
table.sfc_table th {
  padding: 3px 3px;
  border: 1px solid;
}
table.sfc_table tbody td {
  font-size: 14px;
}
table.sfc_table tr:nth-child(even) {
  background: #ffffff;
}

table.sfc_table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #ffffff !important;
  border-top-color: rgba(0, 0, 0);
  background: #ffffff !important;
  text-align: center;
}
.right-border {
  border-right-color: rgba(0, 0, 0) !important;
}
.left-border {
  border-left-color: rgba(0, 0, 0) !important;
}
td.shipweek,
td.listprice,
td.specialprice,
td.qty,
td.checkbox {
  text-align: center;
}
table.sfc_table tbody tr.total td {
  height: 100px;
  font-size: 20px;
}
label {
  margin-right: 10px;
}
table.sfc_table td.innerHeader {
  padding: 9px;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: inset 0px -2px 8px 0px rgba(10, 9, 10, 0.59);
  -moz-box-shadow: inset 0px -2px 8px 0px rgba(10, 9, 10, 0.59);
  box-shadow: inset 0px -2px 8px 0px rgba(10, 9, 10, 0.59);
  text-shadow: 2px 4px 4px black;
}

/* End */

/* Lombard wallet */
.maindiv .headingsec {
  padding: 12px 15px;
  margin-bottom: 18px;
  background-color: #efefef;
  box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
  -webkit-box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
  -moz-box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
}

header {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#f58220),
    to(#b02a30)
  );
  background-image: linear-gradient(to bottom, #f58220, #b02a30);
}

header h1 {
  margin: 0;
  display: inline-block;
}

.maindiv {
  min-height: 100vh;
  /* padding-top: 58px; */
  background: #fff;
}

.maindiv .headingsec {
  padding: 12px 15px;
  margin-bottom: 18px;
  background-color: #efefef;
  box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
  -webkit-box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
  -moz-box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
}

.maindiv .headingsec h2 {
  padding: 0 15px;
  margin: 0;
  color: #063b6d;
  font: 600 18px "Muli", sans-serif;
  text-transform: capitalize;
}

/* .cstmbtn {
    min-width: 115px;
    padding: 10px 25px;
    margin: 0 2px;
    border: 0;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    background-image: linear-gradient(280deg, #ac3030, #881717);
    color: #fff;
    font: 500 16px "Muli", sans-serif;
    outline: 0 !important;
    text-decoration: none;
  } */
/*
  .cstmbtn:hover {
    background-image: linear-gradient(280deg, #ac3030, #881717);
    color: #fff;
    text-decoration: none;
  } */

.cstmstyle {
  padding: 0px 10px;
  border: solid 1px #eaeaea;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.maindiv {
  min-height: 100vh;
  /* padding-top: 58px; */
  background: #fff;
}

.maindiv .headingsec {
  padding: 12px 15px;
  margin-bottom: 18px;
  background-color: #efefef;
  box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
  -webkit-box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
  -moz-box-shadow: 0 4px 4px 0 rgba(34, 99, 157, 0.31);
}

.maindiv .headingsec h2 {
  padding: 0 15px;
  margin: 0;
  color: #063b6d;
  font: 600 18px "Muli", sans-serif;
  text-transform: capitalize;
}

.maindiv .accordsec {
  margin-bottom: 15px;
}

.maindiv .accordsec .card {
  border: 0;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: transparent;
}

.maindiv .accordsec .card label {
  color: #ad2121;
  font: normal 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-header {
  padding: 0;
  border: solid 1px #ffffff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 3px 0 #6e0000;
  -webkit-box-shadow: 5px 5px 3px 0 #6e0000;
  -moz-box-shadow: 5px 5px 3px 0 #6e0000;
}

.maindiv .accordsec .card .card-header a {
  padding: 14px 14px 14px 80px;
  display: block;
  color: #ad2121;
  font: 600 16px "Muli", sans-serif;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body {
  margin-top: 7px;
  padding: 15px 70px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.45);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.45);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.45);
}

.maindiv .accordsec .card .card-body.cstmbody {
  padding: 15px 15px 10px;
}

.maindiv .accordsec .card .card-body.cstmIpay {
  padding: 10px 0;
  border-bottom: solid 1px #bce5f7;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body.agreeBody {
  padding: 10px 70px;
}

.maindiv .accordsec .card .card-body .successMsg {
  margin-bottom: 30px;
  display: inline-block;
  color: #4b4b4b;
  font: 500 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .rangediv strong {
  display: block;
  color: #4b4b4b;
  font: 500 28px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .rangediv span {
  color: #4b4b4b;
  font: normal 15px "Muli", sans-serif;
  text-transform: uppercase;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"] {
  background-color: transparent !important;
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]::-moz-range-thumb {
  background: #931f1f;
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]::-moz-range-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-ms-thumb {
  background: #931f1f;
}

.maindiv .accordsec .card .card-body .rangediv input[type="range"]::-ms-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]:focus::-ms-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff;
  background: #931f1f;
  margin-top: -6px;
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]::-webkit-slider-runnable-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.maindiv
  .accordsec
  .card
  .card-body
  .rangediv
  input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.maindiv .accordsec .card .card-body .searchbox input {
  border-bottom: 1px solid #e4d2c5;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font: 400 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table {
  width: 100%;
  border-collapse: separate;
}

.maindiv .accordsec .card .card-body .quotes_table tr > td {
  padding: 10px;
  border: solid 1px #d0c0b6;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .quotes_table table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .quotes_table table tr th {
  color: #4b4b4b;
  font: normal 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr th h6 {
  color: #4b4b4b;
  font: 500 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td {
  padding: 3px;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: #9e2626;
  font: 500 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td button {
  padding: 5px 8px;
  border: 0;
  margin-right: 3px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #a72020;
  color: #fff;
  font: 500 12px "Muli", sans-serif;
  outline: 0;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td label {
  padding: 5px 10px;
  border: solid 1px #d0c0b6;
  margin: 0 3px 0 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  display: inline-block;
  color: #4b4b4b;
  font: 500 12px "Muli", sans-serif;
  vertical-align: baseline;
}

.maindiv .accordsec .card .card-body .quotes_table table tr td a {
  display: inline-block;
}

.maindiv .accordsec .card .card-body .monthly_table {
  width: 100%;
  border-collapse: separate;
  text-align: center;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd {
  padding: 0;
  border: 1px solid rgba(176, 41, 41, 0.53);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.maindiv .accordsec .card .card-body .monthly_table tr td.innertd .innertable {
  width: 100%;
}

.maindiv
  .accordsec
  .card
  .card-body
  .monthly_table
  tr
  td.innertd
  .innertable
  tr
  td
  table {
  width: 100%;
}

.maindiv
  .accordsec
  .card
  .card-body
  .monthly_table
  tr
  td.innertd
  .innertable
  tr
  td
  table
  tr
  th {
  padding: 10px 5px;
  color: #4b4b4b;
  font: 500 16px "Muli", sans-serif;
  text-align: center;
}

.maindiv
  .accordsec
  .card
  .card-body
  .monthly_table
  tr
  td.innertd
  .innertable
  tr
  td
  table
  tr
  td {
  padding: 10px 5px;
  color: #a72020;
  font: 500 16px "Muli", sans-serif;
  text-align: center;
}

.maindiv
  .accordsec
  .card
  .card-body
  .monthly_table
  tr
  td.innertd
  .innertable
  tr:first-child
  tr
  th {
  border-bottom: 2px solid #d9c9bc;
}

.maindiv
  .accordsec
  .card
  .card-body
  .monthly_table
  tr
  td.innertd
  .innertable
  tr:first-child
  tr
  th:first-child {
  border-right: 2px solid #d9c9bc;
}

.maindiv .accordsec .card .card-body .custom-select {
  padding-right: 17px;
  /* background: url(../images/down_arrow.png) no-repeat right center/14px !important; */
}

.maindiv .accordsec .card .card-body .statediv select {
  padding-left: 0;
  border: 0;
  background-color: transparent;
  color: #4b4b4b;
  font: normal 26px "Muli", sans-serif;
  /* background: url(../images/down_arrow.png) no-repeat right center/14px; */
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body .statediv select option {
  font-size: 15px;
}

.maindiv .accordsec .card .card-body .statediv select:disabled {
  background: none;
}

.maindiv .accordsec .card .card-body .form-control,
.maindiv .accordsec .card .card-body .custom-select {
  padding-left: 0;
  border: 0;
  background: transparent;
  color: #4b4b4b;
  font: 500 20px "Muli", sans-serif;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .card .card-body .form-control#annSuminsured,
.maindiv .accordsec .card .card-body #annSuminsured.custom-select,
.maindiv .accordsec .card .card-body .form-control.rupeesmbl,
.maindiv .accordsec .card .card-body .rupeesmbl.custom-select {
  padding-left: 15px;
  /* background: url(../images/rupee.png) no-repeat left center; */
}

.maindiv .accordsec .card .card-body .chkboxdiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .chkboxdiv input:checked + label {
  /* background: url(../images/man_check.png) no-repeat center center; */
}

.maindiv .accordsec .card .card-body .chkboxdiv .form-check-inline {
  margin-right: 10px;
}

.maindiv .accordsec .card .card-body .chkboxdiv label {
  width: 48px;
  height: 48px;
  display: inline-block;
  /* background: url(../images/man_uncheck.png) no-repeat center center; */
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .chkboxdiv.chldbox input:checked + label {
  /* background: url(../images/child_check.png) no-repeat center center; */
}

.maindiv .accordsec .card .card-body .chkboxdiv.chldbox label {
  /* background: url(../images/child_uncheck.png) no-repeat center center; */
}

.maindiv .accordsec .card .card-body .radioboxdiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .radioboxdiv input:checked + label {
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .radioboxdiv .form-check-inline {
  margin-right: 10px;
}

.maindiv .accordsec .card .card-body .radioboxdiv label {
  display: inline-block;
  font: 500 16px "Muli", sans-serif;
  color: rgba(75, 75, 75, 0.5);
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul {
  padding: 0;
  margin: 0;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li {
  display: inline-block;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li input {
  display: none;
}

.maindiv
  .accordsec
  .card
  .card-body
  .radioboxdiv2
  ul
  li
  input:checked
  + label:after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  background-color: #ad2121;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li label {
  position: relative;
  color: #4b4b4b;
  cursor: pointer;
  font: 500 15px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .radioboxdiv2 ul li label:before {
  content: "";
  width: 20px;
  height: 20px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 1px solid #9a9896;
  background-color: #fff;
  vertical-align: text-bottom;
}

.maindiv .accordsec .card .card-body .travelradiodiv input {
  display: none;
}

.maindiv .accordsec .card .card-body .travelradiodiv input:checked + label {
  border: solid 2px #b25d5a;
  border-bottom: 0;
  /* background: #fff url(../images/travel_check.png) no-repeat 8px center/30px; */
  box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.8);
  -webkit-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.8);
  -moz-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.8);
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .travelradiodiv .form-check-inline {
  margin-right: 5px;
}

.maindiv .accordsec .card .card-body .travelradiodiv label {
  width: 155px;
  margin: 0;
  padding: 15px 10px 15px 50px;
  border: 2px solid rgba(178, 93, 90, 0.47);
  border-bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  /* background: rgba(255, 255, 255, 0.47) url(../images/travel_uncheck.png) no-repeat 8px center/30px; */
  box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.47);
  -webkit-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.47);
  -moz-box-shadow: 0 2px 2px 0 rgba(126, 10, 10, 0.47);
  color: rgba(75, 75, 75, 0.5);
  cursor: pointer;
  font: 500 15px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .travelradiodiv small {
  color: #4b4b4b;
  font: normal 11px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body #permAdddiv {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv {
  padding-top: 15px;
  border-top: 2px solid #d5c8c1;
  margin-top: 15px;
}

.maindiv .accordsec .card .card-body .tablediv h3 {
  padding: 10px;
  margin: 0 0 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #4b4b4b;
  font: 500 18px "Muli", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body .tablediv table {
  width: 100%;
  margin: 0 0 18px;
  border-collapse: separate;
  border-spacing: 4px;
}

.maindiv .accordsec .card .card-body .tablediv table thead tr th {
  border: 0;
  color: #b02929;
  font: normal 15px "Muli", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv table thead tr th:nth-child(2) {
  padding-left: 70px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td {
  padding: 8px;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #5f5953;
  font: normal 15px "Muli", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td input {
  display: none;
}

.maindiv
  .accordsec
  .card
  .card-body
  .tablediv
  table
  tbody
  tr
  td
  input:checked
  + label {
  /* background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/13px; */
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td label {
  width: 36px;
  height: 36px;
  margin: 0;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  /* background: rgba(255, 255, 255, 0.65) url(../images/uncheck.png) no-repeat center center/13px; */
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
  width: 36px;
  padding: 0;
  border: 0;
}

.maindiv .accordsec .card .card-body .tablediv table tbody tr td:nth-child(2) {
  padding-left: 25px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td {
  padding: 20px 0 0 45px;
  text-align: left;
}

.maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
  display: inline-block;
  color: #4b4b4b;
  font: 500 14px "Muli", sans-serif;
}

.maindiv
  .accordsec
  .card
  .card-body
  .tablediv
  table
  tfoot
  tr
  td
  strong:first-child {
  margin-bottom: 15px;
}

.maindiv .accordsec .card .card-body h4 {
  margin: 0 0 15px;
  color: #ad2121;
  font: 500 16px "Muli", sans-serif;
  text-align: center;
  text-transform: capitalize;
}

.maindiv .accordsec .card .card-body h5 {
  margin: 0 0 20px;
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -webkit-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  -moz-box-shadow: 6px 5px 3px 0 rgba(110, 0, 0, 0.82);
  color: #a72020;
  font: 500 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body small {
  display: inline-block;
  color: #ad2121;
  font: normal 14px/20px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv2 table {
  width: 100%;
  margin: 0 0 18px;
  border-collapse: separate;
}

.maindiv .accordsec .card .card-body .tablediv2 table thead tr th {
  padding: 12px;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.65);
  color: #962121;
  font: 500 15px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .tablediv2 table thead tr th:first-child {
  background-color: transparent;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody th.mb_head {
  display: none;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr th {
  padding: 8px;
  font: 500 15px "Muli", sans-serif;
  color: #4b4b4b;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr td {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.26);
  font: 500 15px "Muli", sans-serif;
  color: #4b4b4b;
  text-align: center;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child th {
  color: #952020;
}

.maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child td {
  font-size: 23px;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td input {
  display: none;
}

.maindiv
  .accordsec
  .card
  .card-body
  .tablediv2
  table
  tfoot
  tr
  td
  input:checked
  + label {
  border: solid 2px #982222;
  /* background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/16px; */
}

.maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td label {
  width: 100%;
  height: 40px;
  border: solid 1px rgba(152, 34, 34, 0.45);
  margin-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  display: inline-block;
  background: transparent;
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .tablediv3 {
  padding: 5px 0;
  border-top: 2px solid #d5c8c1;
}

.maindiv .accordsec .card .card-body .premTable {
  width: 100%;
  display: inline-table;
}

.maindiv .accordsec .card .card-body .premTable thead tr th {
  color: #012b51;
  font: 500 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td {
  padding: 5px;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td svg {
  width: 19px;
  margin-right: 5px;
  vertical-align: -1px;
}

.maindiv .accordsec .card .card-body .premTable tbody tr td strong {
  color: #012b51;
  font: 500 37px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td label {
  margin: 0 5px 0 0;
  color: #727374;
  font: 500 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td svg {
  width: 12px;
  vertical-align: -1px;
}

.maindiv .accordsec .card .card-body .premTable tfoot tr td span {
  color: #0f0f0f;
  font: 500 14px "Muli", sans-serif;
}

.maindiv
  .accordsec
  .card
  .card-body
  .premTable
  tfoot
  tr
  td
  .custom-switch
  label {
  color: #343434;
  cursor: pointer;
  font: 500 13px "Muli", sans-serif;
  outline: 0;
}

.maindiv
  .accordsec
  .card
  .card-body
  .premTable
  tfoot
  tr
  td
  .custom-switch
  .custom-control-input:not(:disabled):active
  ~ .custom-control-label::before {
  border-color: #adb5bd;
  background-color: #e7d8e2;
}

.maindiv
  .accordsec
  .card
  .card-body
  .premTable
  tfoot
  tr
  td
  .custom-switch
  .custom-control-input:focus
  ~ .custom-control-label::before {
  -webkit-box-shadow: 0 0 0 0.2rem #931f1f36;
  box-shadow: 0 0 0 0.2rem #931f1f36;
  box-shadow: 0 0 0 0.2rem rgba(147, 31, 31, 0.211765);
  -webkit-box-shadow: 0 0 0 0.2rem rgba(147, 31, 31, 0.211765);
  -moz-box-shadow: 0 0 0 0.2rem rgba(147, 31, 31, 0.211765);
}

.maindiv
  .accordsec
  .card
  .card-body
  .premTable
  tfoot
  tr
  td
  .custom-switch
  .custom-control-input:checked
  ~ .custom-control-label::before {
  border-color: #adb5bd;
  background-color: #e7d8e2;
}

.maindiv
  .accordsec
  .card
  .card-body
  .premTable
  tfoot
  tr
  td
  .custom-switch
  .custom-control-label::before {
  top: 0;
}

.maindiv
  .accordsec
  .card
  .card-body
  .premTable
  tfoot
  tr
  td
  .custom-switch
  .custom-control-label::after {
  top: 2px;
  background-color: #a72020;
}

.maindiv .accordsec .card .card-body .premTable.cstmtable tbody tr td {
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .premTable.cstmtable tbody tr td svg {
  width: 12px;
  margin: 0;
  fill: #4b4b4b;
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .premTable.cstmtable tbody tr td span {
  color: #4b4b4b;
  font: 500 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table thead tr th {
  font-size: 13px;
  text-align: center;
}

.maindiv
  .accordsec
  .card
  .card-body
  .innertable
  .tablediv
  table
  thead
  tr
  th:nth-child(2) {
  padding: 0;
}

.maindiv .accordsec .card .card-body .innertable .tablediv table tbody tr td {
  font-size: 13px;
  text-align: center;
}

.maindiv
  .accordsec
  .card
  .card-body
  .innertable
  .tablediv
  table
  tbody
  tr
  td:nth-child(2) {
  padding: 8px;
}

.maindiv .accordsec .card .card-body .agreeTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}

.maindiv .accordsec .card .card-body .agreeTable tr td {
  padding: 8px;
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .agreeTable tr td label {
  margin: 0;
  cursor: pointer;
}

.maindiv .accordsec .card .card-body .agreeTable tr td:first-child {
  width: 36px;
  padding: 0;
  border: 0;
}

.maindiv .accordsec .card .card-body .agreeTable tr td:first-child input {
  display: none;
}

.maindiv
  .accordsec
  .card
  .card-body
  .agreeTable
  tr
  td:first-child
  input:checked
  + label {
  /* background: rgba(255, 255, 255, 0.65) url(../images/check.png) no-repeat center center/13px; */
}

.maindiv .accordsec .card .card-body .agreeTable tr td:first-child label {
  width: 36px;
  height: 36px;
  margin: 0;
  border: solid 1px #b02929;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: inline-block;
  /* background: rgba(255, 255, 255, 0.65) url(../images/uncheck.png) no-repeat center center/13px; */
  cursor: pointer;
  vertical-align: top;
}

.maindiv .accordsec .card .card-body .agreeTable tr td a {
  width: 14px;
  height: 20px;
  margin-top: 2px;
  float: right;
  /* background: url(../images/upload.png) no-repeat center center/contain; */
}

.maindiv .accordsec .card .card-body .sort_table {
  width: 100%;
}

.maindiv .accordsec .card .card-body .sort_table tr td {
  vertical-align: middle;
}

.maindiv .accordsec .card .card-body .sort_table tr td a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.maindiv .accordsec .card .card-body .sort_table tr td a label {
  height: auto;
  padding: 0 5px;
  margin: 0;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  color: #4b4b4b;
  font: 500 10px "Muli", sans-serif;
}

.maindiv .accordsec .card .card-body .sort_table tr td a svg {
  fill: #a19d9c;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
}

.maindiv .accordsec .card .card-body .sort_table tr td a:hover svg,
.maindiv .accordsec .card .card-body .sort_table tr td a.active svg {
  fill: #ad2121;
}

.maindiv .accordsec .card .ipayDiv label {
  height: auto !important;
  margin-bottom: 6px;
  display: block;
  color: #939393;
  font: 600 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .ipayDiv span {
  display: inline-block;
  color: #063b6d;
  font: 600 27px "Muli", sans-serif;
}

.maindiv .accordsec .card .ipayDiv span svg {
  width: 14px;
  vertical-align: baseline;
}

.maindiv .accordsec .card .ipayDiv h3 {
  padding: 12px 5px;
  margin: 0 0 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  color: #fff;
  background-color: #0f4d83;
  font: 600 16px "Muli", sans-serif;
  text-align: center;
}

.maindiv .accordsec .card .ipayDiv h3 button {
  width: 33px;
  height: 33px;
  border: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  top: -7px;
  background-color: #fff;
  outline: 0 !important;
}

.maindiv .accordsec .card .ipayDiv h3 button img {
  vertical-align: 0px;
}

.maindiv .accordsec .card .transDiv {
  margin-bottom: 15px;
}

.maindiv .accordsec .card .transDiv ul {
  width: 100%;
  border-bottom: 1px solid #0f4d83;
  margin: 10px 0 0;
}

.maindiv .accordsec .card .transDiv ul li {
  margin: 0;
}

.maindiv .accordsec .card .transDiv ul li a {
  padding: 12px 5px;
  border: solid 1px #e3e3e3;
  border-bottom: 0;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  display: block;
  color: #0f4d83;
  font: 600 14px "Muli", sans-serif;
}

.maindiv .accordsec .card .transDiv ul li a.active {
  background-color: #0f4d83;
  color: #fff;
}

.maindiv .accordsec .card .transDiv .transTable {
  width: 100%;
  margin-top: 5px;
}

.maindiv .accordsec .card .transDiv .transTable tr {
  border-bottom: solid 1px #e2e2e2;
}

.maindiv .accordsec .card .transDiv .transTable tr th {
  padding: 5px;
  color: #000;
  font: 600 12px "Muli", sans-serif;
}

.maindiv .accordsec .card .transDiv .transTable tr td {
  padding: 12px 5px;
  color: #4d4d4d;
  font: 400 12px "Muli", sans-serif;
}

.maindiv .accordsec .card .transDiv .transTable tr td span {
  padding-left: 13px;
  position: relative;
  font: 600 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .transDiv .transTable tr td span.minus {
  /* background: url(../images/rupee-red.png) no-repeat left center/13px; */
  color: #931f1f;
}

.maindiv .accordsec .card .transDiv .transTable tr td span.minus::before {
  content: "-";
  position: absolute;
  left: -12px;
  font-weight: 400;
}

.maindiv .accordsec .card .transDiv .transTable tr td span.plus {
  /* background: url(../images/rupee-green.png) no-repeat left center/13px; */
  color: #219f03;
}

.maindiv .accordsec .card .transDiv .transTable tr td span.plus::before {
  content: "+";
  position: absolute;
  left: -10px;
  font-weight: 400;
}

.maindiv .accordsec .card .add_money {
  margin-top: 10px;
  text-align: center;
}

.maindiv .accordsec .card .add_money a {
  color: #767676;
  font: 600 11px "Muli", sans-serif;
}

.maindiv .accordsec .card .add_money a span {
  width: 70px;
  height: 70px;
  margin: 0 auto 7px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: block;
  position: relative;
  background: #ebebeb;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.33);
}

.maindiv .accordsec .card .add_money a span svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  fill: #9da9b4;
}

.maindiv .accordsec .card .add_money a.active span {
  background: linear-gradient(147deg, #3378b4, #0b487e 86%);
}

.maindiv .accordsec .card .add_money a.active span svg {
  fill: #fff !important;
}

.maindiv .accordsec .card .yearly_records {
  border-collapse: unset;
  border-spacing: 10px;
}

.maindiv .accordsec .card .yearly_records tr {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(110, 0, 0, 0.31),
    inset 0 3px 0px 100px rgba(255, 255, 255, 0.45);
  box-shadow: 0 3px 3px 0 rgba(110, 0, 0, 0.31),
    inset 0 3px 0px 100px rgba(255, 255, 255, 0.45);
}

.maindiv .accordsec .card .yearly_records tr td {
  padding: 15px;
  border: 0;
  vertical-align: middle;
}

.maindiv .accordsec .card .yearly_records tr td:first-child strong {
  margin-right: 30px;
  color: #931f1f;
  font: 500 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .yearly_records tr td:first-child span {
  color: #4b4b4b;
  font: 500 16px "Muli", sans-serif;
}

.maindiv .accordsec .card .yearly_records tr td:first-child small {
  margin-top: 3px;
  display: block;
  color: #4b4b4b;
  font: 500 12px "Muli", sans-serif;
}

.maindiv .accordsec .card .yearly_records tr td:last-child {
  text-align: right;
}

.maindiv .accordsec .card .yearly_records tr td:last-child span {
  padding-left: 18px;
  position: relative;
  font: 500 22px "Muli", sans-serif;
}

.maindiv .accordsec .card .yearly_records tr td:last-child span.minus {
  /* background: url(../images/rupee-red.png) no-repeat left center/16px; */
  color: #931f1f;
}

.maindiv .accordsec .card .yearly_records tr td:last-child span.minus::before {
  content: "-";
  position: absolute;
  left: -12px;
  font-weight: 400;
}

.maindiv .accordsec .card .yearly_records tr td:last-child span.plus {
  /* background: url(../images/rupee-green.png) no-repeat left center/16px; */
  color: #219f03;
}

.maindiv .accordsec .card .yearly_records tr td:last-child span.plus::before {
  content: "+";
  position: absolute;
  left: -16px;
  font-weight: 400;
}

.maindiv .accordsec.paymentsec ul {
  padding-left: 0;
  margin: -15px 0 0;
  text-align: center;
}

.maindiv .accordsec.paymentsec ul li {
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

.maindiv .accordsec.paymentsec ul li a {
  display: inline-block;
  text-decoration: none;
}

.maindiv .accordsec.paymentsec ul li a span {
  margin-top: 5px;
  display: inline-block;
  color: #343434;
  font: 500 11px "Muli", sans-serif;
}

.maindiv .accordsec.paymentsec ul li a div {
  width: 75px;
  height: 75px;
  border: solid 1px #eaeaea;
  margin: 0 auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.18);
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
  -webkit-transition: box-shadow 0.2s linear;
  -moz-transition: box-shadow 0.2s linear;
}

.maindiv .accordsec.paymentsec ul li a div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.maindiv .accordsec.paymentsec ul li a:active div {
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
}

.maindiv .accordsec .amttable {
  border: solid 1px #21629c;
  margin-bottom: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  overflow: hidden;
}

.maindiv .accordsec .amttable table {
  width: 100%;
}

.maindiv .accordsec .amttable table tr td {
  width: 50%;
  padding: 8px 25px;
  color: #505050;
  font: 600 13px "Muli", sans-serif;
}

.maindiv .accordsec .amttable table tr td input {
  height: 30px;
  padding-left: 20px;
  border: 0;
  border-bottom: solid 1px #ededed;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  /* background: #fff url(../images/rupee-grey.png) no-repeat left center/15px; */
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  font: 400 16px "Muli", sans-serif;
}

.maindiv .accordsec .amttable table tr td input:focus {
  border-color: #0f4d83;
}

.maindiv .tabpanediv ul {
  margin-bottom: 25px;
}

.maindiv .tabpanediv ul li a {
  padding: 7px 50px;
  border-bottom: 1px solid rgba(75, 75, 75, 0.2);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  color: rgba(75, 75, 75, 0.5);
  font: 500 18px "Muli", sans-serif;
}

.maindiv .tabpanediv ul li a.active {
  background-color: transparent;
  color: #4b4b4b;
}

.maindiv .downappdiv h4 {
  margin: 130px 0 20px;
  color: #9e2626;
  font: 500 18px "Muli", sans-serif;
}

.maindiv .downappdiv a {
  width: 104px;
  height: 104px;
  padding: 23px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  display: inline-block;
  background-color: #fff;
}

@media (max-width: 991px) {
  .maindiv .accordsec .card .card-header a {
    padding: 14px 14px 14px 40px;
    background-position: 97% center !important;
  }

  .maindiv .accordsec .card .card-body {
    padding: 15px 30px 35px;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .tablediv
    table
    thead
    tr
    th:nth-child(2) {
    padding-left: 25px;
  }

  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
    vertical-align: top;
  }

  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td {
    padding: 15px 0 0 0;
  }
}

@media (max-width: 767px) {
  .maindiv .accordsec .card .card-body .dob .form-control,
  .maindiv .accordsec .card .card-body .dob .custom-select {
    background-size: 20px;
    font-size: 20px;
  }

  .maindiv .accordsec .card .card-body .statediv select {
    background-size: 10px;
    font-size: 20px;
  }

  .maindiv .accordsec .card .card-body .rangediv strong {
    font-size: 20px;
  }

  .maindiv .accordsec .card .card-body .rangediv span {
    font-size: 12px;
  }

  .maindiv .accordsec .card .card-body .tablediv {
    margin-top: 5px;
  }

  .maindiv .accordsec .card .card-body .tablediv h3 {
    font-size: 15px;
  }

  .maindiv .accordsec .card .card-body .tablediv table thead tr th {
    font-size: 14px;
  }

  .maindiv .accordsec .card .card-body .tablediv table tbody tr td {
    font-size: 14px;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .tablediv
    table
    tbody
    tr
    td:nth-child(2) {
    padding-left: 10px;
  }

  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  header {
    text-align: center;
  }

  header h1 {
    margin: 0;
  }

  .maindiv .headingsec {
    text-align: center;
  }

  .maindiv .accordsec .card .card-header a {
    padding: 10px;
    font-size: 14px;
    text-align: center;
    background-size: 12px !important;
    background-position: 95% center !important;
  }

  .maindiv .accordsec .card .transDiv .transTable tr th:last-child,
  .maindiv .accordsec .card .transDiv .transTable tr td:last-child {
    text-align: right;
  }

  .maindiv .accordsec .card .card-body {
    padding: 15px 20px 20px;
    margin-top: 0;
  }

  .maindiv .accordsec .card .card-body label {
    font-size: 11px;
  }

  .maindiv .accordsec .card .card-body small {
    font: normal 12px/16px "Muli", sans-serif;
  }

  .maindiv .accordsec .card .card-body div .form-control,
  .maindiv .accordsec .card .card-body div .custom-select,
  .maindiv .accordsec .card .card-body div .custom-select {
    height: 35px !important;
    font-size: 14px !important;
  }

  .maindiv .accordsec .card .card-body .statediv label {
    margin: 0;
  }

  .maindiv .accordsec .card .card-body .rangediv strong {
    font-size: 15px;
  }

  .maindiv .accordsec .card .card-body .rangediv span {
    font-size: 10px;
  }

  .maindiv .accordsec .card .card-body .tablediv h3 {
    font-size: 13px;
  }

  .maindiv .accordsec .card .card-body .tablediv table thead tr th {
    font-size: 11px;
  }

  .maindiv .accordsec .card .card-body .tablediv table tbody tr td {
    font-size: 11px;
  }

  .maindiv .accordsec .card .card-body .tablediv table tbody tr td:first-child {
    width: 30px;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .tablediv
    table
    tbody
    tr
    td:first-child
    label {
    width: 30px;
    height: 30px;
    background-size: 10px;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .tablediv
    table
    tbody
    tr
    td:first-child
    input:checked
    + label {
    background-size: 10px;
  }

  .maindiv .accordsec .card .card-body .tablediv table tfoot tr td strong {
    font-size: 11px;
  }

  .maindiv .accordsec .card .card-body .tablediv2 table thead tr th {
    padding: 10px 8px;
    font-size: 12px;
  }

  .maindiv .accordsec .card .card-body .tablediv2 table tbody th.mb_head {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    text-align: center;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .tablediv2
    table
    tbody
    tr:nth-last-child(2)
    th.mb_head {
    color: #952020;
  }

  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr:last-child td {
    font-size: 18px;
  }

  .maindiv .accordsec .card .card-body .tablediv2 table tbody tr td {
    font-size: 13px;
  }

  .maindiv .accordsec .card .card-body .tablediv2 table tfoot tr td label {
    height: 33px;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .tablediv2
    table
    tfoot
    tr
    td
    input:checked
    + label {
    background-size: 13px !important;
  }

  .maindiv .accordsec .card .card-body .searchbox {
    margin-left: 20px;
  }

  .maindiv .accordsec .card .card-body .travelradiodiv label {
    width: 114px;
    height: initial !important;
    padding: 12px 10px 12px 35px;
    font-size: 12px;
    background-size: 20px !important;
  }

  .maindiv .accordsec .card .card-body .travelradiodiv small {
    margin-top: 5px;
  }

  .maindiv .accordsec .card .card-body .premTable tbody tr td strong {
    font-size: 27px;
  }

  .maindiv .accordsec .card .card-body .premTable tbody tr td svg {
    width: 14px;
  }

  .maindiv .accordsec .card .card-body.agreeBody {
    padding: 10px 15px;
  }

  .maindiv .accordsec .card .card-body .agreeTable tr td {
    font-size: 11px;
  }

  .maindiv .accordsec .card .card-body .agreeTable tr td:first-child {
    width: 30px;
  }

  .maindiv
    .accordsec
    .card
    .card-body
    .agreeTable
    tr
    td:first-child
    input:checked
    + label {
    background-size: 10px;
  }

  .maindiv .accordsec .card .card-body .agreeTable tr td:first-child label {
    width: 30px;
    height: 30px;
    background-size: 10px;
  }

  .maindiv .accordsec .card .form-group {
    margin-bottom: 5px;
  }

  .maindiv .accordsec .card .ipayDiv label {
    font-size: 16px;
  }

  .maindiv .accordsec .card .ipayDiv h3 button img {
    width: 11px;
  }

  .maindiv .accordsec .card .yearly_records tr td:first-child strong {
    display: block;
  }

  .maindiv .accordsec .amttable table tr td:first-child {
    width: 30%;
  }

  label {
    margin-bottom: 0 rem;
  }
}

@media (max-width: 470px) {
  .maindiv .accordsec .card .card-body .chkboxdiv {
    margin: 0 -5px;
  }

  .maindiv .accordsec .card .card-body .chkboxdiv label {
    width: 35px;
    height: 35px;
    background-size: 35px !important;
  }

  .maindiv .accordsec .card .card-body .chkboxdiv input:checked + label {
    background-size: 35px !important;
  }

  .maindiv .accordsec .card .card-body .chkboxdiv .form-check-inline {
    margin-right: 0;
  }

  .maindiv .accordsec .card .card-body .radioboxdiv .form-check-inline {
    margin-right: 3px;
  }

  .maindiv .accordsec .card .card-body .msgdiv {
    border-bottom: 1px solid rgba(108, 117, 125, 0.34902);
    margin-bottom: 15px;
  }

  .maindiv .accordsec .card .card-body .successMsg {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .cstmbtn {
    padding: 10px 20px;
    font-size: 12px;
  }
}

@media (max-width: 440px) {
  .maindiv .accordsec.paymentsec ul li {
    margin: 8px;
  }

  .maindiv .accordsec.paymentsec ul li a div {
    width: 80px;
    height: 80px;
  }

  .maindiv .accordsec.paymentsec ul li a div img {
    width: 35px;
  }

  .maindiv .accordsec .card .ipayDiv label {
    font-size: 14px;
  }

  .maindiv .accordsec .card .ipayDiv span {
    font-size: 28px;
  }

  .maindiv .accordsec .card .ipayDiv span svg {
    width: 14px;
  }

  .numpad {
    width: 280px;
  }

  .numpad table tr td {
    padding: 7px;
  }

  .numpad table tr td button {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .numpad table tr td button.backspace {
    background-size: 50px;
  }
}

@media (max-width: 385px) {
  .maindiv .accordsec .card .card-body h5 {
    padding: 12px;
    font-size: 14px;
  }

  .maindiv .accordsec .card .card-body h5 img {
    width: 40px;
    margin-right: 5px !important;
  }

  .maindiv .accordsec .card .card-body .radioboxdiv2 ul li {
    width: 100%;
  }

  .maindiv .accordsec .card .card-body .radioboxdiv2 ul li label {
    font-size: 13px;
  }

  .maindiv .accordsec .card .card-body .radioboxdiv2 ul li label:before {
    vertical-align: middle;
  }
}

@media (max-width: 357px) {
  .maindiv .accordsec .card .card-body label {
    height: 26px;
    vertical-align: top;
  }

  .maindiv .accordsec .card .card-body .radioboxdiv label {
    height: auto;
    font-size: 13px;
  }

  .maindiv .accordsec .card .card-body .premTable tfoot tr td span {
    vertical-align: top;
  }

  .maindiv .accordsec .card .card-body .premTable tfoot tr td svg {
    vertical-align: text-top;
  }

  .maindiv.dashbrdiv .prflsec .ranks li {
    font-size: 9px;
  }

  .maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv {
    width: 50px;
    height: 50px;
  }

  .maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv img {
    width: 100%;
    height: auto;
  }

  .maindiv.dashbrdiv .prflsec .prfldetails table .prfldiv.awardrecv span {
    background-size: 22px;
  }

  .maindiv.dashbrdiv .prflsec .prfldetails .editBtn img {
    width: 20px;
  }

  .maindiv.dashbrdiv .calendsec .innerdiv .contdiv table tr th {
    font-size: 11px;
  }

  .maindiv.dashbrdiv .calendsec .innerdiv .contdiv table tr td {
    font-size: 14px;
  }

  .maindiv .tabpanediv ul li a {
    padding: 7px 30px;
    font-size: 15px;
  }
}

.mat-option {
  font: 400 14px "Muli", sans-serif !important;
  height: 35px !important;
  border-bottom: 1px solid #b6b4b4 !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
  -moz-box-shadow: 0 0 0 0 !important;
  color: #434343 !important;
}

.Saod {
  /* margin: 0 !important; */
  color: #343434 !important;
  font: 400 13px "Muli", sans-serif !important;
}

.Saodtext {
  /* margin: 0 !important; */
  color: #343434 !important;
  font: 400 16px "Muli", sans-serif !important;
}

.qctext {
  /* margin: 0 !important; */
  color: #1c5c95 !important;
  font: 400 16px "Muli", sans-serif !important;
  margin: 12px !important;
}

.outerDivFull {
  height: 28px;
}

.switchToggle input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}
.switchToggle label {
  cursor: pointer;
  font: 400 16px "Muli", sans-serif !important;
  text-indent: -9999px;
  width: 70px;
  max-width: 70px;
  height: 30px;
  background: #d1d1d1;
  display: block;
  border-radius: 100px;
  position: relative;
}
.switchToggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 26px;
  height: 26px;
  background: linear-gradient(to right, #357ab7 0%, #003b6f 100%);
  border-radius: 90px;
  transition: 0.3s;
}
.switchToggle input:checked + label,
.switchToggle input:checked + input + label {
  background: linear-gradient(to right, #357ab7 0%, #003b6f 100%);
}
.switchToggle input + label:before,
.switchToggle input + input + label:before {
  content: "No";
  position: absolute;
  top: 5px;
  left: 35px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #343434;
}
.switchToggle input:checked + label:before,
.switchToggle input:checked + input + label:before {
  content: "Yes";
  position: absolute;
  top: 5px;
  left: 10px;
  border-radius: 90px;
  transition: 0.3s;
  text-indent: 0;
  color: #fff;
}
.switchToggle input:checked + label:after,
.switchToggle input:checked + input + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.switchToggle label:active:after {
  width: 60px;
}
.toggle-switchArea {
  margin: 10px 0 10px 0;
}

.alertnotification {
  padding-bottom: 1rem;
  /* background-color: #d9534f; */
  max-width: 410px;
  margin: 1rem;
  color: #d9534f;
}

/* End */
