<div class="qccasesContainer">
  <div class="innerdiv">
    <div class="fieldsdiv">
      <div class="breakindiv">
        <div class="row">
          <div class="col-lg-3 col-sm-3 form-group">
            <label class="form-label" for="fromDatepending">{{'RegistrationPage.FromDate' | translate }}<sup
                class="star">*</sup></label><br>
            <input id="fromDatepending" matInput [matDatepicker]="fromPendingPicker" placeholder="DD/MM/YYYY"
              name="fromDatepending" readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingObj.FromDate"
              class="form-control dob" (click)="fromPendingPicker.open()" required>
            <mat-datepicker #fromPendingPicker></mat-datepicker>
          </div>
          <div class="col-lg-3 col-sm-3 form-group">
            <label class="form-label" for="toDatePending">{{'RegistrationPage.ToDate' | translate }}<sup
                class="star">*</sup></label><br>
            <input id="toDatePending" matInput [matDatepicker]="toPendingPicker" placeholder="DD/MM/YYYY"
              name="toDatePending" readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="pendingObj.ToDate"
              class="form-control dob" (click)="toPendingPicker.open()" required>
            <mat-datepicker #toPendingPicker></mat-datepicker>
          </div>
          <div class="col-lg-3 col-sm-3 form-group">
            <label class="form-label">Select Product<sup class="star">*</sup></label><br>
            <select class="form-control custom-select" [(ngModel)]="productCode" (change)="getDealData()">
              <option value="2312">Two Wheeler</option>
              <option value="2311">Four Wheeler</option>
              <option value="2314">GCV</option>
              <option value="2315">PCV</option>
              <option value="2316">MISC</option>
              <option value="2320">Two Wheeler TP</option>
              <option value="2319">Four Wheeler TP</option>
              <option value="2313">GCV TP</option>
              <option value="2317">PCV TP</option>
              <option value="2318">MISC TP</option>
            </select>
          </div>
          <div class="col-lg-3 col-sm-3 form-group">
            <label class="invisible d-none d-sm-block">View</label>
            <button type="button" id="get_quote" (click)="getPendigCases()" class="cstmbtn mr-2" tabindex="9">
              <span *ngIf="spinloader == false">View</span>
              <span *ngIf="spinloader == true">Loading <i class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
          <div class="col-sm-12">
            <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="showTable == true">
              <label class="norecord">No Records Found</label>
            </div>
            <div class="col-md-6 col-lg-6 col-12 form-group p-0" *ngIf="pendingCasesList && showTable == false">
              <label>Search</label>
              <input type="text" id="qc" name="claim" class="form-control" [(ngModel)]="searchTerm" placeholder="Search"
                tabindex="2">
            </div>

            <div class="tablediv" *ngIf="pendingCasesList && showTable == false">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Policy Number</th>
                      <th>Proposal Start Date</th>
                      <th>Proposal Number</th>
                      <th>Product Name Of Proposal</th>
                      <th>Proposal Amount</th>
                      <th class="text-left">Customer Name</th>
                      <th>Tagging Date</th>
                      <th>Payment Mode</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let pendngCase of pendingCasesList  | filter:searchTerm | paginate: { id:'breakinLockPage', itemsPerPage: 10, currentPage: page }">
                      <td>{{pendngCase.policyNo}}</td>
                      <td>{{pendngCase.policyStartDateOfProposal}}</td>
                      <td>{{pendngCase.proposalNo}}</td>
                      <td>{{pendngCase.productNameOfProposal}}</td>
                      <td>₹ {{pendngCase.proposalAmount}}</td>
                      <td class="text-left">{{pendngCase.customerName}}</td>
                      <td>{{pendngCase.taggingDate}}</td>
                      <td>{{pendngCase.paymentMode}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <br>
            <div class="text-center row" *ngIf="pendingCasesList && showTable == false">
              <pagination-controls id="breakinLockPage" (pageChange)="page = $event"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
