<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <h1>
        <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
      </h1>
    </div>
  </div>
</header>

<section class="container-fluid loginQCcasesContainer">
  <!-- login starts here -->
  <div class="logindiv">
    <div class="wrapper text-center">
      <h2 class="welcomeTxt mb-4">Welcome NYSA QC Process</h2>
      <div class="innerdiv">
        <form class="fieldsdiv">
          <div class="form-group">
            <input type="text" id="username" name="username" class="form-control" placeholder="Username"
              autocomplete="off" [(ngModel)]="login.username">
            <i class="login-icon icon-user"></i>
          </div>
          <div class="form-group mb-0">
            <input type="password" id="password" name="password" class="form-control" placeholder="Password"
              autocomplete="off" [(ngModel)]="login.password">
            <i class="login-icon icon-lock"></i>
          </div>
          <!-- <div class="form-group rememberme text-right mb-1">
              <label for="rememberme">Forgot Username/ Password?</label>
            </div> -->
          <div class="form-group mb-0">
            <button type="button" (click)="logintoPHAdmin()" class="cstmbtn">LOGIN</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</section> <!-- login ends here -->

<img style="width: 100%; height: 100%;" src="assets/images/QC-cases/bg-waves-2560.png">
