<header class="container-fluid fixed-top">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h1>
              <a title="ICICI Lombard" class="logo">ICICI Lombard</a>
            </h1>
          </div>
  
        </div>
      </div>
    </div>
  </header>
  
  <section class="container-fluid mainsec" *ngIf="dontShowPage == false">
    <div class="row">
      <div class="container">
        <div class="innerdiv equal">
          <div class="tablediv">
            <h4>Your Payment Link has been expired</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="container-fluid mainsec" *ngIf="successpayment == true">
    <div class="row">
      <div class="container myBreakInContainer">
        <div class="proposalContainer mt-4">
          <div class="innerdiv congratsdiv">
            <table>
              <!-- Congratulations Message -->
              <tr>
                <th colspan="3">
                  <h5>Congratulations !!! Your payment is successful.</h5>
                  <h3>Your proposal number is: {{propRes.proposalNumber}} & your transaction id is:
                    {{transactionID}}</h3>
                </th>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="container-fluid mainsec" *ngIf="dontShowPage == true && successpayment == false && saveAllRiskData != null && propRes != null">
    <div class="row">
      <div class="container myBreakInContainer">
        <div class="proposalContainer mt-4">
          <div class="innerdiv equal">
            <div class="tablediv">
              <h4>Vehicle Details</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <tr *ngIf="isAllRisk">
                    <th>Battery Number</th>
                    <td>{{quoteReq.BatteryNumber}}</td>
                    <th>Unique Identification Number</th>
                    <td>{{quoteReq.UniqueIDNo}}</td>
                  </tr>
                  <tr *ngIf="!isAllRisk">
                    <th>Registration Number</th>
                    <td>{{quoteReq.RegistrationNumber}}</td>
                    <th>RTO Location</th>
                  <td>{{quoteRes.generalInformation.rtoLocation}}</td>
                  </tr>
                  <tr *ngIf="isAllRisk">
                    <th>Registration Date</th>
                    <td>{{quoteReq.PurchaseDate | date: 'dd-MM-yyyy'}}</td>
                    <th>Proposal Date</th>
                    <td>{{quoteReq.InwardDate | date: 'dd-MM-yyyy'}}</td>
                  </tr>
                  <tr *ngIf="!isAllRisk">
                    <th>Registration Date</th>
                    <td>{{quoteRes.generalInformation.registrationDate}}</td>
                    <th>Proposal Date</th>
                    <td>{{quoteRes.generalInformation.proposalDate}}</td>
                  </tr>
                  <tr>
                    <th>Customer Name</th>
                    <td>{{custLinkDetails.customerName}}</td>
                    <th>Customer Mobile</th>
                    <td>{{propReq.CustomerDetails.MobileNumber}}</td>
                  </tr>
                  <tr *ngIf="isAllRisk">
                    <th>Invoice Number</th>
                    <td>{{quoteReq.InvoiceNo}}</td>
                    <th>Chassis Number</th>
                    <!-- <td>{{custLinkDetails.chassisNo}}</td> -->
                    <td>{{propReq.FieldsGrid[3].FieldValue}}</td>
                  </tr>
                  <tr *ngIf="!isAllRisk">
                    <th>Engine Number</th>
                    <td>{{custLinkDetails.engineNo}}</td>
                    <th>Chassis Number</th>
                    <td>{{custLinkDetails.chassisNo}}</td>
                  </tr>
                  <tr>
                    <th>Customer Address</th>
                    <td colspan="3">{{custLinkDetails.address}}</td>
                  </tr>
                  <!-- <tr>
                    <th>Click link for additional details:</th>
                    <td>
                      <a style="cursor: pointer;color: #18548a; font-weight: bolder; font-size: 12px;"
                        (click)="getPaymentBreakUP()">View Full Breakup</a>
                    </td>
                    <th></th>
                    <td></td>
                  </tr> -->
                </table>
              </div>
            </div><br>
            <!-- Proposal / Final Premium -->
            <div class="ttlpremdiv">
              <table>
                <tbody>
                  <tr>
                    <td class="text-center"
                      style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;"
                      *ngIf="isAllRisk">
                      <label>Proposal Number</label>
                      <strong>{{custLinkDetails.proposalNo}}</strong>
                    </td>
                    <td class="text-center"
                      style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;"
                      *ngIf="!isAllRisk">
                      <label>Proposal Number</label>
                      <strong>{{saveAllRiskData[0].proposaL_NUMBER}}, {{saveAllRiskData[1].proposaL_NUMBER}}</strong>
                    </td>
                    <td
                      style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                      <div class="text-center">Total Premium Payable</div>
                      <span class="mt-2 text-center"
                        style="background: none;color: #104d84;font-size: 20px;padding: 0px;">₹ {{finalamount}}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- Payment Modes -->
            <div class="paymentmode mt-4" *ngIf="showPaymentOpyions == true">
              <h5 class="text-center">Payment Modes</h5>  
              <ul>
                <li style="cursor: pointer;">
                  <a (click)="redirectToPlutusPayment()" title="payNow">
                  <!-- <a (click)="PlutusPaymentPaymsToken()" title="payNow"> -->
                    <div>
                      <img src="assets/images/payNow.png" alt="payNow">
                    </div>
                    <span>Pay Now</span>
                  </a>
                </li>
              </ul>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  