<!-- Header -->
<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h1>
            <a href="#" title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <!-- <div class="col-6 text-right">
            <span *ngIf="auth != null">{{auth.username}}</span>
          </div> -->
        <div class="col-6 text-right">
          <span title="User ID" *ngIf="imid" class="text-uppercase">{{imid}}</span>
          <a title="Log off" (click)="goToLogin()"><i style="color: white;" class="fa fa-sign-out"
              aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->
<section class="container-fluid mainsec">

  <!-- <div class="row" *ngIf="imidDiv">
    <div class="col-md-6">
      <div class="innerdiv">
        <div class="fieldsdiv">
          <div class="row" >
            <div class="col-md-12 col-lg-12 col-12 form-group">
              <label>Enter your Ilom Id</label>
              <input type="text" id="imid" name="imid" class="form-control" [(ngModel)]="imid" placeholder="Enter your Ilom Id" tabindex="2">
            </div>
          </div>
          <div class="mt-2 mb-3">
            <button  type="button" class="cstmbtn" (click)="getIMID()" >Submit</button>
          </div>

        </div>
      </div>
    </div>
  </div> -->


  <div class="row">
    <div class="container">
      <div class="innerdiv">
        <h3>View Transactions</h3>
        <div class="fieldsdiv">
          <div class="row">
            <!-- From Date -->
            <div class="col-sm-5 form-group">
              <label class="form-label" for="fromdatepen">From Date<sup class="star">*</sup></label><br>
              <input id="fromdatepen" matInput [matDatepicker]="picker4" placeholder="DD/MM/YYYY" name="fromdatepen"
                readonly="true" [max]="memmaxDOB" NoSpecialChar [(ngModel)]="techopObj.FromDate"
                class="form-control dob" (click)="picker4.open()" required>
              <!-- <mat-datepicker-toggle matSuffix [for]="picker4" class="matCustomCalicon"></mat-datepicker-toggle> -->
              <mat-datepicker #picker4></mat-datepicker>
            </div>
            <!-- To Date -->
            <div class="col-sm-5 form-group">
              <label class="form-label" for="todatepen">TO Date<sup class="star">*</sup></label><br>
              <input id="todatepen" matInput [matDatepicker]="picker5" placeholder="DD/MM/YYYY" name="todatepen"
                readonly="true" NoSpecialChar [(ngModel)]="techopObj.ToDate" class="form-control dob"
                (click)="picker5.open()" required>
              <!-- <mat-datepicker-toggle matSuffix [for]="picker5" class="matCustomCalicon"></mat-datepicker-toggle> -->
              <mat-datepicker #picker5></mat-datepicker>
            </div>
            <div class="col-sm-2 form-group mt-3 text-center">
              <button id="get_quote" (click)="getList()" type="button" class="cstmbtn">Get Transactions</button>
            </div>
          </div>
          <div class="row" style="left: 20px;" *ngIf="norecordflag == true">
            <label class="norecord">No Records Found</label>
          </div>
          <!-- Search and Details -->
          <div class="row">
            <!-- Search -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="techOpsList">
              <div class="col-md-6 col-lg-6 col-12 form-group">
                <label>Search</label>
                <input type="text" id="claim" name="claim" class="form-control" [(ngModel)]="term" placeholder="Search"
                  tabindex="2">
              </div>

              <!-- Policy List -->
              <div class="tablediv">
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Trans On</th>
                        <th scope="col">Proposal Number</th>
                        <th scope="col">Customer Id</th>
                        <th scope="col">Total Premium</th>
                        <th scope="col">Payment Mode</th>
                        <th scope="col">Deal ID</th>
                        <th scope="col">IPartner Id</th>
                        <!-- <th scope="col">Policy Type</th> -->
                        <th scope="col">Policy SubType</th>
                        <th scope="col">Razor OrderId</th>
                        <th scope="col">Razor PaymentId</th>
                        <th scope="col">PF PaymentId</th>
                        <th scope="col">PF PaymentID Generated</th>
                        <th scope="col">Tagging Success</th>
                        <th scope="col">Mapping Success</th>
                        <!-- <th scope="col">pF_POLICYNO</th> -->
                        <th scope="col">Payment Entry Status</th>
                        <th scope="col">Payment Tagging Status</th>
                        <th scope="col">Response On</th>
                        <th></th>

                        <!-- <th scope="col">Pay / Recalculate</th> -->
                        <!-- <th *ngIf="ProductType == '1' || ProductType == '2'" scope="col">Recalculate</th> -->
                        <!-- <th *ngIf="bankType == 'INT'">Pay Insta</th> -->
                      </tr>
                    </thead>
                    <tbody
                      *ngFor="let data of techOpsList | filter:term | paginate: { id:'techOPSPage', itemsPerPage: 10, currentPage: page }">
                      <tr>
                        <!-- <td>{{data.tranS_ON_TS | date:'medium'}}</td> -->
                        <td>{{data.tranS_ON_TS}}</td>
                        <td>{{data.proposaL_NUMBER}}</td>
                        <td>{{data.customeR_ID}}</td>
                        <td>₹{{data.totaL_PREMIUM}}</td>
                        <td>{{data.paymenT_MODE}}</td>
                        <td>{{data.deaL_ID}}</td>
                        <td>{{data.ipartneR_USER_ID}}</td>
                        <!-- <td>{{data.policY_TYPE}}</td> -->
                        <td>{{data.policY_SUB_TYPE}}</td>
                        <td>{{data.razoR_ORDERID}}</td>
                        <td>{{data.razoR_PAYMENTID}}</td>
                        <td>{{data.pF_PAYMENTID}}</td>
                        <td>{{data.ispaymentsuccess}}</td>
                        <td>{{data.istaggingsuccess}}</td>
                        <td>{{data.ismappingsuccess}}</td>
                        <!-- <td>{{data.pF_POLICYNO}}</td> -->
                        <td class="CellWithComment">
                          <span *ngIf="data.paymentEntryStatus != null">
                            {{ (data.paymentEntryStatus.length>30) ? (data.paymentEntryStatus |
                            slice:0:30)+'....':(data.paymentEntryStatus) }}
                          </span>
                          <span class="CellComment" *ngIf="data.paymentEntryStatus != null;else other_content">
                            {{data.paymentEntryStatus}}</span>
                          <ng-template #other_content>--</ng-template>
                        </td>
                        <td class="CellWithComment">
                          <span *ngIf="data.paymentTaggingStatus != null">
                            {{(data.paymentTaggingStatus.length>30) ? (data.paymentTaggingStatus |
                            slice:0:30)+'....':(data.paymentTaggingStatus)}}
                          </span>
                          <span class="CellComment" *ngIf="data.paymentTaggingStatus != null;else other_content1">
                            {{data.paymentTaggingStatus}}</span>
                          <ng-template #other_content1>--</ng-template>
                        </td>
                        <td>{{data.responsE_ON}}</td>
                        <td>
                          <button (click)="reattemptCase(data)" type="button" class="cstmbtn"
                            *ngIf="data.istaggingsuccess =='False' || data.ismappingsuccess =='False'">Re-attempt</button>
                          <span class="badge badge-success"
                            *ngIf="data.istaggingsuccess =='True' && data.ismappingsuccess =='True'">Success</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- Pagination -->
              <div class="text-center row">
                <pagination-controls id='techOPSPage' (pageChange)="page = $event"></pagination-controls>
              </div>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>

</section>
