
<div class="container-fluid mainsec" style="padding-left: 0px; padding-right: 0px; top: 8px;">
  <div class="innerdiv">
      <h3>NCB Cases</h3>
      <div class="fieldsdiv">
          <div class="breakindiv">
            <div class="row">
              <div class="col-sm-4 form-group">
                <label>Filter By</label>
                <ul class="radioul">
                  <li>
                    <table class="radio1">
                      <tbody><tr>
                        <td>
                          <input type="radio" id="watch-me-1" name="watch-me" checked="" (change)="getData('Pending')">
                          <label for="watch-me-1">Pending</label>
                        </td>
                      </tr>
                    </tbody></table>
                  </li>
                  <li>
                    <table class="radio1">
                      <tbody><tr>
                        <td>
                          <input type="radio" id="watch-me" name="watch-me" (change)="getData('Completed')">
                          <label for="watch-me">Completed</label>
                        </td>
                      </tr>
                    </tbody></table>
                  </li>
                </ul>
              </div>

              <div class="col-sm-5 form-group">
                <label>Search Policy/ Vehicle No</label>
                <!-- <input type="text" class="form-control" placeholder="Search Policy/ Vehicle No">  -->
                <input type="text" id="claim" #policyno="ngModel" name="claim" class="form-control" [(ngModel)]="term"
                placeholder="Enter Policy Number/Vehicle No" tabindex="2" required> 
              </div>

            
              <div class="col-sm-6" id="pending" *ngIf="noPendingRecord == true && isPending">
                <label class="norecord">No Records Found</label>
              </div> 

              <div id="hide-me" class="col-sm-12 form-group custmTablediv" *ngIf="isPending && !noPendingRecord">
                <div class="tablediv">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr.No</th>
                          <th>ILPolicy No.</th>
                          <th>Customer Name</th>
                          <th>Policy Start Date</th>
                          <th>Policy End Date</th>
                          <th>Vehicle No.</th>
                          <th>Contact No.</th>
                          <th>NCB%</th>
                          <th>Premium Paid</th>
                          <th>NCB To be Recovered</th>
                          <th>Actual Premium Payable</th>
                          <th>Send Payment Link</th>
                          <th>Payment Status</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let i = index; let data of pendingPayment | filter:term | paginate: { id: 'ncbPendingPage', itemsPerPage: 10, currentPage: ncbPendingPage }">
                        <tr>
                          <td class="text-center">{{i+1}}</td>
                          <td class="cstmBgColor">{{data.ilpolicy_no}}</td>
                          <td>{{data.customer_name}}</td>
                          <td>{{data.policy_start_date | date: 'dd/MM/yyyy'}}</td>
                          <td>{{data.policy_end_date | date: 'dd/MM/yyyy'}}</td>
                          <td>{{data.vehicle_no}}</td>
                          <td>{{data.contact_no}}</td>
                          <td class="text-center">{{data.ncb_per}} %</td>
                          <td class="text-center">{{data.premium_paid}}</td>
                          <td class="text-center">{{data.ncb_to_be_recovered}}</td>
                          <td class="text-center">{{data.actual_premium_payble}}</td>
                          <td class="text-center" (click)="sendLinkData(data)">
                            <i data-toggle="modal" data-target="#SendPaymentLinkModal" class="icon-link"><img style="width:30px;"
                              src="assets/images/NCB-cases/icon-link.jpg"/></i>
                          </td>
                          <td class="text-center">{{data.status}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <!-- Pagination -->
                <div class="text-center row">
                  <pagination-controls id="ncbPendingPage" (pageChange)="ncbPendingPage = $event"></pagination-controls>
                </div>
              </div> 
            
              <div class="col-sm-6" id="complete" *ngIf="noCompleteRecord == true && !isPending">
                <label class="norecord">No Records Found</label>
              </div>

              <div id="show-me" class="col-sm-12 form-group custmTablediv"  *ngIf="!isPending && !noCompleteRecord" >
                <div class="tablediv">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Sr.No</th>
                          <th>ILPolicy No.</th>
                          <th>Customer Name</th>
                          <th>Policy Start Date</th>
                          <th>Policy End Date</th>
                          <th>Vehicle No.</th>
                          <th>Contact No.</th>
                          <th>NCB%</th>
                          <th>Premium Paid</th>
                          <th>NCB To be Recovered</th>
                          <th>Actual Premium Payable</th>
                          <th>PID Number</th>
                          <th>Proposal Number</th>
                          <th>Endorsement Number</th>
                          <th>Endorsement PDF</th>
                        </tr>
                      </thead>
                      <tbody *ngFor="let i = index; let data of completePayment  | filter:term | paginate: { id: 'ncbCompletePage', itemsPerPage: 10, currentPage: ncbCompletePage }">
                        <tr>
                          <td class="text-center">{{i+1}}</td>
                          <td class="cstmBgColor">{{data.ilpolicy_no}}</td>
                          <td>{{data.customer_name}}</td>
                          <td>{{data.policy_start_date | date: 'dd/MM/yyyy'}}</td>
                          <td>{{data.policy_end_date | date: 'dd/MM/yyyy'}}</td>
                          <td>{{data.vehicle_no}}</td>
                          <td>{{data.contact_no}}</td>
                          <td class="text-center">{{data.ncb_per}}</td>
                          <td class="text-center">{{data.premium_paid}}</td>
                          <td class="text-center">{{data.ncb_to_be_recovered}}</td>
                          <td class="text-center">{{data.actual_premium_payble}}</td>
                          <td>{{data.pid_no}}</td>
                          <td>{{data.proposal_no}}</td>
                          <td>{{data.endorsement_no}}</td>
                          <!-- <td class="text-center" (click)="downloadPolicy()">
                            <i data-toggle="modal" data-target="#SendEndorsementModal" class="icon-upload"><img style="width:30px"
                              src="assets/images/bulk-download.png"/></i>
                          </td> -->
                          <td class="text-center">
                            <button (click)="FetchNcbPdf(data)" type="button" class="cstmbtn">
                              <span><i class="fa fa-download" aria-hidden="true"></i></span>
                              <span *ngIf="endoPolicyNo == data.endorsement_no && spinloaderpolicy == true"> <i class="fa fa-spinner fa-spin"></i></span>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br>
                <!-- Pagination -->
                <div class="text-center row">
                  <pagination-controls id="ncbCompletePage" (pageChange)="ncbCompletePage = $event"></pagination-controls>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div> <!-- ncb cases ends -->   

  <!-- NCB cases modal starts -->
  <div class="modal fade SendPaymentLinkModal" id="SendPaymentLinkModal" role="dialog" aria-labelledby="emiProt_modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title iconBgSendLink text-center"><i class="iconBgSendLink"></i>Send Payment Link</h5>
        </div>
        <div class="modal-body pt-0">
          <form #sendPaymentLinkForm="ngForm">
          <div class="text-left">
            <div class="fieldsdiv">
              <div class="breakindiv">
                <div class="row">
                  <div class="col-lg-6 col-sm-6 form-group">
                    <label>Mobile Number*</label>
                    <input type="text" maxlength="10" (keypress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno" (ngModelChange)="mobileValidate()" [pattern]="mobNumberPattern" class="form-control" name="mobileno"
                    #mobNumberpdf="ngModel" placeholder="Enter Mobile Number"/>
                    <!-- <input type="text" maxlength="10" (keyPress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno" (ngModelChange)="mobileValidate()" [pattern]="mobNumberPattern" class="form-control" name="mobileno"
                     #mobNumberpdf="ngModel" placeholder="Enter Mobile Number" /> -->
                  <div *ngIf="mobNumberpdf.errors" [ngClass]="'error'" style="color:red">
                    <div *ngIf="mobNumberpdf.errors.pattern">
                      Invalid Mobile number
                    </div>
                    <div *ngIf="moberrorFlag == true">
                      Enter mobile number is not valid
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 form-group">
                  <label>Email ID*</label>
                  <input type="email" #emailpdf="ngModel" name="Email" [class.is-invalid]=" emailpdf.touched"
                   pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
                   <div *ngIf="emailpdf.invalid && (emailpdf.dirty || emailpdf.touched)" style="color:red">
                   <div *ngIf="emailpdf.errors.pattern">
                   Email is invalid.
                </div>
              </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-secondary cstmbtn mr-1" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary cstmbtn" data-dismiss="modal" [disabled]="!sendPaymentLinkForm.form.valid"(click)="sendPaymentLink()">Send
              <span *ngIf="sendLinkLoader"><i style="color: white;"class="fa fa-spinner fa-spin"></i></span>
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modal fade SendPaymentLinkModal" id="SendEndorsementModal" role="dialog" aria-labelledby="emiProt_modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title iconBgSendLink text-center">Send Endorsement Policy PDF</h5>
        </div>
        <div class="modal-body pt-0">
          <div class="text-left">
            <div class="fieldsdiv">
              <div class="breakindiv">
                <div class="row">
                  <div class="col-lg-6 col-sm-6 form-group">
                    <label>Mobile Number*</label>
                    <input type="text" maxlength="10" (keypress)="numberOnly($event)" [(ngModel)]="sendDetails.mobileno" (ngModelChange)="mobileValidate()" [pattern]="mobNumberPattern" class="form-control" name="mobileno"
                    #mobNumberpdf="ngModel" placeholder="Enter Mobile Number"/>
                  <div *ngIf="mobNumberpdf.errors" [ngClass]="'error'" style="color:red">
                    <div *ngIf="mobNumberpdf.errors.pattern">
                      Invalid Mobile number
                    </div>
                    <div *ngIf="moberrorFlag == true">
                      Enter mobile number is not valid
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-sm-6 form-group">
                  <label>Email ID*</label>
                  <input type="email" #emailpdf="ngModel" name="Email" [class.is-invalid]=" emailpdf.touched"
                   pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required [(ngModel)]="sendDetails.Email" class="form-control" placeholder="Enter Email id" />
                   <div *ngIf="emailpdf.invalid && (emailpdf.dirty || emailpdf.touched)" style="color:red">
                   <div *ngIf="emailpdf.errors.pattern">
                   Email is invalid.
                </div>
              </div>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button type="button" class="btn btn-secondary cstmbtn mr-1" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-secondary cstmbtn" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

   <!-- NCB cases modal ends -->
  