.bal-txt {
  padding: 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  display: block;
  background-color: #f0f0f0;
  color: #4b4b4b;
  font: 700 24px "Muli", sans-serif;
  text-align: center;
}

.bal-label {
  display: block;
  text-align: center;
  color: #282828;
  font: 600 16px "Muli", sans-serif;
}

.row-padd {
  padding: 0 15px !important;
}

.col-pl-5 {
  padding-left: 5px !important;
}
