<app-header></app-header>
<app-breadcrumbs [productInput]="productCode"></app-breadcrumbs>
<section class="container-fluid mainsec" style="padding-top:20px; padding-bottom: 20px;" *ngIf="isSiteDown">
  <div class="row">
    <div class="container myBreakInContainer">
      <h3 style="color: red!important;">
        <marquee width="100%">Planned Downtime Alert: Our system will be under maintenance from 1AM Jan 8, 2022 to 8 AM
          Jan,2022. iPartner Retail & Corporate, NYSA, Mobile App, Dashboards and MyRA will not be available for login,
          quote or policy issuance during this period</marquee>
      </h3>
    </div>
  </div>
</section>
<section class="container-fluid mainsec" style="padding-top:40px">
  <div class="row">
    <div class="container myBreakInContainer">
      <div class="proposalContainer mt-4">
        <div class="innerdiv equal">
          <div class="ttlpremdiv">
            <table>
              <tbody>
                <tr>
                  <td class="text-center"
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <label>{{'PaymentPage.propno' | translate }}</label>
                    <strong>{{propRes.generalInformation.proposalNumber}}</strong>
                  </td>
                  <td
                    style="background: #e8f2ff;border-radius: 5px;width: 49%;margin-right: 1%;display: inline-block;min-height: 75px;padding: 13px;">
                    <div class="text-center">{{'PaymentPage.premamnt' | translate }}</div>
                    <span class="mt-2 text-center"
                      style="background: none;color: #104d84;font-size: 20px;padding: 0px;">₹ {{finalamount}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="ttlpremdiv mt-2">
            <table>
              <tbody>
                <tr>
                  <td class="text-left">
                    {{'Payment.LombardPay' | translate }}
                    <span class="mt-2 text-center">₹ {{lombardpaybalance}}</span>
                  </td>
                  <td>
                    <button type="button" (click)="openaddmoney()" style="margin-right: 10px;" id="addwallet"
                      class="cstmbtn mr-2">{{'Payment.AddMoney' | translate }}</button>
                    <button type="button" (click)="payWalletAmount()" id="paylombard" class="cstmbtn">{{'Payment.Paynow'
                      | translate }}</button>
                    <button id="openModalButton" [hidden]="true" data-toggle="modal" data-target="#myModal">Open
                      Modal</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="ttlpremdiv mt-2" *ngIf="showInstadiv == true">
            <div class="row row-padd">
              <div class="col-md-4">
                <span class="bal-label"> Credit balance:</span>
                <span class="mt-2 bal-txt">₹{{bankingidData.creditBalance}}</span>
              </div>
              <div class="col-md-4 col-pl-5">
                <span class="bal-label"> Insta Balance:</span>
                <span class="mt-2 bal-txt">₹{{bankingidData.balance}}</span>
              </div>
              <div class="col-md-4 col-pl-5">
                <span class="bal-label"> Usage:</span>
                <span class="mt-2 bal-txt">₹{{difference}}</span>
              </div>
              <div class="col-md-12 text-center">
                <button type="button" id="insta" (click)="createInstaPFPayment()" class="cstmbtn mt-4">Insta
                  pay</button>
              </div>
            </div>
          </div>

          <div class="ttlpremdiv mt-2" [@flyInOut]="watchMe" id="sendLinkInline" *ngIf="sendCustPaymentLinkFlag">
            <div class="sendLinkModalInline">
              <button type="button" class="close" (click)="closeLink()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <form #senCustForm="ngForm">
                <div class="row">
                  <div class="col-sm-2 text-center sendLinkBox form-group">
                    <div class="iconBox">
                      <img src="assets/images/images/sendlink.png" alt="Send Link">
                    </div>
                    <span>Send Link</span>
                  </div>

                  <!-- Mobile -->
                  <div class=" col-sm-3 form-group">
                    <label>Mobile</label><sup class="star">*</sup>
                    <input type="text" maxlength="10" (keypress)="numberOnly($event)" name="custMobile"
                      [(ngModel)]="custMobile" class="form-control" [pattern]="mobNumberPattern" #custMob="ngModel"
                      placeholder="Enter Mobile Number">
                    <div *ngIf="custMob.errors" [ngClass]="'error'" style="color:red">
                      Invalid Mobile number
                    </div>
                  </div>
                  <!-- Email -->
                  <div class=" col-sm-5 form-group">
                    <label>Email</label><sup class="star">*</sup>
                    <input type="email" #custEmail="ngModel" [class.is-invalid]="custEmail.touched"
                      pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required
                      name="customerEmail" [(ngModel)]="customerEmail" class="form-control"
                      placeholder="Enter Email ID">
                    <div *ngIf="custEmail.invalid && (custEmail.dirty || custEmail.touched)" style="color:red">
                      <div *ngIf="custEmail.errors.pattern">
                        Email is invalid.
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-2 form-group">
                    <label></label>
                    <button [disabled]="!senCustForm.form.valid" *ngIf="customerEmail && custMobile"
                      class="cstmbtn v-align" (click)="sendLink()" data-dismiss="modal">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="ttlpremdiv paymentmode mt-4" [@flyInOut]="watchMe" id="addmoneyInline"
            *ngIf="addlombardmoneyFlag">
            <div class="addmoneyModalInline">
              <button type="button" class="close" (click)="closeaddLink()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

              <!-- <div class="row">
                  <h3 style="width: 100%!important; text-align:center;">Select Payment Mode</h3>
                <div class="col-sm-4 text-center sendLinkBox form-group">
                  <div class="iconBox">
                    <img src="assets/images/images/debit-card.png" alt="Debit Card">
                  </div>
                  <span>Debit Card</span>
                </div>
                <div class="col-sm-4 text-center sendLinkBox form-group">
                  <div class="iconBox">
                    <img src="assets/images/images/credit-card.png" alt="Credit Card">
                  </div>
                  <span>Credit Card</span>
                </div>
                <div class="col-sm-4 text-center sendLinkBox form-group">
                  <div class="iconBox">
                    <img src="assets/images/images/net-banking.png" alt="Net Banking">
                  </div>
                  <span>Net Banking</span>
                </div>
                <div class="col-sm-5 form-group">
                  <label>Enter Amount (in ₹)</label><sup class="star">*</sup>
                  <input type="text" (keypress)="numberOnly($event)" maxlength="10" id="amountadd" name="amountadd"
                    [(ngModel)]="paymentDetails.amount" class="form-control" placeholder="Enter amount">
                </div>
                <div class="col-sm-2 form-group">
                  <label></label>
                  <button type="button" class="cstmbtn v-align" (click)="addmoney()"
                    data-dismiss="modal">Submit</button>
                </div>

              </div> -->
              <h5 class="text-center">Select Payment Mode</h5>
              <div class="row">
                <div class="col-sm-4 text-center sendLinkBox form-group">&nbsp;</div>
                <div class="col-sm-4 text-center sendLinkBox form-group">
                  <input type="text" (keypress)="numberOnly($event)" maxlength="10" id="amountadd" name="amountadd"
                    [(ngModel)]="paymentDetails.amount" class="form-control" placeholder="Enter amount">
                </div>
                <!-- <div class="col-sm-4 text-center sendLinkBox form-group">&nbsp;</div> -->
              </div>
              <ul>
                <!-- Credit Card -->
                <li style="cursor: pointer;">
                  <a (click)="addmoney('card')" title="Credit Card">
                    <div>
                      <img src="assets/images/images/credit-card.png" alt="Credit Card">
                    </div>
                    <span>{{'Payment.CreditCrd' | translate }}</span>
                  </a>
                </li>
                <!-- Debit card -->
                <!-- digitalPOS :- Added  condition for digital POS to hide payment method -->
                <li style="cursor: pointer;">
                  <a (click)="addmoney('card')" title="Debit Card">
                    <div>
                      <img src="assets/images/images/debit-card.png" alt="Debit Card">
                    </div>
                    <span>{{'Payment.DebitCrd' | translate }}</span>
                  </a>
                </li>
                <!-- Net Banking -->
                <!-- digitalPOS :- Added  condition for digital POS to hide payment method -->
                <li style="cursor: pointer;">
                  <a (click)="addmoney('netbanking')" title="Net Banking">
                    <div>
                      <img src="assets/images/images/net-banking.png" alt="Net Banking">
                    </div>
                    <span>{{'Payment.netbanking' | translate }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="paymentmode mt-4" *ngIf="paymentModeFlag">
            <h5 class="text-center">Payment Mode</h5>
            <ul>
              <!-- Wallet -->
              <li style="cursor: pointer;">
                <a (click)="customerData('wallet')" title="Wallet">
                  <div>
                    <img src="assets/images/images/wallet.png" alt="Wallet">
                  </div>
                  <span>{{'Payment.Wallet' | translate }}</span>
                </a>
              </li>
              <!-- Credit Card -->
              <li style="cursor: pointer;">
                <a (click)="customerData('card')" title="Credit Card">
                  <div>
                    <img src="assets/images/images/credit-card.png" alt="Credit Card">
                  </div>
                  <span>{{'Payment.CreditCrd' | translate }}</span>
                </a>
              </li>
              <!-- Debit card -->
              <!-- digitalPOS :- Added  condition for digital POS to hide payment method -->
              <li style="cursor: pointer;">
                <a (click)="customerData('card')" title="Debit Card">
                  <div>
                    <img src="assets/images/images/debit-card.png" alt="Debit Card">
                  </div>
                  <span>{{'Payment.DebitCrd' | translate }}</span>
                </a>
              </li>
              <!-- Net Banking -->
              <!-- digitalPOS :- Added  condition for digital POS to hide payment method -->
              <li style="cursor: pointer;">
                <a (click)="customerData('netbanking')" title="Net Banking">
                  <div>
                    <img src="assets/images/images/net-banking.png" alt="Net Banking">
                  </div>
                  <span>{{'Payment.netbanking' | translate }}</span>
                </a>
              </li>
              <!-- UPI -->
              <li style="cursor: pointer;">
                <a (click)="customerData('upi')" title="UPI">
                  <div>
                    <img src="assets/images/images/bhim.png" alt="UPI">
                  </div>
                  <span>{{'Payment.UPI' | translate }}</span>
                </a>
              </li>
              <!-- Send Customer Link -->
              <li style="cursor: pointer;" *ngIf="!showcustbutton">
                <a (click)="sendCustLink()" title="Customer Link">
                  <div>
                    <img src="assets/images/images/sendlink.png" alt="Customer Link">
                  </div>
                  <span>Send Link</span>
                </a>
              </li>
              <!-- Insta Link -->
              <!-- style="pointer-events: none;opacity: 0.4;" -->
              <li style="cursor: pointer;"
                *ngIf="bankType == 'INT' && (instaData == undefined || instaData == '' || instaData == null)">
                <a (click)="instaPaymentID()" title="Insta Link">
                  <div>
                    <img src="assets/images/images/insta.png" alt="Insta Payment">
                  </div>
                  <span>Insta</span>
                </a>
              </li>

            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>


<!-- Add Agent Modal  -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Register to Lombard Pay</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">

        <section class="container-fluid mainsec">
          <div class="fieldsdiv">
            <div class="row">
              <!-- Name -->
              <div class="col-sm-6 form-group">
                <label>{{'RegistrationPage.Name' | translate }}*</label>
                <input type="text" #firstName="ngModel" maxlength="40"
                  onkeypress="return /^[a-zA-Z\s]+$/i.test(event.key)" id="nameCstm" name="nameCstm"
                  [(ngModel)]="paymentDetails.Name" class="form-control"
                  placeholder="{{'InputKey.SELNAME' | translate }}">
                <div *ngIf="(!firstName.dirty || !firstName.touched)" class="alerts-border" style="color:maroon">
                  Name is required.
                </div>
              </div>
              <!-- Email -->
              <div class="col-sm-6 form-group">
                <label>{{'RegistrationPage.EMAIL' | translate }}*</label>
                <input type="email" #firstEmail="ngModel" [class.is-invalid]=" firstEmail.touched" required id="email"
                  name="primaryEmail" pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$"
                  [(ngModel)]="paymentDetails.Email" class="form-control"
                  placeholder="{{'InputKey.EMAIL' | translate }}" />
                <div *ngIf="!firstEmail.errors.pattern && (!firstEmail.dirty || !firstEmail.touched)"
                  class="alerts-border" style="color:maroon">
                  Email is required.
                </div>
                <div *ngIf="firstEmail.invalid&& (firstEmail.dirty || firstEmail.touched)" style="color:maroon">
                  <div *ngIf="firstEmail.errors.required" class="alerts-border">
                    Email is required.
                  </div>
                  <div *ngIf="firstEmail.errors.pattern">
                    Email is invalid.
                  </div>
                </div>
              </div>
              <!-- Mobile Number -->
              <div class="col-sm-6 form-group">
                <label>{{'RegistrationPage.MOBILE' | translate }}*</label>
                <input type="text" #firstMobile="ngModel" maxlength="10" (keypress)="numberOnly($event)" id="mobile"
                  name="mobile" class="form-control" [(ngModel)]="paymentDetails.Contact"
                  placeholder="{{'InputKey.MOBILE' | translate }}" />
                <div *ngIf="(!firstMobile.dirty || !firstMobile.touched)" class="alerts-border" style="color:maroon">
                  Mobile is required.
                </div>
              </div>

            </div>
          </div>

        </section>
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="modal-trans" data-dismiss="modal">{{'Buttons.CLOSE' | translate }}</button> -->
          <button type="button" class="modal-btn" (click)="sendAgentData()" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Add Money  -->
<div class="modal fade" id="myModalmoney">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Enter Amount to Load wallet</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <section class="container-fluid mainsec">
          <div class="fieldsdiv">
            <div class="row">
              <!-- Name -->
              <div class=" form-group">
                <label>Enter Amount (in ₹)*</label>
                <input type="text" (keypress)="numberOnly($event)" maxlength="10" id="amountadd" name="amountadd"
                  [(ngModel)]="paymentDetails.amount" class="form-control" placeholder="Enter amount">
              </div>
            </div>
          </div>

        </section>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="modal-trans" data-dismiss="modal">{{'Buttons.CLOSE' | translate }}</button>
          <button type="button" class="modal-btn" (click)="addmoney('netbanking')" data-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- 18-12-2020 -->
<div class="modal sendLinkModal fade" id="sendLinkModal">
  <div class="modal-dialog sendLinkModal modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="modal-body fieldsdiv">


        <div class="row">
          <div class="col-sm-2 text-center sendLinkBox form-group">
            <div class="iconBox">
              <img src="assets/images/images/sendlink.png" alt="Send Link">
            </div>
            <span>Send Link</span>
          </div>
          <!-- Mobile -->
          <div class=" col-sm-3 form-group">
            <label>Mobile</label><sup class="star">*</sup>
            <input type="text" maxlength="10" (keypress)="numberOnly($event)" name="custMobile" [(ngModel)]="custMobile"
              class="form-control" [pattern]="mobNumberPattern" #custMob="ngModel" placeholder="Enter Mobile Number">
            <div *ngIf="custMob.errors" [ngClass]="'error'" style="color:red">
              Invalid Mobile number
            </div>
          </div>
          <!-- Email -->
          <div class=" col-sm-5 form-group">
            <label>Email</label><sup class="star">*</sup>
            <input type="email" #custEmail="ngModel" [class.is-invalid]="custEmail.touched"
              pattern="^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$" required name="customerEmail"
              [(ngModel)]="customerEmail" class="form-control" placeholder="Enter Email ID">
            <div *ngIf="custEmail.invalid && (custEmail.dirty || custEmail.touched)" style="color:red">
              <div *ngIf="custEmail.errors.pattern">
                Email is invalid.
              </div>
            </div>
          </div>

          <div class="col-sm-2 form-group">
            <label></label>
            <button type="button" *ngIf="customerEmail && custMobile" class="cstmbtn" (click)="sendLink()"
              data-dismiss="modal">Submit</button>
          </div>
          <div class="text-center">

          </div>

        </div>



        <!-- Modal footer -->
        <!-- <div class="modal-footer" style="justify-content: center;">
                  <button type="button" class="modal-trans" data-dismiss="modal" (click)="closeModal('sendLinkModal')">{{'Buttons.CLOSE' | translate }}</button>

                </div> -->
      </div>
    </div>
  </div>
</div>
